<div class="menu-items media">
  <div class="media-body">
    <h4 class="h5 media-heading">
      <%= title_for(tu, menu: name) %>
      <div class="tooltip-container"><abbr title="<%= description_for(tu, menu: name) %>" rel="tooltip">i</abbr></div>
    </h4>

    <div id="<%= graph.object_id %>" class="clusters-belong-to-chart-container"></div>
    <script>
      $(function () {
        var graph_option = $.extend(true, {}, window.usage_stats_column_chart_options);
        graph_option.series[0].data = <%= raw graph.to_json %>;
        graph_option.yAxis.visible = false;
        window.lazycall_functions['#<%= graph.object_id %>'] = function () {
          $('#<%= graph.object_id %>').highcharts(graph_option);
        };
      });
    </script>
  </div>
  <div>
    <%= link_to(t('dictionary.view_more'), send("#{name}_search_path", screen_name: tu.screen_name), class: 'btn btn-info btn-block') %>
  </div>
</div>
