<%= content_for :navbar_title, t('page_titles.blockers', user: @twitter_user.screen_name) %>
<%= content_for :result_title, t('page_titles.blockers', user: @twitter_user.screen_name) %>

<% unless request.device_type == :smartphone %>
  <% breadcrumb :blocker, @twitter_user.screen_name %>
<% end %>
<% title t('.meta_title') %>

<% unless request.device_type == :smartphone %>
  <%= render partial: 'shared/profile_section', locals: {twitter_user: @twitter_user, expanded: false, async: false} %>
<% end %>

<h2 class="h4 text-center my-5"><%= t('page_titles.blockers', user: @twitter_user.screen_name) %></h2>
<div class="mb-5"><%= render partial: 'shared/page_description', locals: {twitter_user: @twitter_user} %></div>

<div class="my-3"><%= render partial: 'result_pages/tabs', locals: {tabs: current_tabs(@twitter_user), active_tab: 0} %></div>

<%= render partial: 'shared/users_section', locals: {twitter_user: @twitter_user} %>

<%= render(partial: 'adsense/ad', locals: {vertical: :bottom}) %>
