<div style="min-height:  600px;">
  <div class="mb-3">
    <div>User: <%= user_signed_in? ? current_user.screen_name : 'n/a' %></div>
    <div>Subscription: <%= user_signed_in? && current_user.has_valid_subscription? ? 'yes' : 'no' %></div>
  </div>

  <div>Useragent: <%= request.user_agent %></div>
  <div>OS: <%= request.os %></div>
  <div>OS version: <%= request.os_version %></div>
  <div>Device type: <%= request.device_type %></div>
  <div>Browser: <%= request.browser %></div>
  <div>Browser version: <%= request.browser_version %></div>
  <div>JavaScript: <span id="check-js">disabled</span></div>
  <div>jQuery: <span id="check-jquery">disabled</span></div>
  <br>

  <div>Ad blocker: <span id="check-blocker">checking...</span></div>
  <div>Ad placement test</div>
  <div style="border: 1px dashed #000; min-height: 100px;">
    <%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top}) %>
  </div>
</div>

<script>
  document.getElementById('check-js').textContent = 'enabled';

  $(function () {
    $('#check-jquery').text('enabled');
  })

  setTimeout(function () {
    document.getElementById('check-blocker').textContent = (window.adBlockerDetected ? 'detected' : 'not detected');
  }, 100);
</script>
