<div class="card">
  <div class="card-body">
    <div class="mb-3">
      えごったーは広告ブロッカーが有効な場合はご利用いただけません。広告ブロッカーを無効にしてご利用ください。
    </div>

    <hr>

    <div>
      1. 広告ブロッカーとは<br>
      Webサイトの広告を削除する機能のことです。えごったーは広告収益によって運営されています。今後もWebサイトの利便性を向上していくために、広告表示への協力をよろしくお願いいたします。<br>
      <br>
      2. 広告ブロッカーを使っていない場合<br>
      大変お手数ですが、この画面のスクリーンショットを<a class="btn btn-outline-primary btn-sm" href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a>
      まで送ってください。<br>
      <br>
      ブラウザ情報（スクショに入れてください）<br>
      <%= request.os %> <%= request.os_version %> <%= request.device_type %> <%= request.browser %> <%= request.browser_version %>
    </div>
  </div>
</div>
