<div class="card">
  <div class="card-body">
    <div class="mb-3">
      えごったーは広告ブロッカーが有効な場合はご利用いただけません。広告ブロッカーを無効にしてご利用ください。
    </div>

    <hr>

    <div class="mb-5">
      1. 広告ブロッカーとは<br>
      Webサイトの広告を削除する機能のことです。えごったーは広告収益によって運営されています。今後もWebサイトの利便性を向上していくために、広告表示への協力をよろしくお願いいたします。
    </div>

    <div class="mb-5">
      2. 広告ブロッカーを使い続けたい場合<br>
      <% if user_signed_in? %>
        下記のどちらかの方法を使えば、広告ブロッカーをそのまま利用できます。<br>
        <br>
        <div class="ml-3 mb-3">
          方法1：えごったーをツイートする<br>
          えごったーのことを1回ツイートすれば、一定の時間だけえごったーをご利用できます。
          <a href="#" data-target="#share-modal" data-toggle="modal" class="btn btn-outline-primary btn-sm">ツイートする</a><br>
          <br>
          方法2：有料プランを購入する<br>
          有料プランを購入すれば、広告ブロッカーをそのまま使えます。
          <a class="btn btn-outline-primary btn-sm" href="<%= pricing_path(via: current_via('ad_blocker_detected')) %>" target="_blank">料金プランを見る</a>
        </div>
      <% else %>
        ログインしてからえごったーWebサイトをご利用ください。
        <a class="btn btn-outline-primary btn-sm" href="<%= sign_in_path(via: current_via('ad_blocker_detected')) %>" target="_blank">ログインする</a>
      <% end %>
    </div>

    <div>
      3. 広告ブロッカーを使っていない場合<br>
      大変お手数ですが、<span class="egotter-pink">下記の質問の回答</span>と<span class="egotter-pink">この画面のスクリーンショット</span>を
      <a class="btn btn-outline-primary btn-sm" href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a>
      まで送ってください。<br>
      <br>

      分かる範囲でDMに書いてください<br>
      <div class="ml-3 mb-3">
        質問1. 他のブラウザでも同じエラーが表示されますか？<br>
        質問2. <%= request.os %> は最新の状態ですか？<br>
        質問3. <%= request.browser %> は最新の状態ですか？<br>
        質問4. ○○Blocker、○○Filter、○○Guardというアプリを入れていませんか？<br>
        質問5. コンテンツブロッカーを【オン】にしていませんか？<br>
        質問6. トラッキング防止設定を【厳重】にしていませんか？<br>
        質問7. セキュリティの厳しいWi-Fi（例：学校、会社）を利用していませんか？
      </div>

      ↓ スクリーンショットに入れてください ↓
      <div class="border my-3 p-3">
        ブラウザ情報<br>
        <%= request.os %> <%= request.os_version %> <%= request.device_type %> <%= request.browser %> <%= request.browser_version %><br>
        <br>
        広告表示判定<br>
        <%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :message}) %>
      </div>
      ↑ スクリーンショットに入れてください ↑
    </div>
  </div>
</div>

<script>
  trackMessageEvent('AdBlockerDetectedMessage');
</script>
