<h3 class="h5 mb-3">広告ブロッカーとは</h3>

<div class="mb-5">Webサイトの広告を削除する機能のことです。えごったーは広告収益によって運営されています。今後もWebサイトの利便性を向上していくために、広告表示への協力をよろしくお願いいたします。</div>

<h3 class="h5 mb-3">広告ブロッカーを使い続けたい場合</h3>

<div class="mb-5">
  <% if user_signed_in? %>
    <p>下記のいずれかの方法を使えば、広告ブロッカーをそのまま利用できます。</p>
    <dl>
      <dt>方法1：えごったーをツイートする</dt>
      <dd class="mb-3">
        えごったーのことを1回ツイートすれば、一定の時間だけえごったーをご利用できます。
        <a href="#" data-target="#share-modal" data-toggle="modal" class="btn btn-outline-primary btn-sm">ツイートする</a>
      </dd>

      <dt>方法2：有料プランを購入する</dt>
      <dd class="mb-3">
        有料プランを購入すれば、広告ブロッカーをそのまま使えます。
        <a class="btn btn-outline-primary btn-sm" href="<%= pricing_path(via: current_via('ad_blocker_detected')) %>" target="_blank">料金プランを見る</a>
      </dd>
    </dl>
  <% else %>
    ログインしてからえごったーWebサイトをご利用ください。
    <a class="btn btn-outline-primary btn-sm" href="<%= sign_in_path(via: current_via('ad_blocker_detected')) %>" target="_blank">ログインする</a>
  <% end %>
</div>

<h3 class="h5 mb-3">iPhone で広告ブロッカーを解除する方法</h3>

<div class="mb-5">
  <p>Safari 以外のブラウザを使うか、広告ブロッカーをすべて削除してください。</p>
  <dl>
    <dt>方法1：Safari 以外のブラウザを使う</dt>
    <dd class="mb-3">
      Google Chrome という Safari よりも高速で安全なブラウザを使えば、このエラーが表示される可能性がとても低くなります。
      <a href="https://apps.apple.com/jp/app/id535886823" class="btn btn-outline-primary btn-sm" target="_blank">App Store を開く</a>
      <div class="m-3"><%= image_tag '/images/ss_chrome_browser_400.png', class: 'border', width: '200', loading: 'lazy' %></div>
    </dd>

    <dt>方法2：Safari の広告ブロック設定をオフにする</dt>
    <dd class="mb-3">
      <div class="my-2">
        1. 設定 > プライバシー > トラッキング<br>「Appからのトラッキング要求を許可する」を<b>有効</b>にする
        <div class="m-3"><%= image_tag '/images/ss_enable_app_tracking_400.png', class: 'border', width: '200', loading: 'lazy' %></div>
      </div>
      <div class="my-2">
        2. 設定 > Safari<br>「サイト越えトラッキングを防ぐ」を<b>無効</b>にする
        <div class="m-3"><%= image_tag '/images/ss_enable_site_tracking_400.png', class: 'border', width: '200', loading: 'lazy' %></div>
      </div>
      <div class="my-2">
        3. 設定 > Safari<br>「すべてのCookieをブロック」を<b>無効</b>にする
        <div class="m-3"><%= image_tag '/images/ss_enable_cookie_400.png', class: 'border', width: '200', loading: 'lazy' %></div>
      </div>
      <div class="my-2">
        4. 設定 > Safari > コンテンツブロッカー<br>表示される項目を<b>すべて無効</b>にする
        <div class="m-3"><%= image_tag '/images/ss_disable_content_blocker_400.png', class: 'border', width: '200', loading: 'lazy' %></div>
      </div>
      <div class="my-2">
        5. 設定 > アプリ一覧<br>AdBlocker、AdFilter、AdGurard、Avastと似た名前のアプリを<b>すべて削除</b>する
      </div>
    </dd>
  </dl>
</div>

<h3 class="h5 mb-3">広告ブロッカーを使っていない場合</h3>

<div class="mb-5">
  大変お手数ですが、<br>
  <br>
  ・下記の質問の回答<br>
  ・この画面のスクリーンショット<br>
  <br>
  の両方を <a class="btn btn-outline-primary btn-sm" href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までお送りください。<br>
  <br>

  分かる範囲で質問の回答をDMに書いてください。<br>
  <div class="ml-3 mb-3">
    質問1. 他のブラウザでも同じエラーが表示されますか？<br>
    質問2. <%= request.os %> は最新の状態ですか？<br>
    質問3. <%= request.browser %> は最新の状態ですか？<br>
    質問4. ○○Blocker、○○Filter、○○Guardというアプリを入れていませんか？<br>
    質問5. KasperskyやTrend Microなどの広告ブロックを【オン】にしていませんか？<br>
    質問6. コンテンツブロッカーを【オン】にしていませんか？<br>
    質問7. トラッキング防止設定を【厳重】にしていませんか？<br>
    質問8. セキュリティの厳しいWi-Fi（例：学校、会社）を利用していませんか？
  </div>

  <div class="border my-3 p-3">
    ※ スクリーンショットに入れてください<br>
    <br>
    <div>
      ブラウザ情報<br>
      <%= request.os %> <%= request.os_version %> <%= request.device_type %> <%= request.browser %> <%= request.browser_version %><br>
      <br>
      広告表示判定<br>
      <%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :message}) %>
    </div>
  </div>

  <% if request.os == 'iPhone' %>
    ※ iPhone の方は下記のスクリーンショットもお送りください
    <div>
      1. 設定 > プライバシー > トラッキング<br>
      2. 設定 > Safari > プライバシーとセキュリティ(全4項目)<br>
      3. 設定 > アプリ一覧 > 「Ad」から始まるアプリ
    </div>
  <% end %>
</div>
