<% modal_id = "#{controller_name}_#{action_name}_redirection_modal" %>
<%= modal_dialog(id: modal_id, title: 'ショートカット', button: {positive: '閉じる', category: 'outline-secondary'}) do %>
  <div class="mb-3">
    <%= link_to timeline_path(current_user, via: current_via(context)), class: 'text-body' do %>
      <div class="d-flex">
        <div class="flex-grow-1"><img class="rounded-circle" src="<%= current_user_icon %>" width="28" height="28">
          @<%= current_user.screen_name %> の<%= redirection_modal_page_name %></div>
        <div>&gt;</div>
      </div>
    <% end %>
  </div>

  <hr class="mx-n3">

  <div class="my-3">
    <%= link_to timeline_path(current_user, via: current_via(context)), class: 'text-body' do %>
      <div class="d-flex">
        <div class="flex-grow-1"><%= '仲良しランキング' %></div>
        <div>&gt;</div>
      </div>
    <% end %>
  </div>

  <hr class="mx-n3">

  <div class="mb-3">
    <%= link_to timeline_path(current_user, via: current_via(context)), class: 'text-body' do %>
      <div class="d-flex">
        <div class="flex-grow-1">
          ブロック通知のデータ閲覧</div>
        <div>&gt;</div>
      </div>
    <% end %>
  </div>

  <hr class="mx-n3">

  <div>
    <%= link_to timeline_path(current_user, via: current_via(context)), class: 'text-body' do %>
      <div class="d-flex">
        <div class="flex-grow-1">
          ミュート通知のデータ閲覧</div>
        <div>&gt;</div>
      </div>
    <% end %>
  </div>
<% end %>
<script>
  $(function () {
    var $modal = $('#<%= modal_id %>');

    $modal.show = function () {
      $modal.modal('show');
    }

    if (window.modalsQueue) {
      window.modalsQueue.add($modal);
      window.modalsQueue.start();
    } else {
      window.modalsQueue = [$modal];
    }
  });
</script>
