<% via = current_via('secret_mode_detected') %>

<div class="card">
  <div class="card-body">
    <div class="mb-3">
      えごったーを<span class="egotter-pink">シークレットモード</span>でご利用するには <a class="btn btn-primary btn-sm" href="<%= sign_in_path(via: via) %>">ログイン</a> が必要です。
    </div>

    <hr>

    <div>
      1. シークレットモードとは<br>
      シークレットモード（またはプライベートブラウジング）とは、Webページの閲覧履歴を保存せずにインターネットを利用する機能のことです。<br>
      <br>
      2. シークレットモードではない場合<br>
      ストレージの容量が少ないと、このエラーになることがあります。お手数ですが、<span class="egotter-pink">2.4GB以上の空き領域</span> を作ってから再度アクセスしてみてください。<br>
      <br>
      3. それでも解決しない方へ<br>
      大変お手数ですが、この画面のスクリーンショットを<a class="btn btn-outline-primary btn-sm" href="https://twitter.com/egotter_cs" target="_blank" rel="nofollow">@egotter_cs</a> まで送ってください。<br>
      <br>
      ブラウザ情報（スクショに入れてください）<br>
      <%= request.os %> <%= request.os_version %> <%= request.device_type %> <%= request.browser %> <%= request.browser_version %><br>
      Quota <span id="quota-container"></span>
    </div>
  </div>
</div>

<script>
  $(function () {
    new SecretModeDetector().detect(function (quota) {
      $('#quota-container').text(quota || 'unknown');
    });
  });
</script>
