<div class="card">
  <div class="card-body">
    <div class="mb-3">
      現在のプランで検索できる上限に達しました。<%= limit %>回/日<br>
      <br>
      もっとたくさん検索することもできます。お好きなプランをお選びください。
    </div>

    <% if user_signed_in %>
      <div>1. <a href="#" class="btn btn-outline-primary btn-checkout btn-sm"><%= price %>円で購入して増やす</a></div>
      <div class="mt-1 mb-3">こっそり使いたい方向け <span class="small"><a href="#" class="btn-checkout">もっと詳しく</a></span></div>
      <div>2. <a href="#" data-target="#share-modal" data-toggle="modal" class="btn btn-outline-primary btn-sm">1回だけツイートして増やす</a></div>
      <div class="mt-1 mb-3">少しだけ使いたい方向け <span class="small"><a href="#" data-target="#share-modal" data-toggle="modal">もっと詳しく</a></span></div>
<!--      <div>3. <a href="#" class="btn btn-outline-primary btn-sm">定期ツイートして増やす</a></div>-->
<!--      <div class="mt-1 mb-3">たくさん使いたい方向け <span class="small"><a href="#">もっと詳しく</a></span></div>-->
    <% else %>
      <div>1. <a class="btn btn-primary btn-sm" href="<%= sign_in_url %>">ログインして増やす</a></div>
      <div class="mt-1 mb-3">検索回数が増えて表示が早くなります</div>
    <% end %>

    <div class="text-right">
      <a class="btn btn-outline-primary btn-sm" onclick="$('#too-many-searches-details-<%= id_hash %>').show(); $(this).hide(); return false;" href="#">「検索回数」の意味
        <i class="far fa-question-circle"></i></a>
    </div>

    <div id="too-many-searches-details-<%= id_hash %>" style="display: none;">
      <hr>
      <div>1. 検索回数の上限とは何ですか？</div>
      <div class="mb-3">えごったーで1日に検索できる回数の制限です。</div>
      <div>2. 次はいつ検索できますか？</div>
      <div class="mb-3">あと <span class="text-primary"><%= reset_in %></span> ほど待てばまた検索できるようになります。</div>
      <div>3. 検索回数は増やせますか？</div>
      <div class="mb-3">ログインやツイートに応じて下記のように増やせます。</div>

      <% if user_signed_in %>
        <div><button class="btn btn-outline-primary btn-sm" disabled>ログインして増やす</button></div>
        <div class="mb-3"><%= sign_in_bonus %>回/日 <span class="text-muted small">@<%= user %> はログイン済みです</span></div>
      <% else %>
        <div><a class="btn btn-primary btn-sm" href="<%= sign_in_url %>">ログインして増やす</a></div>
        <div class="mb-3"><%= sign_in_bonus %>回/日</div>
      <% end %>

      <div><a href="#" data-target="#share-modal" data-toggle="modal" class="btn btn-outline-primary btn-sm">ツイートして増やす</a></div>
      <div class="mb-3">ツイート回数x<%= sharing_bonus %>回</div>
      <div><a href="#" class="btn btn-outline-primary btn-checkout btn-sm">購入して増やす</a></div>
      <div class="mb-3">最大<%= basic_plan %>回/日 <a href="<%= pricing_url %>" class="small">料金プランはこちら</a></div>
      <div>4. マーケティングでご利用の方へ</div>
      <div class="mb-3">ツイッターでの各種データ調査依頼については、<a href="<%= support_url %>" class="btn btn-outline-primary btn-sm">問い合わせページ</a> からお問い合わせください。</div>
    </div>
  </div>
</div>
