<div class="modal fade profile-overview-modal <%= unique_id %>" tabindex="-1" role="dialog" aria-labelledby="profile-overview-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="profile-overview-modal-label"><%= t('searches.new.search_by_egotter') %></h4>
      </div>
      <div class="modal-body" style="padding: 0;">
        <%= render(partial: 'profiles/overview', locals: {user: user, unique_id: unique_id}) %>

        <script>
          $(function () {
            enableSlickOnModalWithDelay('<%= unique_id %>');
            setModalOpenLogger('.profile-overview-modal.<%= unique_id %>', 'profile', '<%= modal_open_logs_path %>');
          });
        </script>

        <div style="margin: 15px;">
          <%= link_to t('searches.new.search_by', user: user.mention_name), searches_path(screen_name: user.screen_name, via: via), class: 'btn btn-info btn-block', method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>
