<%
  unique_id ||= user.uid
  result_path =
      if controller == 'one_sided_friends'
        one_sided_friends_path(screen_name: user.screen_name, via: via)
      else
        searches_path(screen_name: user.screen_name, via: via)
      end
%>
<div class="modal fade profile-overview-modal <%= unique_id %>" tabindex="-1" role="dialog" aria-labelledby="profile-overview-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="profile-overview-modal-label"><%= t('searches.common.search_by_egotter') %></h4>
      </div>
      <div class="modal-body" style="padding: 0;">
        <%= render(partial: 'profiles/overview', locals: {user: user, unique_id: unique_id}) %>

        <script>
          $(function () {
            enableSlickOnModalWithDelay('<%= unique_id %>');
            setModalOpenLogger('.profile-overview-modal.<%= unique_id %>', 'profile', '<%= modal_open_logs_path %>');
          });
        </script>

        <div style="margin: 15px;">
          <%= link_to t('searches.common.search_by', user: user.mention_name), result_path, class: 'btn btn-info btn-block', method: :post %>
        </div>
        <% if admin_signed_in? && searched_tw_user %>
          <% if current_user.uid.to_i == searched_tw_user.uid.to_i %>
            <div style="margin: 15px;">
              <%= link_to t('relationships.common_followers.title', user1: searched_tw_user.mention_name, user2: user.mention_name), relationships_path(src_screen_name: searched_tw_user.screen_name, dst_screen_name: user.screen_name, to: 'common_followers', via: via), class: 'btn btn-info btn-block', method: :post %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
