<div class="modal fade profile-overview-modal <%= user.uid %>" tabindex="-1" role="dialog" aria-labelledby="profile-overview-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="profile-overview-modal-label"><%= t('searches.common.search_by_egotter') %></h4>
      </div>
      <div class="modal-body" style="padding: 0;">
        <%= render(partial: 'profiles/overview', locals: {user: user, unique_id: user.uid}) %>

        <div style="margin: 15px;">
          <%= link_to t('searches.common.search_by', user: mention_name(user.screen_name)), search_path_for(controller: controller, screen_name: user.screen_name, via: via), class: 'btn btn-info btn-block', method: :post %>
        </div>
        <div style="margin: 15px;">
          <%= link_to t('searches.common.search_a_and_b', user1: twitter_user.mention_name, user2: user.mention_name), relationships_path(src_screen_name: twitter_user.screen_name, dst_screen_name: user.screen_name, type: 'conversations', via: via), class: 'btn btn-info btn-block', method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>
