<div class="profile-overview-container">
  <div class="profile-overview uid-<%= unique_id %>">
    <div class="profile-overview-overlay">
      <div class="profile-overview-carousel">
        <div class="text-center"><!-- first slide -->
          <%= link_to(timeline_path(user), class: 'icon-link') do %>
            <%= bigger_icon_img(user) %>
          <% end %>
          <div class="name">
            <%= link_to("#{mention_name(user.screen_name)}&nbsp;#{user_name(user)}".html_safe, timeline_path(user)) %>
          </div>
          <div class="twitter-link">
            <%= user_link(user.screen_name) do %>
              <%= t('searches.common.see_on_twitter') %>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
            <% end %>
          </div>

          <% if user.location.present? %>
            <div class="location visible-md-block visible-lg-block"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<%= user.location %></div>
          <% end %>
          <% if user.account_created_at.present? && !user.account_created_at.kind_of?(String) %>
            <div class="calendar visible-md-block visible-lg-block"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<%= l(user.account_created_at) %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- /.profile-overview -->

  <div class="description-container">
    <% if user.description.present? %>
      <div class="description text-center"><%= auto_link(user.description, html: {target: '_blank', rel: 'nofollow'}) %></div>
    <% end %>
    <% if user.url.present? %>
      <div class="link text-center"><span class="glyphicon glyphicon-link"></span>&nbsp;<%= link_to(user.url, user.url, target: '_blank', rel: 'nofollow') %></div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .profile-overview.uid-<%= unique_id %> {
    <% if user.profile_banner_url.present? %>
      background-size: cover;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.298039)), url('<%= "#{user.profile_banner_url}/#{request.from_pc? ? 'web' : 'mobile'}_retina" %>');
    <% else %>
      background-color: #<%= user.profile_link_color %>;
    <% end %>
  }
</style>

<div class="profile-counts-container">
  <div class="row">
    <div class="tweets col-xs-3">
      <%= link_to status_path(user) do %>
        <span><b><%= user.statuses_count.to_s(:delimited) %></b></span>
        <br class="visible-xs-block">
        <span class="text-muted"><%= TwitterUser.human_attribute_name(:statuses) %></span>
      <% end %>
    </div>
    <div class="friends col-xs-3">
      <%= link_to friend_path(user) do %>
        <span><b><%= user.friends_count.to_s(:delimited) %></b></span>
        <br class="visible-xs-block">
        <span class="text-muted"><%= TwitterUser.human_attribute_name(:friends) %></span>
      <% end %>
    </div>
    <div class="followers col-xs-3">
      <%= link_to follower_path(user) do %>
        <span><b><%= user.followers_count.to_s(:delimited) %></b></span>
        <br class="visible-xs-block">
        <span class="text-muted"><%= TwitterUser.human_attribute_name(:followers) %></span>
      <% end %>
    </div>
    <div class="follow-back-rate col-xs-3">
      <div>
        <span><b><%= number_to_percentage(user.follow_back_rate * 100, precision: 1) %></b></span>
        <br class="visible-xs-block">
        <span class="text-muted"><%= UsageStat.human_attribute_name(:follow_back_rate) %></span>
      </div>
    </div>
  </div>
</div>
