<div class="profile-overview-container <%= unique_id %>">
  <div class="profile-overview" data-banner-url="<%= user.profile_banner_url.to_s %>" data-bg-color="<%= user.profile_link_color.to_s %>">
    <div class="profile-overview-overlay">
      <div class="profile-overview-carousel">
        <div class="text-center"><!-- first slide -->
          <div class="profile-icon-box">
            <%= link_to "https://twitter.com/#{user.screen_name}",
                        class: 'profile-icon-link', target: '_blank' do %>
              <img class="profile-icon" src="<%= user.profile_image_url_https.to_s %>" width="48" height="48">
            <% end %>
          </div>
          <div class="profile-names">
            <div class="full-name">
              <div>
                <span class="text"><%= user.name %>&nbsp;</span>
                <% if user.protected %><span class="glyphicon glyphicon-lock"></span><% end %>
                <% if user.verified %><span class="glyphicon glyphicon-ok"></span><% end %>
              </div>
            </div>
            <div class="screen-name">
              <%= link_to "@#{user.screen_name}", "https://twitter.com/#{user.screen_name}", class: 'profile-screen_name-link', target: '_blank' %>
            </div>
          </div>
        </div>

        <div class="text-center"><!-- second slide -->
          <% if user.description.present? %><div class="profile-description" style="display: none;"><%= auto_link(user.description, html: {target: '_blank'}) %></div><% end %>
          <% if user.location.present? %><div class="profile-location" style="display: none;"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<%= user.location %></div><% end %>
          <% if user.url.present? %><div class="profile-link" style="display: none;"><span class="glyphicon glyphicon-link"></span>&nbsp;<%= auto_link(user.url, html: {target: '_blank'}) %></div><% end %>
          <% if user.account_created_at.present? && !user.account_created_at.kind_of?(String) %><div class="profile-calendar" style="display: none;"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<%= l(user.account_created_at) %></div><% end %>
        </div>
      </div>
    </div>
  </div><!-- /.profile-overview -->
</div>

<script>
  $(function () {
    var $elem = $('.profile-overview-container.<%= unique_id %> .profile-overview');
    if ($elem.data('bannerUrl')) {
      $elem.css('backgroundSize', 'cover');
      $elem.css('backgroundImage', "linear-gradient(transparent, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.298039)), url('" + $elem.data('bannerUrl') + "/web')");
    } else if ($elem.data('bgColor')) {
      $elem.css('backgroundColor', '#' + $elem.data('bgColor'));
    }
  });
</script>

<div class="profile-counts-container">
  <div class="row">
    <div class="tweet-count-box col-xs-4"><!-- tweets count -->
      <%= link_to status_path(uid: user.uid), class: 'text-muted' do %>
        <span class="stats-count"><%= user.statuses_count %></span><br>
        <span class="text-muted"><%= t('dictionary.tweet') %></span>
      <% end %>
    </div>
    <div class="friends-count-box col-xs-4"><!-- friends count -->
      <%= link_to friends_search_path(screen_name: user.screen_name), class: 'text-muted' do %>
        <span class="stats-count"><%= user.friends_count %></span><br>
        <span class="text-muted"><%= t('dictionary.friends') %></span>
      <% end %>
    </div>
    <div class="followers-count-box col-xs-4"><!-- followers count -->
      <%= link_to followers_search_path(screen_name: user.screen_name), class: 'text-muted' do %>
        <span class="stats-count"><%= user.followers_count %></span><br>
        <span class="text-muted"><%= t('dictionary.follower') %></span>
      <% end %>
    </div>
  </div>
</div>
