<div class="profile-overview-container <%= unique_id %>">
  <div class="profile-overview" data-banner-url="<%= user.profile_banner_url.to_s %>" data-bg-color="<%= user.profile_link_color.to_s %>">
    <div class="profile-overview-overlay">
      <div class="profile-overview-carousel">
        <div class="text-center"><!-- first slide -->
          <%= link_to(search_path(screen_name: user.screen_name), class: 'icon-link') do %>
            <img src="<%= user.profile_image_url_https.to_s %>" width="48" height="48">
          <% end %>
          <div class="name">
            <%= link_to("#{mention_name(user.screen_name)}&nbsp;#{user_name(user)}".html_safe, search_path(screen_name: user.screen_name)) %>
          </div>
          <div class="twitter-link">
            <%= user_link(user.screen_name) do %>
              <%= t('searches.common.see_on_twitter') %>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>

        <div class="text-center"><!-- second slide -->
          <% if user.description.present? %><div class="description" style="display: none;"><%= auto_link(user.description, html: {target: '_blank', rel: 'nofollow'}) %></div><% end %>
          <% if user.location.present? %><div class="location" style="display: none;"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<%= user.location %></div><% end %>
          <% if user.url.present? %><div class="link" style="display: none;"><span class="glyphicon glyphicon-link"></span>&nbsp;<%= link_to(user.url, user.url, target: '_blank', rel: 'nofollow') %></div><% end %>
          <% if user.account_created_at.present? && !user.account_created_at.kind_of?(String) %><div class="calendar" style="display: none;"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<%= l(user.account_created_at) %></div><% end %>
        </div>
      </div>
    </div>
  </div><!-- /.profile-overview -->
</div>

<script>
  $(function () {
    var $elem = $('.profile-overview-container.<%= unique_id %> .profile-overview');
    if ($elem.data('bannerUrl')) {
      $elem.css('backgroundSize', 'cover');
      $elem.css('backgroundImage', "linear-gradient(transparent, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.298039)), url('" + $elem.data('bannerUrl') + "/web')");
    } else if ($elem.data('bgColor')) {
      $elem.css('backgroundColor', '#' + $elem.data('bgColor'));
    }
  });
</script>

<div class="profile-counts-container">
  <div class="row">
    <div class="tweets col-xs-4">
      <%= link_to status_path(uid: user.uid), class: 'text-muted' do %>
        <span class="count"><%= user.statuses_count %></span>
        <span class="text-muted"><%= t('searches.common.tweet') %></span>
      <% end %>
    </div>
    <div class="friends col-xs-4">
      <%= link_to friends_search_path(screen_name: user.screen_name), class: 'text-muted' do %>
        <span class="count"><%= user.friends_count %></span>
        <span class="text-muted"><%= t('searches.friends.name') %></span>
      <% end %>
    </div>
    <div class="followers col-xs-4">
      <%= link_to followers_search_path(screen_name: user.screen_name), class: 'text-muted' do %>
        <span class="count"><%= user.followers_count %></span>
        <span class="text-muted"><%= t('searches.followers.name') %></span>
      <% end %>
    </div>
  </div>
</div>
