- content_for :canonical_url do
  %link{href: latest_profile_url(@user), rel: 'canonical'}

- breadcrumb :latest_profile, @user.screen_name

- page_title = t('.page_title', user: @user.screen_name)
- title page_title
- set_meta_tags description: t('.meta_description', user: @user.screen_name)

.mt-3
  = user_link(@user.screen_name, class: 'btn btn-primary btn-block btn-lg') do
    = t('.see_on_twitter', user: @user.screen_name)

= render(partial: 'adsense/ad', locals: {vertical: :top})

.mb-3
  - url = searches_path(screen_name: @user.screen_name, via: current_via('only_profile_page_button'))
  = link_to t('.analyze', user: @user.screen_name), url, class: 'btn btn-primary btn-block btn-lg', method: :post

.mb-3
  = render partial: 'twitter/profile', locals: {user: @user, always_expanded: true}
