- content_for :canonical_url do
  %link{href: profile_url(screen_name: @screen_name), rel: 'canonical'}

- breadcrumb :profile, @screen_name

- title t('.page_title', user: @screen_name)
- set_meta_tags description: t('.meta_description', user: @screen_name)

- if @prev_name || @next_name
  .d-flex.justify-content-between.mb-3
    %div= (@prev_name ? link_to(t('.prev', user: @prev_name), profile_path(@prev_name, {names: params[:names]}.merge(campaign_params('prev_name'))), class: 'btn btn-outline-primary btn-sm') : '')
    %div= (@next_name ? link_to(t('.next', user: @next_name), profile_path(@next_name, {names: params[:names]}.merge(campaign_params('next_name'))), class: 'btn btn-outline-primary btn-sm') : '')

.message-box.alert.alert-warning{style: 'display: none;'}
.forbidden-reason.my-1{style: 'display: none;'}= render(template: 'messages/forbidden_reason')
.not-found-reason.my-1{style: 'display: none;'}= render(template: 'messages/not_found_reason')

.mt-3.mb-1= render(partial: 'see_on_twitter_button', locals: {screen_name: @screen_name})
= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top, user: @user})
.mt-1.mb-3= render(partial: 'analyze_on_egotter_button', locals: {screen_name: @screen_name})

- if @user
  = render partial: 'shared/profile_section', locals: {twitter_user: @user, expanded: true}

- if @indicator_names
  - @indicator_names.each do |name|
    - if name == @screen_name
      = link_to(t('.seeing', user: name), '#', class: 'btn btn-outline-primary btn-sm btn-block mb-3 disabled', disabled: true)
    - else
      = link_to(t('.see', user: name), profile_path(name, {names: params[:names]}.merge(campaign_params('indicator_names'))), class: 'btn btn-outline-primary btn-sm btn-block mb-3')

.d-flex.justify-content-center.align-items-center.my-3{style: 'min-height: 300px;'}
  - if @user && TwitterUserDecorator.new(@user).adult_account?
    %a{href: "https://twitter.com/#{@screen_name}", target: '_blank'}= t('.sensitive_tweets_by', user: @screen_name)
  - else
    %a.twitter-timeline{data: {width: 600, 'tweet-limit' => 3}, href: "https://twitter.com/#{@screen_name}", target: '_blank'}= t('.tweets_by', user: @screen_name)

.mt-3.mb-1= render(partial: 'see_on_twitter_button', locals: {screen_name: @screen_name})
= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :bottom, user: @user})
.mt-1.mb-3= render(partial: 'analyze_on_egotter_button', locals: {screen_name: @screen_name})

- if user_signed_in?
  :javascript
    $(function() {
      var url = '#{raw api_v1_account_statuses_path(screen_name: @screen_name)}';
      var isYourself = #{current_user.screen_name == @screen_name};
      var retryCount = 0;
      var retryMax = 5;
      var retryInterval = 3000;

      function showMessage(message) {
        ToastMessage.warn(message);
        $('.message-box').text(message).show();
        $('.forbidden-reason').show();
        $('.not-found-reason').show();
      }

      function fetch() {
        $.get(url, {retry_count: retryCount}).done(function (res) {
          if (res['status'] === 'retry') {
            retryCount++;
            if (retryCount >= retryMax) {
              logger.warn('Retry exhausted', retryCount)
              ToastMessage.info('#{t('.retry_exhausted')}');
            } else {
              logger.log('Retry', retryCount)
              setTimeout(fetch, retryInterval);
            }
          } else {
            if (res['status'] === 'ok') {
              logger.log('ok', retryCount);
              if (res['message']) {
                ToastMessage.info(res['message']);
              } else {
                ToastMessage.clear();
              }
            } else {
              showMessage(res['message']);
            }
          }
        }).fail(showErrorMessage);
      }

      if (isYourself) {
        logger.log('The current user is target user');
      } else {
        ToastMessage.info('#{t('.updating_html', user: @screen_name)}');
        fetch();
      }
    });
- else
  - url = profile_path(@screen_name, names: params[:names], via: current_via('require_sign_in'))
  - url = sign_in_path(redirect_path: url, via: current_via('require_sign_in'))

  :javascript
    $(function() {
      ToastMessage.info('#{t('.sign_in_html', user: @screen_name, url: url)}');
    });
