- content_for :canonical_url do
  %link{href: profile_url(screen_name: @screen_name), rel: 'canonical'}

- breadcrumb :profile, @screen_name

.message-box.alert.alert-warning{style: 'display: none;'}
.forbidden-reason.my-1{style: 'display: none;'}= t('.forbidden_reason_html', user: @screen_name)
.not-found-reason.my-1{style: 'display: none;'}= t('.not_found_reason_html', user: @screen_name)

- title t('.page_title', user: @screen_name)
- set_meta_tags description: t('.meta_description', user: @screen_name)

.mt-3.mb-1= link_to t('.see_on_twitter', user: @screen_name), user_url(@screen_name), class: 'btn btn-primary btn-block', target: '_blank'

= render(partial: 'adsense/ad', locals: {vertical: :top})

.mb-3.mt-1= link_to t('.analyze', user: @screen_name), timeline_path(screen_name: @screen_name, via: current_via('analyze_button')), class: 'btn btn-primary btn-block'

- if @user
  .mb-3= render partial: 'twitter/profile', locals: {user: @user, always_expanded: true}

:javascript
  $(function() {
    var fromCrawler = #{from_crawler?};
    var url = '#{raw api_v1_account_statuses_path(screen_name: @screen_name)}';
    var retryCount = 0;

    function fetch() {
      if (retryCount >= 3) {
        console.log('Retry exhausted')
        return;
      }

      $.get(url, {retry_count: retryCount}).done(function (res) {
        if (res['status'] === 'retry') {
          retryCount++;
          setTimeout(fetch, 2000);
        } else {
          if (res['status'] === 'ok') {
            console.log('ok', retryCount);
          } else {
            var message = res['message'];
            ToastMessage.warn(message);
            $('.message-box').text(message).show();
            $('.forbidden-reason').show();
            $('.not-found-reason').show();
          }
        }
      }).fail(function (xhr, textStatus, errorThrown) {
        var message;
        try {
          message = JSON.parse(xhr.responseText)['message'];
        } catch (e) {
          console.error(e);
        }
        if (!message) {
          message = xhr.status + ' (' + errorThrown + ')';
        }
        ToastMessage.warn(message);
      });
    }

    if (!fromCrawler) {
      fetch();
    }
  });
