<% title t('.meta_title') %>
<% set_meta_tags description: t('.meta_description') %>

<h2 class="h4 text-center my-5"><%= t('.page_title') %></h2>

<p class="my-5"><%= t('.page_description') %></p>

<%= alert_box category: 'primary', class: 'my-5' do %>
  <%= t('.login_bug_html', url: '#how-to-fix-platform-bugs') %>
<% end %>
</script>

<div>
  <%= link_to sign_in_path(via: current_via), class: 'btn btn-primary' do %>
    <i class="fab fa-twitter"></i>
    <%= t('.login.title') %>
  <% end %>
</div>

<div class="mt-2 mb-5"><%= t('.login.description') %></div>

<div>
  <%= link_to force_sign_in_path(via: current_via), class: 'btn btn-outline-primary' do %>
    <i class="fab fa-twitter"></i>
    <%= t('.force_login.title') %>
  <% end %>
</div>

<div class="mt-2 mb-5"><%= t('.force_login.description') %></div>

<h3 class="h5 font-weight-bold mt-5 mb-3"><%= t('.how_to_fix_login_bug.title') %></h3>
<p id="how-to-fix-platform-bugs"><%= t('.how_to_fix_login_bug.description_html') %></p>

<blockquote class="twitter-tweet"><p lang="ja" dir="ltr">「ツイッターでログイン」に失敗する場合の対処法を作りました。<br>( ˶ｰ̀֊ｰ́ )੭&quot;<br><br>ポイントはブラウザの「プライベートモード」を使うことです。<br><br>手順通りにやれば、えごったーも含めて世界中の全ての連携アプリで成功します。<br><br>（続く） <a href="https://t.co/9TN24zpq8H">pic.twitter.com/9TN24zpq8H</a></p>&mdash; えごったーサポート (@egotter_cs) <a href="https://twitter.com/egotter_cs/status/1608747667332689920?ref_src=twsrc%5Etfw">December 30, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
