<% title t('.meta_title') %>
<% set_meta_tags description: t('.meta_description') %>

<h2 class="h4 text-center my-5"><%= t('.page_title') %></h2>

<p class="my-5"><%= t('.page_description') %></p>

<%= alert_box category: 'primary', class: 'my-5' do %>
  <%= t('.login_bug_html', url: '#how-to-fix-platform-bugs') %>
<% end %>

<div class="card">
  <div class="card-body">
    <div>
      <%= form_tag '/users/auth/twitter', method: :post do %>
        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
          <i class="fab fa-twitter"></i>
          <%= t('.login.title') %>
        <% end %>
      <% end %>
    </div>

    <div class="mt-2 mb-5"><%= t('.login.description') %></div>

    <div>
      <%= form_tag '/users/auth/twitter?force_login=true', method: :post do %>
        <%= button_tag type: 'submit', class: 'btn btn-outline-primary' do %>
          <i class="fab fa-twitter"></i>
          <%= t('.force_login.title') %>
        <% end %>
      <% end %>
    </div>

    <div class="mt-2 mb-5"><%= t('.force_login.description') %></div>

    <div class="text-muted"><%= t('.consent_html', url1: terms_of_service_path(via: current_via), url2: privacy_policy_path(via: current_via)) %></div>
  </div>
</div>

<div id="how-to-fix-platform-bugs" class="minimum-anchor-offset"></div>
<h3 class="h5 font-weight-bold mt-5 mb-3"><%= t('.how_to_fix_login_bug.title') %></h3>
<p class="my-3"><%= t('.how_to_fix_login_bug.description_html') %></p>

<% if @consecutive_access %>
  <%= modal_dialog id: 'how-to-fix-platform-bugs-modal', title: t('.modal.title'), button: {positive: t('.modal.close'), category: 'outline-secondary'} do %>
    <%= t('.modal.description_html', url: '#how-to-fix-platform-bugs') %>
  <% end %>

  <script>
    $(function () {
      var $modal = $('#how-to-fix-platform-bugs-modal');
      $modal.modal();
      $modal.find('a').on('click', function () {
        $modal.modal('hide');
      });
    });
  </script>
<% end %>

<blockquote class="twitter-tweet">
  <a href="https://twitter.com/egotter_cs/status/1623698768356085760?ref_src=twsrc%5Etfw"></a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
