- title t('unfriends.new.plain_title')
- set_meta_tags description: t('unfriends.new.description')

%h3.h4.unfriends.text-center= t('unfriends.new.lead_001')
.unfriends.lead.text-center= t('unfriends.new.lead_002').html_safe
.unfriends.lead.text-center= t('unfriends.new.lead_003').html_safe

= render partial: 'common/search_form', locals: {via: build_via('top_input')}
= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

- if user_signed_in?
  = render partial: 'common/search_button', locals: {screen_name: current_user.screen_name, via: build_via('top_button')}
- else
  = sign_in_with_twitter_link(unfriends_top_path, 'button', class: 'btn btn-info btn-block')

.row.unfriends.screenshot
  .col-xs-12.col-sm-6.text-center
    %img{alt: "#{t('searches.common.egotter')}", src: image_path('/screenshot_iphone_332x560.png'), height: '160px'}
  .col-xs-12.col-sm-6.text-center
    %img{alt: "#{t('searches.common.egotter')}", src: image_path('/screenshot_laptop_961x560.png'), height: '160px'}

.unfriends.separator

#public-tweets-wrapper
:javascript
  $(function () {
    var url = '#{load_public_tweets_path}';
    new AsyncLoader(url, '#public-tweets-wrapper').load();
  });

.unfriends.lead.in-top-page.text-center= t('unfriends.new.lead_004').html_safe