- title t('.page_title', count: Rails.configuration.x.constants[:persisted_count_ja])
- set_meta_tags description: t('.meta_description', count: Rails.configuration.x.constants[:persisted_count_ja])

- right_side_options = {header: t('.right_side.header'), subheader: t('.right_side.subheader'), lead: t('.right_side.lead_html'), redirect_path: unfriend_path(screen_name: ':screen_name', via: current_via)}
= render partial: 'shared/side_by_side_section', locals: {right_side: right_side_options}

= render partial: 'description'
= render partial: 'shared/about_egotter'

= render partial: 'shared/review_section', locals: {divider: true}
= render partial: 'shared/features_section', locals: {divider: true}
= render partial: 'shared/recent_users_section', locals: {divider: true}
= render partial: 'shared/functions_section', locals: {divider: true}
= render partial: 'shared/announcements_section'

- if show_redirection_modal?
  = render partial: 'modal/redirection_modal', locals: {positive_url: unfriend_path(current_user, via: current_via('redirection_modal'))}
