- if !notice && !alert
  = render partial: 'common/background_update', locals: {twitter_user: @twitter_user}

= render(partial: 'common/page_top', locals: {canonical_url: @canonical_url, breadcrumb_name: @breadcrumb_name, twitter_user: @twitter_user, page_title: @page_title, meta_description: @meta_description, page_description: @page_description})

.tweet-box-wrapper
  = render(partial: 'twitter/tweet_box', locals: {text: @tweet_text})
.vertical-spacing

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

= render partial: 'common/tabs', locals: {tabs: @tabs, active_tab: @active_tab}

= render partial: 'close_friends/users', locals: {twitter_user: @twitter_user, api_path: @api_path}

.gray-separator

= render partial: 'common/share_more', locals: {text: t('common.show.let_me_know_html', user: @twitter_user.mention_name, current: t("#{controller_name}.#{action_name}.title"))}

.gray-separator

= render partial: 'common/search_more', locals: {twitter_user: @twitter_user, text: t('common.show.plese_use_egotter', current: t("#{controller_name}.#{action_name}.title"))}

.gray-separator

= render partial: 'common/related_pages', locals: {twitter_user: @twitter_user}