- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name
- title @page_title
- set_meta_tags description: @meta_description

= render partial: 'twitter_users/create_twitter_user_in_background', locals: {twitter_user: @twitter_user}
.vertical-spacing

= render partial: 'twitter/profile', locals: {user: @twitter_user}
.vertical-spacing

%h2.h2.page-title= @content_title
.vertical-spacing
.vertical-spacing

.page-description.text-center.text-muted= raw @page_description
.vertical-spacing

:javascript
  $(function () {
    var crawler = #{from_crawler?};
    if (crawler) {
      $('#hidden-page-description').show();
    }
  });

.tweet-box-wrapper
  = render(partial: 'twitter/tweet_box', locals: {text: @tweet_text})
.vertical-spacing

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

= render partial: 'common/tabs', locals: {tabs: @tabs, active_tab: @active_tab}

= render partial: 'close_friends/users', locals: {twitter_user: @twitter_user, api_path: @api_path}

.gray-separator

= render partial: 'common/share_more', locals: {text: t('common.show.let_me_know_html', user: @twitter_user.mention_name, current: t("#{controller_name}.#{action_name}.title"))}
