<%= modal_dialog id: 'end-trial-modal', title: t('.title'), button: {positive: t('.yes'), negative: t('.no')} do %>
  <div class="mb-3"><%= t('.message_html') %></div>
  <div class="small text-muted mb-1"><%= t('.note1') %></div>
  <div class="small text-muted mb-1"><%= t('.note2') %></div>
<% end %>
<script>
  $(function () {
    var i18n = {processing: '<%= t('.processing_html') %>'};
    window.endTrialModal = new EndTrialModal('end-trial-modal', i18n);
  });
</script>
