<%= modal_dialog id: modal_id, title: t('.title'), button: {positive: t('.yes')} do %>
  <div class="mb-3"><span class="order-time"></span><%= t('.order_time') %></div>
  <div><span class="order-amount"></span><%= t('.order_amount') %></div>
  <div><span class="order-search-count"></span><%= t('.order_search_count') %></div>
<% end %>
<script>
  $(function () {
    new OrderDetailsModal('<%= modal_id %>');
  });
</script>
