<%= modal_dialog id: 'search-modal', title: t('.title'), button: {positive: t('.close'), category: 'outline-secondary'}, size: 'modal-lg' do %>
  <%= render partial: 'shared/search_form', locals: {track_id: 'search-modal', via: current_via('search_modal')} %>

  <div class="loading text-center m-3">
    <%= t('.loading') %>
    <%= image_tag('/ajax-loader.gif?a=1') %>
  </div>
<% end %>

<script>
  $(function () {
    var url = '<%= raw search_histories_path(via: current_via) %>';
    var i18n = {failed: '<%= t('.failed') %>'};
    var eventAction = '<%= "#{controller_name}##{action_name}" %>';
    new SearchModal(url, 'search-modal', i18n, eventAction);
  });
</script>
