<% via = current_via('search_modal_body') %>

<div class="mt-1 mb-3 small">
  <%= t('.remaining_count', count: @search_count_limitation.remaining_count) %>
  <% btn_type = @search_count_limitation.count_remaining? ? 'btn-outline-primary' : 'btn-outline-warning' %>
  <a class="btn <%= btn_type %> btn-sm" data-toggle="collapse" aria-expanded="false" href="#increase-search-count"><%= t('.increase_count') %>
    <i class="far fa-question-circle"></i>
  </a>
</div>

<div id="increase-search-count" class="collapse mb-3">
  <%= render template: 'messages/increase_search_counts', locals: {via: via} %>
</div>

<% unless @search_count_limitation.count_remaining? %>
  <%= render template: 'messages/too_many_searches', locals: {via: 'too_many_searches_search_modal'} %>
<% end %>

<h2 class="h4 text-center my-5"><%= t('.history') %></h2>
<div id="search-histories-users-container">
  <%= t('.loading') %>
  <%= image_tag('/ajax-loader-blue.gif?a=1') %>
</div>
