- if user_signed_in?
  -# This modal is always embedded because it is used in settings page.
  - tweets = t('.share.tweets').shuffle
  - data = {url: api_v1_share_tweets_path(via: current_via('share_egotter_modal')), success_message: t('.share.success'), error_message: t('.share.error')}
  = modal_dialog id: 'share-modal', title: t('.share.title_html'), button: {positive: t('.share.ok'), negative: t('.share.cancel')}, data: data do
    .d-flex.align-items-center.mb-3
      %img{src: image_path('/egotter_plain_200x265.png'), class: 'd-block', style: 'width: 100px;'}
      .ml-3= t('.share.note_for_count_html', count: @search_count_limitation.current_sharing_bonus)
    %textarea#share-modal-tweet{rows: '3', class: 'small', style: 'width: 100%; -webkit-appearance: none;'}= raw tweets[0]
    .text-right
      #see-other-candidates.btn.btn-outline-primary.btn-sm= t('.share.see_other_candidates')
  :javascript
    $(function () {
      var tweets = #{raw tweets.to_json};
      var textUpdater = new ShareDialog.TweetTextUpdater(tweets, '#share-modal-tweet');
      $('#see-other-candidates').on('click', function (){
        textUpdater.update(function () {
          ga('send', {
            hitType: 'event',
            eventCategory: 'TweetText',
            eventAction: 'update',
            eventLabel: 'TweetText update'
          });
        });
      });
    });

  - if current_user.continuous_sign_in?
    = modal_dialog id: 'continuous-sign-in-modal', title: t('.continuous_sign_in.title_html'), button: {positive: t('.continuous_sign_in.ok')} do
      .d-flex.align-items-center.mb-3
        = image_tag image_path('/egotter_plain_200x265.png'), class: 'd-block', style: 'width: 100px;'
        .ml-3= t('.continuous_sign_in.text_html', count: SearchCountLimitation::CONTINUOUS_SIGN_IN_BONUS)

  - if params[:follow_dialog] == '1'
    - data = {url: follows_path(via: current_via('follow_egotter_modal')), follow_url: follow_intent_url('ego_tter')}
    = modal_dialog id: 'follow-modal', title: t('.follow.title_html'), button: {positive: t('.follow.ok'), negative: t('.follow.cancel')}, data: data do
      .d-flex.align-items-center.mb-3
        %img{src: image_path('/egotter_plain_200x265.png'), class: 'd-block', style: 'width: 100px;'}
        .ml-3= t('.follow.note_html')

  - if params[:purchase_dialog] == '1'
    = modal_dialog id: 'purchase-modal', title: t('.purchase.title_html'), button: {positive: t('.purchase.ok'), negative: t('.purchase.cancel')} do
      .d-flex.align-items-center.mb-3
        %img{src: image_path('/egotter_plain_200x265.png'), class: 'd-block', style: 'width: 100px;'}
        .ml-3= t('.purchase.note_html')

  :javascript
    $(function () {
      var showFollowDialog = #{params[:follow_dialog] == '1' && !current_user.following_egotter?};
      var showShareDialog = #{params[:share_dialog] == '1'};
      var showPurchaseDialog = #{params[:purchase_dialog] == '1' && current_user.following_egotter? && !current_user.has_valid_subscription?};
      var showContinuousSignInDiallog = #{current_user.continuous_sign_in?};
      var followDialog = new FollowDialog();
      var purchaseDialog = new PurchaseDialog('#{raw pricing_path(via: current_via('purchase_modal'))}');
      var shareDialog = new ShareDialog();
      var continuousSignInDialog = new ContinuousSignInDialog();

      var queue = new ModalQueue();
      if (showFollowDialog) {
        queue.add(followDialog);
      }
      if (showPurchaseDialog) {
        queue.add(purchaseDialog);
      }
      if (showShareDialog) {
        queue.add(shareDialog);
      }
      if (showContinuousSignInDiallog) {
        queue.add(continuousSignInDialog);
      }
      queue.start();
    });
- else
  - if params[:sign_in_dialog] == '1' || from_search_engine?
    = modal_dialog id: 'sign-in-modal', title: t('.sign_in.title'), body: t('.sign_in.body_html'), button: {positive: t('.sign_in.ok'), negative: t('.sign_in.cancel')}

    :javascript
      $(function () {
        Welcome.showSignInDialog('sign-in-modal', '#{raw sign_in_path(via: current_via("sign_in_modal#{'/search_engine' if from_search_engine?}"))}');
      });
