- if user_signed_in?
  = render partial: 'modal/share_tweet_modal'

  - if show_continuous_sign_in_modal?
    = modal_dialog id: 'continuous-sign-in-modal', title: t('.continuous_sign_in.title_html'), button: {positive: t('.continuous_sign_in.ok')} do
      .d-flex.align-items-center.mb-3
        = image_tag image_path('/egotter_plain_200x265.png'), class: 'd-block', style: 'width: 100px;'
        .ml-3= t('.continuous_sign_in.text_html', count: SearchCountLimitation::CONTINUOUS_SIGN_IN_BONUS)

  - if show_follow_modal?
    - data = {url: api_v1_follow_requests_path(via: current_via('follow_egotter_modal')), uid: User::EGOTTER_UID, follow_url: follow_intent_url('ego_tter')}
    = modal_dialog id: 'follow-modal', title: t('.follow.title_html'), button: {positive: t('.follow.ok'), negative: t('.follow.cancel')}, data: data do
      .d-flex.align-items-center.mb-3
        %img{src: image_path('/egotter_plain_200x265.png'), class: 'd-block', style: 'width: 100px;'}
        .ml-3= t('.follow.note_html')

  - if show_purchase_modal?
    = modal_dialog id: 'purchase-modal', title: t('.purchase.title_html'), button: {positive: t('.purchase.ok'), negative: t('.purchase.cancel')} do
      .d-flex.align-items-center.mb-3
        %img{src: image_path('/egotter_plain_200x265.png'), class: 'd-block', style: 'width: 100px;'}
        .ml-3= t('.purchase.note_html', days: Order::TRIAL_DAYS)

  :javascript
    $(function () {
      var showFollowDialog = #{show_follow_modal?};
      var showShareDialog = #{show_share_modal?};
      var showPurchaseDialog = #{show_purchase_modal?};
      var showContinuousSignInDialog = #{show_continuous_sign_in_modal?};
      var followDialog = new FollowDialog();
      var purchaseDialog = new PurchaseDialog('#{raw pricing_path(via: current_via('purchase_modal'))}');
      var shareDialog = new ShareDialog();
      var continuousSignInDialog = new ContinuousSignInDialog();

      var queue = new ModalQueue();
      if (showFollowDialog) {
        queue.add(followDialog);
      }
      if (showPurchaseDialog) {
        queue.add(purchaseDialog);
      }
      if (showShareDialog) {
        queue.add(shareDialog);
      }
      if (showContinuousSignInDialog) {
        queue.add(continuousSignInDialog);
      }
      queue.start();
    });
- else
  - if show_sign_in_modal?
    = modal_dialog id: 'sign-in-modal', title: t('.sign_in.title'), body: t('.sign_in.body_html'), button: {positive: t('.sign_in.ok'), negative: t('.sign_in.cancel')}

    :javascript
      $(function () {
        Welcome.showSignInDialog('sign-in-modal', '#{raw sign_in_path(via: current_via("sign_in_modal#{'/search_engine' if from_search_engine?}"))}');
      });
