- content_for :canonical_url do
  %link{href: cluster_url(@twitter_user), rel: 'canonical'}

- content_for :navbar_title, t(".navbar_title")

- breadcrumb :cluster, @twitter_user.screen_name

- page_title = t('.page_title', user: @twitter_user.screen_name, clusters: @cluster_names_str)
- title page_title
- set_meta_tags description: t('clusters.show.description', user: @twitter_user.screen_name, clusters: @cluster_names_str)

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h4.text-center.my-5= page_title
.mb-5= t('clusters.show.page_description', user: @twitter_user.screen_name)

= render partial: 'shared/search_form', locals: {id: 'form-on-cluster', via: current_via('top_input'), redirect_path: cluster_path(screen_name: ':screen_name')}
= render(partial: 'adsense/ad', locals: {vertical: :top})

%h2.h3.text-center.mt-5= t('clusters.show.clusters_level')
#clusters-container.my-3
= render partial: 'twitter/tweet_box', locals: {text: @tweet_text, twitter_user: @twitter_user}

%table.text-center.table.table-bordered.table-condensed
  %tr
    %th.text-secondary Cluster
    %th.text-secondary Count
  - @clusters.each do |word, count|
    %tr
      %td.text-secondary= word
      %td.text-secondary= count

:javascript
  $(function () {
    // var text = ''
    // new TweetCluster().countWords(text);

    var data = #{raw  @clusters.map { |word, count| {name: word, y: count}}.to_json };
    new UsageStat().drawColumnChart($('#clusters-container')[0], data, null);
  });
