- content_for :canonical_url do
  %link{href: cluster_url(@twitter_user), rel: 'canonical'}

- breadcrumb :cluster, @twitter_user.screen_name

- page_title = t('.page_title', user: @twitter_user.mention_name, clusters: @cluster_names.take(3).join(' '))
- title page_title
- set_meta_tags description: t('clusters.show.description', user: @twitter_user.mention_name, clusters: @cluster_names.take(3).join(' '))

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h2.page-title= page_title

.page-description.text-center= t('clusters.show.lead_002', user: @twitter_user.mention_name)

= render partial: 'common/search_form', locals: {via: 'clusters/show/top_input'}
= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

.share-buttons
  .inner
    - text = t('clusters.show.tweet', user: mention_name(@twitter_user.screen_name), clusters: @cluster_names.take(3).join("\n"), url: cluster_url(@twitter_user))
    = render partial: 'twitter/tweet_button', locals: {text: text}


%h2.h3.clusters= t('clusters.show.clusters_level')
#clusters-graph.chart
= render partial: 'twitter/tweet_box', locals: {text: text}
%hr
%h2.h3.clusters= t('clusters.show.clusters_cloud')
#clusters-word-cloud.chart{style: 'height: 220px;'}
%hr
= render partial: 'clusters/cluster', cached: true, collection: @cluster_names

:javascript
  $(function () {
      var options = $.extend(true, {}, window.usage_stats_column_chart_options);
      options.series[0].data = #{raw @graph.to_json};
      $('#clusters-graph').highcharts(options);

      var width = $('#clusters-word-cloud').width();
      wordCloud('#clusters-word-cloud', #{raw @word_cloud.to_json}, width, 220);
  });