<div class="menu-items menu-items-last media">
  <div class="media-body">
    <h4 class="h5 media-heading"><%= menu[:name] %><div class="tooltip-container"><abbr title="<%= menu[:description] %>" rel="tooltip">i</abbr></div></h4>
    <div><%= TwitterUser.human_attribute_name(:created_at) %>&nbsp;<%= l(menu[:target].created_at.in_time_zone('Tokyo'), format: :short) %></div>
    <div><%= TwitterUser.human_attribute_name(:updated_at) %>&nbsp;<%= l(menu[:target].updated_at.in_time_zone('Tokyo'), format: :short) %></div>
    <div><%= TwitterUser.human_attribute_name(:search_count) %>&nbsp;<%= menu[:target].search_count %></div>
    <div><%= TwitterUser.human_attribute_name(:update_count) %>&nbsp;<%= menu[:target].update_count %></div>
  </div>
  <div>
    <%= link_to(t('dictionary.view_more'), menu[:path], class: 'btn btn-info btn-block') %>
  </div>
</div>