<h3 class="h5 font-weight-bold mt-5 mb-3">プランの機能は同じですか？</h3>
<p class="my-3">はい、同じです。ブロック通知のデータの充実、ミュート通知のデータの充実が含まれています。</p>

<h3 class="h5 font-weight-bold mt-5 mb-3">プランごとに何が違いますか？</h3>
<p class="my-3">プランの金額と有効な期間が異なります。定期購読プランは毎月自動更新されます。それ以外のプランは期間固定です。</p>

<div id="premium-functions-details" class="minimum-anchor-offset"></div>
<h3 class="h5 font-weight-bold mt-5 mb-3">プランに含まれる要素の詳細</h3>
<p class="my-3">
  <div class="font-weight-bold mb-1"><span class="text-info"><i class="fas fa-check"></i></span>&nbsp;ブロック通知のデータの充実</div>
  「ブロックされた」のIDをすべて見ることができます。<br>
  <br>
  <div class="font-weight-bold mb-1"><span class="text-info"><i class="fas fa-check"></i></span>&nbsp;ミュート通知のデータの充実</div>
  「ミュートされた」のIDを2文字目まで見ることができます。
</p>

<div id="not-included-features-details" class="minimum-anchor-offset"></div>
<h3 class="h5 font-weight-bold mt-5 mb-3">プランに含まれない要素の詳細</h3>
<p class="my-3">
  <div class="font-weight-bold mb-1"><span class="text-danger"><i class="fas fa-times"></i></span>&nbsp;質問への回答は保証できません</div>
  各種の質問への回答は有料プランに 含まれません 。えごったーの分からない点の質問はいつでも歓迎します。ですが、回答が常にあるとは限らないことにご注意ください。<br>
  えごったーの基本的な使い方は <a href="<%= support_path(via: current_via('faq')) %>">よくある質問</a> または<a href="<%= delete_tweets_faq_path(via: current_via('faq')) %>">ツイート削除のよくある質問</a> をご覧になってください。<br>
  回答がなくてもかまわないので質問したいという場合は <a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a>までご連絡ください。<br>
  必ず質問の回答がほしいという方は、通常の有料プランとは別に用意している <a href="#custom-support-form">有償サポート</a> をご購入ください。<br>
  <br>
  <div class="font-weight-bold mb-1"><span class="text-danger"><i class="fas fa-times"></i></span>&nbsp;ツイッターの不具合への保証はできません</div>
  2023年1月時点で、ツイッターの運営体制は非常に不安定になっています。この不安定さが原因で起きる不具合については恐れ入りますが 返金の対象外 となります。
</p>

<div id="refund-details" class="minimum-anchor-offset"></div>
<h3 class="h5 font-weight-bold mt-5 mb-3">返金の決まり</h3>
<p class="my-3">
  有料プランのうち、定期購読プランで支払った金額は正当な理由があればすぐに返金します。
  詳しくは <a href="<%= refund_policy_path(via: current_via('faq')) %>">返金ポリシー</a> と <a href="<%= specified_commercial_transactions_path(via: current_via('faq')) %>">特定商取引法に基づく表記</a> をご確認ください。
</p>

<div id="donation-details" class="minimum-anchor-offset"></div>
<h3 class="h5 font-weight-bold mt-5 mb-3">社会貢献について</h3>
<p class="my-3">
えごったーの売上のうち一定の金額を、毎月、日本赤十字社を通して寄付しています。
皆さんのツイッター生活を少し便利に、被災者の方々の暮らしを少しでも快適に、幅広い皆さんのお役に立てるようこれからも努力していきます。
<blockquote class="twitter-tweet">
  <a href="https://twitter.com/ego_tter/status/1392100447922446338?ref_src=twsrc%5Etfw">May 11, 2021</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

<div id="custom-support-form" class="minimum-anchor-offset"></div>
<h3 class="h5 font-weight-bold mt-5 mb-3">有償サポートについて</h3>
<p class="my-3">
  これは通常の有料プランとは<span class="font-weight-bold">異なるもの</span>です。大規模なデータ収集依頼や調査が必要な問い合わせは作業時間に対して 3万円/時 にてお引き受けいたします。費用の支払い方法は 銀行振込 です。
  ご希望の方は <a href="<%= custom_support_form_url %>" target="_blank">こちら</a> からご連絡ください。
</p>
