= modal_dialog id: modal_id, title: t('.title'), button: {positive: t('.yes'), category: 'outline-secondary'} do
  .my-3= t('.description')
  %strong.d-block.mt-5.mb-1= t('.1_month.title')
  .mb-1= t('.1_month.price', value: Order::BASIC_PLAN_MONTHLY_BASIS_TAX_INCLUDED['monthly-basis-1'])
  .my-4
    %div= link_to t('.1_month.purchase_by_card'), '#', class: 'btn btn-outline-primary btn-one-time-checkout', data: {item_id: 'monthly-basis-1'}
    .small= t('.1_month.purchase_by_card_note')
  .my-4
    %div= link_to t('.1_month.purchase'), redirect_page_path(name: 'baseshop_1'), id: 'base-shop-1-month-item', class: 'btn btn-outline-primary', target: '_blank'
    .small= t('.1_month.purchase_note')
  .text-center.small.mt-5.mb-3
    = link_to t('.specified_commercial_transactions'), specified_commercial_transactions_path(via: current_via), target: '_blank'
    &middot;
    = link_to t('.refund_policy'), refund_policy_path(via: current_via), target: '_blank'
  .small.text-muted.mt-3.mb-5= t('.note_html')
