<% content_for :canonical_url do %>
  <link href="<%= pricing_url %>" rel="canonical">
<% end %>

<% set_meta_tags title: t('.meta_title'), description: t('.meta_description') %>

<div class="container">
  <h2 class="h4 text-center my-5"><%= t('.page_title') %></h2>
  <p class="my-3"><%= t('.page_description_html', terms_of_service_url: terms_of_service_path(via: current_via), cs_url: twitter_web_url('egotter_cs'), cs_user: 'egotter_cs') %></p>

  <%= render partial: 'shared/about_plan' %>

  <div class="my-3"><%= render partial: 'plans', locals: {selected_plan: nil} %></div>
  <div class="my-3"><%= render partial: 'faq' %></div>
</div>
