.vertical-spacing

%h3.text-center= t('.names.free')
.vertical-spacing

%table.pricing-table.table.table-bordered
  %tbody
    %tr
      %td= t('.pricing.key')
      %td= t('.pricing.free')
    %tr
      %td= t('.audience.key')
      %td= t('.audience.free')
    %tr
      %td= t('.search_count.key')
      %td
        = t('.search_count.free', count1: SearchCountLimitation::ANONYMOUS, count2: SearchCountLimitation::ANONYMOUS + SearchCountLimitation::SIGN_IN_BONUS)
        %span.text-muted{style: 'font-size: x-small;'}= t('.search_count.free_note', count: SearchCountLimitation::ANONYMOUS + SearchCountLimitation::SIGN_IN_BONUS)
    %tr
      %td= t('.follow_requests.key')
      %td= CreateFollowLimitation::ANONYMOUS
    %tr
      %td= t('.unfollow_requests.key')
      %td= CreateUnfollowLimitation::ANONYMOUS
    %tr
      %td= t('.remove_notification.key')
      %td= t('.remove_notification.free_html')
    %tr
      %td= t('.private_account.key')
      %td= t('.private_account.free_html')
    -#%tr
    -#  %td= t('.ad.key')
    -#  %td= t('.ad.free_html')
    -#%tr
    -#  %td= t('.private.key')
    -#  %td= t('.private.free_html')
    -#%tr
    -#  %td= t('.delete.key')
    -#  %td= t('.delete.free_html')
    -#%tr
    -#  %td= t('.purchasing_method.key')
    -#  %td= t('.purchasing_method.free')
    %tr
      %td
      %td
        - if user_signed_in?
          .btn.btn-primary{disabled: 'disabled'}= t('.has_purchased')
        - else
          = link_to t('common.show.sign_in'), sign_in_path(via: build_via('pricing')), class: 'btn btn-primary'

.vertical-spacing
.vertical-spacing

%h3.text-center= t('.names.basic')
.vertical-spacing

%table.pricing-table.table.table-bordered
  %tbody
    %tr
      %td= t('.pricing.key')
      %td= t('.pricing.basic')
    %tr
      %td= t('.audience.key')
      %td= t('.audience.basic')
    %tr
      %td= t('.search_count.key')
      %td.text-primary= t('.search_count.basic', count: SearchCountLimitation::BASIC_PLAN)
    %tr
      %td= t('.follow_requests.key')
      %td.text-primary= t('.follow_requests.basic_html', count: CreateFollowLimitation::BASIC_PLAN)
    %tr
      %td= t('.unfollow_requests.key')
      %td.text-primary= t('.unfollow_requests.basic_html', count: CreateUnfollowLimitation::BASIC_PLAN)
    %tr
      %td= t('.remove_notification.key')
      %td= t('.remove_notification.basic_html')
    %tr
      %td= t('.private_account.key')
      %td= t('.private_account.basic_html')
    %tr
      %td
      %td= t('.money_back_guarantee', count: Order::TRIAL_DAYS)
    %tr
      %td
      %td
        - if user_signed_in?
          - if current_user.has_valid_subscription?
            .btn.btn-primary{disabled: 'disabled'}= t('.has_purchased')
          - else
            = render partial: 'stripe/purchase_button'
        - else
          = link_to t('common.show.sign_in'), sign_in_path(via: build_via('pricing_buy')), class: 'btn btn-primary'

.vertical-spacing
.vertical-spacing

%h3#enterprise-plan.text-center= t('.names.enterprice')
.vertical-spacing

%table.pricing-table.table.table-bordered
  %tbody
    %tr
      %td= t('.pricing.key')
      %td= t('.pricing.enterprice')
    %tr
      %td= t('.delivery_date.key')
      %td= t('.delivery_date.enterprice')
    %tr
      %td= t('.purchasing_method.key')
      %td= t('.purchasing_method.enterprice')
    %tr
      %td
      %td= t('.enterprice_description')
    %tr
      %td
      %td
        %div= link_to t('.enterprice_inquiry_by_email'), direct_message_url(User::EGOTTER_UID), class: 'btn btn-primary'
        .vertical-spacing
        %div
          = link_to t('.enterprice_inquiry_by_dm'), direct_message_url(User::EGOTTER_UID), class: 'btn btn-default'
          %span{style: 'font-size: x-small;'}= t('.enterprice_inquiry_by_dm_note_html')

.clearfix

.vertical-spacing
.vertical-spacing

.text-center
  %img.center-block{src: image_path('/egotter_ask_me_840x483.png'), height: request.from_pc? ? '200px' : '140px'}
  .vertical-spacing
  = t('.ask_me_html')
.vertical-spacing
