- content_for :canonical_url do
  %link{href: pricing_url, rel: 'canonical'}

- breadcrumb :pricing

- set_meta_tags title: t('.meta_title'), description: t('.meta_description')

%h2.h4.text-center.my-5= t('.page_title')
.my-3= t('.page_description_html')

.card
  .card-body
    - if user_signed_in?
      %h5.card-title= t('.your_plan_title', user: current_user.screen_name)
      - if current_user.has_valid_subscription?
        .card-text= t('.has_basic_plan_text_html', user: current_user.screen_name, plan: current_user.purchased_plan_name, url: settings_path(via: current_via('pricing')))
      - else
        .card-text= t('.has_free_plan_text_html', user: current_user.screen_name)
    - else
      %h5.card-title= t('.anonymous_plan_title')
      .card-text= t('.has_no_plan_text_html', url: sign_in_path(via: current_via('pricing')))

%h3.h4.text-center.my-5= t('.free_plan_title')
.my-3= t('.free_plan_text_html')
.h4.my-4
  %strong= t('.free_plan_price')
.my-2
  %i.fas.fa-check.text-primary
  = t('.free_plan_search_count', min: SearchCountLimitation::ANONYMOUS, max: SearchCountLimitation::ANONYMOUS + SearchCountLimitation::SIGN_IN_BONUS)
.my-2
  %i.fas.fa-check.text-primary
  = t('.free_plan_notification')
.my-2
  %i.fas.fa-check.text-primary
  = t('.free_plan_private')
.my-2
  %i.fas.fa-check.text-primary
  = t('.free_plan_follow', count: CreateFollowLimitation::ANONYMOUS)
.my-2
  %i.fas.fa-check.text-primary
  = t('.free_plan_unfollow', count: CreateUnfollowLimitation::ANONYMOUS)

%hr

%h3.h4.text-center.my-5= t('.basic_plan_title')
.my-3= t('.basic_plan_text_html')
.h4.my-4
  %strong= t('.basic_plan_price', price: t('.pricing.basic_num'))
.my-2
  %i.fas.fa-check.text-primary
  = t('.basic_plan_search_count', count: SearchCountLimitation::BASIC_PLAN)
.my-2
  %i.fas.fa-check.text-primary
  = t('.basic_plan_follow', count: CreateFollowLimitation::BASIC_PLAN)
.my-2
  %i.fas.fa-check.text-primary
  = t('.basic_plan_unfollow', count: CreateUnfollowLimitation::BASIC_PLAN)
.my-2
  %i.fas.fa-check.text-primary
  = t('.basic_plan_atmark')
.my-2
  %i.fas.fa-check.text-primary
  = t('.basic_plan_nonstop')
.my-2
  %i.fas.fa-check.text-primary
  = t('.basic_plan_money_back_guarantee', count: Order::TRIAL_DAYS)
.my-2
  - if user_signed_in?
    - if current_user.has_valid_subscription?
      .btn.btn-outline-primary.disabled= t('.basic_plan_purchased')
    - else
      = link_to t('.purchase'), '#', class: 'btn btn-primary btn-checkout'
  - else
    = link_to t('.sign_in'), sign_in_path(via: current_via('pricing_buy')), class: 'btn btn-primary'

%hr


%h3#enterprise-plan.text-center.my-5= t('.names.enterprice')

%table.table.table-bordered
  %tbody
    %tr
      %td= t('.pricing.key')
      %td= t('.pricing.enterprice')
    %tr
      %td= t('.delivery_date.key')
      %td= t('.delivery_date.enterprice')
    %tr
      %td= t('.purchasing_method.key')
      %td= t('.purchasing_method.enterprice')
    %tr
      %td
      %td= t('.enterprice_description')
    %tr
      %td
      %td
        .mb-3= link_to t('.enterprice_inquiry_by_email'), direct_message_url(User::EGOTTER_UID), class: 'btn btn-primary'
        %div
          = link_to t('.enterprice_inquiry_by_dm'), direct_message_url(User::EGOTTER_UID), class: 'btn btn-outline-primary'
          %span.small= t('.enterprice_inquiry_by_dm_note_html')
