- content_for :canonical_url do
  %link{href: pricing_url, rel: 'canonical'}

- set_meta_tags title: t('.meta_title'), description: t('.meta_description')

%h2.h4.text-center.my-5= t('.page_title')
%p= t('.page_description')
%p= t('.page_description_note_html', url: twitter_web_url('egotter_cs'))

%hr

%h2.h4.text-center.my-5= t('.benefits.title')
%p= t('.benefits.description')

%h3.h5.font-weight-bold.mt-5.mb-3= t('.benefits.search.title')
%p= t('.benefits.search.description', count: SearchCountLimitation::BASIC_PLAN)

%h3.h5.font-weight-bold.mt-5.mb-3= t('.benefits.periodic_reports.title')
%p= t('.benefits.periodic_reports.description')

%h3.h5.font-weight-bold.mt-5.mb-3= t('.benefits.block_reports.title')
%p= t('.benefits.block_reports.description')

%h3.h5.font-weight-bold.mt-5.mb-3= t('.benefits.mute_reports.title')
%p= t('.benefits.mute_reports.description')

%h3.h5.font-weight-bold.mt-5.mb-3= t('.benefits.delete_tweets.title')
%p= t('.benefits.delete_tweets.description')

%hr

%h2.h4.text-center.my-5= t('.type.title')
%p= t('.type.description_html')

%h3.h5.font-weight-bold.mt-5.mb-3= t('.type.free.title')
%p= t('.type.free.description')

%h3.h5.font-weight-bold.mt-5.mb-3= t('.type.basic.title')
%p= t('.type.basic.description_html')

%hr

%h2.h4.text-center.my-5= t('.payment_options.title')
%p= t('.payment_options.description')

%h3.h5.font-weight-bold.mt-5.mb-3= t('.payment_options.subscription.title')
%p
  = t('.payment_options.subscription.description')
  = link_to t('.payment_options.purchase'), '#', id: 'btn-purchase-subscription', class: 'btn btn-outline-primary btn-sm btn-checkout'

%h3.h5.font-weight-bold.mt-5.mb-3= t('.payment_options.one_purchase.title')
%p
  = t('.payment_options.one_purchase.description')
  = link_to t('.payment_options.purchase'), '#', class: 'btn btn-outline-primary btn-sm', data: {target: '#payment-method-modal', toggle: 'modal'}

%h3.h5.font-weight-bold.mt-5.mb-3= t('.payment_options.bulk_purchase.title')
%p
  = t('.payment_options.bulk_purchase.description')
  = link_to t('.payment_options.purchase'), '#', class: 'btn btn-outline-primary btn-sm', data: {target: '#bulk-purchase-modal', toggle: 'modal'}

%hr

%h2.h4.text-center.my-5= t('.payment_method.title')
%p= t('.payment_method.description_html')

.table-responsive
  %table.table.table-bordered{style: 'white-space: nowrap;'}
    %caption= t('.payment_method.table.caption')
    %thead
      %tr
        %td
        %th= t('.payment_method.table.card')
        %th= t('.payment_method.table.convenient_store')
        %th= t('.payment_method.table.xxx_pay')
        %th= t('.payment_method.table.bank_transfer')
    %tbody
      %tr
        %th= t('.payment_method.table.short_term')
        %td= t('.payment_method.table.subscription')
        %td= t('.payment_method.table.one_purchase')
        %td= t('.payment_method.table.one_purchase')
        %td= t('.payment_method.table.one_purchase')
      %tr
        %th= t('.payment_method.table.long_term')
        %td= t('.payment_method.table.bulk_purchase')
        %td= t('.payment_method.table.bulk_purchase')
        %td= t('.payment_method.table.bulk_purchase')
        %td= t('.payment_method.table.bulk_purchase')

%hr

%h2.h4.text-center.my-5= t('.bulk_purchase.title')
%p
  = t('.bulk_purchase.description')
  = link_to t('.bulk_purchase.inquiry'), '#', class: 'btn btn-outline-primary btn-sm', data: {target: '#bulk-purchase-modal', toggle: 'modal'}

%hr

%h2.h4.text-center.my-5= t('.refund.title')
%p= t('.refund.description_html', url1: refund_policy_path(via: current_via), url2: specified_commercial_transactions_path(via: current_via))

%hr

%h2.h4.text-center.my-5= t('.contribution.title')
%p= t('.contribution.description_html')

%hr

= render partial: 'current_plan'

%hr

%h2.h4.text-center.my-5= t('.free_plan_title')
.my-3= t('.free_plan_text_html')
.h4.my-4
  %strong.small= t('.free_plan_price')
.my-2= pricing_checked_item(t('.list.free_plan_search_count', min: SearchCountLimitation::ANONYMOUS, max: SearchCountLimitation::ANONYMOUS + SearchCountLimitation::SIGN_IN_BONUS))
.my-2= pricing_checked_item(t('.list.notification'))
.my-2= pricing_checked_item(t('.list.private_search'))
.my-2= pricing_checked_item(t('.list.block_report'))
.my-2= pricing_checked_item(t('.list.mute_report'))
.mb-4
.my-2= pricing_unchecked_item(t('.list.sneak_search'))
.my-2= pricing_unchecked_item(t('.list.download'))
.my-2= pricing_unchecked_item(t('.list.egotter_follow'))
.my-2= pricing_unchecked_item(t('.list.atmark'))
.my-2= pricing_unchecked_item(t('.list.nonstop'))
.my-2= pricing_unchecked_item(t('.list.advanced_block_report'))
.my-2= pricing_unchecked_item(t('.list.advanced_mute_report'))
.my-2= pricing_unchecked_item(t('.list.delete_all_tweets', count: DeleteTweetsRequest::DESTROY_LIMIT))
.my-2= pricing_unchecked_item(t('.list.private_mode'))
.my-2= pricing_unchecked_item(t('.list.reset_egotter'))

%hr

%h2.h4.text-center.my-5= t('.basic_plan_title')
.my-3= t('.basic_plan_text_html')
.h4.my-4
  %strong= t('.basic_plan_price_html', regular_price: Order::REGULAR_PRICE, discount_price: Order::DISCOUNT_PRICE)
  %span.small= t('.basic_plan_price_period')
.my-2= pricing_checked_item(t('.list.basic_plan_search_count', count: SearchCountLimitation::BASIC_PLAN))
.my-2= pricing_checked_item(t('.list.notification'))
.my-2= pricing_checked_item(t('.list.private_search'))
.my-2= pricing_checked_item(t('.list.block_report'))
.my-2= pricing_checked_item(t('.list.mute_report'))
.mb-4
.my-2= pricing_checked_item(t('.list.sneak_search'))
.my-2= pricing_checked_item(t('.list.download'))
.my-2= pricing_checked_item(t('.list.egotter_follow'))
.my-2= pricing_checked_item(t('.list.atmark'))
.mt-2= pricing_checked_item(t('.list.nonstop'))
.mt-2= pricing_checked_item(t('.list.advanced_block_report'))
.mt-2= pricing_checked_item(t('.list.advanced_mute_report'))
.my-2= pricing_checked_item(t('.list.delete_all_tweets', count: DeleteTweetsRequest::DESTROY_LIMIT))
.my-2= pricing_checked_item(t('.list.private_mode'))
.my-2= pricing_checked_item(t('.list.reset_egotter'))
.mb-4
.my-2= pricing_checked_item(t('.list.money_back_guarantee', count: Order::TRIAL_DAYS))
.my-2
  - if user_signed_in?
    - if current_user.has_valid_subscription?
      .btn.btn-outline-primary.disabled= t('.basic_plan_purchased')
    - else
      = link_to t('.purchase'), '#', id: 'btn-advantages-list', class: 'btn btn-primary btn-lg btn-checkout'
  - else
    = link_to t('.sign_in'), sign_in_path(via: current_via('pricing_buy')), class: 'btn btn-primary'
.small.my-4
  .mb-3
    = t('.payment_method.others')
    = link_to t('.payment_method.inquiry'), '#', class: 'btn btn-outline-primary btn-sm', data: {target: '#payment-method-modal', toggle: 'modal'}
  .mb-3
    = t('.bulk_purchase.description')
    = link_to t('.bulk_purchase.inquiry'), '#', class: 'btn btn-outline-primary btn-sm', data: {target: '#bulk-purchase-modal', toggle: 'modal'}
.small.text-muted.my-4
  .mb-1= t('.basic_plan_note1', old_price: Order::REGULAR_PRICE, new_price: Order::DISCOUNT_PRICE)
  .mb-1= t('.basic_plan_note2', price: Order::REGULAR_PRICE)
  .mb-1= t('.basic_plan_note3')
  .mb-1= t('.basic_plan_note4')

= modal_dialog id: 'payment-method-modal', title: t('.payment_method.modal.title'), button: {positive: t('.bulk_purchase.modal.yes'), category: 'outline-secondary'} do
  .my-3= t('.payment_method.modal.description')
  .my-5
    %strong.mb-1= t('.payment_method.modal.1_month.title')
    .mb-1= t('.payment_method.modal.1_month.price', value: 660)
    .mt-2= link_to t('.payment_method.modal.1_month.purchase'), base_shop_1_month_url, id: 'base-shop-1-month-item', class: 'btn btn-outline-primary btn-sm', target: '_blank'
  .my-3.small.text-muted= t('.payment_method.modal.note_html')

= modal_dialog id: 'bulk-purchase-modal', title: t('.bulk_purchase.modal.title'), button: {positive: t('.bulk_purchase.modal.yes'), category: 'outline-secondary'} do
  .my-3= t('.bulk_purchase.modal.description')
  .my-5
    %strong.mb-1= t('.bulk_purchase.modal.6_month.title')
    -# 300 * 6 * 0.95 * 1.1 = 1881
    .mb-1
      = t('.bulk_purchase.modal.6_month.price', value: 1880)
      = t('.bulk_purchase.modal.6_month.discount_rate', value: 5)
    .mt-2= link_to t('.bulk_purchase.modal.6_month.purchase'), base_shop_6_months_url, id: 'base-shop-6-months-item', class: 'btn btn-outline-primary btn-sm', target: '_blank'
  .my-5
    %strong.mb-1= t('.bulk_purchase.modal.12_month.title')
    -# 300 * 12 * 0.90 * 1.1 = 3564
    .mb-1
      = t('.bulk_purchase.modal.6_month.price', value: 3550)
      = t('.bulk_purchase.modal.6_month.discount_rate', value: 10)
    .mt-2= link_to t('.bulk_purchase.modal.12_month.purchase'), base_shop_12_months_url, id: 'base-shop-12-months-item', class: 'btn btn-outline-primary btn-sm', target: '_blank'
  .my-3.small.text-muted= t('.bulk_purchase.modal.note_html')

%hr

= render partial: 'egotter_ads'

%hr

#enterprise-plan= render partial: 'custom_work'
