- content_for :canonical_url do
  %link{href: pricing_url, rel: 'canonical'}

- breadcrumb :pricing

- set_meta_tags title: t('.meta_title'), description: t('.meta_description')

%h2.h4.text-center.my-5= t('.page_title')
.my-3= t('.page_description_html')

%hr

%h2.h4.text-center.my-5= t('.benefits_title')
.my-3= t('.benefits_description_html')

%hr

%h2.h4.text-center.my-5= t('.plans_title')
.my-3= t('.plans_description_html')

%hr

%h2.h4.text-center.my-5= t('.payment_methods_title')
.my-3= t('.payment_methods_description_html', url: direct_message_url(User::EGOTTER_CS_UID, t('short_messages.bulk_purchase')))

%hr

= render partial: 'current_plan'

%hr

%h2.h4.text-center.my-5= t('.free_plan_title')
.my-3= t('.free_plan_text_html')
.h4.my-4
  %strong.small= t('.free_plan_price')
.my-2= pricing_checked_item(t('.list.free_plan_search_count', min: SearchCountLimitation::ANONYMOUS, max: SearchCountLimitation::ANONYMOUS + SearchCountLimitation::SIGN_IN_BONUS))
.my-2= pricing_checked_item(t('.list.notification'))
.my-2= pricing_checked_item(t('.list.private_search'))
.my-2= pricing_checked_item(t('.list.block_report'))
.my-2= pricing_checked_item(t('.list.mute_report'))
.mb-4
.my-2= pricing_unchecked_item(t('.list.sneak_search'))
.my-2= pricing_unchecked_item(t('.list.download'))
.my-2= pricing_unchecked_item(t('.list.egotter_follow'))
.my-2= pricing_unchecked_item(t('.list.atmark'))
.my-2= pricing_unchecked_item(t('.list.nonstop'))
.my-2= pricing_unchecked_item(t('.list.advanced_block_report'))
.my-2= pricing_unchecked_item(t('.list.advanced_mute_report'))
.my-2= pricing_unchecked_item(t('.list.delete_all_tweets', count: DeleteTweetsRequest::DESTROY_LIMIT))
.my-2= pricing_unchecked_item(t('.list.private_mode'))
.my-2= pricing_unchecked_item(t('.list.reset_egotter'))

%hr

%h2.h4.text-center.my-5= t('.basic_plan_title')
.my-3= t('.basic_plan_text_html')
.h4.my-4
  %strong= t('.basic_plan_price_html', regular_price: Order::REGULAR_PRICE, discount_price: Order::DISCOUNT_PRICE)
  %span.small= t('.basic_plan_price_period')
.my-2= pricing_checked_item(t('.list.basic_plan_search_count', count: SearchCountLimitation::BASIC_PLAN))
.my-2= pricing_checked_item(t('.list.notification'))
.my-2= pricing_checked_item(t('.list.private_search'))
.my-2= pricing_checked_item(t('.list.block_report'))
.my-2= pricing_checked_item(t('.list.mute_report'))
.mb-4
.my-2= pricing_checked_item(t('.list.sneak_search'))
.my-2= pricing_checked_item(t('.list.download'))
.my-2= pricing_checked_item(t('.list.egotter_follow'))
.my-2= pricing_checked_item(t('.list.atmark'))
.mt-2= pricing_checked_item(t('.list.nonstop'))
.mt-2= pricing_checked_item(t('.list.advanced_block_report'))
.mt-2= pricing_checked_item(t('.list.advanced_mute_report'))
.my-2= pricing_checked_item(t('.list.delete_all_tweets', count: DeleteTweetsRequest::DESTROY_LIMIT))
.my-2= pricing_checked_item(t('.list.private_mode'))
.my-2= pricing_checked_item(t('.list.reset_egotter'))
.mb-4
.my-2= pricing_checked_item(t('.list.money_back_guarantee', count: Order::TRIAL_DAYS))
.my-2
  - if user_signed_in?
    - if current_user.has_valid_subscription?
      .btn.btn-outline-primary.disabled= t('.basic_plan_purchased')
    - else
      = link_to t('.purchase'), '#', class: 'btn btn-primary btn-lg btn-checkout'
  - else
    = link_to t('.sign_in'), sign_in_path(via: current_via('pricing_buy')), class: 'btn btn-primary'
.small.my-4
  .mb-3= t('.basic_plan_note4_html', url: direct_message_url(User::EGOTTER_CS_UID, t('short_messages.bulk_purchase')))
.small.text-muted.my-4
  .mb-1= t('.basic_plan_note1', old_price: Order::REGULAR_PRICE, new_price: Order::DISCOUNT_PRICE)
  .mb-1= t('.basic_plan_note2', price: Order::REGULAR_PRICE)
  .mb-1= t('.basic_plan_note3')

%hr

= render partial: 'egotter_ads'

%hr

#enterprise-plan= render partial: 'custom_work'
