- content_for :canonical_url do
  %link{href: pricing_url, rel: 'canonical'}

- breadcrumb :pricing

- set_meta_tags title: t('.meta_title'), description: t('.meta_description')

%h2.h4.text-center.my-5= t('.page_title')
.my-3= t('.page_description_html')

.card
  .card-body
    - if user_signed_in?
      %h5.card-title= t('.your_plan_title', user: current_user.screen_name)
      - if current_user.has_valid_subscription?
        .card-text= t('.has_basic_plan_text_html', user: current_user.screen_name, plan: current_user.purchased_plan_name, url: settings_path(via: current_via('pricing')))
      - else
        .card-text= t('.has_free_plan_text_html', user: current_user.screen_name)
    - else
      %h5.card-title= t('.anonymous_plan_title')
      .card-text= t('.has_no_plan_text_html', url: sign_in_path(via: current_via('pricing')))

%h3.h4.text-center.my-5= t('.free_plan_title')
.my-3= t('.free_plan_text_html')
.h4.my-4
  %strong= t('.free_plan_price')
.my-2= pricing_checked_item(t('.list.free_plan_search_count', min: SearchCountLimitation::ANONYMOUS, max: SearchCountLimitation::ANONYMOUS + SearchCountLimitation::SIGN_IN_BONUS))
.my-2= pricing_checked_item(t('.list.notification'))
.my-2= pricing_checked_item(t('.list.private_search'))
.my-2= pricing_checked_item(t('.list.follow', count: CreateFollowLimitation::ANONYMOUS))
.mt-2.mb-4= pricing_checked_item(t('.list.unfollow', count: CreateUnfollowLimitation::ANONYMOUS))
.my-2= pricing_unchecked_item(t('.list.download'))
.my-2= pricing_unchecked_item(t('.list.egotter_follow'))
.my-2= pricing_unchecked_item(t('.list.atmark'))
.my-2= pricing_unchecked_item(t('.list.nonstop'))
.my-2= pricing_unchecked_item(t('.list.delete_all_tweets', count: DeleteTweetsRequest::DESTROY_LIMIT))
.my-2= pricing_unchecked_item(t('.list.reset_egotter'))

%hr

%h3.h4.text-center.my-5= t('.basic_plan_title')
.my-3= t('.basic_plan_text_html')
.h4.my-4
  %strong= t('.basic_plan_price', price: Order::PRICE)
.my-2= pricing_checked_item(t('.list.basic_plan_search_count', count: SearchCountLimitation::BASIC_PLAN))
.my-2= pricing_checked_item(t('.list.notification'))
.my-2= pricing_checked_item(t('.list.private_search'))
.my-2= pricing_checked_item(t('.list.follow', count: CreateFollowLimitation::BASIC_PLAN))
.mt-2.mb-4= pricing_checked_item(t('.list.unfollow', count: CreateUnfollowLimitation::BASIC_PLAN))
.my-2= pricing_checked_item(t('.list.download'))
.my-2= pricing_checked_item(t('.list.egotter_follow'))
.my-2= pricing_checked_item(t('.list.atmark'))
.mt-2= pricing_checked_item(t('.list.nonstop'))
.my-2= pricing_checked_item(t('.list.delete_all_tweets', count: DeleteTweetsRequest::DESTROY_LIMIT))
.my-2.mb-4= pricing_checked_item(t('.list.reset_egotter'))
.my-2= pricing_checked_item(t('.list.money_back_guarantee', count: Order::TRIAL_DAYS))
.my-2
  - if user_signed_in?
    - if current_user.has_valid_subscription?
      .btn.btn-outline-primary.disabled= t('.basic_plan_purchased')
    - else
      = link_to t('.purchase'), '#', class: 'btn btn-primary btn-checkout'
  - else
    = link_to t('.sign_in'), sign_in_path(via: current_via('pricing_buy')), class: 'btn btn-primary'

%hr

%h3#enterprise-plan.text-center.my-5= t('.pro_plan_title')
.my-3= t('.pro_plan_text_html')
.h4.my-4
  %strong= t('.pro_plan_price')

.my-1= t('.pro_delivery_date')
.my-1= t('.pro_purchasing_method')

.my-3= t('.pro_content_html')

.my-3= t('.inquiry_methods')
= link_to t('.inquiry_by_email'), direct_message_url(User::EGOTTER_CS_UID), class: 'btn btn-primary'
= link_to t('.inquiry_by_dm'), direct_message_url(User::EGOTTER_CS_UID), class: 'btn btn-outline-primary'

%hr

%h3#enterprise-plan.text-center.my-5= t('.enterprise_plan_title')
.my-3= t('.enterprise_plan_text_html')
.h4.my-4
  %strong= t('.enterprise_plan_price')

.my-1= t('.enterprise_delivery_date')
.my-1= t('.enterprise_purchasing_method')

.my-3= t('.enterprise_content_html')

.my-3= t('.inquiry_methods')
= link_to t('.inquiry_by_email'), direct_message_url(User::EGOTTER_CS_UID), class: 'btn btn-primary'
= link_to t('.inquiry_by_dm'), direct_message_url(User::EGOTTER_CS_UID), class: 'btn btn-outline-primary'

%div.mb-3
