<% content_for :canonical_url do %>
  <link href="<%= pricing_plan_url(name: @plan_id) %>" rel="canonical">
<% end %>

<% set_meta_tags title: plan_display_name(@plan_id), description: strip_tags(plan_description(@plan_id)) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <%= image_tag plan_display_image(@plan_id), class: 'img-fluid', loading: 'lazy' %>
    </div>
    <div class="col-12 col-md-6">
      <h3 class="h4"><%= plan_display_name(@plan_id) %></h3>
      <div class="my-3" style="font-size: 24px;"><%= plan_display_price(@plan_id) %> <span class="text-muted"><%= t('.tax_included') %></span></div>
      <p class="my-3"><%= plan_description(@plan_id) %></p>
      <p class="my-3"><%= t('pricing.plans.descriptions.common_html') %></p>
      <% if @plan_id == 'subscription' %>
        <a href="#" class="btn btn-outline-primary btn-lg btn-block btn-checkout"><%= t('.purchase') %></a>
      <% elsif @plan_id == 'monthly-basis-1' %>
        <a href="#" class="btn btn-outline-primary btn-lg btn-block" data-target="#purchase-one-month-modal" data-toggle="modal"><%= t('.purchase') %></a>
      <% else %>
        <a href="#" class="btn btn-outline-primary btn-lg btn-block" data-target="#purchase-multiple-months-modal" data-toggle="modal"><%= t('.purchase') %></a>
      <% end %>
    </div>
  </div>

  <div class="my-3"><%= render partial: 'plans', locals: {selected_plan: @plan_id} %></div>
  <div class="my-3"><%= render partial: 'faq' %></div>
</div>

<% unless @plan_id == 'subscription' %>
  <%= render partial: 'purchase_one_month_modal', locals: {modal_id: 'purchase-one-month-modal'} %>
  <%= render partial: 'purchase_multiple_months_modal', locals: {modal_id: 'purchase-multiple-months-modal', months_count: plan_months_count(@plan_id)} %>
<% end %>
