<div class="clusters-belong-to">
  <h3 class="h5"><%= t('dictionary.clusters_index') %></h3>
  <div id="clusters_belong_to_graph" class="chart"></div>

  <%= render(partial: 'searches/tweet_box', locals: {tweet_text: @tweet_text}) %>

  <hr>

  <h3 class="h5"><%= t('dictionary.clusters_cloud') %></h3>
  <div id="clusters_belong_to_cloud" class="chart" style="height: 220px;"></div>

  <hr>

  <% @cluster_words.each do |cluster| %>
    <div class="media" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 15px;">
      <div class="media-body" style="padding-right: 15px;">
        <h4 style="font-weight: bold; font-size: 14px;" class="media-heading"></h4>
        <span style="font-size: 13px; color: #999999;"><%= cluster[:target] %></span>
      </div>
    </div>
  <% end %>

  <%= render(partial: 'searches/adsense_bottom') %>

  <div class="return-to-top"><%= link_to(t('searches.common.return', user: @searched_tw_user.mention_name), search_path(screen_name: @searched_tw_user.screen_name, id: @searched_tw_user.uid)) %></div>
</div>

<script>
  var graph_options = $.extend(true, {}, window.usage_stats_column_chart_options);
  graph_options.series[0].data = <%= raw @graph.to_json %>;

  $(function () {
    $('#clusters_belong_to_graph').highcharts(graph_options);

    var clusters_belong_to_cloud = <%= raw @clusters_belong_to_cloud.to_json %>;
    draw_word_cloud('#clusters_belong_to_cloud', clusters_belong_to_cloud, screen.width, 220);
  });
</script>