<%
  # avoid duplicate rendering
  modal_rendered_uids = []
  png = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC'
%>

<script>
  $(function () {
    window.lazycall_functions = {};
  });
</script>

<%# close_friends %>
<div class="menu-items media">
  <div class="media-body">
    <h4 class="h5 media-heading"><%= close_friends[:name] %></h4>

    <% close_friends[:target].slice(0..2).each do |user| %>
      <span data-toggle="modal" data-target=".profile-overview-modal.<%= "#{user.screen_name}_#{user.uid}" %>">
        <img class="lazy" src="<%= png %>" data-original="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>" width="48" height="48">
      </span>
    <% end %>
  </div>
  <div class="media-right">
    <% if close_friends.has_key?(:graph) %>
      <div id="<%= close_friends.object_id %>" class="close-friends-chart"></div>
      <script>
        $(function () {
          var graph_option = $.extend(true, {}, window.common_pie_chart_options);
          graph_option.series[0].data = <%= raw close_friends[:graph].to_json %>;
          window.lazycall_functions['#<%= close_friends.object_id %>'] = function () {
            $('#<%= close_friends.object_id %>').highcharts(graph_option)
          };
        });
      </script>
    <% end %>
  </div>
  <div>
    <%= link_to(t('dictionary.view_more_with_num', num: close_friends[:target].size).html_safe, close_friends[:path], class: 'btn btn-info btn-block') %>
  </div>
</div>
<% close_friends[:target].slice(0..2).each do |user| %>
  <% next if modal_rendered_uids.include?(user.uid.to_i) %>
  <%= render(partial: 'searches/profile_overview_modal',
             locals: {user: user, unique_id: "#{user.screen_name}_#{user.uid}", via: :profile_modal}) %>
  <% modal_rendered_uids << user.uid.to_i %>
<% end %>

<%# usage_stats %>
<div class="menu-items media">
  <div class="media-body">
    <h4 class="h5 media-heading"><%= usage_stats[:name] %></h4>

    <% if usage_stats.has_key?(:graph) %>
      <div id="<%= usage_stats.object_id %>" class="usage-stats-chart-container"></div>
      <script>
        $(function () {
          var graph_option = $.extend(true, {}, window.usage_stats_column_chart_options);
          graph_option.series[0].data = <%= raw usage_stats[:graph][0].to_json %>;
          graph_option.drilldown.series = <%= raw usage_stats[:graph][1].to_json %>;
          graph_option.yAxis.visible = false;
          window.lazycall_functions['#<%= usage_stats.object_id %>'] = function () {
            $('#<%= usage_stats.object_id %>').highcharts(graph_option);
          };
        });
      </script>
    <% end %>
  </div>
  <div>
    <%= link_to(t('dictionary.view_more'), usage_stats[:path], class: 'btn btn-info btn-block') %>
  </div>
</div>

<%# clusters_belong_to %>
<div class="menu-items media">
  <div class="media-body">
    <h4 class="h5 media-heading"><%= clusters_belong_to[:name] %></h4>

    <% if clusters_belong_to.has_key?(:graph) %>
      <div id="<%= clusters_belong_to.object_id %>" class="clusters-belong-to-chart-container"></div>
      <script>
        $(function () {
          var graph_option = $.extend(true, {}, window.usage_stats_column_chart_options);
          graph_option.series[0].data = <%= raw clusters_belong_to[:graph].to_json %>;
          graph_option.yAxis.visible = false;
          window.lazycall_functions['#<%= clusters_belong_to.object_id %>'] = function () {
            $('#<%= clusters_belong_to.object_id %>').highcharts(graph_option);
          };
        });
      </script>
    <% end %>
  </div>
  <div>
    <%= link_to(t('dictionary.view_more'), clusters_belong_to[:path], class: 'btn btn-info btn-block') %>
  </div>
</div>

<%# menu_items %>
<% menu_items.each do |menu_item| %>
  <div class="menu-items media">
    <div class="media-body">
      <h4 class="h5 media-heading"><%= menu_item[:name] %></h4>

      <% menu_item[:target].slice(0..2).each do |user| %>
        <span data-toggle="modal" data-target=".profile-overview-modal.<%= "#{user.screen_name}_#{user.uid}" %>">
          <img class="lazy" src="<%= png %>" data-original="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>" width="48" height="48">
        </span>
      <% end %>
    </div>
    <div class="media-right">
      <% if menu_item.has_key?(:graph) %>
        <div id="<%= menu_item.object_id %>" class="common-chart"></div>
        <script>
          $(function () {
            var graph_option = $.extend(true, {}, window.common_pie_chart_options);
            graph_option.series[0].data = <%= raw menu_item[:graph].to_json %>;
            window.lazycall_functions['#<%= menu_item.object_id %>'] = function () {
              $('#<%= menu_item.object_id %>').highcharts(graph_option);
            };
          });
        </script>
      <% end %>
    </div>
    <div>
      <%= link_to(t('dictionary.view_more_with_num', num: menu_item[:target].size).html_safe, menu_item[:path], class: 'btn btn-info btn-block') %>
    </div>
  </div>
  <% menu_item[:target].slice(0..2).each do |user| %>
    <% next if modal_rendered_uids.include?(user.uid.to_i) %>
    <%= render(partial: 'searches/profile_overview_modal',
               locals: {user: user, unique_id: "#{user.screen_name}_#{user.uid}", via: :profile_modal}) %>
    <% modal_rendered_uids << user.uid.to_i %>
  <% end %>
<% end %>

<%# common friends and common followers %>
<% menu_common_friends_and_followers.each do |menu_item| %>
  <div class="menu-items media">
    <div class="media-body">
      <h4 class="h5 media-heading"><%= menu_item[:name] %></h4>

      <% menu_item[:target].slice(0..2).each do |user| %>
        <span data-toggle="modal" data-target=".profile-overview-modal.<%= "#{user.screen_name}_#{user.uid}" %>">
          <img class="lazy" src="<%= png %>" data-original="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>" width="48" height="48">
        </span>
      <% end %>
    </div>

    <div class="media-right">
      <% if menu_item.has_key?(:graph) %>
        <div id="<%= menu_item.object_id %>" class="common-chart"></div>
        <script>
          $(function () {
            var graph_option = $.extend(true, {}, window.common_pie_chart_options);
            graph_option.series[0].data = <%= raw menu_item[:graph].to_json %>;
            window.lazycall_functions['#<%= menu_item.object_id %>'] = function () {
              $('#<%= menu_item.object_id %>').highcharts(graph_option);
            };
          });
        </script>
      <% end %>
    </div>

    <% if search_oneself?(searched_tw_user.uid) %>
      <button class="btn btn-default btn-block" disabled="disabled" style="margin-top: 15px;">
        <%= t('view_more_btn.same_user') %>
      </button>
    <% elsif search_others?(searched_tw_user.uid) %>
      <div>
        <%= link_to(t('dictionary.view_more_with_num', num: menu_item[:target].size).html_safe, menu_item[:path], class: 'btn btn-info btn-block') %>
      </div>
    <% elsif !user_signed_in? %>
      <button class="btn btn-default btn-block" disabled="disabled" style="margin-top: 15px;">
        <%= t('dictionary.view_more_needs_login') %>
      </button>
    <% end %>
  </div>
  <% menu_item[:target].slice(0..2).each do |user| %>
    <% next if modal_rendered_uids.include?(user.uid.to_i) %>
    <%= render(partial: 'searches/profile_overview_modal',
               locals: {user: user, unique_id: "#{user.screen_name}_#{user.uid}", via: :profile_modal}) %>
    <% modal_rendered_uids << user.uid.to_i %>
  <% end %>
<% end %>

<%# update_histories %>
<div class="menu-items menu-items-last media">
  <div class="media-body">
    <h4 class="h5 media-heading"><%= menu_update_histories[:name] %></h4>
    <div><%= TwitterUser.human_attribute_name(:created_at) %>&nbsp;<%= l(menu_update_histories[:target].created_at.in_time_zone('Tokyo'), format: :short) %></div>
    <div><%= TwitterUser.human_attribute_name(:updated_at) %>&nbsp;<%= l(menu_update_histories[:target].updated_at.in_time_zone('Tokyo'), format: :short) %></div>
    <div><%= TwitterUser.human_attribute_name(:search_count) %>&nbsp;<%= menu_update_histories[:target].search_count %></div>
    <div><%= TwitterUser.human_attribute_name(:update_count) %>&nbsp;<%= menu_update_histories[:target].update_count %></div>
  </div>
  <div>
    <%= link_to(t('dictionary.view_more'), menu_update_histories[:path], class: 'btn btn-info btn-block') %>
  </div>
</div>

<script>
  $(function () {
    $("img.lazy").lazyload();

    $.each(Object.keys(window.lazycall_functions), function (i, selector) {
      var loaded = false;
      $(selector)
          .lazyload()
          .on('appear', function () {
            if (loaded) {
              return
            }
            loaded = true;

            window.lazycall_functions[selector]();
          });
    });
  });
</script>