<div class="usage-stats">
  <h3 class="h5">曜日ごとのツイッター利用時間</h3>
  <div id="usage_time" class="chart"></div>

  <%= render(partial: 'searches/tweet_box', locals: {tweet_text: usage_time_text(@usage_time, @searched_tw_user)}) %>

  <h3 class="h5">曜日ごとのツイート数</h3>
  <div id="wday" class="chart"></div>

  <h3 class="h5">時間帯ごとのツイート数</h3>
  <div id="hour" class="chart"></div>

  <%= render(partial: 'searches/tweet_box', locals: {tweet_text: usage_per_xxx_text(@wday, @hour, @searched_tw_user)}) %>

  <h3 class="h5">ツイートの内容</h3>
  <div id="kind" class="chart"></div>

  <%= render(partial: 'searches/tweet_box', locals: {tweet_text: usage_kind_text(@kind, @searched_tw_user)}) %>

  <h3 class="h5">よく使うハッシュタグ</h3>
  <div id="hashtags" class="chart"></div>

  <h3 class="h5">ハッシュタグクラウド (クリックできます)</h3>
  <div id="cloud" class="chart" style="height: 220px;"></div>

  <%= render(partial: 'searches/tweet_box', locals: {tweet_text: usage_hashtags_text(@hashtags, @searched_tw_user)}) %>

  <%= render(partial: 'searches/adsense_bottom') %>

  <div class="return-to-results-bottom"><%= link_to(t('searches.common.return', user: @searched_tw_user.mention_name), search_path(screen_name: @searched_tw_user.screen_name, id: @searched_tw_user.uid)) %></div>
</div>

<script>
  var graph_options = window.usage_stats_column_chart_options;

  var tweets_stat = <%= @kind.to_json.html_safe %>;
  var kind = window.usage_stats_tweets_stat_options;
  kind.xAxis.categories = ['メンション', '画像', 'リンク', 'ハッシュタグ', '位置情報'];
  kind.series = [{
    name: 'なし',
    data: [
      100.0 - tweets_stat.mentions,
      100.0 - tweets_stat.media,
      100.0 - tweets_stat.urls,
      100.0 - tweets_stat.hashtags,
      100.0 - tweets_stat.location
    ]
  }, {
    name: 'あり',
    data: [
      tweets_stat.mentions,
      tweets_stat.media,
      tweets_stat.urls,
      tweets_stat.hashtags,
      tweets_stat.location
    ]
  }];

  $(function () {
    <% if @usage_time.present? %>
      var usage_time = $.extend(true, {}, graph_options);
      usage_time.series[0].data = <%= raw @usage_time.to_json %>;
      $('#usage_time').highcharts(usage_time);
    <% end %>

    <% if @wday.present? && @wday_drilldown.present? %>
      var wday = $.extend(true, {}, graph_options);
      wday.series[0].data = <%= raw @wday.to_json %>;
      wday.drilldown.series = <%= raw @wday_drilldown.to_json %>;
      $('#wday').highcharts(wday);
    <% end %>

    <% if  @hour.present? && @hour_drilldown.present? %>
      var hour = $.extend(true, {}, graph_options);
      hour.series[0].data = <%= raw @hour.to_json %>;
      hour.drilldown.series = <%= raw @hour_drilldown.to_json %>;
      $('#hour').highcharts(hour);
    <% end %>

    $('#kind').highcharts(kind);

    var hashtags = $.extend(true, {}, graph_options);
    hashtags.series[0].data = <%= raw @hashtags.to_json %>;
    $('#hashtags').highcharts(hashtags);

    var cloud = <%= raw @cloud.to_json %>;
    draw_word_cloud('#cloud', cloud, $('#cloud').width(), 220);
  });
</script>