<%
  tu = @searched_tw_user
  rendered_users = []
  icon_limit = request.device_type == :pc ? 8 : 3
  default_locals = {rendered_users: rendered_users, icon_limit: icon_limit, tu: tu}
%>

<script>
  $(function () {
    window.lazycall_functions = {};
  });
</script>

<% cache "#{tu.cache_key}/close_friends", expires_in: 1.day do %>
  <%= render partial: 'search_results/show/users_summary', locals: {name: 'close_friends'}.merge(default_locals) %>
<% end %>

<% cache "#{tu.cache_key}/usage_stats", expires_in: 1.day do %>
  <%= render partial: 'search_results/show/stats_summary', locals: {name: :usage_stats, graph: tu.usage_stats_graph[0], tu: tu} %>
<% end %>

<% cache "#{tu.cache_key}/tweet_clusters", expires_in: 1.day do %>
  <%= render partial: 'search_results/show/stats_summary', locals: {name: :clusters_belong_to, graph: tu.clusters_belong_to_frequency_distribution, tu: tu} %>
<% end %>

<% %w(removing removed new_friends new_followers blocking_or_blocked mutual_friends one_sided_friends one_sided_followers replying replied favoriting inactive_friends inactive_followers).each do |name| %>
  <% cache "#{tu.cache_key}/#{name}", expires_in: 1.day do %>
    <%= render partial: 'search_results/show/users_summary', locals: {name: name}.merge(default_locals) %>
  <% end %>
<% end %>

<% cache "#{tu.cache_key}/various_users/rendered_users", expires_in: 1.day do %>
  <%= render(partial: 'profiles/modal', collection: rendered_users.uniq { |user| user.uid.to_i }, as: :user, cached: true, locals: {twitter_user: tu, via: :profile_modal}) %>
<% end %>

<script>
  $(function () {
    enableSlickOnModal();
    setModalOpenLogger('profile', '<%= modal_open_logs_path %>');
  });
</script>

<% cache "#{tu.cache_key}/update_histories", expires_in: 1.day do %>
  <%= render partial: 'search_results/show/update_histories_summary', locals: {histories: UpdateHistories.new(tu.uid), tu: tu} %>
<% end %>

<script>
  $(function () {
    $.each(Object.keys(window.lazycall_functions), function (i, selector) {
      var loaded = false;
      $(selector)
          .lazyload()
          .on('appear', function () {
            if (loaded) return;
            loaded = true;

            window.lazycall_functions[selector]();
          });
    });
  });
</script>

<%= render(partial: 'common/adsense', locals: {action: action_name, vertical: :bottom}) %>

<h2 class="h4"><%= t('.about_this_page', this_page: t('searches.show.heading', user: tu.mention_name)) %></h2>
<div class="this-page-is"><%= t('.this_page_is', user: tu.mention_name) %></div>

<h2 class="h4"><%= t('.other_services') %></h2>
<div class="row other-services">
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.twitter_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Twitter" rel="tooltip">i</abbr></div>
  </div>
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.twilog_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Twilog" rel="tooltip">i</abbr></div>
  </div>
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.favstar_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Favstar" rel="tooltip">i</abbr></div>
  </div>
</div>

<script>
  $(function () {
    tooltip();

    if (window.workerStarted) {
      var createdAt = <%= tu.created_at.to_i %>;
      var scope = {action: "<%= action_name %>", uid: <%= tu.uid %>};
      var checkLogPath = "<%= background_search_log_path(uid: tu.uid) %>";
      var pageCachePath = "<%= raw page_cache_path(uid: tu.uid, hash: 'HASH') %>";
      var pageCachesPath = "<%= raw page_caches_path(uid: tu.uid) %>";
      var pollingLogsPath = "<%= raw polling_logs_path(uid: tu.uid, screen_name: tu.screen_name) %>";
      searchResultsWaiting(checkLogPath, pageCachePath, pageCachesPath, pollingLogsPath, createdAt, scope);
    }
  });
</script>
