<%
  tu = @searched_tw_user
  modal_rendered_uids = []
  icon_limit = request.device_type == :pc ? 8 : 3
%>

<script>
  $(function () {
    window.lazycall_functions = {};
  });
</script>

<% cache "#{tu.cache_key}/close_friends" do %>
  <%= render partial: 'close_friends/index', locals: {users: tu.close_friends(login_user: @login_user), graph: tu.close_friends_graph(login_user: @login_user), uids: modal_rendered_uids, icon_limit: icon_limit, tu: tu} %>
<% end %>

<% cache "#{tu.cache_key}/usage_stats" do %>
  <%= render partial: 'usage_stats/index', locals: {graph: tu.usage_stats_graph, tu: tu} %>
<% end %>

<% cache "#{tu.cache_key}/tweet_clusters" do %>
  <%= render partial: 'tweet_clusters/index', locals: {graph: tu.clusters_belong_to_frequency_distribution, tu: tu} %>
<% end %>

<%
  %i(removing removed new_friends new_followers blocking_or_blocked mutual_friends
     one_sided_friends one_sided_followers replying replied favoriting inactive_friends inactive_followers).each do |name|
    cache "#{tu.cache_key}/various_users/#{name}" do
      values = {
        name: t("searches.#{name}.title", user: tu.mention_name),
        description: t("searches.#{name}.description", user: tu.mention_name),
        target: tu.send(name),
        graph: tu.send("#{name}_graph"),
        path: send("#{name}_search_path", screen_name: tu.screen_name)
      }
%>
  <%= render partial: 'various_users/index', locals: {menu: values, uids: modal_rendered_uids, icon_limit: icon_limit, tu: tu} %>
<%
    end
  end
%>

<%# cache "#{tu.cache_key}/common_friends" do %>
  <%# locals = {uids: modal_rendered_uids, icon_limit: icon_limit, tu: tu} %>
  <%#= render partial: 'common_friends/index', locals: locals.merge(menu: @menu_common_friends) %>
  <%#= render partial: 'common_friends/index', locals: locals.merge(menu: @menu_common_followers) %>
<%# end %>

<% cache "#{tu.cache_key}/update_histories" do %>
  <%= render partial: 'update_histories/index', locals: {histories: UpdateHistories.new(tu.uid), tu: tu} %>
<% end %>

<script>
  $(function () {
    $("img.lazy").lazyload();

    $.each(Object.keys(window.lazycall_functions), function (i, selector) {
      var loaded = false;
      $(selector)
          .lazyload()
          .on('appear', function () {
            if (loaded) return;
            loaded = true;

            window.lazycall_functions[selector]();
          });
    });
  });
</script>

<%= render(partial: 'common/adsense_bottom') %>

<h2 class="h4"><%= t('.about_this_page', this_page: t('searches.show.heading', user: tu.mention_name)) %></h2>
<div class="this-page-is"><%= t('.this_page_is', user: tu.mention_name) %></div>

<h2 class="h4"><%= t('.other_services') %></h2>
<div class="row other-services">
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.twitter_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Twitter" rel="tooltip">i</abbr></div>
  </div>
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.twilog_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Twilog" rel="tooltip">i</abbr></div>
  </div>
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.favstar_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Favstar" rel="tooltip">i</abbr></div>
  </div>
</div>

<script>
  $(function () {
    tooltip();

    class Cache {
      setHash(hash) {
        this.hash = hash;
      }

      delete() {
        var url = "<%= raw page_cache_path(uid: tu.uid, hash: 'HASH') %>";
        return $.ajax({url: url.replace(/HASH/, this.hash), type: 'DELETE'});
      }

      create() {
        var url = "<%= raw page_caches_path(uid: tu.uid) %>";
        return $.post(url);
      }
    }

    class Interval {
      constructor() {
        this.value = 2000;
        this.max = 5000;
      }

      current() {
        return this.value;
      }

      next() {
        this.value += 2000;
        if (this.value > this.max) this.value = this.max;
        return this.value
      }
    }

    class Retry {
      constructor() {
        this.count = 0;
        this.max = 5;
      }

      current() {
        return this.count;
      }

      next() {
        this.count += 1;
        return this.count < this.max;
      }
    }

    var interval = new Interval();
    var retry = new Retry();
    var created_at = <%= tu.created_at.to_i %>;
    var cache = new Cache();
    var refreshBox = $('.alert.alert-info');
    var scope = {action: "<%= action_name %>", uid: <%= @searched_tw_user.uid %>};

    refreshBox.find('a').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();

      cache.delete()
          .then(cache.create(), failed)
          .done(function () { window.location.reload() })
          .fail(failed);

      return false;
    });

    function failed(xhr) {
      console.log(xhr.responseText);
    }

    function done(res, text_status, xhr) {
      console.log(res, text_status, xhr.status, interval.current(), retry.current());

      if (xhr.status === 200) {
        console.log(created_at, res.created_at);
        if (created_at < res.created_at) {
          cache.setHash(res.hash);
          refreshBox.show();
        } else {
          console.log('do nothing.');
        }

        return
      }

      if (!retry.next()) {
        console.log('stop waiting.');
        Rollbar.scope(scope).warning("Retries exhausted while attempting fetching.");
      } else {
        setTimeout(tic, interval.next());
      }
    }

    function tic() {
      var url = "<%= background_search_log_path(uid: tu.uid) %>";
      $.get(url).done(done).fail(failed);
    }

    tic();
  });
</script>
