<%
  tu = @searched_tw_user
  modal_rendered_uids = []
  icon_limit = request.device_type == :pc ? 8 : 3
  png = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC'
%>

<script>
  $(function () {
    window.lazycall_functions = {};
  });
</script>

<% cache "#{tu.cache_key}/close_friends" do %>
  <%= render partial: 'close_friends/index', locals: {users: tu.close_friends(login_user: @login_user), graph: tu.close_friends_graph(login_user: @login_user), uids: modal_rendered_uids, icon_limit: icon_limit, png: png, tu: tu} %>
<% end %>

<% cache "#{tu.cache_key}/usage_stats" do %>
  <%= render partial: 'usage_stats/index', locals: {graph: tu.usage_stats_graph, tu: tu} %>
<% end %>

<% cache "#{tu.cache_key}/tweet_clusters" do %>
  <%= render partial: 'tweet_clusters/index', locals: {graph: tu.clusters_belong_to_frequency_distribution, tu: tu} %>
<% end %>

<%
  %i(removing removed new_friends new_followers blocking_or_blocked mutual_friends
     one_sided_friends one_sided_followers replying replied favoriting inactive_friends inactive_followers).each do |name|
    cache "#{tu.cache_key}/various_users/#{name}" do
      values = {
        name: t("searches.#{name}.title", user: tu.mention_name),
        description: t("searches.#{name}.description", user: tu.mention_name),
        target: tu.send(name),
        graph: tu.send("#{name}_graph"),
        path: send("#{name}_path", screen_name: tu.screen_name)
      }
%>
  <%= render partial: 'various_users/index', locals: {menu: values, uids: modal_rendered_uids, icon_limit: icon_limit, png: png, tu: tu} %>
<%
    end
  end
%>

<%# cache "#{tu.cache_key}/common_friends" do %>
  <%# locals = {uids: modal_rendered_uids, icon_limit: icon_limit, png: png, tu: tu} %>
  <%#= render partial: 'common_friends/index', locals: locals.merge(menu: @menu_common_friends) %>
  <%#= render partial: 'common_friends/index', locals: locals.merge(menu: @menu_common_followers) %>
<%# end %>

<% cache "#{tu.cache_key}/update_histories" do %>
  <%= render partial: 'update_histories/index', locals: {histories: UpdateHistories.new(tu.uid), tu: tu} %>
<% end %>

<script>
  $(function () {
    $("img.lazy").lazyload();

    $.each(Object.keys(window.lazycall_functions), function (i, selector) {
      var loaded = false;
      $(selector)
          .lazyload()
          .on('appear', function () {
            if (loaded) {
              return
            }
            loaded = true;

            window.lazycall_functions[selector]();
          });
    });
  });
</script>

<%= render(partial: 'searches/adsense_bottom') %>

<h2 class="h4"><%= t('.about_this_page', this_page: t('searches.show.heading', user: tu.mention_name)) %></h2>
<div class="this-page-is"><%= t('.this_page_is', user: tu.mention_name) %></div>

<h2 class="h4"><%= t('.other_services') %></h2>
<div class="row other-services">
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.twitter_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Twitter" rel="tooltip">i</abbr></div>
  </div>
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.twilog_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Twilog" rel="tooltip">i</abbr></div>
  </div>
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.favstar_link', screen_name: tu.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Favstar" rel="tooltip">i</abbr></div>
  </div>
</div>

<script>
  $(function () {
    tooltip();

    var hash = null;
    var refresh_box = $('.alert.alert-info');
    var refresh_btn = refresh_box.find('a');

    refresh_btn.on('click', function (e) {
      refresh();
      e.preventDefault();
      e.stopPropagation();
      return false
    });

    function delete_cache() {
      var url = "<%= raw page_cache_path(id: tu.uid, hash: 'HASH') %>";
      return $.ajax({url: url.replace(/HASH/, hash), type: 'DELETE'})
    }

    function create_cache() {
      var url = "<%= raw page_caches_path(id: tu.uid) %>";
      return $.post(url)
    }

    function refresh() {
      delete_cache()
          .then(create_cache, failed)
          .done(function () {
            window.location.reload();
          })
          .fail(failed);
    }

    function interval_counter() {
      var cur = 2000;
      var max = 5000;

      return {
        cur: function () {
          return cur
        },
        next: function () {
          cur += 2000;
          if (cur > max) cur = max;
          return cur
        }
      }
    }
    var interval = interval_counter();

    function retry_counter() {
      var count = 0;
      var max = 5;

      return {
        cur: function () {
          return count
        },
        next: function () {
          count++;
          return count < max
        }
      }
    }
    var retry = retry_counter();

    function failed(xhr) {
      console.log(xhr.responseText);
    }

    function done(res, text_status, xhr) {
      console.log(res, text_status, xhr.status, interval.cur(), retry.cur());

      if (xhr.status == 200) {
        var created_at = <%= tu.created_at.to_i %>;
        if (created_at < res.created_at) {
          hash = res.hash;
          refresh_box.show();
        }
      } else if (!retry.next()) {
        console.log('stop waiting');
      } else {
        setTimeout(tic, interval.next());
      }
    }

    function tic() {
      var url = "<%= background_search_log_path(id: tu.uid) %>";
      $.get(url).done(done).fail(failed);
    }

    tic();
  });
</script>
