<%
  # avoid duplicate rendering
  modal_rendered_uids = []
  icon_limit = request.device_type == :pc ? 8 : 3
  png = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC'
%>

<script>
  $(function () {
    window.lazycall_functions = {};
  });
</script>

<%= render partial: 'search_results/menu/close_friends', locals: {menu: @menu_close_friends, modal_rendered_uids: modal_rendered_uids, icon_limit: icon_limit, png: png} %>
<%= render partial: 'search_results/menu/usage_stats', locals: {menu: @menu_usage_stats} %>
<%= render partial: 'search_results/menu/clusters_belong_to', locals: {menu: @menu_clusters_belong_to} %>

<% @menu_items.each do |menu| %>
  <%= render partial: 'search_results/menu/common', locals: {menu: menu, modal_rendered_uids: modal_rendered_uids, icon_limit: icon_limit, png: png} %>
<% end %>

<%= render partial: 'search_results/menu/common_friends', locals: {menu: @menu_common_friends, modal_rendered_uids: modal_rendered_uids, icon_limit: icon_limit, png: png, searched_tw_user: @searched_tw_user} %>
<%= render partial: 'search_results/menu/common_friends', locals: {menu: @menu_common_followers, modal_rendered_uids: modal_rendered_uids, icon_limit: icon_limit, png: png, searched_tw_user: @searched_tw_user} %>
<%= render partial: 'search_results/menu/update_histories', locals: {menu: @menu_update_histories} %>

<script>
  $(function () {
    $("img.lazy").lazyload();

    $.each(Object.keys(window.lazycall_functions), function (i, selector) {
      var loaded = false;
      $(selector)
          .lazyload()
          .on('appear', function () {
            if (loaded) {
              return
            }
            loaded = true;

            window.lazycall_functions[selector]();
          });
    });
  });
</script>

<%= render(partial: 'searches/adsense_bottom') %>

<h2 class="h4"><%= t('.about_this_page', this_page: t('searches.show.heading', user: @searched_tw_user.mention_name)) %></h2>
<div class="this-page-is"><%= t('.this_page_is', user: @searched_tw_user.mention_name) %></div>

<h2 class="h4"><%= t('.other_services') %></h2>
<div class="row other-services">
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.twitter_link', screen_name: @searched_tw_user.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Twitter" rel="tooltip">i</abbr></div>
  </div>
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.twilog_link', screen_name: @searched_tw_user.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Twilog" rel="tooltip">i</abbr></div>
  </div>
  <div class="text-center col-xs-12 col-sm-4">
    <%= t('search_results.show.favstar_link', screen_name: @searched_tw_user.screen_name).html_safe %>
    <div class="tooltip-container"><abbr title="Favstar" rel="tooltip">i</abbr></div>
  </div>
</div>

<script>
  $(function () {
    tooltip();

    var hash = null;
    var refresh_box = $('.alert.alert-info');
    var refresh_btn = refresh_box.find('a');

    refresh_btn.on('click', function (e) {
      refresh();
      e.preventDefault();
      e.stopPropagation();
      return false
    });

    function delete_cache() {
      var url = "<%= raw page_cache_path(id: @searched_tw_user.uid, hash: 'HASH') %>";
      return $.ajax({url: url.replace(/HASH/, hash), type: 'DELETE'})
    }

    function create_cache() {
      var url = "<%= raw page_caches_path(id: @searched_tw_user.uid) %>";
      return $.post(url)
    }

    function refresh() {
      delete_cache()
          .then(create_cache, failed)
          .done(function () {
            window.location.reload();
          })
          .fail(failed);
    }

    function interval_counter() {
      var cur = 2000;
      var max = 5000;

      return {
        cur: function () {
          return cur
        },
        next: function () {
          cur += 2000;
          if (cur > max) cur = max;
          return cur
        }
      }
    }
    var interval = interval_counter();

    function retry_counter() {
      var count = 0;
      var max = 5;

      return {
        cur: function () {
          return count
        },
        next: function () {
          count++;
          return count < max
        }
      }
    }
    var retry = retry_counter();

    function failed(xhr) {
      console.log(xhr.responseText);
    }

    function done(res, text_status, xhr) {
      console.log(res, text_status, xhr.status, interval.cur(), retry.cur());

      if (xhr.status == 200) {
        var created_at = <%= @searched_tw_user.created_at.to_i %>;
        if (created_at < res.created_at) {
          hash = res.hash;
          refresh_box.show();
        }
      } else if (!retry.next()) {
        console.log('stop waiting');
      } else {
        setTimeout(tic, interval.next());
      }
    }

    function tic() {
      var url = "<%= background_search_log_path(id: @searched_tw_user.uid) %>";
      $.get(url).done(done).fail(failed);
    }

    tic();
  });
</script>