.share-buttons
  .inner
    - tweet_text = t('unfriends.show.tweet', user: @twitter_user.mention_name, removing: @twitter_user.removing_uids.size, removed: @twitter_user.removed_uids.size, blocking_or_blocked: @twitter_user.blocking_or_blocked_uids.size)
    - text = ".#{tweet_text} #egotter #unfriends #{unfriend_url(screen_name: twitter_user.screen_name, type: type)}"
    = render partial: 'twitter/tweet_button', locals: {text: text}

%ul.nav.nav-tabs.nav-justified{role: 'tablist'}
  %li.nav-item{class: ('active' if type == 'removing')}
    %a.nav-link{href: '#removing', role: 'tab', 'data-toggle' => 'tab'}
      = t('searches.removing.num', num: twitter_user.removing_uids.size).html_safe
  %li.nav-item{class: ('active' if type == 'removed')}
    %a.nav-link{href: '#removed', role: 'tab', 'data-toggle' => 'tab'}
      = t('searches.removed.num', num: twitter_user.removed_uids.size).html_safe
  %li.nav-item{class: ('active' if type == 'blocking_or_blocked')}
    %a.nav-link{href: '#blocking-or-blocked', role: 'tab', 'data-toggle' => 'tab'}
      = t('searches.blocking_or_blocked.num', num: twitter_user.blocking_or_blocked_uids.size).html_safe

.tab-content.unfriends.twitter.users
  #removing.tab-pane{role: 'tabpanel', class: ('active' if type == 'removing')}
    .loading-image.text-center= image_tag '/ajax-loader.gif'
  #removed.tab-pane{role: 'tabpanel', class: ('active' if type == 'removed')}
    .loading-image.text-center= image_tag '/ajax-loader.gif'
  #blocking-or-blocked.tab-pane{role: 'tabpanel', class: ('active' if type == 'blocking_or_blocked')}
    .loading-image.text-center= image_tag '/ajax-loader.gif'

.shown-later{style: 'display: none;'}
  .unfriends.lead= t('unfriends.show.lead_003', user: twitter_user.mention_name).html_safe
  = render partial: 'common/search_form', locals: {via: 'unfriends/show/bottom_input'}
  = render(partial: 'common/adsense', locals: {action: action_name, vertical: :bottom})
  .unfriends.lead= t('unfriends.show.lead_004')
  = link_to t('searches.common.search_xxx_by_egotter', user: twitter_user.mention_name), searches_path(screen_name: twitter_user.screen_name, via: "#{controller_name}/#{action_name}/bottom_button"), class: 'btn btn-info btn-block', style: 'margin-bottom: 15px;', method: :post

  .unfriends.separator
  = render partial: 'common/related_pages', locals: {twitter_user: twitter_user}

:javascript
  $(function () {
    var url = "#{unfriend_path(screen_name: twitter_user.screen_name, type: 'TYPE', format: :json)}";
    var type = "#{type.gsub(/_/, '-')}";

    $('a[href="#removing"]').on('click', {url: url}, tabClicked);
    $('a[href="#removed"]').on('click', {url: url}, tabClicked);
    $('a[href="#blocking-or-blocked"]').on('click', {url: url}, tabClicked);

    $('a[href="#' + type + '"]').trigger('click');
  });