%div{id: items.object_id}
  - items.each.with_index do |item, i|
    - user = item.user
    .status-item
      .media
        .media-left
          %img.media-object{alt: user.screen_name, src: user.profile_image_url_https.to_s}/
        .media-body
          %h4.media-heading
            = "#{user.name} @#{user.screen_name} - #{time_ago_in_words(item.tweeted_at)}".html_safe
          %span.text
            = item.text