- content_for :canonical_url do
  %link{href: status_url(@twitter_user), rel: 'canonical'}

- breadcrumb :status, @twitter_user.screen_name

- page_title = t('statuses.show.page_title', user: @twitter_user.mention_name)
- title page_title
- set_meta_tags description: t('statuses.show.meta_description', user: @twitter_user.mention_name)

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h2.page-title= page_title

= render partial: 'common/search_form', locals: {via: build_via('top_input')}
= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

#statuses.twitter.tweets.row
  - if @twitter_user.protected_account?
    = render(partial: 'twitter/tweet', collection: @statuses, cached: true, formats: %i(html))
  - else
    = render(partial: 'twitter/oembed_tweet', collection: @statuses, as: :tweet, cached: true, formats: %i(html))

.gray-separator

= render partial: 'common/related_pages', locals: {twitter_user: @twitter_user}