- title @title
- set_meta_tags description: "#{@title} - #{@searched_tw_user.description}"

= render(partial: 'profiles/overview',
  locals: {user: @searched_tw_user, unique_id: @searched_tw_user.uid})

:javascript
  $(function () {
    enableSlickOnPageTop();
  });

.name-and-tweet-items
  .return-to-results-top= link_to(t('searches.common.return', user: @searched_tw_user.mention_name), search_path(screen_name: @searched_tw_user.screen_name))
  %hr

  %h2.h4= @title

  .twitter.tweets
    = render(partial: 'twitter/tweet', collection: @statuses, cached: true)

  .return-to-results-bottom= link_to(t('searches.common.return', user: @searched_tw_user.mention_name), search_path(screen_name: @searched_tw_user.screen_name))
