- content_for :canonical_url do
  %link{href: status_url(@twitter_user), rel: 'canonical'}

- breadcrumb :status, @twitter_user.screen_name

- page_title = t('statuses.show.page_title', user: @twitter_user.mention_name)
- title page_title
- set_meta_tags description: t('statuses.show.meta_description', user: @twitter_user.mention_name)

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h2.page-title= page_title

= render partial: 'common/search_form', locals: {via: current_via('top_input')}
= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

#statuses.twitter.tweets.center-block
  - if @twitter_user.protected_account?
    = render(partial: 'twitter/tweet', collection: @statuses, cached: true, formats: %i(html))
  - else
    = render(partial: 'twitter/oembed_tweet', collection: @statuses, as: :tweet, cached: true, formats: %i(html))
