- title @title
- set_meta_tags description: "#{@title} - #{@searched_tw_user.description}"

= render(partial: 'searches/profile_overview',
  locals: {user: @searched_tw_user, delay: false, unique_id: @searched_tw_user.uid})

.name-and-tweet-items
  .return-to-results-top= link_to(t('searches.common.return', user: @searched_tw_user.mention_name), search_path(screen_name: @searched_tw_user.screen_name, id: @searched_tw_user.uid))
  %hr

  %h2.h4= @title

  .page-entries-info-top
    = render(partial: 'searches/page_entries_info',
      locals: {controller: controller_name, action: action_name, user: @searched_tw_user, items: @statuses})

  = render(partial: 'statuses/status', collection: @statuses, cached: true)

  .page-entries-info-bottom
    = render(partial: 'searches/page_entries_info',
      locals: {controller: controller_name, action: action_name, user: @searched_tw_user, items: @statuses})

  .return-to-results-bottom= link_to(t('searches.common.return', user: @searched_tw_user.mention_name), search_path(screen_name: @searched_tw_user.screen_name, id: @searched_tw_user.uid))
