- user = TwitterUserDecorator.new(user)
.media
  .media-inner
    .media-left
      = link_to timeline_path(screen_name: user.screen_name, via: current_via('sidebar_user_icon')) do
        = normal_icon_img(user, class: 'media-object')
    .media-body.text-left
      %h4.media-heading= user.name_with_icon
      %span.screen-name= link_to mention_name(user.screen_name), timeline_path(screen_name: user.screen_name, via: current_via('sidebar_screen_name'))
    .media-right
      .buttons
        = link_to timeline_path(screen_name: user.screen_name, via: current_via('sidebar_search_icon')) do
          %button.btn.btn-info{type: 'button'}
            %span.glyphicon.glyphicon-search
    .reason.text-left.text-muted= "#{reason}#{user.status_labels}".html_safe
    .description.text-left= user.description.truncate(40)