- via = 'sidebar'
.media.row
  .media-left
    = link_to timeline_path(user, via: via) do
      = normal_icon_img(user, class: 'media-object')
  .media-body.text-left
    %h4.media-heading= user_name(user)
    %span.screen-name= link_to(mention_name(user.screen_name), timeline_path(user, via: via))
  .media-right
    .buttons
      = link_to searches_path_for(controller: controller_name, screen_name: user.screen_name, via: via), method: :post do
        %button.btn.btn-info{type: 'button'}
          %span.glyphicon.glyphicon-search
          .visible-lg-inline= t('searches.common.do_search')
  .reason.text-left.text-muted= "#{reason}#{user_label(user)}".html_safe