<%
  begin
    uids = uids_for(tu, menu: name)
    users = TwitterDB::User.where(uid: uids.take(icon_limit)).index_by(&:uid)
    users = uids.take(icon_limit).map { |uid| users[uid] }.compact
  rescue => e
    uids = []
    users = []
    logger.warn "summary: #{e.class} #{e.message} users #{name} #{current_user_id} #{tu.uid} #{tu.screen_name} #{request.device_type} #{request.browser}"
  end

  begin
    graph = chart_for(uids.size, uids.size * 2, name)
  rescue => e
    graph = nil
    logger.warn "summary: #{e.class} #{e.message} graph #{name} #{current_user_id} #{tu.uid} #{tu.screen_name} #{request.device_type} #{request.browser}"
  end
%>
<div class="menu-items media">
  <div class="media-body">
    <h4 class="h5 media-heading"><%= title_for(name, tu.screen_name) %><div class="tooltip-container"><abbr title="<%= description_for(name, tu.screen_name) %>" rel="tooltip">i</abbr></div></h4>
    <% if users.any? %>
      <%= render(partial: 'search_results/show/icon', collection: users, cached: true, locals: {rendered_users: rendered_users}) %>
    <% else %>
      <div class="text-muted"><%= t('dictionary.under_calculation_with_details') %></div>
    <% end %>
  </div>
  <% if users.any? && graph %>
    <div class="media-right">
      <div id="<%= graph.object_id %>" class="common-chart"></div>
      <script>
        $(function () {
          var graph_option = $.extend(true, {}, window.common_pie_chart_options);
          graph_option.series[0].data = <%= raw graph.to_json %>;
          window.lazycall_functions['#<%= graph.object_id %>'] = function () {
            $('#<%= graph.object_id %>').highcharts(graph_option);
          };
        });
      </script>
    </div>
  <% end %>
  <div>
    <% if users.any? %>
      <%= link_to(t('dictionary.view_more_with_num_html', num: uids.size), search_path_for(name, tu.screen_name), class: 'btn btn-info btn-block') %>
    <% else %>
      <%= link_to(t('dictionary.under_calculation'), '#', class: 'btn btn-info btn-block disabled') %>
    <% end %>
  </div>
</div>
