<% destroy_limit = DeleteFavoritesRequest::DESTROY_LIMIT %>

<% faq_section 'いいねクリーナー 全般' do %>
  <% faq_question 'いいねクリーナーとは何ですか？' do %>
    いいねを一括削除するためのツールです。<%= destroy_limit %>件までのいいねは無料で削除できます。<br>
    <br>
    <%= destroy_limit %>件を超えるいいねは、2週間ほど経過すると削除できるようになります。
  <% end %>

  <% faq_question '試しに少し使ってみることはできますか？' do %>
    できます。<%= destroy_limit %>件までのいいねは無料プランで削除できます。<br>
    <br>
    試してみたい方はページ上部の「○○のいいねを削除する」と書かれた<span class="text-danger">赤いボタン</span>を押してみてください。
  <% end %>

  <% faq_question '日付、画像の有無、リプライ等の条件指定で削除できますか？' do %>
    削除するいいねの「最初の日」と「最後の日」を指定することができます。<br>
    <br>
    画像の有無やリプライ等の条件指定はできません。
  <% end %>

  <% faq_question 'いいね削除に失敗した場合の返金はありますか？' do %>
    いいねの削除は無料です。そのため有料プランは不要です。返金の対象ではありません。
  <% end %>

  <% faq_question '最大で何件までいいねを削除することができますか？' do %>
    一度に削除できるのは <%= destroy_limit %>件までです。これは全世界共通のツイッターの制限です。
  <% end %>

  <% faq_question 'いいね削除は取り消しできますか？' do %>
    取り消しできません。一度削除されたいいねを元に戻すことはできませんのでご注意ください。
  <% end %>

  <% faq_question 'いいねの削除後もいいね総数が変化しないのはなぜですか？' do %>
    ツイッターの仕組み上、いいね削除後もいいね総数が変化しないことがあるようです。<br>
    <br>
    例えば、100件のいいねがあるユーザーが全てのいいねを削除しても、いいね数は100件と表示されたままになることがあります。
  <% end %>

  <% faq_question '削除されたいいねが表示され続けるのはなぜですか？' do %>
    ツイッターの仕組み上、削除済みのいいねがしばらく表示され続けることがあります。<br>
    <br>
    ページを更新したり、ツイッターにログインし直すと削除済みのいいねは画面から消えます。
  <% end %>

  <% faq_question '古いいいねが削除されないのはなぜですか？' do %>
    ツイッターの仕組み上、自動で削除できるのは<%= destroy_limit %>件までです。これは世界中の全てのツールで共通の制限です。<br>
    <br>
    それ以上多くのツイートは、2週間ほど経過すると削除できるようです。
  <% end %>

  <% faq_question '1回で全てのいいねが削除されないことがあるのはなぜですか？' do %>
    ツイッターの仕組み上、自動で削除できるのは<%= destroy_limit %>件までです。これは世界中の全てのツールで共通の制限です。<br>
    <br>
    それ以上多くのツイートは、2週間ほど経過すると削除できるようです。
  <% end %>

  <% faq_question 'いいねクリーナーを複数回使えば無料で全て削除できますか？' do %>
    できます。2週間ほど待ってからまたいいねクリーナーを使うことを繰り返してください。
  <% end %>

  <% faq_question 'ここに書いていないことを質問することはできますか？' do %>
    サポートアカウント <a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までお気軽にご質問ください。
  <% end %>
<% end %>

<% @faq_sections.each do |section, questions| %>
  <h3 class="h5 my-5"><%= section %></h3>
  <ol>
    <% questions.each do |question| %>
      <li class="text-muted mb-2"><%= link_to question[:text], "##{question[:id]}", class: 'text-primary' %></li>
    <% end %>
  </ol>
  <hr>
<% end %>

<% @faq_sections.each do |section, questions| %>
  <h3 class="h5 my-5"><%= section %></h3>
  <% questions.each do |question| %>
    <%= render partial: 'misc/q', locals: {id: question[:id], text: question[:text]} %>
    <div class="mb-5"><%= question[:answer] %></div>
  <% end %>
<% end %>
