- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name
- title @page_title
- set_meta_tags description: @meta_description

= render partial: 'twitter/profile', locals: {user: @twitter_user}
.vertical-spacing

%h2.h2.page-title= @content_title
.vertical-spacing
.vertical-spacing

.page-description.text-center= raw @page_description
.vertical-spacing

= render partial: 'shared/sort_and_filter'

.main-content.twitter.users.row

#bottom-reached.text-center
  = image_tag '/ajax-loader.gif'

:javascript
  $(function () {
    var signedIn = #{user_signed_in?};

    if (signedIn) {
      var url = '#{@api_path}';
      var uid = '#{@twitter_user.uid}';
      var sortOrder = $('.sort-order-dropdown').data('sort-order');
      var filter = $('.filter-dropdown').data('filter');
      var params = {limit: 100, maxLimit: 100, sortOrder: sortOrder, filter: filter, gridClass: 'col-xs-12 col-sm-6', insertAd: false};
      var task = new Twitter.FetchTask(url, uid, params);

      $('#bottom-reached').lazyload()
          .on('appear', function () {
            var $elem = $(this);
            console.log('appear', $elem.attr('id'));

            $('#bottom-reached').find('img').show();
            task.fetch(function (event) {
              if (event.completed) {
                $elem.off('appear').remove();
              } else if (event.loaded) {
                $elem.find('img').hide();
              }
            });
          });

      Twitter.enableSortButton($('.sort-order-buttons'), function (options) {task.reset(options)});
      Twitter.enableFilterButton($('.filter-buttons'), function (options) {task.reset(options)});

    } else {
      var signInFromSortUrl = '#{sign_in_path(via: build_via('sort_btn'))}';
      var signInFromFilterUrl = '#{sign_in_path(via: build_via('filter_btn'))}';
      $('.sort-orders').attr('href', signInFromSortUrl);
      $('.filters').attr('href', signInFromFilterUrl);
    }

    Twitter.enableFollowButton('.twitter.users');
    Twitter.enableUnfollowButton('.twitter.users');

    new Welcome.ShareDialog().show(true);
  });
