- title @title
- set_meta_tags description: t('friends.new.description')

%h3.h4.friends.text-center= t('friends.new.lead_001')
.friends.lead.text-center= t('friends.new.lead_002').html_safe
.friends.lead.text-center= t('friends.new.lead_003').html_safe

= render partial: 'common/search_form', locals: {via: "#{controller_name}/#{action_name}/top_input"}
= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

- if user_signed_in?
  = render partial: 'common/search_button', locals: {screen_name: current_user.screen_name, via: "#{controller_name}/#{action_name}/top_button"}
- else
  = link_to t('login.welcome.sign_in_with_twitter'), welcome_path(redirect_path: friends_top_path, via: "#{controller_name}/#{action_name}/button"), class: 'btn btn-info btn-block'

.row.friends.screenshot
  .col-xs-12.col-sm-6.text-center
    %img{alt: "#{t('searches.common.egotter')}", src: '/screenshot_iphone_332x560.png', height: '160px'}
  .col-xs-12.col-sm-6.text-center
    %img{alt: "#{t('searches.common.egotter')}", src: '/screenshot_laptop_961x560.png', height: '160px'}

.friends.separator

#public-tweets-wrapper
:javascript
  $(function () {
    var url = '#{load_public_tweets_path}';
    new AsyncLoader(url, '#public-tweets-wrapper').load();
  });

.friends.lead.in-top-page.text-center= t('friends.new.lead_004').html_safe