- title @title
- set_meta_tags description: t('friends.new.description')

%h3.h4.friends.text-center= t('friends.new.lead_001')
.friends.lead.text-center= t('friends.new.lead_002').html_safe
.friends.lead.text-center= t('friends.new.lead_003').html_safe

= render partial: 'common/search_form', locals: {via: current_via('top_input')}
= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

- if user_signed_in?
  = render partial: 'common/search_button', locals: {screen_name: current_user.screen_name, via: current_via('top_button')}
- else
  = sign_in_with_twitter_link(friends_top_path, 'button', class: 'btn btn-info btn-block')

.row.friends.screenshot
  .col-sm-6.text-center
    %img{alt: "#{t('searches.common.egotter')}", src: '/screenshot_iphone_332x560.png', height: '160px'}
  .col-sm-6.text-center
    %img{alt: "#{t('searches.common.egotter')}", src: '/screenshot_laptop_961x560.png', height: '160px'}

.friends.separator

#public-tweets-wrapper.twitter.tweets.center-block
:javascript
  $(function () {
    Home.setPublicTweets('#{load_public_tweets_path}', '#public-tweets-wrapper');
  });

.friends.lead.in-top-page.text-center= t('friends.new.lead_004').html_safe