<% title @title %>
<% set_meta_tags description: "#{@title} - #{@twitter_user.description}" %>

<% breadcrumb :update_history, @twitter_user.screen_name %>

<%= render partial: 'twitter/profile', locals: {user: @twitter_user} %>

<div class="update-histories">
  <h2 class="h4"><%= @title %></h2>

  <div class="return-to-results-top"><%= link_to(t('searches.common.return', user: @twitter_user.mention_name), timeline_path(@twitter_user)) %></div>

  <%= render(partial: 'adsense/side_by_side', locals: {vertical: :top}) %>

  <div class="summary">
    <div><%= '初回更新' %>&nbsp;<%= l(UpdateHistoriesDecorator.new(@update_histories).created_at, format: :short) %></div>
    <div><%= '最終更新' %>&nbsp;<%= l(UpdateHistoriesDecorator.new(@update_histories).updated_at, format: :short) %></div>
    <div><%= '更新回数' %>&nbsp;<%= @update_histories.size %></div>
  </div>

  <div class="twitter users row">
    <%= render partial: 'twitter/user', collection: @update_histories.to_a, cached: true, locals: {grid_class: 'col-xs-12', ad: false} %>
  </div>

  <%= render(partial: 'adsense/side_by_side', locals: {vertical: :bottom}) %>

  <div class="return-to-results-bottom"><%= link_to(t('searches.common.return', user: @twitter_user.mention_name), timeline_path(@twitter_user)) %></div>
</div>
