<% title @title %>
<% set_meta_tags description: "#{@title} - #{@twitter_user.description}" %>

<% breadcrumb :update_history, @twitter_user.screen_name %>

<%= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid}) %>

<div class="update-histories">
  <h2 class="h4"><%= @title %></h2>

  <div class="return-to-results-top"><%= link_to(t('searches.common.return', user: @twitter_user.mention_name), timeline_path(@twitter_user)) %></div>

  <%= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top}) %>

  <div class="summary">
    <div><%= '初回更新' %>&nbsp;<%= l(@update_histories.created_at.in_time_zone('Tokyo'), format: :short) %></div>
    <div><%= '最終更新' %>&nbsp;<%= l(@update_histories.updated_at.in_time_zone('Tokyo'), format: :short) %></div>
    <div><%= TwitterUser.human_attribute_name(:search_count) %>&nbsp;<%= @update_histories.search_count %></div>
    <div><%= '更新回数' %>&nbsp;<%= @update_histories.size %></div>
  </div>

  <div class="twitter users row">
    <%= render partial: 'twitter/user', collection: @update_histories.to_a, cached: true, locals: {ad: false} %>
  </div>

  <%= render(partial: 'common/adsense', locals: {action: action_name, vertical: :bottom}) %>

  <div class="return-to-results-bottom"><%= link_to(t('searches.common.return', user: @twitter_user.mention_name), timeline_path(@twitter_user)) %></div>
</div>
