%h2.h4.text-center.my-5= UsageStat.human_attribute_name(:friends_stat)

.text-center
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = stat[:friends_count]
    .small= UsageStat.human_attribute_name(:friends_count)
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = stat[:one_sided_friends_count]
    .small= UsageStat.human_attribute_name(:one_sided_friends_count)
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = number_to_percentage(stat[:one_sided_friends_rate] * 100, precision: 1)
    .small= UsageStat.human_attribute_name(:one_sided_friends_rate)
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = stat[:followers_count]
    .small= UsageStat.human_attribute_name(:followers_count)
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = stat[:one_sided_followers_count]
    .small= UsageStat.human_attribute_name(:one_sided_followers_count)
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = number_to_percentage(stat[:one_sided_followers_rate] * 100, precision: 1)
    .small= UsageStat.human_attribute_name(:one_sided_followers_rate)
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = stat[:mutual_friends_count]
    .small= UsageStat.human_attribute_name(:mutual_friends_count)
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = number_to_percentage(stat[:follow_back_rate] * 100, precision: 1)
    .small= UsageStat.human_attribute_name(:follow_back_rate)
  = button_tag class: 'btn btn-outline-primary btn-lg m-1' do
    = number_to_percentage(stat[:mutual_friends_rate] * 100, precision: 1)
    .small= UsageStat.human_attribute_name(:mutual_friends_rate)

.friends-stat-bar-chart.my-5{style: 'height: 200px;'}

- tweet_text = t('usage_stats.friends_stat.tweet', user: twitter_user.screen_name, one_sided_friends: stat[:one_sided_friends_count], one_sided_followers: stat[:one_sided_followers_count], mutual_friends: stat[:mutual_friends_count], url: url)
= render(partial: 'twitter/tweet_box', locals: {text: tweet_text, twitter_user: twitter_user})

:javascript
  (function () {
    var i18n = {
      yes: '#{t(".chart_categories.existence")}',
      no: '#{t(".chart_categories.nonexistence")}',
      friends: '#{t(".chart_categories.friends")}',
      followers: '#{t(".chart_categories.followers")}'
    };
    var stat = new UsageStat(i18n);

    var friends = #{raw stat.to_json};
    stat.drawFriendsBarChart($('.friends-stat-bar-chart')[0], friends)
  })();
