%h2.h2.page-title= UsageStat.human_attribute_name(:tweets_stat)

.tweets-stat-wrapper.text-center{style: 'margin-bottom: 30px;'}
  .row
    = button_tag class: 'btn btn-default btn-lg' do
      = stat[:twitter_days]
      %br
      %span.name
        = UsageStat.human_attribute_name(:twitter_days)
    = button_tag class: 'btn btn-default btn-lg' do
      = stat[:statuses_count]
      %br
      %span.name
        = UsageStat.human_attribute_name(:statuses_count)
    = button_tag class: 'btn btn-default btn-lg' do
      = stat[:statuses_per_day_count].round(1)
      %br
      %span.name
        = UsageStat.human_attribute_name(:statuses_per_day_count)
    = button_tag class: 'btn btn-default btn-lg' do
      = "#{stat[:most_active_hour]}#{t('datetime.prompts.hour')}"
      %br
      %span.name
        = UsageStat.human_attribute_name(:most_active_hour)
    = button_tag class: 'btn btn-default btn-lg' do
      = "#{stat[:most_active_wday]}#{t('usage_stats.tweets_stat.wday_suffix')}"
      %br
      %span.name
        = UsageStat.human_attribute_name(:most_active_wday)
    = button_tag class: 'btn btn-default btn-lg' do
      = "#{stat[:tweets_interval]}#{t('datetime.prompts.minute')}"
      %br
      %span.name
        = UsageStat.human_attribute_name(:tweets_interval)

%h2.h2.page-title= UsageStat.human_attribute_name(:tweets_per_wday)
.wday-chart{style: 'margin-bottom: 30px;'}

%h2.h2.page-title= UsageStat.human_attribute_name(:tweets_per_hour)
.hour-chart{style: 'margin-bottom: 30px;'}

.tweet-box-wrapper{style: 'margin-bottom: 15px;'}
  - tweet_text = t('usage_stats.tweets_stat.most_active', user: twitter_user.mention_name, wday: stat[:most_active_wday], hour: stat[:most_active_hour], url: url)
  = render(partial: 'twitter/tweet_box', locals: {text: tweet_text})

%h2.h2.page-title= UsageStat.human_attribute_name(:tweets_breakdown)
.breakdown-chart{style: 'height: 220px; margin-bottom: 30px;'}

.tweet-box-wrapper{style: 'margin-bottom: 15px;'}
  - tweet_text = t('usage_stats.tweets_stat.breakdown', {user: twitter_user.mention_name, url: url}.merge(stat[:breakdown].map { |k, v| [k, (v * 100).round(1)] }.to_h))
  = render(partial: 'twitter/tweet_box', locals: {text: tweet_text})

.search_form-wrapper{style: 'margin-bottom: 15px;'}
  = render partial: 'common/search_form', locals: {via: "#{controller_name}/#{action_name}/tweets_stat"}

= render(partial: 'common/adsense', locals: {action: action_name, vertical: :middle})

:javascript
  (function () {
    var wdayStat = $.extend(true, {}, window.usage_stats_column_chart_options);
    wdayStat.series[0].data = #{stat[:wday].to_json.html_safe};
    wdayStat.drilldown.series = #{stat[:wday_drilldown].to_json.html_safe};
    $(function () { $('.wday-chart').highcharts(wdayStat);});

    var hourStat = $.extend(true, {}, window.usage_stats_column_chart_options);
    hourStat.series[0].data = #{stat[:hour].to_json.html_safe};
    hourStat.drilldown.series = #{stat[:hour_drilldown].to_json.html_safe};
    $(function () { $('.hour-chart').highcharts(hourStat);});

    var breakdownStat = #{stat[:breakdown].to_json.html_safe};
    var barChart = $.extend(true, {}, window.usage_stats_tweets_stat_options);
    barChart.xAxis.categories = [
      '#{UsageStat.human_attribute_name(:mentions_count)}',
      '#{UsageStat.human_attribute_name(:media_count)}',
      '#{UsageStat.human_attribute_name(:links_count)}',
      '#{UsageStat.human_attribute_name(:hashtags_count)}',
      '#{UsageStat.human_attribute_name(:locations_count)}'
    ];
    barChart.series = [{
      name: '#{t("usage_stats.tweets_stat.nonexistence")}',
      data: [
        100.0 - breakdownStat.mentions * 100,
        100.0 - breakdownStat.media * 100,
        100.0 - breakdownStat.urls * 100,
        100.0 - breakdownStat.hashtags * 100,
        100.0 - breakdownStat.location * 100
      ]
    }, {
      name: '#{t("usage_stats.tweets_stat.existence")}',
      data: [
        breakdownStat.mentions * 100,
        breakdownStat.media * 100,
        breakdownStat.urls * 100,
        breakdownStat.hashtags * 100,
        breakdownStat.location * 100
      ]
    }];

    $(function () {
      $('.breakdown-chart').highcharts(barChart);
    });
  })();

