- content_for :canonical_url do
  %link{href: usage_stat_url(@twitter_user), rel: 'canonical'}

- content_for :navbar_title, t(".navbar_title")

- breadcrumb :usage_stat, @twitter_user.screen_name

- title @page_title
- set_meta_tags description: t('.meta_description', user: @twitter_user.screen_name), title: t('.meta_title', user: @twitter_user.screen_name)

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h4.text-center.my-5= @page_title

.mb-5= t('.page_description', user: @twitter_user.screen_name)

%h3.h5.text-center= t('.usage_time_by_day_title')
.usage-time-chart.my-3{style: 'height: 180px;'}
= render(partial: 'twitter/tweet_box', locals: {text: usage_time_text(@usage_time, @twitter_user), twitter_user: @twitter_user})

= render(partial: 'adsense/ad', locals: {vertical: :top})

- if @stat.hashtags.any?
  %h3.h5.text-center= t('.hashtags_title')
  .hashtags-chart.my-3{style: 'height: 180px;'}

  %h3.h5.text-center= t('.hashtags_cloud_title')
  .cloud-chart.my-3{style: 'height: 220px;'}

  - text = t('.hashtags_tweet_text', user: @twitter_user.screen_name, hashtags: @stat.hashtags.to_h.keys.take(5).join(' '), url: usage_stat_url(@twitter_user))
  = render(partial: 'twitter/tweet_box', locals: {text: text, twitter_user: @twitter_user})

:javascript
  $(function () {
    var usageTime = #{@usage_time.to_json.html_safe};
    var hashtags = #{@stat.hashtags.to_a.take(10).map { |word, count| {name: word, y: count} }.to_json.html_safe};
    var cloud = #{@stat.hashtags.to_a.map.with_index { |(word, count), i| {text: word, size: count, group: i % 3} }.to_json.html_safe};

    var stat = new UsageStat();

    if (usageTime) {
      console.log('usageTime', usageTime);
      stat.drawColumnChart($('.usage-time-chart')[0], usageTime, null);
    }

    if (hashtags && hashtags.length >= 1) {
      console.log('hashtags', hashtags);
      stat.drawColumnChart($('.hashtags-chart')[0], hashtags, null);
    }

    if (cloud) {
      console.log('cloud', cloud);
      // TODO Decrease load
      // new WordCloud('.cloud-chart', cloud, $('cloud-chart').width(), 220);
    }
  });

= render partial: 'usage_stats/tweets_stat', locals: {stat: @stat.tweets_stat, twitter_user: @twitter_user, url: usage_stat_url(@twitter_user)}
= render partial: 'usage_stats/friends_stat', locals: {stat: @stat.friends_stat, twitter_user: @twitter_user, url: usage_stat_url(@twitter_user)}
