- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name

- title @page_title
- set_meta_tags description: @meta_description, title: @meta_title

= render partial: 'common/background_update_usage_stat', locals: {twitter_user: @twitter_user, stat: @stat, jid: @jid}

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h2.page-title= @page_title

.page-description.text-center= t('.page_description', user: @twitter_user.mention_name)

%h3.h5 曜日ごとのツイッター利用時間 (分)
.usage-time-chart
= render(partial: 'twitter/tweet_box', locals: {text: @tweet_text})

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

%h3.h5 よく使うハッシュタグ
.hashtags-chart

%h3.h5 ハッシュタグクラウド (クリックできます)
.cloud-chart{style: 'height: 220px;'}

.tweet-box-wrapper
  = render(partial: 'twitter/tweet_box', locals: {text: t('searches.usage_stats.usage_hashtags', user: @twitter_user.mention_name, hashtags: @stat.hashtags.to_h.keys.take(5).join(' '), url: usage_stat_url(@twitter_user))})
.vertical-spacing

:javascript
  $(function () {
    var usageTime = #{@stat.usage_time.to_json.html_safe};
    var hashtags = #{@stat.hashtags.to_a.take(10).map { |word, count| {name: word, y: count} }.to_json.html_safe};
    var cloud = #{@stat.hashtags.to_a.map.with_index { |(word, count), i| {text: word, size: count, group: i % 3} }.to_json.html_safe};

    if (usageTime) {
      console.log('usageTime', usageTime);
      var chart = $.extend(true, {}, window.usage_stats_column_chart_options);
      chart.series[0].data = usageTime;
      $('.usage-time-chart').highcharts(chart);
    }

    if (hashtags) {
      console.log('hashtags', hashtags);
      var chart = $.extend(true, {}, window.usage_stats_column_chart_options);
      chart.series[0].data = hashtags;
      $('.hashtags-chart').highcharts(chart);
    }

    if (cloud) {
      console.log('cloud', cloud);
      // TODO Decrease load
      // wordCloud('.cloud-chart', cloud, $('cloud-chart').width(), 220);
    }
  });

.gray-separator

- if @stat && @stat.persisted?
  = render partial: 'usage_stats/tweets_stat', locals: {stat: @stat.tweets_stat, twitter_user: @twitter_user, url: @canonical_url}
  .gray-separator
  = render partial: 'usage_stats/friends_stat', locals: {stat: @stat.friends_stat, twitter_user: @twitter_user, url: @canonical_url}
  .gray-separator

= render partial: 'common/share_more', locals: {text: t('common.show.let_me_know_html', user: @twitter_user.mention_name, current: t('.title'))}

.gray-separator

= render partial: 'common/search_more', locals: {twitter_user: @twitter_user, text: t('common.show.plese_use_egotter', current: t('.title'))}

.gray-separator

= render partial: 'common/related_pages', locals: {twitter_user: @twitter_user}