- content_for :canonical_url do
  %link{href: one_sided_friend_url(screen_name: @twitter_user.screen_name, type: @type), rel: 'canonical'}

- breadcrumb :one_sided_friend, @twitter_user.screen_name

- page_title = t('one_sided_friends.show.title', user: @twitter_user.mention_name, one_sided_friends: @twitter_user.one_sided_friend_uids.size, one_sided_followers: @twitter_user.one_sided_follower_uids.size, mutual_friends: @twitter_user.mutual_friend_uids.size)
- title page_title
- set_meta_tags description: t('one_sided_friends.show.description', user: @twitter_user.mention_name, one_sided_friends: @twitter_user.one_sided_friend_uids.size, one_sided_followers: @twitter_user.one_sided_follower_uids.size, mutual_friends: @twitter_user.mutual_friend_uids.size)

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

:javascript
  $(function () {
    enableSlickOnPageTop();
  });

%h2.h2.one-sided-friends= page_title

.one-sided-friends.lead.text-center= t('one_sided_friends.show.lead_002', user: @twitter_user.mention_name).html_safe

= render partial: 'common/search_form', locals: {via: 'one_sided_friends/show/top_input'}
= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

- if @twitter_user.too_many_friends?(login_user: current_user)
  = render partial: 'common/show/empty', locals: {twitter_user: @twitter_user, redirect_path: one_sided_friend_path(screen_name: @twitter_user.screen_name)}
- else
  = render partial: 'one_sided_friends/show/present', locals: {twitter_user: @twitter_user, type: @type}