- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name
- title @page_title
- set_meta_tags description: @meta_description

= render partial: 'twitter/profile', locals: {user: @twitter_user}
.vertical-spacing

%h2.h2.page-title= @content_title
.vertical-spacing
.vertical-spacing

.page-description.text-center= @page_description
.vertical-spacing

= render partial: 'gauge', locals: {score: @score}

.tweet-box-wrapper
  = render(partial: 'twitter/tweet_box', locals: {text: strip_tags(@tweet_text), twitter_user: @twitter_user})
.vertical-spacing

- @screen_names.each do |screen_name|
  = render partial: 'common/search_button', locals: {screen_name: screen_name, via: current_via('scores')}

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

.gray-separator

- if show_friends_stat?(@twitter_user)
  = render partial: 'usage_stats/friends_stat', locals: {stat: @twitter_user.usage_stat.friends_stat, twitter_user: @twitter_user, url: @canonical_url}
  .gray-separator
  = render partial: 'usage_stats/tweets_stat', locals: {stat: @twitter_user.usage_stat.tweets_stat, twitter_user: @twitter_user, url: @canonical_url}
  .gray-separator

= render partial: 'common/share_more', locals: {text: t('common.show.let_me_know_html', user: @twitter_user.mention_name, current: t('.title'))}

.gray-separator

= render partial: 'common/search_more', locals: {twitter_user: @twitter_user, text: t('common.show.plese_use_egotter', current: t('.title'))}
