<div class="menu-items media">
  <div class="media-body">
    <h4 class="h5 media-heading">
      <%= t('searches.close_friends.title', user: tu.mention_name) %>
      <div class="tooltip-container"><abbr title="<%= t('searches.close_friends.description', user: tu.mention_name) %>" rel="tooltip">i</abbr></div>
    </h4>
    <%= render(partial: 'close_friends/user', collection: users.take(icon_limit), cached: true, locals: {uids: uids, png: png}) %>
  </div>
  <div class="media-right">
    <div id="<%= graph.object_id %>" class="close-friends-chart"></div>
    <script>
      $(function () {
        var graph_option = $.extend(true, {}, window.common_pie_chart_options);
        graph_option.series[0].data = <%= raw graph.to_json %>;
        window.lazycall_functions['#<%= graph.object_id %>'] = function () {
          $('#<%= graph.object_id %>').highcharts(graph_option)
        };
      });
    </script>
  </div>
  <div>
    <%= link_to(t('dictionary.view_more_with_num', num: users.size).html_safe, close_friends_path(screen_name: tu.screen_name), class: 'btn btn-info btn-block') %>
  </div>
</div>
