.placeholders-wrapper
  - 3.times do
    = render partial: 'timelines/placeholder', locals: {menu_name: '', menu_or_users: 'users'}

.users-wrapper{style: 'margin-bottom: 15px;'}
  .main-content.twitter.users.row

.row.text-center{style: 'margin-bottom: 15px;'}
  .col-xs-6
    = link_to t('dictionary.see_more'), '#', data: {max_sequence: 0, limit: 3}, style: 'display: none;', onclick: 'return false;', class: 'see-more-btn btn btn-default btn-lg'
  .col-xs-6
    = link_to t('dictionary.see_at_once_more'), send("all_#{controller_name}_path", twitter_user), style: 'display: none;', class: 'see-at-once-btn btn btn-info btn-lg'

:javascript
  $(function () {
    var uid = '#{twitter_user.uid}';
    var url = '#{api_path}';
    var $seeMoreBtn = $('.see-more-btn');
    var $seeAtOnceBtn = $('.see-at-once-btn');
    var $placeholders = $('.placeholders-wrapper');
    var $usersContainer = $('.main-content.twitter.users');

    $seeMoreBtn.on('click', function (e) {
      var max_sequence = $(this).data('max-sequence');
      var limit = $(this).data('limit');
      $.getJSON(url, {uid: uid, html: 1, limit: limit, max_sequence: max_sequence}).done(function (res) {
        console.log(res);

        $seeMoreBtn.show();
        $seeAtOnceBtn.show();
        if (res.max_sequence && res.max_sequence >= 0) {
          $seeMoreBtn.data('max-sequence', res.max_sequence + 1);
          $seeMoreBtn.data('limit', 10);
        } else {
          $seeMoreBtn.remove();
          $seeAtOnceBtn.remove();
        }
        $placeholders.remove();
        $usersContainer.append(res.users);
      });
    });

    $seeMoreBtn.trigger('click');
  });

