= render partial: 'shared/sort_and_filter'

.empty-placeholders-wrapper{style: 'display: none;'}
  = render partial: 'timelines/empty_placeholder', locals: {menu_name: '', menu_or_users: 'users'}

.placeholders-wrapper
  - 3.times do
    = render partial: 'timelines/placeholder', locals: {menu_name: '', menu_or_users: 'users'}

.main-content.twitter.users.row
.vertical-spacing

.row.text-center
  .col-xs-6
    = link_to t('dictionary.see_more'), '#', data: {max_sequence: 0, limit: 3}, style: 'display: none;', class: 'see-more-btn btn btn-default btn-lg'
  .col-xs-6
    = link_to t('dictionary.see_at_once_more'), send("all_#{controller_name}_path", twitter_user), style: 'display: none;', class: 'see-at-once-btn btn btn-info btn-lg'
.vertical-spacing

:javascript
  $(function () {
    var signedIn = #{user_signed_in?};

    if (signedIn) {
      var url = '#{api_path}';
      var uid = '#{twitter_user.uid}';
      var sortOrder = $('.sort-order-dropdown').data('sort-order');
      var filter = $('.filter-dropdown').data('filter');
      var params = {limit: 3, maxLimit: 10, sortOrder: sortOrder, filter: filter, gridClass: 'col-xs-12', insertAd: true};
      var task = new Twitter.FetchTask(url, uid, params);
      task.fetch();

      $('.see-more-btn').on('click', function (e) {
        e.stopPropagation();
        task.fetch();
        return false;
      }).show();

      $('.see-at-once-btn').show();

      Twitter.enableSortButton($('.sort-order-buttons'), function (options) {task.reset(options)});
      Twitter.enableFilterButton($('.filter-buttons'), function (options) {task.reset(options)});

    } else {
      var signInFromSortUrl = '#{sign_in_path(via: build_via('sort_btn'))}';
      var signInFromFilterUrl = '#{sign_in_path(via: build_via('filter_btn'))}';
      $('.sort-orders').attr('href', signInFromSortUrl);
      $('.filters').attr('href', signInFromFilterUrl);
    }

    Twitter.enableFollowButton('.twitter.users');
    Twitter.enableUnfollowButton('.twitter.users');
  });

