= render(partial: 'common/page_top', locals: {canonical_url: @canonical_url, breadcrumb_name: @breadcrumb_name, twitter_user: @twitter_user, page_title: @page_title, meta_description: @meta_description, page_description: @page_description})

= render(partial: 'close_friends/friend_map', locals: {twitter_user: @twitter_user})

.tweet-box-wrapper{style: 'margin-bottom: 15px;'}
  = render(partial: 'twitter/tweet_box', locals: {text: @tweet_text})

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

= render partial: 'common/tabs', locals: {tabs: @tabs, active_tab: @active_tab}

= render partial: 'close_friends/users', locals: {twitter_user: @twitter_user, api_path: @api_path}

.gray-separator

- if show_friends_stat?(@twitter_user)
  = render partial: 'usage_stats/friends_stat', locals: {stat: @twitter_user.usage_stat.friends_stat, twitter_user: @twitter_user, url: @canonical_url}
  .gray-separator
  = render partial: 'usage_stats/tweets_stat', locals: {stat: @twitter_user.usage_stat.tweets_stat, twitter_user: @twitter_user, url: @canonical_url}
  .gray-separator

= render partial: 'common/share_more', locals: {text: t('common.show.let_me_know_html', user: @twitter_user.mention_name, current: t("#{controller_name}.#{action_name}.title"))}

.gray-separator

= render partial: 'common/search_more', locals: {twitter_user: @twitter_user, text: t('common.show.plese_use_egotter', current: t("#{controller_name}.#{action_name}.title"))}

.gray-separator

= render partial: 'common/related_pages', locals: {twitter_user: @twitter_user}