- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name

- title @page_title
- set_meta_tags description: @meta_description

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h2.page-title= @page_title

.page-description.text-center= t('.page_description', user: @twitter_user.mention_name)

= render(partial: 'friend_map', locals: {twitter_user: @twitter_user, user_items: @user_items})

.tweet-box-wrapper{style: 'margin-bottom: 15px;'}
  = render(partial: 'twitter/tweet_box', locals: {text: @tweet_text})

= render partial: 'common/search_form', locals: {via: "#{controller_name}/#{action_name}/top_input"}
= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

.placeholders-wrapper
  - 3.times do
    = render partial: 'timelines/placeholder', locals: {menu_name: ''}

.users-wrapper{style: 'margin-bottom: 15px;'}
  .twitter.users

.see-more-btn-wrapper{class: 'text-center', style: 'margin-bottom: 15px;'}
  = link_to t('.see_more'), '#', data: {max_sequence: 0}, style: 'display: none;', onclick: 'return false;', class: 'see-more-btn btn btn-default btn-lg'

.gray-separator

.let-me-know-wrapper{style: 'margin-bottom: 15px;'}
  .let-me-know= t('.let_me_know_html', user: @twitter_user.mention_name)
  = render partial: 'layouts/share'

.gray-separator

= render partial: 'common/adsense', locals: {action: action_name, vertical: :bottom}
.please-use-egotter= t('.plese_use_egotter', current: t('.title'))
= link_to t('searches.common.search_xxx_by_egotter', user: @twitter_user.mention_name), searches_path(screen_name: @twitter_user.screen_name, via: "#{controller_name}/#{action_name}/bottom_button"), class: 'btn btn-info btn-block', style: 'margin-top: 15px; margin-bottom: 15px;', method: :post

.gray-separator

= render partial: 'common/related_pages', locals: {twitter_user: @twitter_user}

:javascript
  $(function () {
    var uid = '#{@twitter_user.uid}';
    var url = '#{@api_path}';
    var $btn = $('.see-more-btn');
    var $placeholders = $('.placeholders-wrapper');
    var $usersContainer = $('.twitter.users');


    $btn.on('click', function (e) {
      var max_sequence = $(this).data('max-sequence');
      $.getJSON(url, {uid: uid, html: 1, max_sequence: max_sequence}).done(function (res) {
        console.log(res);

        $btn.show();
        if (res.max_sequence && res.max_sequence >= 0) {
          $btn.data('max-sequence', res.max_sequence + 1);
        } else {
          $btn.remove();
        }
        $placeholders.remove();
        $usersContainer.append(res.users);
      });
    });

    $btn.trigger('click');
  });

