- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name

- title @page_title
- set_meta_tags description: @meta_description

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h2.page-title= @page_title

.page-description.text-center= t('.page_description', user: @twitter_user.mention_name)

= render(partial: 'friend_map', locals: {twitter_user: @twitter_user, user_items: @user_items})

.tweet-box-wrapper{style: 'margin-bottom: 15px;'}
  = render(partial: 'twitter/tweet_box', locals: {text: @tweet_text})

= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

= render partial: 'users', locals: {twitter_user: @twitter_user, api_path: @api_path}

.gray-separator

= render partial: 'usage_stats/friends_stat', locals: {stat: @stat.friends_stat, twitter_user: @twitter_user, url: @canonical_url}
.search_form-wrapper{style: 'margin-bottom: 15px;'}
  = render partial: 'common/search_form', locals: {via: "#{controller_name}/#{action_name}/friends_stat"}

.gray-separator

= render partial: 'usage_stats/tweets_stat', locals: {stat: @stat.tweets_stat, twitter_user: @twitter_user, url: @canonical_url}
.search_form-wrapper{style: 'margin-bottom: 15px;'}
  = render partial: 'common/search_form', locals: {via: "#{controller_name}/#{action_name}/tweets_stat"}

= render(partial: 'common/adsense', locals: {action: action_name, vertical: :middle})

.gray-separator

.let-me-know-wrapper{style: 'margin-bottom: 15px;'}
  .let-me-know= t('.let_me_know_html', user: @twitter_user.mention_name)
  = render partial: 'layouts/share'

.gray-separator

= render partial: 'common/adsense', locals: {action: action_name, vertical: :bottom}
.please-use-egotter= t('.plese_use_egotter', current: t('.title'))
= link_to t('searches.common.search_xxx_by_egotter', user: @twitter_user.mention_name), searches_path(screen_name: @twitter_user.screen_name, via: "#{controller_name}/#{action_name}/bottom_button"), class: 'btn btn-info btn-block', style: 'margin-top: 15px; margin-bottom: 15px;', method: :post

.gray-separator

= render partial: 'common/related_pages', locals: {twitter_user: @twitter_user}