<%= form_tag relationships_path, method: :post do %>
  <div class="row">
    <div class="col-xs-6" style="padding-right: 2.5px;">
      <label for="src_screen_name" class="sr-only"><%= t('searches.common.twitter_id') %></label>
      <div class="input-group">
        <div class="input-group-addon" style="padding: 0 2px;">@</div>
        <input type="hidden" name="via" value="<%= via %>">
        <input type="search"
               name="src_screen_name"
               class="form-control"
               placeholder="<%= t('searches.common.search_first') %>"
               pattern="^[0-9A-Za-z_]{1,20}$"
               inputmode="verbatim"
               title="<%= t('before_sign_in.invalid_input', count1: 1, count2: 20) %>"
               required autofocus>
      </div>
    </div>
    <div class="col-xs-6" style="padding-left: 2.5px;">
      <label for="dst_screen_name" class="sr-only"><%= t('searches.common.twitter_id') %></label>
      <div class="input-group">
        <div class="input-group-addon" style="padding: 0 2px;">@</div>
        <input type="hidden" name="via" value="<%= via %>">
        <input type="search"
               name="dst_screen_name"
               class="form-control"
               placeholder="<%= t('searches.common.search_second') %>"
               pattern="^[0-9A-Za-z_]{1,20}$"
               inputmode="verbatim"
               title="<%= t('before_sign_in.invalid_input', count1: 1, count2: 20) %>"
               required>
      </div>
    </div>
  </div>

  <div class="text-right" style="margin-top: 5px;">
    <button class="btn btn-primary" type="submit"><%= t('searches.common.search') %></button>
  </div>
<% end %>