<%= render partial: 'clock', locals: {now: now, date_start: date_start, date_end: date_end} %>
<%= render partial: 'time_zone' %>
<%= render partial: 'duration' %>

<div><%= link_to('KPIs', root_path) %></div>

<div class="row">
  <div class="col-xs-12">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif') %>
    <div class="kpis dau"></div>
  </div>

  <div class="hidden col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis dau_per_action"></div>
  </div>
  <div class="hidden col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis daily_pv_per_action"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis dau_by_new_action"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis daily_pv_by_new_action"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis dau_per_device_type"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis daily_pv_per_device_type"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis dau_per_referer"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis daily_pv_per_referer"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis dau_per_channel"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis daily_pv_per_channel"></div>
  </div>
</div>

<div><%= link_to('KPIs', root_path) %></div>

<script>
  function failed(xhr) {
    console.log(xhr.responseText);
  }

  function params(type) {
    return {
      type: type,
      time_zone: $('input[name=time_zone]:checked').val(),
      duration: $('input[name=duration]:checked').val()
    }
  }

  function fetch(url) {
    var types = [
      'dau',
      'dau_by_new_action',
      'daily_pv_by_new_action',
      'dau_per_device_type',
      'daily_pv_per_device_type',
      'dau_per_referer',
      'daily_pv_per_referer',
      'dau_per_channel',
      'daily_pv_per_channel'
    ];
    $.each(types, function (i, elem) {
      $.get(url, params(elem)).done(draw).fail(failed);
    });
  }

  function fetch_stacked(url) {
    var types = [
//      'dau_per_action',
//      'daily_pv_per_action'
    ];
    $.each(types, function (i, elem) {
      $.get(url, params(elem)).done(draw_stacked).fail(failed);
    });
  }

  function setup(res, config) {
    var conf = $.extend(true, {}, config);
    conf.title.text = res.type;
    conf.series = res[res.type];
    $('.' + res.type).prev().hide();
    $('.' + res.type).empty().highcharts(conf);
  }

  function draw(res) {
    setup(res, window.kpis.config);
    $('.date_start').text(res.date_start);
    $('.date_end').text(res.date_end);
    $('.now').text(res.now);
  }

  function draw_stacked(res) {
    setup(res, window.kpis.config_stacked);
    $('.date_start').text(res.date_start);
    $('.date_end').text(res.date_end);
    $('.now').text(res.now);
  }

  function reload() {
    $('.loading').show();
    $('.kpis').empty();
    fetch("<%= dau_path %>");
    fetch_stacked("<%= dau_path %>");
  }

  $('input[name=time_zone]:radio').on('change', reload);
  $('input[name=duration]:radio').on('change', reload);

  $(function () {
    reload();
  });
</script>
