<%= render partial: 'clock', locals: {date_start: @date_start, date_end: @date_end} %>

<div><%= link_to('KPIs', root_path) %></div>

<div class="row">
  <div class="kpis dau                 col-xs-12"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis dau_per_action      col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis pv_per_action       col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis dau_by_new_action   col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis pv_by_new_action    col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis dau_per_device_type col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis pv_per_device_type  col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis dau_per_referer     col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis pv_per_referer      col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
</div>

<div><%= link_to('KPIs', root_path) %></div>

<script>
  function fetch_dau(url){
    var types = [
      'dau',
      'dau_by_new_action',
      'pv_by_new_action',
      'dau_per_device_type',
      'pv_per_device_type',
      'dau_per_referer',
      'pv_per_referer'
    ];
    $.each(types, function (i, elem) {
      $.get(url, {type: elem}).done(function(res){
        draw_dau(res[elem], elem, '.' + elem);
      }).fail(function (xhr) {
        console.log(xhr.responseText)
      });
    });

    types = [
      'dau_per_action',
      'pv_per_action'
    ];
    $.each(types, function (i, elem) {
      $.get(url, {type: elem}).done(function(res){
        draw_dau_stacked(res[elem], elem, '.' + elem);
      }).fail(function (xhr) {
        console.log(xhr.responseText)
      });
    });
  }

  function draw_dau(series, title, selector){
    var conf = $.extend(true, {}, window.kpis.config);
    conf.title.text = title;
    conf.series = series;
    $(selector).empty().highcharts(conf);
  }

  function draw_dau_stacked(series, title, selector){
    var conf = $.extend(true, {}, window.kpis.config_stacked);
    conf.title.text = title;
    conf.series = series;
    $(selector).empty().highcharts(conf);
  }

  $(function () {
    fetch_dau("<%= dau_path %>");
  });
</script>
