<%= render partial: 'clock', locals: {date_start: @date_start, date_end: @date_end} %>

<div class="kpis dau"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('DAU', dau_path) %></div>
<div><%= link_to('MAU', mau_path) %></div>

<div class="kpis daily_search_num"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('Search num', daily_search_num_path) %></div>

<div class="kpis daily_new_user"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('New user', daily_new_user_path) %></div>

<div class="kpis daily_sign_in"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('Sign in', daily_sign_in_path) %></div>

<br>
<div><%= link_to('RR', rr_path) %></div>

<br>
<div><%= link_to('Table', table_path) %></div>

<script>
  function failed(xhr) {
    console.log(xhr.responseText)
  }

  function setup(res, config) {
    var conf = $.extend(true, {}, config);
    conf.title.text = res.type;
    conf.series = res[res.type];
    $('.' + res.type).empty().highcharts(conf);
  }

  function draw(res) {
    setup(res, window.kpis.config);
  }

  function draw_stacked(res) {
    setup(res, window.kpis.config_stacked);
  }

  function fetch(url) {
    $.get(url).done(draw).fail(failed);
  }

  function fetch_stacked(url) {
    $.get(url).done(draw_stacked).fail(failed);
  }

  $(function () {
    fetch("<%= dau_path %>");
    fetch_stacked("<%= daily_search_num_path %>");
    fetch("<%= daily_new_user_path %>");
    fetch("<%= daily_sign_in_path %>");
  });
</script>
