<%= render partial: 'clock', locals: {now: now, date_start: date_start, date_end: date_end} %>

<div class="kpis uu"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('DAU', one_path) %></div>

<div class="kpis search_num"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('Search num', two_path) %></div>

<div class="kpis new_user"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('New user', one_path) %></div>

<div class="kpis sign_in"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('Sign in', one_path) %></div>

<br>
<div><%= link_to('RR', rr_path) %></div>

<br>
<div><%= link_to('Table', table_path) %></div>

<script>
  function failed(xhr) {
    console.log(xhr.responseText);
  }

  function draw(res, config) {
    console.log(res);
    var conf = $.extend(true, {}, config);
    conf.title.text = res.type;
    conf.series = res[res.type];
    $('.' + res.type).empty().highcharts(conf);
  }

  function done(res) {
    draw(res, window.kpis.config);
  }

  function done_stacked(res) {
    draw(res, window.kpis.config_stacked);
  }

  function fetch(url, type) {
    return $.get(url, {type: type}).done(done).fail(failed)
  }

  function fetch_stacked(url, type) {
    return $.get(url, {type: type}).done(done_stacked).fail(failed)
  }

  $(function () {
    fetch("<%= one_path %>", 'uu')
        .then(function(){fetch_stacked("<%= one_path %>", 'search_num')})
        .then(function(){fetch("<%= one_path %>", 'new_user')})
        .then(function(){fetch("<%= one_path %>", 'sign_in')});
  });
</script>
