<%= render partial: 'clock', locals: {now: now, date_start: date_start, date_end: date_end} %>
<%= render partial: 'time_zone' %>
<%= render partial: 'frequency' %>
<%= render partial: 'duration' %>

<div class="kpis uu"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('DAU', one_path, class: 'btn btn-default') %></div>

<div class="kpis search_num"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('Search num', two_path, class: 'btn btn-default') %></div>

<div class="kpis new_user"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('New user', one_path, class: 'btn btn-default') %></div>

<div class="kpis sign_in"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div><%= link_to('Sign in', one_path, class: 'btn btn-default') %></div>

<br>
<div><%= link_to('RR', rr_path, class: 'btn btn-default') %></div>

<br>
<div><%= link_to('Table', table_path, class: 'btn btn-default') %></div>

<script>
  function failed(xhr) {
    console.log(xhr.responseText);
  }

  function params(type) {
    return {
      type: type,
      time_zone: $('input[name=time_zone]:checked').val(),
      frequency: $('input[name=frequency]:checked').val(),
      duration: $('input[name=duration]:checked').val()
    }
  }

  function draw(res, config) {
    var conf = $.extend(true, {}, config);
    conf.title.text = res.type;
    conf.series = res[res.type];
    $('.' + res.type).empty().highcharts(conf);
  }

  function done(res) {
    draw(res, window.kpis.config);
  }

  function done_stacked(res) {
    draw(res, window.kpis.config_stacked);
  }

  function fetch(url, type) {
    return $.get(url, params(type)).done(done).fail(failed)
  }

  function fetch_stacked(url, type) {
    return $.get(url, params(type)).done(done_stacked).fail(failed)
  }

  function reload() {
    $('.kpis').empty();

    var url = "<%= one_path %>";
    fetch(url, 'uu')
        .then(function(){return fetch_stacked(url, 'search_num')})
        .then(function(){return fetch(url, 'new_user')})
        .then(function(){return fetch(url, 'sign_in')});
  }

  $('input[name=time_zone]:radio').on('change', reload);
  $('input[name=frequency]:radio').on('change', reload);
  $('input[name=duration]:radio').on('change', reload);

  $(function () {
    reload();
  });
</script>
