<%= render partial: 'clock', locals: {now: now, date_start: date_start, date_end: date_end} %>

<div><%= link_to('KPIs', root_path) %></div>

<div class="row">
  <div class="kpis mau col-xs-12"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
</div>

<div><%= link_to('KPIs', root_path) %></div>

<script>
  function failed(xhr) {
    console.log(xhr.responseText);
  }

  function fetch(url) {
    var types = [
      'mau'
    ];
    $.each(types, function (i, elem) {
      $.get(url, {type: elem}).done(draw).fail(failed);
    });
  }

  function fetch_stacked(url) {
    var types = [
    ];
    $.each(types, function (i, elem) {
      $.get(url, {type: elem}).done(draw_stacked).fail(failed);
    });
  }

  function setup(res, config) {
    var conf = $.extend(true, {}, config);
    conf.title.text = res.type;
    conf.series = res[res.type];
    $('.' + res.type).empty().highcharts(conf);
  }

  function draw(res) {
    console.log(res);
    setup(res, window.kpis.config);
  }

  function draw_stacked(res) {
    setup(res, window.kpis.config_stacked);
  }

  $(function () {
    fetch("<%= mau_path %>");
    fetch_stacked("<%= mau_path %>");
  });
</script>
