<%= render partial: 'clock', locals: {now: now, date_start: date_start, date_end: date_end} %>
<%= render partial: 'time_zone' %>
<%= render partial: 'frequency' %>
<%= render partial: 'duration' %>

<div><%= link_to('KPIs', root_path) %></div>

<div class="row">
  <div class="col-xs-12">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif') %>
    <div class="kpis uu"></div>
  </div>

  <div class="hidden col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_per_action"></div>
  </div>
  <div class="hidden col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_per_action"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_by_new_action"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_by_new_action"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_per_device_type"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_per_device_type"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_per_referer"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_per_referer"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_per_channel"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_per_channel"></div>
  </div>
</div>

<div><%= link_to('KPIs', root_path) %></div>

<script>
  function failed(xhr) {
    console.log(xhr.responseText);
  }

  function params(type) {
    return {
      type: type,
      time_zone: $('input[name=time_zone]:checked').val(),
      frequency: $('input[name=frequency]:checked').val(),
      duration: $('input[name=duration]:checked').val()
    }
  }

  function fetch(url, type) {
    return $.get(url, params(type)).done(done).fail(failed)
  }

  function fetch_stacked(url, type) {
    return $.get(url, params(type)).done(done_stacked).fail(failed)
  }

  function draw(res, config) {
    console.log(res);
    var conf = $.extend(true, {}, config);
    conf.title.text = res.type;
    conf.series = res[res.type];
    $('.' + res.type).prev().hide();
    $('.' + res.type).empty().highcharts(conf);
  }

  function update_clock(res) {
    $('.date_start').text(res.date_start);
    $('.date_end').text(res.date_end);
    $('.now').text(res.now);
  }

  function done(res) {
    draw(res, window.kpis.config);
    update_clock(res);
  }

  function done_stacked(res) {
    draw(res, window.kpis.config_stacked);
    update_clock(res);
  }

  function reload() {
    $('.loading').show();
    $('.kpis').empty();

    var url = "<%= one_path %>";
    var types = [
      'uu',
      'uu_by_new_action',
      'pv_by_new_action',
      'uu_per_device_type',
      'pv_per_device_type',
      'uu_per_referer',
      'pv_per_referer',
      'uu_per_channel',
      'pv_per_channel'
    ];
    fetch(url, types[0])
        .then(function(){fetch(url, types[1])})
        .then(function(){fetch(url, types[2])})
        .then(function(){fetch(url, types[3])})
        .then(function(){fetch(url, types[4])})
        .then(function(){fetch(url, types[5])})
        .then(function(){fetch(url, types[6])})
        .then(function(){fetch(url, types[7])})
        .then(function(){fetch(url, types[8])});

//    types = [
//      'uu_per_action',
//      'pv_per_action'
//    ];
//    fetch_stacked(url, types[0])
//        .done(function(){fetch_stacked(url, types[1])});
  }

  $('input[name=time_zone]:radio').on('change', reload);
  $('input[name=frequency]:radio').on('change', reload);
  $('input[name=duration]:radio').on('change', reload);

  $(function () {
    reload();
  });
</script>
