<%= render partial: 'clock', locals: {date_start: @date_start, date_end: @date_end} %>

<div class="table-records twitter_users"><%= image_tag '/ajax-loader.gif' %></div>
<div class="table-records twitter_users_uid"><%= image_tag '/ajax-loader.gif' %></div>
<div class="table-records friends"><%= image_tag '/ajax-loader.gif' %></div>
<div class="table-records followers"><%= image_tag '/ajax-loader.gif' %></div>

<script>
  function fetch_table(url){
    $.get(url).done(function(res){
      $.each(['twitter_users', 'friends', 'followers'], function(i, elem){
        draw_table_stacked(res[elem], elem, '.' + elem);
      });
      $.each(['twitter_users_uid'], function(i, elem){
        draw_table(res[elem], elem, '.' + elem);
      });
    }).fail(function (xhr) {
      console.log(xhr.responseText)
    });
  }

  function draw_table(series, title, selector){
    var conf = $.extend(true, {}, window.kpis.config);
    conf.title.text = title;
    conf.series = series;
    $(selector).empty().highcharts(conf);
  }

  function draw_table_stacked(series, title, selector){
    var conf = $.extend(true, {}, window.kpis.config_stacked);
    conf.title.text = title;
    conf.series = series;
    $(selector).empty().highcharts(conf);
  }

  $(function () {
    fetch_table("<%= kpi_admin.table_path %>");
  });
</script>
