<%= render partial: 'clock', locals: {now: now, date_start: date_start, date_end: date_end} %>

<div><%= link_to('KPIs', root_path) %></div>

<div class="row">
  <div class="kpis search_num              col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis search_num_verification col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis search_num_per_action   col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis search_rate_per_action  col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
  <div class="kpis search_num_by_google    col-xs-12 col-sm-6"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
</div>

<div><%= link_to('KPIs', root_path) %></div>

<script>
  function fetch_search_num(url){
    var types = [
      'search_num',
      'search_num_verification',
      'search_num_per_action',
      'search_rate_per_action',
      'search_num_by_google'
    ];
    $.each(types, function (i, elem) {
      $.get(url, {type: elem}).done(function(res){
        draw_search_num_stacked(res[elem], elem, '.' + elem);
      }).fail(function (xhr) {
        console.log(xhr.responseText)
      });
    });
  }

  function draw_search_num(series, title, selector){
    var conf = $.extend(true, {}, window.kpis.config);
    conf.title.text = title;
    conf.series = series;
    $(selector).empty().highcharts(conf);
  }

  function draw_search_num_stacked(series, title, selector){
    var conf = $.extend(true, {}, window.kpis.config_stacked);
    conf.title.text = title;
    conf.series = series;
    $(selector).empty().highcharts(conf);
  }

  $(function () {
    fetch_search_num("<%= search_num_path %>");
  });
</script>
