<%= render partial: 'clock', locals: {now: now, date_start: date_start, date_end: date_end} %>
<%= render partial: 'time_zone' %>
<%= render partial: 'frequency' %>
<%= render partial: 'duration' %>

<div><%= link_to('KPIs', root_path) %></div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_verification"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_action"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_rate_per_action"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_channel"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_rate_per_channel"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_by_google"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis xxx"></div>
  </div>
</div>

<div><%= link_to('KPIs', root_path) %></div>

<script>
  function failed(xhr) {
    console.log(xhr.responseText);
  }

  function params(type, sequence_number) {
    return {
      type: type,
      time_zone: $('input[name=time_zone]:checked').val(),
      frequency: $('input[name=frequency]:checked').val(),
      duration: $('input[name=duration]:checked').val(),
      sequence_number: sequence_number
    }
  }

  function fetch(url, type, stacked) {
    var defer = fetch_one_day(url, type, 0);
    var days_count = $('input[name=duration]:checked').data('num') + 1;
    for (var i = 1; i < days_count; i++) {
      defer = defer.then(function (res) {
        stacked ? done_stacked(res) : done(res);
        return fetch_one_day(url, type, res.next_sequence_number)
      }, failed);
    }
    return defer.promise()
  }

  function fetch_one_day(url, type, sequence_number) {
    return $.get(url, params(type, sequence_number))
  }

  var charts = {};

  function draw(res, config) {
    if (charts[res.type]) {
      var chart = charts[res.type];
      $.each(res[res.type], function (_, new_serie) {
        var found = false;
        $.each(chart.series, function (_, cur_serie) {
          if (new_serie.name == cur_serie.name) {
            cur_serie.addPoint(new_serie.data[0], false);
            found = true;
            return false
          }
        });
        if (!found) {
          chart.addSeries(new_serie, false);
        }
      });
      chart.redraw();
    } else {
      var conf = $.extend(true, {}, config);
      conf.title.text = res.type;
      conf.series = res[res.type];
      conf.chart.renderTo = $('.' + res.type)[0];
      $('.' + res.type).prev().hide();
      charts[res.type] = new Highcharts.Chart(conf);
    }
  }

  function update_clock(res) {
    $('.date_start').text(res.date_start);
    $('.date_end').text(res.date_end);
    $('.now').text(res.now);
  }

  function done(res) {
    draw(res, window.kpis.config);
    update_clock(res);
  }

  function done_stacked(res) {
    draw(res, window.kpis.config_stacked);
    update_clock(res);
  }

  function reload() {
    $('.loading').show();
    $('.kpis').empty();
    charts = {};

    var url = "<%= two_path %>";
    var types = [
      'search_num',
      'search_num_verification',
      'search_num_per_action',
      'search_rate_per_action',
      'search_num_per_channel',
      'search_num_by_google'
    ];
    fetch(url, types[0], true)
        .then(function(){return fetch(url, types[1], true)})
        .then(function(){return fetch(url, types[2], true)})
        .then(function(){return fetch(url, types[3], true)})
        .then(function(){return fetch(url, types[4], true)})
        .then(function(){return fetch(url, types[5], true)});
  }

  $('input[name=time_zone]:radio').on('change', reload);
  $('input[name=frequency]:radio').on('change', reload);
  $('input[name=duration]:radio').on('change', reload);

  $(function () {
    reload();
  });
</script>
