<% title '0 0 0' %>

<div>Total <span id="total-count">0</span></div>
<div>Mobile <span id="mobile-count">0</span></div>
<div>Desktop <span id="desktop-count">0</span></div>

<script>
  function updateView() {
    var url = '<%= raw api_v1_access_stats_path(key: ENV['STATS_API_KEY']) %>';
    $.get(url, function (res) {
      console.log(res);
      $('#total-count').text(res['total']);
      $('#mobile-count').text(res['mobile']);
      $('#desktop-count').text(res['desktop']);
      $('title').text(res['total'] + ' ' + res['mobile'] + ' ' + res['desktop']);
    });
  }

  $(function () {
    updateView();
    setInterval(updateView, 10 * 1000);
  });
</script>

<div class="mt-3"><%= "DirectMessageSentFlag #{@sent_users}" %></div>
<div><%= "DirectMessageReceivedFlag #{@received_users}" %></div>
<div><%= "SendDirectMessageCount #{@sent_messages[:total]} (active #{@sent_messages[:active]} passive #{@sent_messages[:passive]})" %></div>
<div><%= "SendDirectMessageFromEgotterCount #{@sent_messages_from_egotter[:total]} (active #{@sent_messages_from_egotter[:active]} passive #{@sent_messages_from_egotter[:passive]})" %></div>

<div class="mt-3">Base <%= "used=#{@redis[:base]['used_memory_rss_human']} peak=#{@redis[:base]['used_memory_peak_human']} total=#{@redis[:base]['total_system_memory_human']}" %></div>
<div>InMemory <%= "used=#{@redis[:in_memory]['used_memory_rss_human']} peak=#{@redis[:in_memory]['used_memory_peak_human']} total=#{@redis[:in_memory]['total_system_memory_human']}" %></div>
<div>ApiCache <%= "used=#{@redis[:api_cache]['used_memory_rss_human']} peak=#{@redis[:api_cache]['used_memory_peak_human']} total=#{@redis[:api_cache]['total_system_memory_human']}" %></div>

<div class="mt-3">PeriodicReport <%= @periodic_reports %></div>
<div>BlockReport <%= @block_reports %></div>
<div>MuteReport <%= @mute_reports %></div>
<div>SearchReport <%= @search_reports %></div>

<div class="mt-3">user_timeline <%= @user_timeline %></div>
<div>follow! <%= @follow %> (400 per user; 1000 per app)</div>
<div>unfollow <%= @unfollow %> (800 - 900 per day)</div>
<div>PersonalityInsight <%= "#{@personality_insight} (limit #{PersonalityInsight::LIMIT})" %></div>

<div id="day-chart" class="my-5" style="height: 100px;"></div>
<div id="week-chart" class="my-5" style="height: 100px;"></div>
<div id="month-chart" class="my-5" style="height: 100px;"></div>

<script>
  function drawChart(id, data) {
    var series = [{data: data['series'][0], color: '#cccccc'}, {data: data['series'][1], color: '#0000ff'}];
    var config = {
      chart: {
        renderTo: $('#' + id)[0],
        marginLeft: 40,
        marginRight: 40
      },
      title: null,
      series: series,
      xAxis: {
        gridLineWidth: 0.5,
        labels: {
          style: {
            whiteSpace: 'nowrap'
          },
          rotation: 0,
          step: 1,
          formatter: function () {
            if (this.isFirst || this.isLast) {
              // return Highcharts.dateFormat('%H:%M', new Date(this.value));
              return data['categories'][this.pos];
            } else {
              return '';
            }
          }
        },
        tickLength: 0,
        tickAmount: data['categories'].length,
        min: 0,
        max: data['categories'].length - 1
      },
      yAxis: {
        title: {
          text: null
        },
        gridLineWidth: 0
      },
      legend: {enabled: false},
      plotOptions: {
        series: {
          lineWidth: 1,
          marker: {
            enabled: false
          }
        }
      },
      exporting: false,
      credits: false
    }
    Highcharts.chart(config);
  }

  $(function () {
    var chartData = <%= raw @chart_data.to_json %>;
    Object.keys(chartData).forEach(function (period) {
      var data = chartData[period];
      var id = period + '-chart';
      if (data.error) {
        $('#' + id).text(data.error);
      } else {
        drawChart(id, data);
      }
    });
  });
</script>
