<% box_tag_class = "search-histories-#{Random.rand(1000)}" %>

<div class="<%= box_tag_class %>">
  <h2 style="display: none;"><small><%= t('search_histories.index.title') %></small></h2>
</div>
<script>
  $(function () {
    $.get('<%= search_histories_path %>', <%= raw({in_modal: in_modal}.to_json) %>)
        .done(function (res) {
          var container = $('.<%= box_tag_class %>');
          container.find('h2').show();
          container.append(res.html);
        })
        .fail(function (xhr) {
          console.log(xhr.responseText);
        });
  });
</script>