<%
  user = search_history[:target]
  profile_image_url = user.profile_image_url_https.to_s
  mention_name = "@#{user.screen_name}"
  unique_id = "#{user.uid}_search_histories#{'_in_modal' if in_modal}"
%>

<% if !in_modal && !uids.include?(user.uid.to_i) %>
  <%= render(partial: 'searches/profile_overview_modal',
             locals: {user: user, unique_id: unique_id, via: :profile_modal}) %>
  <script>
    $(function () {
      $('.profile-overview-modal.<%= unique_id %>').on('shown.bs.modal', function() {
        $.post('<%= modal_open_logs_path %>', {name: 'profile'});
      });
    });
  </script>
  <% uids << user.uid.to_i %>
<% end %>

<div class="user-item-carousel search-histories<%= ' in-modal' if in_modal %>">
  <%# name box %>
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="<%= profile_image_url %>"
           alt="<%= mention_name %>" width="48" height="48">
    </div>

    <div class="media-body">
      <h4 class="media-heading"><%= user.name %>
        <% if user.protected %>&nbsp;<span class="glyphicon glyphicon-lock"></span><% end %>
        <% if user.verified %>&nbsp;<span class="glyphicon glyphicon-ok"></span><% end %>
      </h4>
    <span class="screen_name">
      <%= link_to mention_name, "https://twitter.com/#{user.screen_name}", target: '_blank' %>
    </span>
    </div>

    <div class="media-right">
      <% if user_signed_in? && search_history.has_key?(:friendship) %>
      <span>
        <% if search_history[:me] %>
        <% elsif search_history[:friendship] %>
          <button type="button" class="btn btn-success with-margin-right">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        <% else %>
          <button type="button" class="btn btn-default with-margin-right">
            <span class="text-muted glyphicon glyphicon-plus"></span>
          </button>
        <% end %>
      </span>
      <% end %>

      <span>
      <% if in_modal %>
        <%= link_to searches_path(screen_name: user.screen_name, id: user.uid, via: :search_history_profile), method: :post do %>
          <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        <% end %>
      <% else %>
        <button type="button" class="btn btn-info"
                data-toggle="modal" data-target=".profile-overview-modal.<%= unique_id %>">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      <% end %>
    </span>
    </div>
  </div><%# .media %>

  <%# description box %>
  <div class="media description-box" style="display: none;">
    <div class="media-left">
      <img class="media-object" src="<%= profile_image_url %>"
           alt="<%= mention_name %>" width="48" height="48">
    </div>

    <div class="media-body">
      <span class="description"><%= truncate(user.description, length: 20) %></span>
    </div>
  </div>

  <%# count box %>
  <div class="media count-box" style="display: none;">
    <div class="media-left">
      <img class="media-object" src="<%= profile_image_url %>"
           alt="<%= mention_name %>" width="48" height="48">
    </div>

    <div class="media-body">
      <div class="statuses_count"><%= user.statuses_count %>&nbsp;<%= t('dictionary.tweet') %></div>
      <span class="friends_count"><%= user.friends_count %>&nbsp;<%= t('dictionary.friends') %></span>
      <span class="followers_count"><%= user.followers_count %>&nbsp;<%= t('dictionary.follower') %></span>
    </div>
  </div>
</div>