<hr>

<div class="text-center">
  <div class="d-inline-block">
    <div class="text-left text-muted small">
      <%= t('.trend_rank', count: trend.rank) %>
      <%= t('.tweets_count', count: trend.tweets_count) %>
    </div>
    <h3 class="h4 text-left"><%= trend.name %></h3>
  </div>
</div>

<h4 class="text-center mt-5 mb-3">
  <%= t('.download_tweets_title') %>
</h4>

<div class="card card-body my-3">
  <%= render partial: 'download_tweets', locals: {trend: trend} %>
</div>

<h4 class="text-center mt-5 mb-3">
  <%= t('.chart_title') %>
</h4>

<div class="card card-body"><%= render partial: 'shared/times_count', locals: {description: '', api_path: api_trend_times_count_path(trend.id)} %></div>
<div class="text-muted small mb-3">
  tv=<%= trend.tweet_volume %>
  ts=<%= trend.tweets_size %>
</div>

<h4 class="text-center mt-5 mb-3">
  <%= t('.word_cloud_title') %>
</h4>

<div class="card card-body"><%= render partial: 'shared/word_cloud', locals: {description: '', api_path: api_trend_words_count_path(trend.id)} %></div>
<div class="text-muted small mb-3">
  ws=<%= trend.words_count&.size %>
</div>

<% if trend.latest_tweet %>
  <h4 class="text-center mt-5 mb-3">
    <%= t('.tweet_title') %>
  </h4>
  <%= render(partial: 'twitter/oembed_tweet', collection: [trend.latest_tweet], as: :tweet, cached: true, formats: %i(html)) %>
<% end %>

<div class="text-center my-5">
  <%= link_to t('.see_more'), trend_tweets_path(trend) %>
</div>
