<hr>

<div class="text-muted small"><%= t('.trend_rank', count: trend.rank) %></div>
<div><%= trend.name %></div>
<div class="text-muted small"><%= t('.tweets_count', count: trend.tweets_count) %></div>

<h4 class="text-center mt-5 mb-3">
  <%= t('.download_tweets_title') %>
</h4>

<div class="card card-body my-3">
  <%= render partial: 'download_tweets', locals: {trend: trend, tweets: trend.tweets.take(100)} %>
</div>

<h4 class="text-center mt-5 mb-3">
  <%= t('.chart_title') %>
</h4>

<div class="card card-body"><%= render partial: 'shared/times_count', locals: {description: '', api_path: api_trend_times_count_path(trend.id)} %></div>
<div class="text-muted small mb-3">
  tv=<%= trend.tweet_volume %>
  ts=<%= trend.tweets_size %>
</div>

<h4 class="text-center mt-5 mb-3">
  <%= t('.word_cloud_title') %>
</h4>

<div class="card card-body"><%= render partial: 'shared/word_cloud', locals: {description: '', api_path: api_trend_words_count_path(trend.id)} %></div>
<div class="text-muted small mb-3">
  ws=<%= trend.words_count&.size %>
</div>

<h4 class="text-center mt-5 mb-3">
  <%= t('.tweet_title') %>
</h4>
<%= render(partial: 'twitter/oembed_tweet', collection: [trend.latest_tweet], as: :tweet, cached: true, formats: %i(html)) %>

<div class="text-center mb-3">
  <%= link_to t('.see_more'), trend_tweets_path(trend) %>
</div>
