<%= content_for :navbar_title, t(".navbar_title") %>

<h4 class="text-center mt-5 mb-3">
  <%= t('trends.trend.latest_tweets_title', name: @trend.name) %>
</h4>

<% if @latest_tweets.any? %>
  <%= render(partial: 'twitter/tweet', collection: @latest_tweets, as: :tweet, cached: true, formats: %i(html)) %>
<% end %>

<h4 class="text-center mt-5 mb-3">
  <%= t('trends.trend.oldest_tweets_title', name: @trend.name) %>
</h4>

<% if @oldest_tweets.any? %>
  <%= render(partial: 'twitter/tweet', collection: @oldest_tweets, as: :tweet, cached: true, formats: %i(html)) %>
<% end %>
