<h2 class="h4 text-center my-5">
  <% if sign_in_as_confirmation_user? %>
    <%= t('.page_title_success', user: current_user.screen_name) %>
  <% else %>
    <%= t('.page_title_failure') %>
  <% end %>
</h2>

<div class="my-5">
  <% if sign_in_as_confirmation_user? %>
    <%= t('.description_success', user: current_user.screen_name) %>
  <% else %>
    <%= t('.description_failure_html', url: confirmation_path) %>
  <% end %>
</div>

<div class="mt-3 mb-1">
  <% if follow_confirmations_page? %>
    <div class="text-center mb-1"><%= t('.click_below_button') %></div>
  <% end %>
  <%= link_to confirmation_path, class: 'btn btn-primary btn-block' do %>
    <% if sign_in_as_confirmation_user? %>
      <%= image_tag(current_user_icon, class: 'rounded-circle', size: '28x28') %>
      <%= follow_confirmations_page? ? t('.button_follow') : t('.button_success') %>
    <% else %>
      <%= image_tag(image_path('/logo_transparent_96x96.png'), class: 'rounded', size: '20x20') %>
      <%= follow_confirmations_page? ? t('.button_follow') : t('.button_failure') %>
    <% end %>
  <% end %>
</div>

<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top, user: @user}) %>

<div class="mt-1 mb-3">
  <%= link_to confirmation_path, class: 'btn btn-primary btn-block' do %>
    <% if sign_in_as_confirmation_user? %>
      <%= image_tag(current_user_icon, class: 'rounded-circle', size: '28x28') %>
      <%= follow_confirmations_page? ? t('.button_follow') : t('.button_success') %>
    <% else %>
      <%= image_tag(image_path('/logo_transparent_96x96.png'), class: 'rounded', size: '20x20') %>
      <%= follow_confirmations_page? ? t('.button_follow') : t('.button_failure') %>
    <% end %>
  <% end %>
  <% if follow_confirmations_page? %>
    <div class="text-center mt-1"><%= t('.click_above_button') %></div>
  <% end %>
</div>

<div class="my-5">
  <% if sign_in_as_confirmation_user? %>
    <%= t('.description_success', user: current_user.screen_name) %>
  <% else %>
    <%= t('.description_failure_html', url: confirmation_path) %>
  <% end %>
</div>

<div class="text-muted small my-3"><%= t('.notice') %></div>
<div class="text-muted small my-3"><%= t('.support_html', url: twitter_web_url('egotter_cs')) %></div>

<% if sign_in_as_confirmation_user? && !follow_confirmations_page? %>
  <script>
    function createAccessDayLog() {
      var url = '<%= raw api_v1_access_days_path(via: current_via) %>';
      $.post(url).done(function (res) {
        ToastMessage.info(res.message);
      }).fail(showErrorMessage);
    }

    $(function () {
      ToastMessage.info('<%= t('.loading_html') %>');
      setTimeout(createAccessDayLog, 3000);
    });
  </script>
<% end %>
