<h2 class="h4 text-center my-5">
  <% if sign_in_as_confirmation_user? %>
    <%= t('.page_title_success', user: current_user.screen_name) %>
  <% else %>
    <%= t('.page_title_failure') %>
  <% end %>
</h2>

<div class="my-5">
  <% if sign_in_as_confirmation_user? %>
    <%= t('.description_success', user: current_user.screen_name) %>
  <% else %>
    <%= t('.description_failure_html', url: confirmation_path) %>
  <% end %>
</div>

<% unless sign_in_as_confirmation_user? %>
  <%= render template: 'messages/login_bug' %>
<% end %>

<div class="mt-3 mb-1">
  <div class="text-center mb-1">
    <%= follow_confirmations_page? ? t('.click_button_follow', arrow: t('.arrow_down')) : t('.click_button', arrow: t('.arrow_down')) %>
  </div>
  <%= link_to confirmation_path, class: 'btn btn-primary btn-block' do %>
    <%= image_tag(image_path('/logo_transparent_96x96.png'), class: 'rounded', size: '20x20') %>
    <%= follow_confirmations_page? ? t('.button_follow') : t('.button') %>
  <% end %>
</div>

<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top, user: @user}) %>

<div class="mt-1 mb-3">
  <%= link_to confirmation_path, class: 'btn btn-primary btn-block' do %>
    <%= image_tag(image_path('/logo_transparent_96x96.png'), class: 'rounded', size: '20x20') %>
    <%= follow_confirmations_page? ? t('.button_follow') : t('.button') %>
  <% end %>
  <div class="text-center mt-1">
    <%= follow_confirmations_page? ? t('.click_button_follow', arrow: t('.arrow_up')) : t('.click_button', arrow: t('.arrow_up')) %>
  </div>
</div>

<div class="my-5">
  <% if sign_in_as_confirmation_user? %>
    <%= t('.description_success', user: current_user.screen_name) %>
  <% else %>
    <%= t('.description_failure_html', url: confirmation_path) %>
  <% end %>
</div>

<h3 class="h5 font-weight-bold mt-5 mb-3"><%= t('.sign_in_with_twitter.title') %></h3>
<p class="my-3"><%= t('.sign_in_with_twitter.description') %></p>

<h3 class="h5 font-weight-bold mt-5 mb-3"><%= t('.support_account.title') %></h3>
<p class="my-3"><%= t('.support_account.description_html', url: twitter_web_url('egotter_cs')) %></p>

<% if sign_in_as_confirmation_user? && confirmation_specified? %>
  <script>
    $(function () {
      ToastMessage.info('<%= follow_confirmations_page? ? t('.loading_follow_html') : t('.loading_html') %>');
      var url = '<%= raw confirmation_api_path(via: current_via) %>';

      setTimeout(function () {
        $.post(url).done(function (res) {
          ToastMessage.info(res.message, {autohide: false});
        }).fail(showErrorMessage);
      }, 3000);
    });
  </script>
<% end %>
