.feature-section.text-center
  %h2.h4= title
  .vertical-spacing
  .vertical-spacing
  = image_tag image, class: 'img-rounded', height: '160px'
  .vertical-spacing
  .description= description
  - if note
    .text-muted= note
  .vertical-spacing
  .small-tips
    = link
    - check = [check] unless check.class == Array
    - check.each do |chk|
      .text-notice.text-right.search-hint
        %i.fas.fa-check
        = chk
  .vertical-spacing
  .vertical-spacing
  .vertical-spacing
  .vertical-spacing
  .vertical-spacing
  .vertical-spacing
