- if user_signed_in?
  .filter-container.btn-group{role: "group"}
    %button.filter-dropdown.btn.btn-outline-secondary.btn-sm{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
      = t('filter.title')
      %span.filter-count
      %i.fas.fa-filter
    .dropdown-menu
      - Filter::VALUES.each do |label, value|
        %a.filters.dropdown-item{href: "#", data: {filter: value}}
          = label
  :javascript
    $('.filter-container .filters').on('click', function () {
      var page = '#{request.path}';
      var text = $(this).text().trim();
      ahoy.track('Filter', {page: page, text: text});
    });
- else
  = link_to sign_in_path(redirect_path: request.path, via: current_via('filter_button')), class: 'btn btn-outline-secondary btn-sm' do
    = t('filter.title')
    %i.fas.fa-filter
