- if user_signed_in?
  .filter-container.btn-group{role: "group"}
    %button.filter-dropdown.btn.btn-outline-secondary.btn-sm{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
      = t('filter.title')
      %span.filter-count
      %i.fas.fa-filter
    .dropdown-menu
      %a.filters.dropdown-item.btn-allysocial{href: allysocial_url('filter'), target: '_blank'}
        = t('filter.allysocial')
        %i.fas.fa-external-link-alt.text-muted
      .dropdown-divider

      - purchased = current_user.has_valid_subscription?
      - trial = purchased && current_user.has_trial_subscription?
      - Filter::VALUES.each.with_index do |(label, value), i|
        - if [2, 6, 8, 10, 17].include?(i)
          .dropdown-divider

        - if i < 2
          %a.filters.dropdown-item{href: "#", data: {filter: value}}
            = label
        - elsif trial
          %a.filters.dropdown-item.btn-end-trial{href: "#"}
            = label
        - elsif purchased
          %a.filters.dropdown-item{href: "#", data: {filter: value}}
            = label
        - else
          %a.filters.dropdown-item.filter-disabled.text-muted{href: pricing_path(via: current_via("filter-#{value}")), target: '_blank'}
            = label
            %i.fas.fa-unlock
  :javascript
    $(function () {
      $('.filter-container .filters').on('click', function () {
        var name = $(this).data('filter');
        var page = '#{request.path}';
        var text = $(this).text().trim();
        ahoy.track('Filter ' + name, {page: page, text: text});
      });
    });
- else
  = link_to sign_in_path(redirect_path: request.path, via: current_via('filter_button')), class: 'btn btn-outline-secondary btn-sm' do
    = t('filter.title')
    %i.fas.fa-filter
