<div id="functions-container" style="min-height: 200px;"></div>

<script>
  $(function () {
    var url = '<%= raw api_v1_functions_list_path(via: current_via) %>';
    new Functions(url, 'functions-container', function () {
      var userId = '<%= current_user&.id %>';
      var deviceType = '<%= request.device_type %>';
      var controllerAction = '<%= controller_name %>#<%= action_name %>';
      ga('send', {
        hitType: 'event',
        eventCategory: 'Functions loaded',
        eventAction: controllerAction,
        eventLabel: JSON.stringify({user_id: userId, deviceType: deviceType})
      });
      ahoy.track("Functions loaded", {deviceType: deviceType, controllerAction: controllerAction});
    });
  });
</script>
