.card.mx-auto{style: 'max-width: 500px;'}
  = link_to url do
    = image_tag image, style: 'width: 100%;', title: strip_tags(title), alt: strip_tags(title)
  .card-body
    %h5.card-title= raw title
    %p.card-text
      %div= what_is_this
      %div= description
    .text-center= button
