.container.pre-footer
  #functions-section.container
    .thin-border
    .vertical-spacing
    .vertical-spacing
    %h2.h4.text-center= t('shared.functions.text_html')
    .vertical-spacing
    .vertical-spacing
    .vertical-spacing
    .vertical-spacing
    .row
      = render(partial: 'shared/function_section', locals: function_one_sided_friends_values)
      = render(partial: 'shared/function_section', locals: function_unfriends_values)
      = render(partial: 'shared/function_section', locals: function_inactive_friends_values)
      = render(partial: 'shared/function_section', locals: function_friends_values)
      = render(partial: 'shared/function_section', locals: function_clusters_values)
      = render(partial: 'shared/function_section', locals: function_tokimeki_unfollow_values)
      = render(partial: 'shared/function_section', locals: function_delete_tweets_values)
