<div class="container">
  <h2 class="h4 text-center my-5"><%= t('shared.functions.title') %></h2>
  <p class="text-center my-5"><%= t('shared.functions.text_html') %></p>
  <div class="mb-5"><%= render partial: 'shared/function_section', locals: function_one_sided_friends_values %></div>
  <div class="mb-5"><%= render partial: 'shared/function_section', locals: function_unfriends_values %></div>
  <div class="mb-5"><%= render partial: 'shared/function_section', locals: function_inactive_friends_values %></div>
  <div class="mb-5"><%= render partial: 'shared/function_section', locals: function_friends_values %></div>
  <div class="mb-5"><%= render partial: 'shared/function_section', locals: function_clusters_values %></div>
  <div class="mb-5"><%= render partial: 'shared/function_section', locals: function_tokimeki_unfollow_values %></div>
  <div class="mb-5"><%= render partial: 'shared/function_section', locals: function_delete_tweets_values %></div>
  <div class="mb-5"><%= render partial: 'shared/function_section', locals: function_schedule_tweets_values %></div>
</div>
