.col-xs-12
  %h2.h4.title.text-center= raw title
  .box
    = link_to path do
      = image_tag image, class: 'img-responsive', title: strip_tags(title), alt: strip_tags(title)
  .vertical-spacing
  .what-is-this= what_is_this
  .vertical-spacing
  .description= description
  .vertical-spacing
  .vertical-spacing
  = button
  .vertical-spacing
  .vertical-spacing
  .vertical-spacing
  .vertical-spacing
  .vertical-spacing
  .vertical-spacing
