<h2 class="h4 text-center my-5"><%= t('.title') %></h2>
<div class="text-center m-3"><%= t('.description_top_html', count: Rails.configuration.x.constants[:usage_count] / 10000) %></div>

<div class="text-center my-3">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
  &nbsp;
  3,500,000+
  &nbsp;
  <i class="fas fa-user"></i>
</div>

<div id="searched-tweets" class="d-flex" style="overflow-x: scroll; min-height: 500px;">
  <%= image_tag '/ajax-loader.gif', size: '16x16' %>
</div>

<div class="text-center m-3"><%= t('.description_bottom_html') %></div>

<div class="mx-auto" style="width: 300px;">
  <%= sign_in_with_twitter_link(nil, 'reviews_button', class: 'btn btn-primary w-100') %>

  <%= render partial: 'shared/check_and_note', locals: {text: t('.check1')} %>
  <%= render partial: 'shared/check_and_note', locals: {text: t('.check2')} %>
</div>

<% if divider %>
  <hr>
<% end %>

<% kind ||= '' %>

<script>
  $(function () {
    var url = '<%= raw load_public_tweets_path(kind: kind, via: current_via) %>';
    var id = 'searched-tweets';
    new PublicTweets(url, id, function () {
      setTimeout(function () {
        // Fix a bug in Safari
        $('#' + id).find('.twitter-tweet').removeAttr('style');
      }, 3000);
      trackPageEvents('TopPage events', 'PublicTweets loaded');
    });
  });
</script>
