<div class="container text-center mt-5" style="min-height: 200px;">
  <h2 class="h4 my-5"><%= t('.title') %></h2>

  <div class="mb-5">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    &nbsp;
    3,500,000+
    &nbsp;
    <i class="fas fa-user"></i>
  </div>

  <div class="mb-5"><%= t('.description_top_html', count: Rails.configuration.x.constants[:usage_count] / 10000) %></div>

  <div id="searched-tweets" class="text-left mx-auto" style="min-height: 200px;"></div>
  <div class="my-5"><%= t('.description_bottom_html') %></div>
</div>

<div class="mx-auto" style="width: 300px;">
  <%= sign_in_with_twitter_link(nil, 'reviews_button', class: 'btn btn-primary w-100') %>

  <%= render partial: 'shared/check_and_note', locals: {text: t('.check1')} %>
  <%= render partial: 'shared/check_and_note', locals: {text: t('.check2')} %>
</div>

<script>
  $(function () {
    var url = '<%= load_public_tweets_path %>';
    var selector = '#searched-tweets';
    new PublicTweets(url, selector, function () {
      trackPageEvents('TopPage events', 'PublicTweets loaded');
    });
  });
</script>
