<div class="container text-center mt-5">
  <h2 class="h4 my-5"><%= t('.title') %></h2>

  <div class="mb-5">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    &nbsp;
    3,500,000+
    &nbsp;
    <i class="fas fa-user"></i>
  </div>

  <div class="mb-5"><%= t('.description_top_html') %></div>

  <div id="searched-tweets" class="twitter tweets text-left mx-auto"></div>
  <div class="my-5"><%= t('.description_bottom_html') %></div>
</div>

<div class="mx-auto" style="width: 300px;">
  <%= sign_in_with_twitter_link(nil, 'reviews_button', class: 'btn btn-primary w-100') %>

  <div class="egotter-pink text-right">
    <i class="fas fa-check"></i>
    <%= t('.check1') %>
  </div>
  <div class="egotter-pink text-right">
    <i class="fas fa-check"></i>
    <%= t('.check2') %>
  </div>
</div>

<script>
  $(function () {
    var url = '<%= load_public_tweets_path %>';
    var selector = '#searched-tweets';
    new PublicTweets(url, selector);
  });
</script>
