- if user_signed_in?
  .sort-order-container.btn-group{role: "group"}
    %button.sort-order-dropdown.btn.btn-outline-secondary.btn-sm{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
      %span.label= SortOrder::VALUES[0][0]
      %i.fas.fa-sort
    .dropdown-menu
      - purchased = current_user.has_valid_subscription?
      - trial = purchased && current_user.has_trial_subscription?
      - SortOrder::VALUES.each.with_index do |(label, value), i|
        - if [2, 6].include?(i)
          .dropdown-divider

        - if i < 2
          %a.sort-orders.dropdown-item{href: "#", class: (i == 0 ? 'active' : ''), data: {sort_order: value}}
            = label
        - elsif trial
          %a.sort-orders.dropdown-item.btn-end-trial{href: "#"}
            = label
        - elsif purchased
          %a.sort-orders.dropdown-item{href: "#", class: (i == 0 ? 'active' : ''), data: {sort_order: value}}
            = label
        - else
          %a.sort-orders.dropdown-item.btn-checkout.text-muted{href: "#"}
            = label
            %i.fas.fa-unlock
  :javascript
    $(function () {
      $('.sort-order-container .sort-orders').on('click', function () {
        var page = '#{request.path}';
        var text = $(this).text().trim();
        ahoy.track('Sort', {page: page, text: text});
      });
    });
- else
  = link_to sign_in_path(redirect_path: request.path, via: current_via('sort_button')), class: 'btn btn-outline-secondary btn-sm' do
    = SortOrder::VALUES[0][0]
    %i.fas.fa-sort
