<script id='user-template' type='x-tmpl-mustache'>
  <div class="m-1">
    <a href="{{timeline_url}}" width='48' height='48'>
      <img alt='@{{screen_name}}' class='rounded shadow' width='48' height='48'>
    </a>
  </div>
</script>

<template id='user-rectangle-template'>
  <div class="card mb-3">
    <div class="d-flex">
      <div class="mt-1 ml-1">
        <a href="{{timeline_url}}">
          <img class="rounded-circle shadow" style="width: 50px; height: 50px;" alt="@{{screen_name}}">
        </a>
      </div>
      <div class="mt-1 ml-1" style="white-space: nowrap; overflow: hidden;">
        <div class="small">{{{name_with_icon}}}</div>
        <div class="small"><a href="{{timeline_url}}">@{{screen_name}}</a></div>
        <div class="small">{{{status_labels}}}</div>
      </div>
      <div class="mt-1 mr-1 ml-auto" style="white-space: nowrap;">
        <a href="#" class="btn btn-outline-primary btn-sm" data-screen-name="{{screen_name}}" data-target="#open-twitter-modal" data-toggle="modal">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="{{timeline_url}}" class="btn btn-primary btn-sm">
          <i class="fas fa-search"></i>
          <%= t('.search') %>
        </a>
      </div>
    </div>

    <div class="mx-1 mb-3">{{{followed_label}}}</div>
    <div class="card-text small mx-1 mb-3">{{{description}}}</div>

    <div class="d-flex card-text small mx-1 mb-1">
      <div>
        <a href="{{status_url}}">
          <strong class="text-body">{{statuses_count}}</strong>
          <span class="text-muted"><%= t('.statuses') %></span>
        </a>
      </div>
      <div>
        <a href="{{friend_url}}">
          <strong class="text-body">{{friends_count}}</strong>
          <span class="text-muted"><%= t('.friends') %></span>
        </a>
      </div>
      <div>
        <a href="{{follower_url}}">
          <strong class="text-body">{{followers_count}}</strong>
          <span class="text-muted"><%= t('.followers') %></span>
        </a>
      </div>
      <div class="ml-auto text-muted">{{index}}</div>
    </div>
  </div>
</template>

<template id='search-history-rectangle-template'>
  <div class="card mb-3 p-1">
    <div class="d-flex">
      <div>
        <img class="rounded-circle shadow mr-1" style="width: 50px; height: 50px;" alt="@{{screen_name}}">
      </div>
      <div class="small" style="white-space: nowrap; overflow: hidden;">
        <div>{{{name_with_icon}}}</div>
        <div>@{{screen_name}}</div>
        <div>{{{status_labels}}}</div>
      </div>
      <div class="ml-auto" style="white-space: nowrap;">
        <a href="{{timeline_url}}" class="btn btn-primary btn-sm">
          <i class="fas fa-search"></i>
          <%= t('.search') %>
        </a>
      </div>
    </div>

    <div class="small mb-3">{{{followed_label}}}</div>
    <div class="small" style="overflow: hidden; word-break: break-word; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">{{{description}}}</div>
  </div>
</template>

<script id='toast-template' type='x-tmpl-mustache'>
  <div id="{{id}}" class="toast" style="min-width: 300px; min-height: 100px;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="mr-auto">{{title}}</strong>
      <small>{{time}}</small>
      <button type="button" id="close-{{id}}" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">{{{body}}}</div>
  </div>
</script>

<template id="deletable-tweet-template">
  <div class="deletable-tweet-container" data-id="{{id}}">
    <div class="d-flex align-items-center mb-2">
      <div>
        <input type="checkbox" name="selected-deletable-tweet" data-id="{{id}}">
      </div>
      <div class="ml-3">
        {{#user}}
        <img loading="lazy" class="rounded-circle border" style="border-width: 1px !important;" src="{{profile_image_url}}" width="20" height="20">
        {{/user}}
      </div>
      <div class="small text-muted ml-3" style="white-space: nowrap;">
        <i class="fas fa-retweet mr-1"></i>{{retweet_count}}
      </div>
      <div class="small text-muted ml-3" style="white-space: nowrap;">
        <i class="far fa-heart mr-1"></i>{{favorite_count}}
      </div>
      <div class="small ml-3" style="white-space: nowrap;">
        <a href="{{url}}" class="text-muted" target="_blank">{{created_at}}</a>
      </div>
      <div class="ml-auto small text-muted">{{index}}</div>
    </div>
    {{#deletion_reserved}}
    <div class="badge badge-secondary">
      {{deletion_reserved_label}}
    </div>
    {{/deletion_reserved}}
    {{#deleted}}
    <div class="badge badge-danger">
      {{deleted_label}}
    </div>
    {{/deleted}}
    <div class="tweet-text" style="cursor: pointer; overflow: hidden; word-break: break-word; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">
      {{{text}}}
    </div>
    <div class="d-flex" style="overflow-x: scroll;">
      {{#media}}
      <div class="mr-3">
        <a href="{{url}}" target="_blank">
          <img loading="lazy" class="rounded border" style="border-width: 1px !important;" src="{{url}}" width="200">
        </a>
      </div>
      {{/media}}
    </div>
  </div>
</template>

<template id="delete-tweets-history-template">
  <tr>
    <td>{{created_at}}</td>
    <td>{{type}}</td>
    <td>{{reservations_count}}</td>
    <td>{{deletions_count}}</td>
  </tr>
</template>

<template id="delete-favorites-history-template">
  <tr>
    <td>{{created_at}}</td>
    <td>{{type}}</td>
    <td>{{reservations_count}}</td>
    <td>{{deletions_count}}</td>
  </tr>
</template>

<script>
  $(function () {
    var templates = {
      user: $('#user-template').html(),
      userRectangle: $('#user-rectangle-template').html(),
      searchHistoryRectangle: $('#search-history-rectangle-template').html(),
      toast: $('#toast-template').html(),
      deletableTweet: $('#deletable-tweet-template').html(),
      deleteTweetsHistory: $('#delete-tweets-history-template').html(),
      deleteFavoritesHistory: $('#delete-favorites-history-template').html()
    };

    window.templates = templates;
  });
</script>
