<% container_id = "times-count-container-#{SecureRandom.urlsafe_base64(10)}" %>
<div><%= description %></div>
<div id="<%= container_id %>" class="d-flex align-items-center justify-content-center mt-3" style="height: 300px;">
  <div><%= t('.loading_html') %></div>
</div>

<script>
  $(function () {
    var url = '<%= raw api_path %>';
    var container = $('#<%= container_id %>');
    logger.log('times_count', container.attr('id'));

    $.get(url).done(function (res) {
      if (res.times_count.length === 0) {
        container.empty().text('<%= t('.empty') %>');
      } else {
        container.empty();
        new UsageStat().drawStockLineChart(container.attr('id'), res.times_count);
      }
    }).fail(function (xhr) {
      logger.warn(url, xhr.responseText);
      container.empty().text('<%= t('.updating') %>');
    });
  });
</script>
