<div class="text-right mb-4">
  <%= render partial: 'shared/sort' %>
  <%= render partial: 'shared/filter' %>
  <%= render partial: 'shared/download', locals: {twitter_user: twitter_user} %>
</div>

<div class="empty-placeholders-wrapper" style="display: none;">
  <%= t('.not_found') %>
</div>

<div class="placeholders-wrapper">
  <% 3.times do %>
    <%= render partial: 'timelines/placeholder', locals: {menu_name: '', menu_or_users: 'users'} %>
  <% end %>
</div>

<div id="result-users-container"></div>

<% if user_signed_in? %>
  <div id="bottom-reached" class="text-center my-3">
    <%= image_tag '/ajax-loader.gif' %>
  </div>

  <% if current_user.has_valid_subscription? %>
    <% if current_user.has_trial_subscription? %>
      <%= t('.need_click') %>
      <%= link_to t('.see_details'), '#', class: 'btn btn-primary btn-end-trial btn-sm' %>
    <% else %>
      <%# Render nothing %>
    <% end %>
  <% else %>
    <div id="need-purchase-description" class="mb-3" style="display: none;">
      <%= t('.need_purchase', count: api_list_users_limit) %>
      <%= link_to t('.see_details'), '#', class: 'btn btn-primary btn-checkout btn-sm' %>
    </div>
  <% end %>
<% else %>
  <div class="text-center">
    <%= link_to t('.see_more'), sign_in_path(redirect_path: request.path, via: current_via('see_more_btn')), class: 'btn btn-outline-secondary btn-lg' %>
  </div>
<% end %>

<script>
  $(function () {
    var signedIn = <%= user_signed_in? %>;

    var url = '<%= raw api_path %>';
    var uid = '<%= twitter_user.uid %>';
    var sortOrder = $('.sort-order-dropdown').data('sort-order');
    var filter = $('.filter-dropdown').data('filter');
    var params = {limit: 10, maxLimit: 10, sortOrder: sortOrder, filter: filter};
    var task = new FetchTask(url, uid, params);
    var via = '<%= current_via('users_section') %>';

    var callback = function (state) {
      logger.log('task.fetch', state);

      if (state.completed) {
        $('#bottom-reached').off('appear').remove();
        $('#need-purchase-description').show();
      } else if (state.loaded) {
        $('#bottom-reached').find('img').hide();
      }
    }

    task.fetch(callback);

    if (signedIn) {
      $('#bottom-reached').lazyload()
          .on('appear', function () {
            var $elem = $(this);
            logger.log('appear', $elem.attr('id'));
            $elem.find('img').show();
            task.fetch(callback);
          });

      new SortButton(function (options) {
        task.reset(options, callback)
      });
      new FilterButton(function (options) {
        task.reset(options, callback)
      });

      new FollowButton('#result-users-container', via);
      new UnfollowButton('#result-users-container', via);
    }
  });
</script>
