<div class="text-right mb-4">
  <%= render partial: 'shared/sort' %>
  <%= render partial: 'shared/filter' %>
  <%= render partial: 'shared/download', locals: {twitter_user: twitter_user} %>
</div>

<div id="description-for-empty" style="display: none;">
  <%= t('.not_found') %>
</div>

<div id="loading-placeholders">
  <% 3.times do %>
    <%= render partial: 'timelines/placeholder', locals: {menu_name: '', menu_or_users: 'users'} %>
  <% end %>
</div>

<div id="fetched-users"></div>

<% if user_signed_in? %>
  <div id="bottom-reached" class="text-center my-3">
    <%= image_tag '/ajax-loader.gif' %>
  </div>

  <% if current_user.has_valid_subscription? %>
    <% if current_user.has_trial_subscription? %>
      <%= t('.need_click') %>
      <%= link_to t('.see_more'), '#', id: 'btn-bottom-reached-end-trial', class: 'btn btn-primary btn-end-trial btn-sm' %>
    <% else %>
      <%# Render nothing %>
    <% end %>
  <% else %>
    <div id="need-purchase-description" class="mb-3" style="display: none;">
      <%= t('.need_purchase', count: api_list_users_limit) %>
      <%= link_to t('.see_pricing'), pricing_path(via: current_via('load-more')), id: 'btn-load-more', class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    </div>
  <% end %>
<% else %>
  <div class="text-center">
    <%= link_to t('.see_more'), sign_in_path(redirect_path: request.path, via: current_via('see_more_btn')), class: 'btn btn-outline-secondary btn-lg' %>
  </div>
<% end %>

<script>
  var signedIn = <%= user_signed_in? %>;
  var url = '<%= raw api_users_path %>';
  var uid = '<%= twitter_user.uid %>';
  var params = <%= {limit: Paginator::DEFAULT_LIMIT, maxLimit: Paginator::MAX_LIMIT}.to_json.html_safe %>;
  var via = '<%= current_via('users_section') %>';

  var resetView = function () {
    $('#fetched-users').empty();
    $('#loading-placeholders').show();
  }

  var updateView = function (users, state) {
    logger.log('task.fetch', state);

    $('#loading-placeholders').hide();
    var $users = $('#fetched-users');
    var $empty = $('#description-for-empty');

    if (users.length > 0) {
      users.forEach(function (user) {
        $users.append(user);
      });
      $empty.hide();
    }

    if ($users.is(':empty')) {
      $empty.show();
    }

    if (state.completed) {
      $('#bottom-reached').off('appear').remove();
      $('#need-purchase-description').show();
    } else if (state.loaded) {
      $('#bottom-reached').find('img').hide();
    }
  }

  $(function () {
    var task = new FetchTask(url, uid, params, updateView);
    task.fetch();

    if (signedIn) {
      $('#bottom-reached').lazyload().on('appear', function () {
        var $elem = $(this);
        logger.log('appear', $elem.attr('id'));
        $elem.find('img').show();
        task.fetch();
      });

      new SortButton(function (options) {
        resetView();
        task.reset(options)
        task.fetch();
      });
      new FilterButton(function (options) {
        resetView();
        task.reset(options)
        task.fetch();
      });
    }
  });
</script>
