<% container_id = "users-count-container-#{SecureRandom.urlsafe_base64(10)}" %>
<div><%= description %></div>
<div id="<%= container_id %>" class="d-flex align-items-center justify-content-center mt-3" style="height: 300px;">
  <div><%= t('.loading_html') %></div>
</div>

<div class="mt-3">
  <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" aria-expanded="false" href="#chart-users-list">
    <%= t('.users_list') %>
  </a>

  <div id="chart-users-list" class="collapse mt-3">
  </div>
</div>

<script>
  $(function () {
    var url = '<%= raw api_path %>';
    var container = $('#<%= container_id %>');
    var trendName = '<%= trend.name %>';

    $.get(url).done(function (res) {
      container.empty();
      new UsageStat().drawColorlessColumnChart(container.attr('id'), res.users_count);

      var usersContainer = $('#chart-users-list');
      res.users_count.forEach(function (uc) {
        var query = encodeURIComponent('from:' + uc[0] + ' ' + trendName);
        var elem = $('<a/>', {class: 'd-block', text: uc[0], href: 'https://twitter.com/search?q=' + query, target: '_blank'});
        usersContainer.append(elem);
      });
    }).fail(function (xhr, textStatus, errorThrown) {
      logger.warn(url, xhr.responseText);
      var message = extractErrorMessage(xhr, textStatus, errorThrown)
      container.empty().text(message);
    });
  });
</script>
