<% title ||= nil %>
<% container_id = "word-cloud-container-#{SecureRandom.urlsafe_base64(10)}" %>

<% if title %>
  <div class="text-center my-3"><%= title %></div>
<% end %>
<div><%= description %></div>
<div id="<%= container_id %>" class="d-flex align-items-center justify-content-center mt-3" style="height: 300px;">
  <div><%= t('.loading_html') %></div>
</div>

<script>
  $(function () {
    var url = '<%= raw api_path %>';
    var container = $('#<%= container_id %>');

    $.get(url).done(function (res) {
      container.empty();
      var smartphone = <%= request.device_type == :smartphone %>;
      new WordCloud(container.attr('id'), res.words_count, container.width(), container.height(), smartphone).draw();
    }).fail(function (xhr, textStatus, errorThrown) {
      logger.warn(url, xhr.responseText);
      var message = extractErrorMessage(xhr, textStatus, errorThrown)
      container.empty().text(message);
    });
  });
</script>
