<% container_id = "profiles-word-cloud-container-#{SecureRandom.urlsafe_base64(10)}" %>
<div><%= description %></div>
<div id="<%= container_id %>" class="d-flex align-items-center justify-content-center mt-1 mb-3" style="height: 300px;">
  <div><%= t('.loading_html') %></div>
</div>
<script>
  $(function () {
    var url = '<%= raw api_path %>';
    var container = $('#<%= container_id %>');

    $.get(url).done(function (res) {
      if (res.words_count.length === 0) {
        container.empty().text('<%= t('.empty') %>');
      } else {
        container.empty();
        var smartphone = <%= request.device_type == :smartphone %>;
        new WordCloud(container.attr('id'), res.words_count, container.width(), container.height(), smartphone).draw();
      }
    }).fail(function (xhr) {
      logger.warn(url, xhr.responseText);
      container.empty().text('<%= t('.updating') %>');
    });
  });
</script>
