- content_for :canonical_url do
  %link{href: audience_insight_url(@twitter_user), rel: 'canonical'}

- breadcrumb :audience_insight, @twitter_user.screen_name

- title t('.page_title', user: @twitter_user.screen_name)
- set_meta_tags description: t('.meta_description', user: @twitter_user.screen_name, friends: @twitter_user.friends_count, followers: @twitter_user.followers_count), title: t('.meta_title', user: @twitter_user.screen_name)

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h4.text-center.my-5= t('.page_title', user: @twitter_user.screen_name)
.mb-5= t('.page_description_html', user: @twitter_user.screen_name, friends: @twitter_user.friends_count, followers: @twitter_user.followers_count)

= render partial: 'adsense/ad', locals: {vertical: :top}

%h3.h5.text-center.my-5= t('.friends.title')
#friends-chart-description.mb-5
#friends-chart{style: 'height: 250px;'}
.text-muted.small{style: 'margin-bottom: 120px;'}= t('.friends.note')

%h3.h5.text-center.my-5= t('.followers.title')
#followers-chart-description.mb-5
#followers-chart{style: 'height: 250px;'}
.text-muted.small{style: 'margin-bottom: 120px;'}= t('.followers.note')

%h3.h5.text-center.my-5= t('.new_friends.title')
#new-friends-chart-description.mb-5
#new-friends-chart{style: 'height: 250px;'}
.text-muted.small{style: 'margin-bottom: 120px;'}= t('.new_friends.note')

%h3.h5.text-center.my-5= t('.new_followers.title')
#new-followers-chart-description.mb-5
#new-followers-chart{style: 'height: 250px;'}
.text-muted.small{style: 'margin-bottom: 120px;'}= t('.new_followers.note')

:javascript
  function drawFriendsChart() {
    var url = '#{raw api_v1_friends_count_points_path(uid: @twitter_user.uid, via: current_via)}';
    $.get(url).done(function (res) {
      $('#friends-chart-description').text(res.message);
      new AudienceInsight().drawChart($('#friends-chart')[0], [{name: 'Friends', data: res.data}]);
    }).fail(showErrorMessage);
  }

  function drawFollowersChart() {
    var url = '#{raw api_v1_followers_count_points_path(uid: @twitter_user.uid, via: current_via)}';
    $.get(url).done(function (res) {
      $('#followers-chart-description').text(res.message);
      new AudienceInsight().drawChart($('#followers-chart')[0], [{name: 'Followers', data: res.data}]);
    }).fail(showErrorMessage);
  }

  function drawNewFriendsChart() {
    var url = '#{raw api_v1_new_friends_count_points_path(uid: @twitter_user.uid, via: current_via)}';
    $.get(url).done(function (res) {
      $('#new-friends-chart-description').text(res.message);
      new AudienceInsight().drawChart($('#new-friends-chart')[0], [{name: 'New friends', data: res.data}]);
    }).fail(showErrorMessage);
  }

  function drawNewFollowersChart() {
    var url = '#{raw api_v1_new_followers_count_points_path(uid: @twitter_user.uid, via: current_via)}';
    $.get(url).done(function (res) {
      $('#new-followers-chart-description').text(res.message);
      new AudienceInsight().drawChart($('#new-followers-chart')[0], [{name: 'New followers', data: res.data}]);
    }).fail(showErrorMessage);
  }

  $(function () {
    drawFriendsChart();
    drawFollowersChart();
    drawNewFriendsChart();
    drawNewFollowersChart();
  });
