- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name

- title @page_title
- set_meta_tags description: @meta_description, title: @meta_title

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h4.text-center.my-5= @page_title
.mb-5= @page_description

%h3.h5.text-center.my-5= t('.friends.title')
.mb-5= t('.friends.note')
.chart-container.friends{style: 'height: 250px;'}

%h3.h5.text-center.my-5= t('.followers.title')
.mb-5= t('.followers.note')
.chart-container.followers{style: 'height: 250px;'}

%h3.h5.text-center.my-5= t('.new_friends.title')
.mb-5= t('.new_friends.note')
.chart-container.new-friends{style: 'height: 250px;'}

%h3.h5.text-center.my-5= t('.new_followers.title')
.mb-5= t('.new_followers.note')
.chart-container.new-followers{style: 'height: 250px;'}

:javascript
  $(function () {
    var categories = #{@chart_builder.categories.to_json.html_safe};

    var series = [#{@chart_builder.friends.to_json.html_safe}];
    AudienceInsights.drawChart('.chart-container.friends', categories, series);

    series = [#{@chart_builder.followers.to_json.html_safe}];
    AudienceInsights.drawChart('.chart-container.followers', categories, series);

    series = [#{@chart_builder.new_friends.to_json.html_safe}];
    AudienceInsights.drawChart('.chart-container.new-friends', categories, series);

    series = [#{@chart_builder.new_followers.to_json.html_safe}];
    AudienceInsights.drawChart('.chart-container.new-followers', categories, series);
  });
