- content_for :canonical_url do
  %link{href: audience_insight_url(@twitter_user), rel: 'canonical'}

- unless request.device_type == :smartphone
  - breadcrumb :audience_insight, @twitter_user.screen_name

- content_for :result_title, t('page_titles.audience_insights', user: @twitter_user.screen_name)

- title t('.page_title', user: @twitter_user.screen_name)
- set_meta_tags description: t('.meta_description', user: @twitter_user.screen_name, friends: @twitter_user.friends_count, followers: @twitter_user.followers_count), title: t('.meta_title', user: @twitter_user.screen_name)

= render partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top}

- unless request.device_type == :smartphone
  = render partial: 'shared/profile_section', locals: {twitter_user: @twitter_user, expanded: false, async: false}

%h2.h4.text-center.my-5= t('.page_title', user: @twitter_user.screen_name)
.mb-5= t('.page_description_html', user: @twitter_user.screen_name, friends: @twitter_user.friends_count, followers: @twitter_user.followers_count)

= render(partial: 'adsense/ad', locals: {vertical: :middle})

#friends-chart
  %h3.h5.text-center.my-5= t('.friends.title')
  .description.mb-4
  .chart{style: 'height: 250px;'}
  .small.text-muted.my-3
    = link_to t('.download'), friends_count_points_download_path(uid: @twitter_user.uid, with_prev: true, padding: true, via: current_via)
    = t('.or')
    = link_to t('.list'), friend_path(@twitter_user, via: current_via)
  .small.text-muted.my-3
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.friends.note', days: 30)

#followers-chart
  %h3.h5.text-center.my-5= t('.followers.title')
  .description.mb-4
  .chart{style: 'height: 250px;'}
  .small.text-muted.my-3
    = link_to t('.download'), followers_count_points_download_path(uid: @twitter_user.uid, with_prev: true, padding: true, via: current_via)
    = t('.or')
    = link_to t('.list'), follower_path(@twitter_user, via: current_via)
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.followers.note', days: 30)

#new-friends-chart
  %h3.h5.text-center.my-5= t('.new_friends.title')
  .description.mb-4
  .chart{style: 'height: 250px;'}
  .small.text-muted.my-3= link_to t('.download'), new_friends_count_points_download_path(uid: @twitter_user.uid, with_prev: true, padding: true, via: current_via)
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.new_friends.note')

#new-followers-chart
  %h3.h5.text-center.my-5= t('.new_followers.title')
  .description.mb-4
  .chart{style: 'height: 250px;'}
  .small.text-muted.my-3= link_to t('.download'), new_followers_count_points_download_path(uid: @twitter_user.uid, with_prev: true, padding: true, via: current_via)
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.new_followers.note')

#inactive-friends-chart
  %h3.h5.text-center.my-5= t('.inactive_friends.title')
  .description.mb-4
  .chart{style: 'height: 250px;'}
  .small.text-muted.my-3
    = link_to t('.download'), inactive_friends_count_points_download_path(uid: @twitter_user.uid, with_prev: true, padding: true, via: current_via)
    = t('.or')
    = link_to t('.list'), inactive_friend_path(@twitter_user, via: current_via)
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.inactive_friends.note', days: 30)

#inactive-followers-chart
  %h3.h5.text-center.my-5= t('.inactive_followers.title')
  .description.mb-4
  .chart{style: 'height: 250px;'}
  .small.text-muted.my-3
    = link_to t('.download'), inactive_followers_count_points_download_path(uid: @twitter_user.uid, with_prev: true, padding: true, via: current_via)
    = t('.or')
    = link_to t('.list'), inactive_follower_path(@twitter_user, via: current_via)
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.inactive_followers.note', days: 30)

#one-sided-friends-chart
  %h3.h5.text-center.my-5= t('.one_sided_friends.title')
  .description.mb-4
  .chart{style: 'height: 250px;'}
  .small.text-muted.my-3
    = link_to t('.download'), one_sided_friends_count_points_download_path(uid: @twitter_user.uid, with_prev: true, padding: true, via: current_via)
    = t('.or')
    = link_to t('.list'), one_sided_friend_path(@twitter_user, via: current_via)
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.one_sided_friends.note', days: 30)

#one-sided-followers-chart
  %h3.h5.text-center.my-5= t('.one_sided_followers.title')
  .description.mb-4
  .chart{style: 'height: 250px;'}
  .small.text-muted.my-3
    = link_to t('.download'), one_sided_followers_count_points_download_path(uid: @twitter_user.uid, with_prev: true, padding: true, via: current_via)
    = t('.or')
    = link_to t('.list'), one_sided_follower_path(@twitter_user, via: current_via)
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.one_sided_followers.note', days: 30)

:javascript
  function drawAudienceChart(url, container) {
    $.get(url).done(function (res) {
      container.find('.description').text(res.message);
      new AudienceInsight().drawChart(container.find('.chart')[0], res.series);
    }).fail(showErrorMessage);
  }

  $(function () {
    drawAudienceChart('#{raw api_v1_friends_count_points_path(uid: @twitter_user.uid, type: 'timestamp', with_prev: true, padding: true, via: current_via)}', $('#friends-chart'));
    drawAudienceChart('#{raw api_v1_followers_count_points_path(uid: @twitter_user.uid, type: 'timestamp', with_prev: true, padding: true, via: current_via)}', $('#followers-chart'));
    drawAudienceChart('#{raw api_v1_new_friends_count_points_path(uid: @twitter_user.uid, type: 'timestamp', with_prev: true, padding: true, via: current_via)}', $('#new-friends-chart'));
    drawAudienceChart('#{raw api_v1_new_followers_count_points_path(uid: @twitter_user.uid, type: 'timestamp', with_prev: true, padding: true, via: current_via)}', $('#new-followers-chart'));
    drawAudienceChart('#{raw api_v1_inactive_friends_count_points_path(uid: @twitter_user.uid, type: 'timestamp', with_prev: true, padding: true, via: current_via)}', $('#inactive-friends-chart'));
    drawAudienceChart('#{raw api_v1_inactive_followers_count_points_path(uid: @twitter_user.uid, type: 'timestamp', with_prev: true, padding: true, via: current_via)}', $('#inactive-followers-chart'));
    drawAudienceChart('#{raw api_v1_one_sided_friends_count_points_path(uid: @twitter_user.uid, type: 'timestamp', with_prev: true, padding: true, via: current_via)}', $('#one-sided-friends-chart'));
    drawAudienceChart('#{raw api_v1_one_sided_followers_count_points_path(uid: @twitter_user.uid, type: 'timestamp', with_prev: true, padding: true, via: current_via)}', $('#one-sided-followers-chart'));
  });
