- content_for :canonical_url do
  %link{href: audience_insight_url(@twitter_user), rel: 'canonical'}

- breadcrumb :audience_insight, @twitter_user.screen_name

- title t('.page_title', user: @twitter_user.screen_name)
- set_meta_tags description: t('.meta_description', user: @twitter_user.screen_name, friends: @twitter_user.friends_count, followers: @twitter_user.followers_count), title: t('.meta_title', user: @twitter_user.screen_name)

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h4.text-center.my-5= t('.page_title', user: @twitter_user.screen_name)
.mb-5= t('.page_description_html', user: @twitter_user.screen_name, friends: @twitter_user.friends_count, followers: @twitter_user.followers_count)

= render partial: 'adsense/ad', locals: {vertical: :top}

#friends-chart
  %h3.h5.text-center.my-5= t('.friends.title')
  .description.mb-5
  .chart{style: 'height: 250px;'}
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.friends.note')

#followers-chart
  %h3.h5.text-center.my-5= t('.followers.title')
  .description.mb-5
  .chart{style: 'height: 250px;'}
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.followers.note')

#new-friends-chart
  %h3.h5.text-center.my-5= t('.new_friends.title')
  .description.mb-5
  .chart{style: 'height: 250px;'}
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.new_friends.note')

#new-followers-chart
  %h3.h5.text-center.my-5= t('.new_followers.title')
  .description.mb-5
  .chart{style: 'height: 250px;'}
  .text-muted.small{style: 'margin-bottom: 120px;'}= t('.new_followers.note')

:javascript
  function drawAudienceChart(url, container, name) {
    $.get(url).done(function (res) {
      container.find('.description').text(res.message);
      new AudienceInsight().drawChart(container.find('.chart')[0], [{name: name, data: res.data}]);
    }).fail(showErrorMessage);
  }

  $(function () {
    drawAudienceChart('#{raw api_v1_friends_count_points_path(uid: @twitter_user.uid, via: current_via)}', $('#friends-chart'), 'Friends');
    drawAudienceChart('#{raw api_v1_followers_count_points_path(uid: @twitter_user.uid, via: current_via)}', $('#followers-chart'), 'Followers');
    drawAudienceChart('#{raw api_v1_new_friends_count_points_path(uid: @twitter_user.uid, via: current_via)}', $('#new-friends-chart'), 'New friends');
    drawAudienceChart('#{raw api_v1_new_followers_count_points_path(uid: @twitter_user.uid, via: current_via)}', $('#new-followers-chart'), 'New followers');
  });
