%h1.h2
  = image_tag '/logo_96x96.png', size: '48x48', alt: t('searches.common.egotter')
  %span= I18n.t('searches.common.egotter')

%h2.h4.my-4= title
= lead

.mx-auto.pt-3{style: 'max-width: 375px; width: 80%;'}
  = sign_in_with_twitter_link(nil, 'button', class: 'btn btn-primary btn-block')
  .text-notice.text-right
    %i.fas.fa-check
    = t('searches.new.pc.check_001')
  .text-notice.text-right
    %i.fas.fa-check
    = t('searches.new.pc.check_002')

.mt-3.mb-4
  %span.thin-border
  %span.or-text= t('searches.common.or')
  %span.thin-border

.mx-auto.mb-3{style: 'max-width: 375px; width: 80%;'}
  = render partial: 'common/search_form', locals: {via: current_via('input')}
  .text-notice.text-right
    %i.fas.fa-check
    = t('searches.new.pc.check_003')
  .text-notice.text-right.search-count-wrapper{style: 'visibility: hidden;'}
    %i.fas.fa-check
    = t('searches.new.pc.check_004_html')

%h2.h4.mt-5.mb-3= t('searches.new.lead_003_html')

.screenshot.text-center
  = link_to sign_in_path(via: current_via('screenshots')) do
    %img{alt: t('searches.common.egotter'), src: image_path('/screenshot_laptop_iphone_1000x548.gif'), height: '160px'}

%div.my-4= t('home.new.text003_html')

.mx-auto{style: 'max-width: 375px; width: 80%;'}
  = sign_in_with_twitter_link(nil, 'screenshots_button', class: 'btn btn-primary btn-block')
  .text-notice.text-right
    %i.fas.fa-check
    = t('searches.new.pc.check_005')
  .text-notice.text-right
    %i.fas.fa-check
    = t('searches.new.pc.check_006')
