= render(partial: 'searches/conversion_tracking')

- if user_signed_in?
  .text-center.searches
    %h3.h4= t('searches.new.lead_001')
    .lead= t('searches.new.lead_002_html')
    = render partial: 'common/search_form', locals: {via: build_via('input')}
    = render(partial: 'adsense/side_by_side', locals: {vertical: :top})
    - if user_signed_in?
      = render partial: 'common/search_button', locals: {screen_name: current_user.screen_name, via: build_via('top_button')}
    - else
      = sign_in_with_twitter_link(nil, 'button', class: 'btn btn-info btn-block')
      .text-notice
        %i.fas.fa-check
        = t('searches.new.pc.check_001')
      .text-notice
        %i.fas.fa-check
        = t('searches.new.pc.check_002')
- else
  - if request.from_smartphone?
    .text-center.searches.right-side
      = render partial: 'home/right_side'
  - else
    .vertical-spacing
    .vertical-spacing
    .vertical-spacing
    .vertical-spacing
    .container
      .row{style: 'height: 560px;'}
        .hidden-xs.hidden-sm.col-md-6{style: 'display: table; height: 100%;'}
          = search_link 'ego_tter', build_via('big_icon'), style: 'display: table-cell; vertical-align: bottom;' do
            = image_tag '/egotter_icon_375x452.png', size: '375x452', class: 'img-rounded', style: 'display: block; margin: 0 auto;'

        .col-xs-12.col-md-6.center-block{style: 'awidth: 375px;'}
          .text-center.searches.right-side{style: 'background-color: #ffffff;'}
            = render partial: 'home/right_side'

.vertical-spacing.hidden-xs
.vertical-spacing.hidden-xs
.vertical-spacing.hidden-xs

%div.text-center{style: 'margin: 0 15px;'}
  %h3{style: 'font-size: 22px;'}= t('.text001_html')
  .vertical-spacing
  .vertical-spacing
  %div{style: 'font-size: 16px;'}= t('.text002')
  %div{style: 'font-size: 16px;'}= t('.text003_html')
  .vertical-spacing
  .vertical-spacing
  %div{style: 'width: 275px; margin: 0 auto;'}
    = sign_in_with_twitter_link('who_unfollow', 'button', class: 'btn btn-primary btn-block')
  .vertical-spacing
  .vertical-spacing

.vertical-spacing
.vertical-spacing

.container
  .row.searches.descriptions
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_001')
      %i.fas.fa-universal-access.fa-5x
      %div= t('searches.new.feature_desc_001_html')
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_002')
      %i.fas.fa-chart-bar.fa-5x
      %div= t('searches.new.feature_desc_002_html')
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_003')
      %i.far.fa-user.fa-5x
      %div= t('searches.new.feature_desc_003_html')

.container
  .row.searches.descriptions
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_008')
      %i.far.fa-envelope.fa-5x
      %div= t('searches.new.feature_desc_008_html')
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_009')
      %i.fas.fa-user-secret.fa-5x
      %div= t('searches.new.feature_desc_009_html')
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_010')
      %i.far.fa-handshake.fa-5x
      %div= t('searches.new.feature_desc_010_html')

.vertical-spacing.hidden-xs
.vertical-spacing.hidden-xs
.vertical-spacing.hidden-xs

%div.text-center{style: 'margin: 0 15px;'}
  %h3{style: 'font-size: 22px;'}= t('.text004_html')
  .vertical-spacing
  .vertical-spacing
  %div{style: 'font-size: 16px;'}= t('.text005_html')
  %div{style: 'font-size: 16px;'}= t('.text006_html')
  .vertical-spacing
  .vertical-spacing
  %div{style: 'width: 275px; margin: 0 auto;'}
    = sign_in_with_twitter_link('more_useful', 'button', class: 'btn btn-primary btn-block')
  .vertical-spacing
  .vertical-spacing

.vertical-spacing
.vertical-spacing

.container
  .row.searches
    .col-xs-12.col-sm-6{style: 'height: 550px; overflow: hidden; border-right: 1px solid #e6e6e6;'}
      %h3.h4.text-center= t('searches.new.twitter_feeds')
      #public-tweets-wrapper
    .col-xs-12.col-sm-6.text-center
      = render partial: 'layouts/share'

.vertical-spacing

:javascript
  $(function () {
    Home.setPublicTweets('#{load_public_tweets_path}', '#public-tweets-wrapper');
    Home.setSearchCount('#{search_count_path}');
  });
