= render(partial: 'searches/conversion_tracking')

- if user_signed_in?
  .container.text-center.searches
    %h3.h4= t('searches.new.lead_001')
    .lead= t('searches.new.lead_002_html')
    = render partial: 'common/search_form', locals: {via: build_via('input')}
    = render(partial: 'adsense/side_by_side', locals: {vertical: :top})
    = render partial: 'common/search_button', locals: {screen_name: current_user.screen_name, via: build_via('top_button')}
    .vertical-spacing
- else
  - if request.from_smartphone?
    .text-center.searches.right-side
      = render partial: 'home/right_side'
  - else
    .vertical-spacing
    .vertical-spacing
    .vertical-spacing
    .vertical-spacing
    .container
      .row{style: 'height: 560px; background-color: #ffffff;'}
        .hidden-xs.hidden-sm.col-md-6{style: 'display: table; height: 100%;'}
          = search_link 'ego_tter', build_via('big_icon'), style: 'display: table-cell; vertical-align: bottom;' do
            = image_tag '/egotter_icon_375x452.png', size: '375x452', class: 'img-rounded', style: 'display: block; margin: 0 auto;'

        .col-xs-12.col-md-6.center-block
          .text-center.searches.right-side{style: 'background-color: #ffffff;'}
            = render partial: 'home/right_side'

.vertical-spacing
.vertical-spacing

.vertical-spacing.hidden-xs
.vertical-spacing.hidden-xs
.vertical-spacing.hidden-xs

.vertical-spacing
.vertical-spacing
.vertical-spacing
.vertical-spacing

%div.text-center{style: 'margin: 0 15px;'}
  = render partial: 'shared/review_stars'
  %h2#review-title.h4= t('.text011_html')
  #public-tweets-wrapper.twitter.tweets.center-block

.vertical-spacing
.vertical-spacing
.vertical-spacing
.vertical-spacing

= render partial: 'shared/feature_section', locals: {title: t('.text001_html'), image: '/egotter_matte_384x432.png', description: t('.text002_html'), note: nil, link: sign_in_with_twitter_link(nil, 'who_unfollow_button', class: 'btn btn-primary btn-block'), check: [t('searches.new.pc.check_007'), t('searches.new.pc.check_008')]}

= render partial: 'shared/feature_section', locals: {title: t('.text007'), image: '/egotter_email_with_text_400x448.png', description: t('.text008_html'), note: nil, link: sign_in_with_twitter_link(nil, 'remove_notif_button', class: 'btn btn-primary btn-block'), check: [t('searches.new.pc.check_009'), t('searches.new.pc.check_010')]}

= render partial: 'shared/feature_section', locals: {title: t('.text009_html'), image: '/egotter_chart_346x430.png', description: t('.text010_html'), note: nil, link: sign_in_with_twitter_link(nil, 'chart_button', class: 'btn btn-primary btn-block'), check: [t('searches.new.pc.check_011')]}

= render partial: 'shared/feature_section', locals: {title: t('.text012_html'), image: '/egotter_chat_with_text_400x448.png', description: t('.text013_html'), note: nil, link: link_to(t('.text014_html'), 'https://twitter.com/ego_tter', target: '_blank', class: 'btn btn-primary btn-block'), check: [t('searches.new.pc.check_012')]}

.container
  .row.searches.descriptions
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_001')
      %i.fas.fa-universal-access.fa-5x
      %div= t('searches.new.feature_desc_001_html')
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_002')
      %i.fas.fa-chart-bar.fa-5x
      %div= t('searches.new.feature_desc_002_html')
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_003')
      %i.far.fa-user.fa-5x
      %div= t('searches.new.feature_desc_003_html')

.container
  .row.searches.descriptions
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_008')
      %i.far.fa-envelope.fa-5x
      %div= t('searches.new.feature_desc_008_html')
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_009')
      %i.fas.fa-user-secret.fa-5x
      %div= t('searches.new.feature_desc_009_html')
    .col-xs-12.col-sm-4
      %h3
        %i.fas.fa-check
        = t('searches.new.feature_010')
      %i.far.fa-handshake.fa-5x
      %div= t('searches.new.feature_desc_010_html')

.vertical-spacing.hidden-xs
.vertical-spacing.hidden-xs
.vertical-spacing.hidden-xs

%div.text-center{style: 'margin: 0 15px;'}
  %h3{style: 'font-size: 22px;'}= t('.text004_html')
  .vertical-spacing
  .vertical-spacing
  %div{style: 'font-size: 16px;'}= t('.text005_html')
  %div{style: 'font-size: 16px;'}= t('.text006_html')
  .vertical-spacing
  .vertical-spacing
  %div{style: 'width: 275px; margin: 0 auto;'}
    = sign_in_with_twitter_link(nil, 'more_useful_button', class: 'btn btn-primary btn-block')
  .vertical-spacing
  .vertical-spacing

.vertical-spacing
.vertical-spacing

:javascript
  $(function () {
    Home.setPublicTweets('#{load_public_tweets_path}', '#public-tweets-wrapper');
    Home.setSearchCount('#{search_count_path}');
  });
