- content_for :canonical_url do
  %link{href: start_url(screen_name: @screen_name), rel: 'canonical'}

- title t('.page_title')
- set_meta_tags description: t('.meta_description', user: @screen_name)

%h2.h4.text-center.my-5= t('.page_title')

.my-5= t('.desc1_html')

= render partial: 'misc/q', locals: {text: t('.q1')}
.mt-3.mb-5
  = t('.a1_html')

= render partial: 'misc/q', locals: {text: t('.q2')}
.mt-3.mb-5
  = t('.a2_html')

= render partial: 'misc/q', locals: {text: t('.q3')}
.mt-3.mb-5
  = t('.a3_html')

= render partial: 'misc/q', locals: {text: t('.q4')}
.mt-3.mb-5
  - if user_signed_in?
    = t('.a4_html', user: current_user.screen_name, url: timeline_path(current_user, via: current_via('question4')))
  - else
    = t('.a4_anonymous_html', url: sign_in_url(via: current_via('question4'), redirect_path: timeline_path(screen_name: ':screen_name', via: current_via('question4'))))

= render partial: 'misc/q', locals: {text: t('.q5')}
.mt-3.mb-5= t('.a5_html', support_account: 'egotter_cs', official_account: 'ego_tter', url: support_path(via: current_via('question5')))
