- if user_signed_in?
  - if current_user.uid != user.uid && !user.suspended?
    - is_following = current_user.is_following?(user.uid)

    %a.btn.btn-success.btn-sm{href: twitter_web_url(user.screen_name), rel: 'nofollow', style: "#{'display: none;' unless is_following}"}
      %i.fas.fa-check
      = t('.following')

    %a.btn.btn-outline-primary.btn-sm{href: twitter_web_url(user.screen_name), rel: 'nofollow', style: "#{'display: none;' if is_following}"}
      %i.fas.fa-user-plus.text-primary
      = t('.do_follow')
- else
  %a.btn.btn-outline-primary.btn-sm{href: twitter_web_url(user.screen_name), rel: 'nofollow'}
    %i.fas.fa-user-plus.text-primary
    = t('.do_follow')
