<% if switch_to_twitter_db_user?(user) %>
  <% user = user.twitter_db_user %>
<% end %>
<% logger.info { "Profile is rendered by #{user.class} in #{controller_name}##{action_name}" } %>
<% user = TwitterUserDecorator.new(user) %>
<% always_expanded ||= false %>

<style type=text/css>
    /* Extra small */
    @media (max-width: 575.98px) {
        .profile-header {
            border: none !important;
            border-bottom: 1px solid #dee2e6 !important;
        }

        .profile-banner {
            height: 120px;
            text-align: center;
        }

        .profile-icon-wrapper {
            width: 100%;
            position: relative;
        }

        .profile-icon-image {
            position: absolute;
            transform: translateY(-40px);
            width: 80px;
            height: 80px;
            border: 2px solid #eee;
        }
    }

    /* Except extra small */
    @media (min-width: 576px) {
        .profile-header {
            border: 1px solid #dee2e6 !important;
        }

        .profile-banner {
            height: 200px;
            text-align: center;
        }

        .profile-icon-wrapper {
            width: 100%;
            position: relative;
        }

        .profile-icon-image {
            position: absolute;
            transform: translateY(-60px);
            width: 120px;
            height: 120px;
            border: 2px solid #eee;
        }
    }

    .profile-banner img {
        max-width: 100%;
        max-height: 100%;
    }

    .profile-buttons {
        text-align: right;
    }
</style>

<div class="profile-header mt-3 <%= 'd-none d-md-block' unless always_expanded %>">
  <%#= Profile banner %>
  <div class="profile-banner">
    <% if user.profile_banner_url? %>
      <%= link_to user.profile_banner_url_for(request) do %>
        <img src="<%= user.profile_banner_url_for(request) %>">
      <% end %>
    <% else %>
      <div class="w-100 h-100" style="background-color: <%= user.profile_link_color_code %>;"></div>
    <% end %>
  </div>

  <%#= Profile icon %>
  <div class="profile-icon-wrapper">
    <% if user.profile_icon_url? %>
      <%= link_to user.profile_icon_url_for(request) do %>
        <%= image_tag user.profile_icon_url_for(request), class: 'profile-icon-image rounded-circle ml-1', alt: user.screen_name %>
      <% end %>
    <% else %>
      <div style="background-color: #868e96;" class="profile-icon-image rounded-circle ml-1"></div>
    <% end %>
  </div>

  <%#= Profile buttons %>
  <div class="profile-buttons mt-1 mr-0 mr-sm-3">
    <%= render partial: 'twitter/follow_button', locals: {user: user, with_text: true} %>

    <%= link_to user_url(user.screen_name), class: 'btn btn-outline-primary btn-sm btn-tracked d-none d-md-inline-block', target: '_blank', data: {'track-name': 'pc-profile-see-on-twitter'} do %>
      <i class="fab fa-twitter no-follow"></i>
      <%= t('.twitter') %>
    <% end %>

    <div class="dropdown d-none d-md-inline-block">
      <button type="button" class="btn btn-outline-primary btn-sm btn-tracked" data-track-name="pc-profile-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
          <i class="fab fa-twitter no-follow text-muted"></i>
          <%= t('.twitter') %>
        <% end %>
        <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
          <i class="fas fa-ban text-muted"></i>
          <%= t('.block') %>
        <% end %>
        <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
          <i class="fas fa-volume-mute text-muted"></i>
          <%= t('.mute') %>
        <% end %>
        <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
          <i class="fas fa-flag text-muted"></i>
          <%= t('.report_spam') %>
        <% end %>
      </div>
    </div>

    <%# Display on extra small and small %>
    <div class="d-inline-block d-md-none">
      <%= link_to user_url(user.screen_name), class: 'btn btn-outline-primary btn-sm btn-tracked', target: '_blank', data: {'track-name': 'mobile-profile-see-on-twitter'} do %>
        <i class="fab fa-twitter no-follow"></i>
      <% end %>

      <button type="button" class="btn btn-outline-primary btn-sm btn-profilemenu btn-tracked" data-track-name="mobile-profile-dropdown-menu">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
    <%= render partial: 'layouts/profilemenu', locals: {user: user} %>
  </div>

  <div class="profile-contents p-0 px-sm-3">
    <div class="my-3">
      <%= user.name_with_icon %>
      <span class="text-muted"><%= mention_name(user.screen_name) %></span>
      <%= user.single_followed_label if user_signed_in? && current_user_follower_uids.include?(user.uid) %>
    </div>

    <% if user.description? %>
      <div class="small my-3"><%= linkify(user.description).gsub("\n", '<br>').html_safe %></div>
    <% end %>

    <% if user.location? %>
      <div class="small my-1"><i class="fas fa-map-marker text-muted"></i>&nbsp;<%= user.location %></div>
    <% end %>

    <% if user.url? %>
      <div class="small my-1">
        <i class="fas fa-link text-muted"></i>&nbsp;<%= link_to(user.url.remove(/^https?:\/\//).truncate(30), user.url, style: 'word-break: break-all;', target: '_blank', rel: 'nofollow') %>
      </div>
    <% end %>

    <% if user.account_created_at? %>
      <% birthday = user.account_created_at.in_time_zone('Tokyo') %>
      <div class="small my-1"><i class="fas fa-birthday-cake text-muted"></i>&nbsp;<%= t('.birthday', date: l(birthday, format: :birthday)) %></div>
    <% end %>

    <div class="row m-3">
      <% via = current_via('profile_header') %>
      <div class="col-6 mb-3 small">
        <%= link_to status_path(user, via: via) do %>
          <strong class="text-black"><%= user.delimited_statuses_count %></strong>
          <br class="d-block d-md-none">
          <span class="text-muted small"><%= t('.statuses') %></span>
        <% end %>
      </div>
      <div class="col-6 mb-3 small">
        <%= link_to usage_stat_path(user, via: via) do %>
          <strong class="text-black"><%= (value = user.status_interval_avg_in_words) == 0 ? '0' : (value || t('.unknown_value')) %></strong>
          <br class="d-block d-md-none">
          <span class="text-muted small"><%= t('.status_interval_avg') %></span>
        <% end %>
      </div>
      <div class="col-6 mb-3 small">
        <%= link_to friend_path(user, via: via) do %>
          <strong class="text-black"><%= user.delimited_friends_count %></strong>
          <br class="d-block d-md-none">
          <span class="text-muted small"><%= t('.friends') %></span>
        <% end %>
      </div>
      <div class="col-6 mb-3 small">
        <%= link_to usage_stat_path(user, via: via) do %>
          <strong class="text-black"><%= user.reverse_percent_follow_back_rate || t('.unknown_value') %></strong>
          <br class="d-block d-md-none">
          <span class="text-muted small"><%= t('.reverse_follow_back_rate') %></span>
        <% end %>
      </div>
      <div class="col-6 small">
        <%= link_to follower_path(user, via: via) do %>
          <strong class="text-black"><%= user.delimited_followers_count %></strong>
          <br class="d-block d-md-none">
          <span class="text-muted small"><%= t('.followers') %></span>
        <% end %>
      </div>
      <div class="col-6 small">
        <%= link_to usage_stat_path(user, via: via) do %>
          <strong class="text-black"><%= user.percent_follow_back_rate || t('.unknown_value') %></strong>
          <br class="d-block d-md-none">
          <span class="text-muted small"><%= t('.follow_back_rate') %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if user.updated_at %>
  <div class="text-right small text-muted <%= 'd-none d-md-block' unless always_expanded %>"><%= l(user.updated_at.in_time_zone('Tokyo'), format: :profile_header_long) %></div>
<% end %>

<script>
  $(function () {
    <% if user_signed_in? %>
      new FollowButton('.profile-buttons');
      new UnfollowButton('.profile-buttons');
    <% end %>

    var eventCategory = '<%= "#{controller_name}##{action_name}" %>';
    var twitterUser = {
      userId: '<%= current_user&.id %>',
      uid: '<%= user.uid %>',
      screenName: "<%= user.screen_name %>"
    };
    var container = $('.profile-header');

    container.find('.btn-tracked').on('click', function () {
      var trackName = $(this).data('track-name');
      var event = {
        hitType: 'event',
        eventCategory: eventCategory,
        eventAction: trackName + ' clicked',
        eventLabel: JSON.stringify(twitterUser)
      };
      ga('send', event);
      console.log('event', event);
    });

  });
</script>
