<% user = user.twitter_db_user if switch_to_twitter_db_user?(user) %>
<% logger.info "Profile is rendered by #{user.class} in #{controller_name}##{action_name}" %>
<% user = TwitterUserDecorator.new(user) %>

<div class="profile-overview-container">
  <div class="profile-overview uid-<%= user.uid %>">
    <div class="profile-overview-overlay">
      <div class="profile-overview-carousel">
        <div class="text-center"><!-- first slide -->
          <%= link_to(timeline_path(user, via: current_via('icon_on_profile')), class: 'icon-link') do %>
            <%= bigger_icon_img(user) %>
          <% end %>
          <div class="name">
            <%= link_to("#{mention_name(user.screen_name)}&nbsp;#{user.name_with_icon}".html_safe, timeline_path(user, via: current_via('mention_name_on_profile'))) %>
            <%= user.status_labels %>
          </div>

          <% if user.location? %>
            <div class="location visible-md-block visible-lg-block"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<%= user.location %></div>
          <% end %>
          <% if user.account_created_at? %>
            <div class="calendar visible-md-block visible-lg-block"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<%= l(user.account_created_at) %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- .profile-overview -->

  <div class="description-container">
    <div class="text-center">
      <span class="text-center">
        <%= render partial: 'twitter/follow_button', locals: {user: user, with_text: true} %>
      </span>

      <span class="text-center">
        <%= link_to user_url(user.screen_name), class: 'btn btn-default', target: '_blank' do %>
          <i class="text-muted fab fa-twitter no-follow"></i>
          <div class="visible-lg-inline visible-md-inline visible-xs-inline"><%= t('twitter.profile.see_on_twitter') %></div>
        <% end %>
      </span>
    </div>

    <div class="vertical-spacing"></div>

    <% if user.description? %>
      <div class="description text-center"><%= auto_linking(user.description) %></div>
    <% end %>

    <% if user.url? %>
      <div class="link text-center">
        <span class="glyphicon glyphicon-link"></span>&nbsp;<%= link_to(user.url, user.url, target: '_blank', rel: 'nofollow') %>
      </div>
    <% end %>
  </div><!-- .description-container -->
</div>

<style type="text/css">
  .profile-overview-container .uid-<%= user.uid %> {
    <% if user.profile_banner_url? %>
      background-size: cover;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.298039)), url('<%= "#{user.profile_banner_url_for(request)}" %>');
    <% else %>
      background-color: <%= user.profile_link_color_code %>;
    <% end %>
  }
</style>

<div class="profile-counts-container">
  <div class="row">
    <div class="tweets col-xs-3">
      <%= link_to status_path(user, via: current_via('statuses_on_profile')) do %>
        <span><b><%= user.delimited_statuses_count %></b></span>
        <br class="visible-xs-block">
        <span class="text-muted suffix"><%= TwitterUser.human_attribute_name(:statuses) %></span>
      <% end %>
    </div>
    <div class="friends col-xs-3">
      <%= link_to friend_path(user, via: current_via('friends_on_profile')) do %>
        <span><b><%= user.delimited_friends_count %></b></span>
        <br class="visible-xs-block">
        <span class="text-muted suffix"><%= TwitterUser.human_attribute_name(:friends) %></span>
      <% end %>
    </div>
    <div class="followers col-xs-3">
      <%= link_to follower_path(user, via: current_via('followers_on_profile')) do %>
        <span><b><%= user.delimited_followers_count %></b></span>
        <br class="visible-xs-block">
        <span class="text-muted suffix"><%= TwitterUser.human_attribute_name(:followers) %></span>
      <% end %>
    </div>
    <div class="follow-back-rate col-xs-3">
      <div>
        <span><b><%= user.percent_follow_back_rate %></b></span>
        <br class="visible-xs-block">
        <span class="text-muted suffix"><%= UsageStat.human_attribute_name(:follow_back_rate) %></span>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <script>
    $(function () {
      Twitter.enableFollowButton('.profile-overview-container');
      Twitter.enableUnfollowButton('.profile-overview-container');
    });
  </script>
<% end %>
