<% random_id = SecureRandom.urlsafe_base64(10) %>
<% container_id = "profile-section-#{random_id}" %>
<% body_id = "profile-section-body-#{random_id}" %>
<% profilemenu_id = "profilemenu-#{random_id}" %>

<% if switch_to_twitter_db_user?(user) %>
  <% user = user.twitter_db_user %>
<% end %>
<% logger.info { "Profile is rendered by #{user.class} in #{controller_name}##{action_name}" } %>
<% user = TwitterUserDecorator.new(user) %>
<% body_expanded ||= false %>

<div id="<%= container_id %>" class="profile-header mt-3">
  <%#= Profile banner %>
  <div class="profile-banner">
    <% if user.profile_banner_url? %>
      <%= link_to user.profile_banner_url_for(request) do %>
        <img src="<%= user.profile_banner_url_for(request) %>">
      <% end %>
    <% else %>
      <div class="w-100 h-100" style="background-color: <%= user.profile_link_color_code %>;"></div>
    <% end %>
  </div>

  <%#= Profile icon %>
  <div class="profile-icon-wrapper">
    <% if user.profile_icon_url? %>
      <%= link_to user.profile_icon_url_for(request) do %>
        <%= image_tag user.profile_icon_url_for(request), class: 'profile-icon-image rounded-circle ml-1', alt: user.screen_name %>
      <% end %>
    <% else %>
      <div style="background-color: #868e96;" class="profile-icon-image rounded-circle ml-1"></div>
    <% end %>
  </div>

  <%#= Profile buttons %>
  <div class="profile-buttons mt-1 mr-0 mr-sm-3">
    <%= render partial: 'twitter/follow_button', locals: {user: user, with_text: true} %>

    <%= link_to user_url(user.screen_name), class: 'btn btn-outline-primary btn-sm btn-tracked d-none d-md-inline-block', target: '_blank', data: {category: 'See on twitter', 'action': request.device_type} do %>
      <i class="fab fa-twitter no-follow"></i>
      <%= t('.twitter') %>
    <% end %>

    <div class="dropdown d-none d-md-inline-block">
      <button type="button" class="btn btn-outline-primary btn-sm btn-tracked" data-category="Dropdown menu" data-action="<%= request.device_type %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
          <i class="fab fa-twitter no-follow text-muted"></i>
          <%= t('.twitter') %>
        <% end %>
        <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
          <i class="fas fa-ban text-muted"></i>
          <%= t('.block') %>
        <% end %>
        <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
          <i class="fas fa-volume-mute text-muted"></i>
          <%= t('.mute') %>
        <% end %>
        <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
          <i class="fas fa-flag text-muted"></i>
          <%= t('.report_spam') %>
        <% end %>
      </div>
    </div>

    <%# Display on extra small and small %>
    <div class="d-inline-block d-md-none">
      <%= link_to user_url(user.screen_name), class: 'btn btn-outline-primary btn-sm btn-tracked', target: '_blank', data: {category: 'See on twitter', 'action': request.device_type} do %>
        <i class="fab fa-twitter no-follow"></i>
      <% end %>

      <button type="button" class="btn btn-outline-primary btn-sm <%= profilemenu_id %> btn-tracked" data-category="Dropdown menu" data-action="<%= request.device_type %>">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
    <%= render partial: 'layouts/profilemenu', locals: {user: user, button_class: profilemenu_id} %>
  </div>

  <div class="profile-contents p-0 px-sm-3">
    <div class="my-3">
      <%= user.name_with_icon %>
      <span class="text-muted"><%= mention_name(user.screen_name) %></span>
      <%= user.single_followed_label if user_signed_in? && current_user_follower_uids.include?(user.uid) %>
    </div>

    <% if user.description? %>
      <div class="small my-3"><%= linkify(user.description).gsub("\n", '<br>').html_safe %></div>
    <% end %>

    <% if body_expanded %>
      <%= render partial: 'twitter/profile_body', locals: {user: user} %>
    <% else %>
      <div class="text-right">
        <a class="btn btn-outline-primary btn-sm mb-3 text-right" data-toggle="collapse" aria-expanded="false" href="#<%= body_id %>">
          <%= t('.profile_details') %>
        </a>
      </div>

      <div id="<%= body_id %>" class="collapse">
        <%= render partial: 'twitter/profile_body', locals: {user: user} %>
      </div>
    <% end %>
  </div>
</div>
<% if user.updated_at %>
  <div class="text-right small text-muted"><%= user.updated %></div>
<% end %>

<script>
  $(function () {
    var containerId = '<%= container_id %>';

    <% if user_signed_in? %>
    var via = '<%= current_via('profile') %>';
    new FollowButton('#' + containerId + ' .profile-buttons', via);
    new UnfollowButton('#' + containerId + ' .profile-buttons', via);
    <% end %>

    $('#' + containerId).find('.btn-tracked').on('click', function () {
      var event = {
        hitType: 'event',
        eventCategory: $(this).data('category'),
        eventAction: $(this).data('action'),
        eventLabel: "<%= user.screen_name %>"
      };
      ga('send', event);
      logger.log('event(ga)', event);
    });

  });
</script>
