<% user = user.twitter_db_user if switch_to_twitter_db_user?(user) %>
<% logger.info "Profile is rendered by #{user.class} in #{controller_name}##{action_name}" %>
<% user = TwitterUserDecorator.new(user) %>

<div class="border">
  <div style="position: relative;">
    <div style="max-height: 180px; overflow: hidden;">
      <% if user.profile_banner_url? %>
        <img style="width: 100%;" src="<%= user.profile_banner_url_for(request) %>">
      <% else %>
        <div style="background-color: <%= user.profile_link_color_code %>; width: 100%; height: 100%;"></div>
      <% end %>
    </div>

    <div class="ml-3" style="position: absolute; transform: translateY(-50%);">
      <%= image_tag user.profile_image_url_https.remove('_normal'), style: 'border: 3px solid #fff;', class: 'rounded-circle', size: '130x130', alt: user.screen_name %>
    </div>
  </div>

  <div class="ml-3">
    <div style="margin-top: 65px;"><%= user.name_with_icon %></div>
    <div class="text-muted"><%= mention_name(user.screen_name) %></div>
    <div><%= user.status_labels %></div>

    <% if user.description? %>
      <div><%= auto_linking(user.description) %></div>
    <% end %>

    <% if user.location? %>
      <span class="glyphicon glyphicon-map-marker"></span>&nbsp;<%= user.location %>
    <% end %>

    <% if user.url? %>
      <span class="glyphicon glyphicon-link"></span>&nbsp;<%= link_to(user.url, user.url, target: '_blank', rel: 'nofollow') %>
    <% end %>

    <% if user.account_created_at? %>
      <div><span class="glyphicon glyphicon-calendar"></span>&nbsp;<%= l(user.account_created_at) %></div>
    <% end %>


    <div class="profile-buttons">
      <%= render partial: 'twitter/follow_button', locals: {user: user, with_text: true} %>

      <%= link_to user_url(user.screen_name), class: 'btn btn-outline-primary', target: '_blank' do %>
        <i class="fab fa-twitter no-follow"></i>
        <div><%= t('twitter.profile.see_on_twitter') %></div>
      <% end %>
    </div>

    <div class="my-3">
      <%= link_to status_path(user, via: current_via('statuses_on_profile')) do %>
        <span><b><%= user.delimited_statuses_count %></b></span>
        <span class="text-muted suffix"><%= TwitterUser.human_attribute_name(:statuses) %></span>
      <% end %>

      <%= link_to friend_path(user, via: current_via('friends_on_profile')) do %>
        <span><b><%= user.delimited_friends_count %></b></span>
        <span class="text-muted suffix"><%= TwitterUser.human_attribute_name(:friends) %></span>
      <% end %>

      <%= link_to follower_path(user, via: current_via('followers_on_profile')) do %>
        <span><b><%= user.delimited_followers_count %></b></span>
        <span class="text-muted suffix"><%= TwitterUser.human_attribute_name(:followers) %></span>
      <% end %>

      <span>
        <span><b><%= user.percent_follow_back_rate %></b></span>
        <span class="text-muted suffix"><%= UsageStat.human_attribute_name(:follow_back_rate) %></span>
      </span>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <script>
    $(function () {
      Twitter.enableFollowButton('.profile-buttons');
      Twitter.enableUnfollowButton('.profile-buttons');
    });
  </script>
<% end %>
