<% user = user.twitter_db_user if switch_to_twitter_db_user?(user) %>
<% logger.info { "Profile is rendered by #{user.class} in #{controller_name}##{action_name}" } %>
<% user = TwitterUserDecorator.new(user) %>
<% always_expanded = false unless defined?(always_expanded) %>

<style type=text/css>
  /* extra small */
  @media (max-width: 575.98px) {
    .profile-header {
      border: none !important;
      border-bottom: 1px solid #dee2e6 !important;
    }
  }

  /* others */
  @media (min-width: 576px) {
    .profile-header {
      border: 1px solid #dee2e6 !important;
    }
  }

  .profile-banner {
    max-height: 180px;
    overflow: hidden;
  }

  .profile-icon-and-buttons {
    width: 100%;
    position: relative;
  }

  .profile-icon-wrapper {
    width: 100%;
    position: absolute;
    transform: translateY(-60px);
  }

  .profile-icon {
    width: 120px;
    height: 120px;
    border: 2px solid #eee;
  }

  .profile-buttons {
    position: absolute;
    top: 0;
    right: 0;
  }

  .profile-contents {
    margin-top: 80px;
  }
</style>

<div class="profile-header <%= 'd-none d-md-block' unless always_expanded %>">
  <%#= Profile banner %>
  <div class="profile-banner">
    <% if user.profile_banner_url? %>
      <img class="w-100 h-auto" src="<%= user.profile_banner_url_for(request) %>">
    <% else %>
      <div class="w-100 h-100" style="background-color: <%= user.profile_link_color_code %>;"></div>
    <% end %>
  </div>

  <div class="profile-icon-and-buttons">
    <%#= Profile icon %>
    <div class="profile-icon-wrapper">
      <% if user.profile_icon_url? %>
        <%= image_tag user.profile_icon_url_for(request), class: 'profile-icon rounded-circle ml-1', alt: user.screen_name %>
      <% else %>
        <div style="background-color: #868e96;" class="profile-icon rounded-circle ml-1"></div>
      <% end %>
    </div>

    <%#= Profile buttons %>
    <div class="profile-buttons mt-3 mr-0 mr-sm-3">
      <%= render partial: 'twitter/follow_button', locals: {user: user, with_text: true} %>

      <%= link_to user_url(user.screen_name), class: 'btn btn-outline-primary d-none d-md-inline-block', target: '_blank' do %>
        <i class="fab fa-twitter no-follow"></i>
        <%= t('.twitter') %>
      <% end %>

      <div class="dropdown d-none d-md-inline-block">
        <button type="button" class="btn btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-h"></i>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
            <i class="fab fa-twitter no-follow text-muted"></i>
            <%= t('.twitter') %>
          <% end %>
          <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
            <i class="fas fa-ban text-muted"></i>
            <%= t('.block') %>
          <% end %>
          <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
            <i class="fas fa-volume-mute text-muted"></i>
            <%= t('.mute') %>
          <% end %>
          <%= link_to user_url(user.screen_name), class: 'dropdown-item py-3', target: '_blank' do %>
            <i class="fas fa-flag text-muted"></i>
            <%= t('.report_spam') %>
          <% end %>
        </div>
      </div>

      <%# Display on extra small and small %>
      <div class="d-inline-block d-md-none">
        <%= link_to user_url(user.screen_name), class: 'btn btn-outline-primary', target: '_blank' do %>
          <i class="fab fa-twitter no-follow"></i>
        <% end %>

        <button type="button" class="btn btn-outline-primary btn-profilemenu">
          <i class="fas fa-ellipsis-h"></i>
        </button>
      </div>
      <%= render partial: 'layouts/profilemenu', locals: {user: user} %>
    </div>
  </div>

  <div class="profile-contents p-0 px-sm-3">
    <div class="my-3">
      <%= user.name_with_icon %>
      <span class="text-muted"><%= mention_name(user.screen_name) %></span>
      <%= user.status_labels(user_signed_in? && current_user_follower_uids.include?(user.uid_i)) %>
    </div>

    <% if user.description? %>
      <div class="my-3"><%= auto_linking(user.description) %></div>
    <% end %>

    <% if user.location? %>
      <i class="fas fa-map-marker text-muted"></i>&nbsp;<%= user.location %>
    <% end %>

    <% if user.url? %>
      <i class="fas fa-link text-muted"></i>&nbsp;<%= link_to(user.url, user.url, style: 'word-break: break-all;', target: '_blank', rel: 'nofollow') %>
    <% end %>

    <% if user.account_created_at? %>
      <% birthday = user.account_created_at.in_time_zone('Tokyo') %>
      <div class="my-3"><i class="fas fa-birthday-cake text-muted"></i>&nbsp;<%= t('.birthday', date: l(birthday, format: :birthday)) %></div>
    <% end %>

    <div class="row justify-content-between m-3">
      <%= via = current_via('profile_header') %>
      <% [
             [status_path(user, via: via), user.delimited_statuses_count, :statuses],
             [friend_path(user, via: via), user.delimited_friends_count, :friends],
             [follower_path(user, via: via), user.delimited_followers_count, :followers],
             [usage_stat_path(user, via: via), user.percent_follow_back_rate, :follow_back_rate],
         ].each do |url, count, name| %>
        <div class="col-6 col-md-3 mb-3">
          <%= link_to url do %>
            <strong class="text-black"><%= count %></strong>
            <br class="d-block d-lg-none">
            <span class="text-muted"><%= TwitterUser.human_attribute_name(name) %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <script>
    $(function () {
      new FollowButton('.profile-buttons');
      new UnfollowButton('.profile-buttons');
    });
  </script>
<% end %>
