- user = TwitterUserDecorator.new(tweet.user)
.card.mb-3
  .row.no-gutters
    .col-auto.p-1
      = link_to timeline_path(user, via: current_via('icon')) do
        = image_tag bigger_icon_url(user), class: 'rounded-circle', style: 'max-width: 50px; width: 100%;', alt: user.screen_name
    .col
      .card-body
        %h6.card-title.small
          = link_to user.screen_name, timeline_path(user, via: current_via('screen_name'))
          = user.name_with_icon
          = tweet_link(tweet)
        .card-text.small= linkify(tweet.text)
