<% container_id = "text-#{text.object_id}" %>

<div id="<%= container_id %>" class="mb-3">
  <div class="p-2" style="border: 1px solid #e6e6e6;">
    <div class="textarea" style="word-break: break-all;"><%= text.gsub("\n", '<br>').html_safe %></div>
  </div>

  <div class="text-right mt-1">
    <%= link_to '#', class: 'btn btn-outline-primary btn-copy' do %>
      <i class="far fa-copy"></i>
      <%= t('.copy') %>
    <% end %>
    <%= link_to '#', class: 'btn btn-primary btn-tweet' do %>
      <i class="fab fa-twitter"></i>
      <%= t('.tweet') %>
    <% end %>
  </div>
</div>

<script>
  $(function () {
    function openWindow(html) {
      var text = html.replace(/<br>/gm, "\n").replace(/<[^>]*>?/gm, '');
      var url = 'https://twitter.com/intent/tweet?text=' + encodeURIComponent(text);
      window.open(url, 'TwitterWindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes');
    }

    var controller = '<%= controller_name %>';
    var twitterUser = {
      userId: '<%= current_user&.id %>',
      uid: '<%= twitter_user.uid %>',
      screenName: "<%= twitter_user.screen_name %>"
    };
    var container = $('#<%= container_id %>');
    var textarea = container.find('.textarea');

    function clickElement(name) {
      var event = {
        hitType: 'event',
        eventCategory: name + ' clicked',
        eventAction: controller,
        eventLabel: JSON.stringify(twitterUser)
      };
      ga('send', event);
    }

    textarea.on('click', function () {
      clickElement('Textarea');
    });

    container.find('.btn-copy').on('click', function () {
      openWindow(textarea.val() || textarea.html());
      clickElement('CopyButton');
      return false;
    });

    container.find('.btn-tweet').on('click', function () {
      openWindow(textarea.val() || textarea.html());
      clickElement('TweetButton');
      return false;
    });
  });
</script>
