- user = tweet.user
.media
  .media-left
    = link_to search_path(screen_name: user.screen_name) do
      %img.media-object{alt: mention_name(user.screen_name), height: '48', src: user.profile_image_url_https.to_s, width: '48'}
  .media-body
    %h4.media-heading= user_name(user)
    %span.screen-name= link_to(mention_name(user.screen_name), search_path(screen_name: user.screen_name))
  .media-right.created-at= tweet_link(tweet)
  .tweet-text= linkify(tweet.text)
