.col-xs-12.col-sm-6.col-md-4{style: 'margin-bottom: 15px;'}
  .media
    .media-inner
      .media-left
        = link_to timeline_path(screen_name: user.screen_name) do
          = normal_icon_img(user, class: 'media-object')
      .media-body
        %h4.media-heading
          = link_to(mention_name(user.screen_name), timeline_path(user))
          = user_name(user, label: true)
        %span.friends-count
          = "#{user.friends_count} / #{user.followers_count}"
      .description= user.description