- uids << user.uid.to_i if defined?(uids) && uids.is_a?(Array)
- via = build_via if !defined?(via) || via.blank?

- if ad && defined?(user_counter) && user_counter == 3
  = render partial: 'adsense/side_by_side', locals: {vertical: :slit}
  %div{style: 'height: 0; border-top: 1px solid #e6e6e6; margin-bottom: 15px;'}

.col-xs-12{style: 'margin-bottom: 15px;'}
  .media
    .media-inner
      .media-left
        = search_link user.screen_name, via do
          = normal_icon_img(user, class: 'media-object')
      .media-body
        %h4.media-heading
          = search_link user.screen_name, via
          %br.visible-xs-block
          = user_name(user, label: true)
        .visible-md-block.visible-lg-block
          %span
            %span.friends-count
              %b= user.friends_count.to_s(:delimited)
              %span.text-muted= TwitterUser.human_attribute_name(:friends)
            %span.followers-count
              %b= user.followers_count.to_s(:delimited)
              %span.text-muted= TwitterUser.human_attribute_name(:followers)
            %span.statuses-count
              %b= user.statuses_count.to_s(:delimited)
              %span.text-muted= TwitterUser.human_attribute_name(:statuses)
      .media-right
        .buttons
          - if user_signed_in?
            - if current_user_uid != user.uid.to_i
              - onclick = "window.open(this.href, 'window', 'width=600, height=400, menubar=no, toolbar=no, scrollbars=yes'); return false;"
              - url = "https://twitter.com/intent/follow?screen_name=#{user.screen_name}"
              - if current_user_is_following?(user.uid)
                %a.btn.btn-success.follow{href: url, onclick: onclick, target: '_blank'}
                  %span.glyphicon.glyphicon-ok
                  .visible-md-inline.visible-lg-inline= t('searches.common.following')
              - else
                %a.btn.btn-default.no-follow{href: url, onclick: onclick, target: '_blank'}
                  %i.text-muted.fa.fa-user-plus{'area-hidden': true}
                  .visible-md-inline.visible-lg-inline= t('searches.common.do_follow')
          - else
            %a.btn.btn-default.no-follow{href: sign_in_path(via: build_via('follow_btn'))}
              %i.text-muted.fa.fa-user-plus{'area-hidden': true}
              .visible-md-inline.visible-lg-inline= t('searches.common.do_follow')

          = search_link user.screen_name, via do
            %button.btn.btn-info{type: 'button'}
              %span.glyphicon.glyphicon-search
              .visible-md-inline.visible-lg-inline= t('searches.common.do_search')
      .description= linkify(user.description)
