- via = current_via if !defined?(via) || via.blank?
- user = TwitterUserDecorator.new(user)

- if ad && defined?(user_counter) && user_counter == 3
  %div{class: grid_class}
    = render partial: 'adsense/side_by_side', locals: {vertical: :slit}
    .vertical-spacing

%div{class: grid_class}
  .card.mb-3.mb-lg-5
    .row.no-gutters
      .col
        = search_link user.screen_name, via do
          = image_tag bigger_icon_url(user), class: 'rounded', style: 'width: 100%;', alt: user.screen_name
      .col-10
        .card-body
          %h5.card-title
            = search_link user.screen_name, via
            = user.name_with_icon
            = user.status_labels
          %p.card-text= linkify(user.description)
          %p.card-text
            %span
              %b= user.delimited_friends_count
              %span.text-muted= TwitterUser.human_attribute_name(:friends)
            %span
              %b= user.delimited_followers_count
              %span.text-muted= TwitterUser.human_attribute_name(:followers)
          %p.card-text.text-right
            = render partial: 'twitter/follow_button', locals: {user: user}

            = search_link user.screen_name, via do
              %button.btn.btn-primary{type: 'button'}
                %i.fas.fa-search
                = t('twitter.user.search')
