- via = build_via if !defined?(via) || via.blank?
- user = TwitterUserDecorator.new(user)

- if ad && defined?(user_counter) && user_counter == 3
  %div{class: grid_class}
    = render partial: 'adsense/side_by_side', locals: {vertical: :slit}
    .vertical-spacing

%div{class: grid_class}
  .media
    .media-inner
      .media-left
        = search_link user.screen_name, via do
          = normal_icon_img(user, class: 'media-object')
      .media-body
        %h4.media-heading
          = search_link user.screen_name, via
          %br.visible-xs-block
          = user.name_with_icon
          = user.status_labels
        .visible-md-block.visible-lg-block
          %span
            %span.friends-count
              %b= user.delimited_friends_count
              %span.text-muted= TwitterUser.human_attribute_name(:friends)
            %span.followers-count
              %b= user.delimited_followers_count
              %span.text-muted= TwitterUser.human_attribute_name(:followers)
            %span.statuses-count
              -#%b= user.delimited_statuses_count
              %span.text-muted= TwitterUser.human_attribute_name(:statuses)
      .media-right
        .buttons
          = render partial: 'twitter/follow_button', locals: {user: user}

          = search_link user.screen_name, via do
            %button.btn.btn-info{type: 'button'}
              %span.glyphicon.glyphicon-search
              .visible-md-inline.visible-lg-inline= t('twitter.user.search')
      .description= linkify(user.description)

  .vertical-spacing
