- uids << user.uid.to_i if defined?(uids)
- via = "#{controller_name}/#{action_name}" unless defined?(via)

- if defined?(user_counter) && user_counter == 3
  = render partial: 'common/adsense', locals: {action: action_name, vertical: :slit}
  %div{style: 'height: 0; border-top: 1px solid #e6e6e6; margin-bottom: 15px;'}

.media
  .media-left
    = link_to search_path(screen_name: user.screen_name) do
      %img.media-object{alt: mention_name(user.screen_name), height: '48', src: user.profile_image_url_https.to_s, width: '48'}
  .media-body
    %h4.media-heading= user_name(user).html_safe
    %span.screen-name= link_to(mention_name(user.screen_name), search_path(screen_name: user.screen_name))
  .media-right
    .buttons
      - if user_signed_in? && current_user.uid.to_i != user.uid.to_i && current_user.twitter_user
        - if current_user.twitter_user.friend_uids.include? user.uid.to_i
          %button.btn.btn-success.follow{type: 'button'}
            %span.glyphicon.glyphicon-ok
        - else
          %button.btn.btn-default.no-follow{type: 'button'}
            %span.text-muted.glyphicon.glyphicon-plus

      = link_to searches_path_for(controller: controller_name, screen_name: user.screen_name, via: via), method: :post do
        %button.btn.btn-info{type: 'button'}
          %span.glyphicon.glyphicon-search
  .description= linkify(user.description)
