- via = build_via if !defined?(via) || via.blank?

- if ad && defined?(user_counter) && user_counter == 3
  = render partial: 'adsense/side_by_side', locals: {vertical: :slit}
  %div{style: 'height: 0; border-top: 1px solid #e6e6e6;'}
  .vertical-spacing

%div{class: grid_class}
  .media
    .media-inner
      .media-left
        = search_link user.screen_name, via do
          = normal_icon_img(user, class: 'media-object')
      .media-body
        %h4.media-heading
          = search_link user.screen_name, via
          %br.visible-xs-block
          = user_name(user)
          = user_label(user)
        .visible-md-block.visible-lg-block
          %span
            %span.friends-count
              %b= user.friends_count.to_i.to_s(:delimited)
              %span.text-muted= TwitterUser.human_attribute_name(:friends)
            %span.followers-count
              %b= user.followers_count.to_i.to_s(:delimited)
              %span.text-muted= TwitterUser.human_attribute_name(:followers)
            %span.statuses-count
              %b= user.statuses_count.to_i.to_s(:delimited)
              %span.text-muted= TwitterUser.human_attribute_name(:statuses)
      .media-right
        .buttons
          = render partial: 'twitter/follow_button', locals: {user: user}

          = search_link user.screen_name, via do
            %button.btn.btn-info{type: 'button'}
              %span.glyphicon.glyphicon-search
              .visible-md-inline.visible-lg-inline= t('searches.common.do_search')
      .description= linkify(user.description)

  .vertical-spacing
