<div class="d-flex m-3">
  <div class="mr-3"><%= t('.delete_caches.title') %></div>
  <div>
    <% if @reset_cache_request %>
      <span class="btn btn-warning btn-sm disabled" disabled="disabled"><%= t('.delete_caches.button') %></span>
      <div class="text-muted small mt-1"><%= t('.requested') %></div>
    <% else %>
      <% if current_user.has_valid_subscription? %>
        <% if current_user.has_trial_subscription? %>
          <span id="btn-delete-cache-end-trial" class="btn btn-warning btn-sm btn-end-trial"><%= t('.delete_caches.button') %></span>
        <% else %>
          <%= link_to t('.delete_caches.button'), '#', class: 'btn btn-warning btn-sm', data: {target: '#reset-cache-modal', toggle: 'modal'} %>
          <%= render partial: 'modal/reset_cache_modal', locals: {modal_id: 'reset-cache-modal'} %>
        <% end %>
        <div class="text-muted small mt-1"><%= t('.delete_caches.note_html') %></div>
      <% else %>
        <%= link_to t('.delete_caches.button'), '#', class: 'btn btn-warning btn-sm', data: {target: '#checkout-for-reset-cache-confirmation-modal', toggle: 'modal'} %>
        <%= modal_dialog(id: 'checkout-for-reset-cache-confirmation-modal', title: t('.delete_caches.confirmation_modal.title'), body: t('.delete_caches.confirmation_modal.body_html', screen_name: current_user.screen_name), button: {positive: t('.delete_caches.confirmation_modal.ok'), positive_class: 'see-more-button-on-cache-modal'}) %>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="d-flex m-3">
  <div class="mr-3"><%= t('.delete_data.title') %></div>
  <div>
    <% if @reset_egotter_request %>
      <span class="btn btn-danger btn-sm disabled" disabled="disabled"><%= t('.delete_data.button') %></span>
      <div class="text-muted small mt-1"><%= t('.requested') %></div>
    <% else %>
      <% if current_user.has_valid_subscription? %>
        <% if current_user.has_trial_subscription? %>
          <span id="btn-delete-data-end-trial" class="btn btn-danger btn-sm btn-end-trial"><%= t('.delete_data.button') %></span>
        <% else %>
          <%= link_to t('.delete_data.button'), '#', class: 'btn btn-danger btn-sm', data: {target: '#reset-egotter-modal', toggle: 'modal'} %>
          <%= render partial: 'modal/reset_egotter_modal', locals: {modal_id: 'reset-egotter-modal'} %>
        <% end %>
        <div class="text-danger small mt-1"><%= t('.delete_data.note') %></div>
      <% else %>
        <%= link_to t('.delete_data.button'), '#', class: 'btn btn-danger btn-sm', data: {target: '#checkout-for-reset-data-confirmation-modal', toggle: 'modal'} %>
        <%= modal_dialog(id: 'checkout-for-reset-data-confirmation-modal', title: t('.delete_data.confirmation_modal.title'), body: t('.delete_data.confirmation_modal.body_html', screen_name: current_user.screen_name), button: {positive: t('.delete_data.confirmation_modal.ok'), positive_class: 'see-more-button-on-data-modal'}) %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $(function () {
    $('.see-more-button-on-cache-modal').on('click', function () {
      var url = '<%= raw pricing_path(via: current_via('delete-cache-modal')) %>';
      window.location.href = url;
    });

    $('.see-more-button-on-data-modal').on('click', function () {
      var url = '<%= raw pricing_path(via: current_via('delete-data-modal')) %>';
      window.location.href = url;
    });
  });
</script>