<div class="row">
  <div class="col-4"><%= t('.reset_cache.title') %></div>
  <div class="col-8">
    <% if @reset_cache_request %>
      <span class="btn btn-warning reset-cache-btn disabled" disabled="disabled"><%= t('.reset_cache.do') %></span>
      <span class="text-muted small"><%= t('.requested') %></span>
    <% else %>
      <span class="btn btn-warning reset-cache-btn" data-toggle="modal" data-target="#reset-cache-modal"><%= t('.reset_cache.do') %></span>
      <span class="text-muted small"><%= t('.reset_cache.note') %></span>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.delete_data.title') %></div>
  <div class="col-8">
    <% if @reset_egotter_request %>
      <span class="btn btn-danger reset-egotter-btn disabled" disabled="disabled"><%= t('.delete_data.do') %></span>
      <span class="text-muted small"><%= t('.requested') %></span>
    <% else %>
      <span class="btn btn-danger reset-egotter-btn" data-toggle="modal" data-target="#reset-egotter-modal"><%= t('.delete_data.do') %></span>
      <span class="text-danger small"><%= t('.delete_data.note') %></span>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.delete_tweets.title') %></div>
  <div class="col-8">
    <div><a href="<%= delete_tweets_path %>"><%= t('.delete_tweets.name') %></a><%= t('.delete_tweets.move_to') %></div>
  </div>
</div>

<%= modal_dialog(id: 'reset-egotter-modal', title: t('.delete_data.title'), body: t('.delete_data.modal.warning_html', screen_name: current_user.screen_name), button: {positive: t('.delete_data.modal.ok'), category: 'danger'}) %>
<%= modal_dialog(id: 'reset-cache-modal', title: t('.reset_cache.title'), body: t('.reset_cache.modal.warning_html', screen_name: current_user.screen_name), button: {positive: t('.reset_cache.modal.ok'), category: 'warning'}) %>

<script>
  $(function () {
    new ResetEgotterButton('reset-egotter-modal', '<%= reset_egotter_path %>');
    new ResetCacheButton('reset-cache-modal', '<%= reset_cache_path %>');
  });
</script>
