<div class="row">
  <div class="col-4"><%= t('.reset_cache.title') %></div>
  <div class="col-8">
    <% if @reset_cache_request %>
      <span class="btn btn-warning btn-reset-cache disabled" disabled="disabled"><%= t('.reset_cache.do') %></span>
      <div class="text-muted small mt-1"><%= t('.requested') %></div>
    <% else %>
      <span class="btn btn-warning btn-reset-cache" data-toggle="modal" data-target="#reset-cache-modal"><%= t('.reset_cache.do') %></span>
      <div class="text-muted small mt-1"><%= t('.reset_cache.note_html') %></div>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.delete_data.title') %></div>
  <div class="col-8">
    <% if @reset_egotter_request %>
      <span class="btn btn-danger btn-reset-egotter disabled" disabled="disabled"><%= t('.delete_data.button') %></span>
      <div class="text-muted small mt-1"><%= t('.requested') %></div>
    <% else %>
      <span class="btn btn-danger btn-reset-egotter" onclick="ahoy.track('ResetEgotterModal opened');"><%= t('.delete_data.button') %></span>
      <div class="text-danger small mt-1"><%= t('.delete_data.note') %></div>

      <% if current_user.has_valid_subscription? %>
        <% if current_user.has_trial_subscription? %>
          <script>
            $(function () {
              $('.btn-reset-egotter').on('click', function () {
                if (window.endTrialModal) {
                  window.endTrialModal.show();
                  return false;
                }
              });
            });
          </script>
        <% else %>
          <script>
            $(function () {
              $('.btn-reset-egotter').on('click', function () {
                if (window.resetEgotterModal) {
                  window.resetEgotterModal.show();
                  return false;
                }
              });
            });
          </script>
        <% end %>
      <% else %>
        <%= modal_dialog(id: 'checkout-confirmation-modal', title: t('.delete_data.purchase_confirmation_modal.title'), body: t('.delete_data.purchase_confirmation_modal.body_html', screen_name: current_user.screen_name), button: {positive: t('.delete_data.purchase_confirmation_modal.ok'), positive_class: 'btn-checkout'}) %>
        <script>
          $(function () {
            $('.btn-reset-egotter').on('click', function () {
              $('#checkout-confirmation-modal').modal();
            });
          });
        </script>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.delete_tweets.title') %></div>
  <div class="col-8">
    <%= link_to t('.delete_tweets.name'), delete_tweets_path(via: current_via), class: 'btn btn-outline-primary', target: '_blank' %>
    <div class="text-muted small mt-1"><%= t('.delete_tweets.note') %></div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.delete_favorites.title') %></div>
  <div class="col-8">
    <%= link_to t('.delete_favorites.name'), delete_favorites_path(via: current_via), class: 'btn btn-outline-primary', target: '_blank' %>
    <div class="text-muted small mt-1"><%= t('.delete_favorites.note') %></div>
  </div>
</div>

<%= modal_dialog(id: 'reset-cache-modal', title: t('.reset_cache.title'), body: t('.reset_cache.modal.warning_html', screen_name: current_user.screen_name), button: {positive: t('.reset_cache.modal.ok'), category: 'warning'}) %>

<script>
  $(function () {
    new ResetCacheButton('reset-cache-modal', 'btn-reset-cache', '<%= api_v1_user_caches_path %>');
  });
</script>
