<div class="row">
  <div class="col-4"><%= t('.screen_name.title') %></div>
  <div class="col-8">
    <%= t('.screen_name.display', name: current_user.screen_name) %>
    <%= link_to sign_in_path(via: current_via('update_profile'), redirect_path: settings_path), class: 'small' do %>
      <i class="fas fa-sync"></i>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.authorized.title') %></div>
  <div class="col-8">
    <% if current_user.authorized? %>
      <%= t('.authorized.true') %>
      <span class="text-muted small"><%= t('.authorized.bonus_html', count: SearchCountLimitation::SIGN_IN_BONUS) %></span>
    <% else %>
      <%= t('.authorized.false') %>
      <%= link_to t('.authorized.update_now_html'), sign_in_path(via: current_via('update_authorized'), redirect_path: settings_path), class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.following_egotter.title') %></div>
  <div class="col-8">
    <% if current_user.following_egotter? %>
      <%= t('.following_egotter.true') %>
      <span class="text-muted small"><%= t('.following_egotter.fast_mode') %></span>
    <% else %>
      <span><%= t('.following_egotter.false') %></span>
      <%= link_to t('.following_egotter.follow_now'), '#', data: {url: follows_path(via: current_via), uid: User::EGOTTER_UID}, class: 'update-following btn btn-primary btn-sm' %>
      <span class="text-muted small"><%= t('.following_egotter.note_html') %></span>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.sharing_egotter.title') %></div>
  <div class="col-8">
    <% if current_user.sharing_count > 0 %>
      <%= t('.sharing_egotter.count', count: current_user.sharing_count) %>
    <% end %>
    <a href="#" data-target="#share-modal" data-toggle="modal" class="btn btn-primary btn-sm"><%= t('.sharing_egotter.see_more') %></a>
    <span class="text-muted small"><%= t('.sharing_egotter.promotion_html', hours: User::SHARE_EGOTTER_DURATION, count: @search_count_limitation.current_sharing_bonus) %></span>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4"><%= t('.swich_account.title') %></div>
  <div class="col-8">
    <%= link_to t('.swich_account.switch'), sign_in_path(force_login: true, via: current_via('switch_account'), redirect_path: settings_path), class: 'btn btn-outline-primary btn-sm' %>
    <span class="text-muted small"><%= t('.swich_account.note_html') %></span>
  </div>
</div>

<hr>

<script>
  $(function () {
    $('.update-following').on('click', function () {
      var $clicked = $(this);
      new Twitter().follow($clicked.data('uid'));
      return false;
    });
  });
</script>
