<div class="text-center my-5"><%= link_to t('.see_plans'), pricing_path(via: current_via('orders_table')) %></div>

<% if current_user.orders.any? %>
  <table class="table">
    <tbody>
    <% current_user.orders.order(created_at: :desc).limit(5).select { |o| !o.purchase_failed? }.each do |order| %>
      <tr class="<%= 'text-muted' if order.canceled_at %>">
        <td>
          <div><%= order.short_name %></div>
        </td>
        <td>
          <div><%= t('.price', price: order.price) %></div>
          <% if order.canceled_at %>
          <% else %>
            <div class="small mt-1"><%= t('.search_count', count: order.search_count) %></div>
            <div class="small"><%= t('.follow_requests_count', count: order.follow_requests_count) %></div>
            <div class="small"><%= t('.unfollow_requests_count', count: order.unfollow_requests_count) %></div>
          <% end %>
        </td>
        <td>
          <% if order.canceled_at %>
            <div><%= t('.canceled_at', date: l(order.canceled_at.in_time_zone('Tokyo'), format: :order_short)) %></div>
          <% else %>
            <div><%= t('.created_at', date: l(order.created_at.in_time_zone('Tokyo'), format: :order_short)) %></div>
            <div><%= link_to t('.cancel'), '#', class: 'btn btn-outline-warning btn-sm btn-cancel-order', data: {id: order.id} %></div>
          <% end %>

          <% if current_user.admin? %>
            <div><%= link_to t('.update_subscription'), '#', class: 'btn btn-outline-primary btn-sm btn-customer-portal', data: {id: order.id} %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <script>
    function clickCancelButton() {
      var message = '<%= t('.cancel_confirmation') %>';
      if (confirm(message)) {
        $(this).addClass('disabled').attr('disabled', 'disabled').prop("disabled", true);
        var id = $(this).data('id');
        var i18n = {processing: '<%= t('.canceling_html') %>'};
        new Order(id, i18n).cancel();
      }
      return false;
    }

    function clickCustomerPortalButton() {
      var url = '<%= api_v1_customer_portal_urls_path %>';
      var id = $(this).data('id');

      $.post(url, {order_id: id}).done(function (res) {
        window.location.href = res.url;
      }).fail(showErrorMessage);

      return false;
    }

    $(function () {
      $('.btn-cancel-order').on('click', clickCancelButton);
      $('.btn-customer-portal').on('click', clickCustomerPortalButton);
    });
  </script>
<% else %>
  <div class="text-center my-3"><%= t('.has_not_purchased') %></div>
  <div class="text-center"><a href="#" class="btn btn-primary btn-checkout"><%= t('.purchase') %></a></div>
<% end %>
