<div class="text-center my-5"><%= link_to t('.see_plans'), pricing_path(via: current_via('orders_table')) %></div>

<% if current_user.orders.any? %>
  <% current_user.orders.order(created_at: :desc).limit(3).select { |o| !o.purchase_failed? }.each do |order| %>
    <div class="<%= 'text-muted' if order.canceled_at %>">
      <h5><%= order.short_name %></h5>
      <div>
        <%= t('.price', price: order.price) %>

        <% if order.trial? && !order.charge_failed_at && !order.canceled_at %>
          <span class="badge badge-primary"><%= t('.during_trial_period') %></span>
        <% end %>

        <% if order.charge_failed_at %>
          <div class="text-danger"><%= t('.charge_failed_description') %></div>
        <% elsif order.canceled_at %>
          <div><%= t('.already_canceled') %></div>
        <% else %>
          <% details_html = t('.details_html', amount: order.price, search_count: order.search_count, follow_count: order.follow_requests_count, unfollow_count: order.unfollow_requests_count, created: l(order.created_at.in_time_zone('Tokyo'), format: :order_short)) %>
          <div>
            <%= link_to t('.see_details'), '#', class: 'btn-order-details', data: {toggle: 'modal', target: '#order-details-modal', details: details_html} %>
            <%= link_to t('.cancel'), '#', class: 'text-warning btn-cancel-order', data: {id: order.id} %>
          </div>
        <% end %>
      </div>

      <% if current_user.admin? %>
        <div><%= link_to t('.update_payment_method'), '#', class: 'btn btn-outline-primary btn-sm btn-customer-portal', data: {id: order.id} %></div>
      <% end %>
    </div>

    <hr>
  <% end %>

  <% if current_user.has_valid_subscription? %>
    <%= render partial: 'modal/order_details_modal', locals: {modal_id: 'order-details-modal'} %>
  <% end %>

  <script>
    function clickCancelButton() {
      var message = '<%= t('.cancel_confirmation') %>';
      if (confirm(message)) {
        $(this).addClass('disabled').attr('disabled', 'disabled').prop("disabled", true);
        var id = $(this).data('id');
        var i18n = {processing: '<%= t('.canceling_html') %>'};
        new Order(id, i18n).cancel();
      }
      return false;
    }

    function clickCustomerPortalButton() {
      var url = '<%= api_v1_customer_portal_urls_path %>';
      var id = $(this).data('id');

      $.post(url, {order_id: id}).done(function (res) {
        window.location.href = res.url;
      }).fail(showErrorMessage);

      return false;
    }

    $(function () {
      $('.btn-cancel-order').on('click', clickCancelButton);
      $('.btn-customer-portal').on('click', clickCustomerPortalButton);
    });
  </script>
<% else %>
  <div class="text-center my-3"><%= t('.has_not_purchased') %></div>
  <div class="text-center"><a href="#" class="btn btn-primary btn-checkout"><%= t('.purchase') %></a></div>
<% end %>
