<div class="row">
  <div class="col-3 col-sm-2">
    <%= check_box_tag name, true, current_user.notification_setting.send("#{name}?"), {id: "#{name}-input", class: 'tgl tgl-ios'} %>
    <label class='tgl-btn' for="<%= name %>-input"></label>
  </div>

  <div class="col-9 col-sm-10">
    <h6><%= t(".#{name}.title") %></h6>
    <div><%= t(".#{name}.desc_html") %></div>
    <div class="text-muted"><%= t(".#{name}.note_html") %></div>
  </div>
</div>

<hr>
