%h2.h4.text-center= t('.title')
%table.follow-requests.table.table-condensed.table-responsive.borderless
  %tr
    %th= FollowRequest.human_attribute_name(:uid)
    %th= FollowRequest.human_attribute_name(:error_class)
    %th= FollowRequest.human_attribute_name(:created_at)
    %th= FollowRequest.human_attribute_name(:finished_at)
  - @requests.each do |req|
    %tr
      %td= (user = @users[req.uid]) ? user_link(user.screen_name) : req.uid
      %td= req.error_class.demodulize
      %td= l(req.created_at.in_time_zone('Tokyo'), format: :settings_short)
      %td= req.finished_at ? l(req.finished_at.in_time_zone('Tokyo'), format: :settings_short) : ''

.text-center= link_to t('.return'), settings_path(via: current_via('return_to_settings'))
