<div class="settings">
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

  <h2 class="h4 text-center"><i class="far fa-address-card">&nbsp;</i><%= t('.general_title') %></h2>

  <hr>

  <div class="col-xs-4"><%= t('.screen_name.title') %></div>
  <div class="col-xs-8">
    <span>@</span><span class="screen-name"><%= current_user.screen_name %></span>
    <%= link_to t('.reset_menu.update_profile_html'), sign_in_path(via: build_via('update_profile'), redirect_path: settings_path), class: 'btn btn-default' %>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.email.title') %></div>
  <div class="col-xs-8"><%= current_user.email %></div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.authorized.title') %></div>
  <div class="col-xs-8">
    <% if current_user.authorized? %>
      <%= t('.authorized.true') %>
      <div class="text-muted notes"><%= t('.authorized.bonus_html', count: SearchCountLimitation::SIGN_IN_BONUS) %></div>
    <% else %>
      <div>
        <span><%= t('.authorized.false') %></span>
        <%= link_to t('.authorized.update_now_html'), sign_in_path(via: build_via('update_authorized'), redirect_path: settings_path), class: 'btn btn-danger' %>
      </div>
      <div class="text-danger notes"><%= t('.authorized.stop') %></div>
    <% end %>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.following_egotter.title') %></div>
  <div class="col-xs-8">
    <% if current_user.following_egotter? %>
      <%= t('.following_egotter.true') %>
      <div class="text-muted notes"><%= t('.following_egotter.fast_mode') %></div>
    <% else %>
      <div>
        <span><%= t('.following_egotter.false') %></span>
        <%= link_to t('.following_egotter.follow_now'), '#', data: {url: follows_path(via: build_via), uid: User::EGOTTER_UID}, class: 'update-following btn btn-primary' %>
      </div>
      <div class="text-muted notes"><%= t('.following_egotter.note_html') %></div>
    <% end %>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.sharing_egotter.title') %></div>
  <div class="col-xs-8">
    <%= t('.sharing_egotter.count', count: current_user.sharing_egotter_count) %>
    <a href="#" data-target="#share-modal" data-toggle="modal" class="btn btn-primary"><%= t('.sharing_egotter.see_more') %></a>
    <div class="text-muted notes"><%= t('.sharing_egotter.promotion_html', hours: User::SHARE_EGOTTER_DURATION, count: SearchCountLimitation::SHARING_BONUS) %></div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

  <h2 class="h4 text-center"><i class="fas fa-search">&nbsp;</i><%= t('.search_title') %></h2>

  <hr>

  <div class="col-xs-4"><%= t('.search_mode.title') %></div>
  <div class="col-xs-8">
    <% if current_user.search_mode.fast? %>
      <div><%= t(".search_mode.fast") %></div>
      <div class="text-muted notes"><%= t('.search_mode.advantage') %></div>
    <% else %>
      <div><%= t(".search_mode.#{current_user.search_mode}") %></div>
      <div class="text-muted notes"><%= t('.search_mode.advise_html') %></div>
    <% end %>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.search_count.title') %></div>
  <div class="col-xs-8">
    <div>
      <%= t('.search_count.count', count: SearchCountLimitation.max_search_count(current_user)) %>
      <%= t('.search_count.remaining', count: SearchCountLimitation.remaining_search_count(user: current_user)) %>
      <span><a href="#" data-target="#search-modal" data-toggle="modal"><%= t('.search_count.history') %></a></span>
    </div>
    <div class="text-muted notes"><%= t('.search_count.note', days: SearchCountLimitation::SEARCH_COUNT_PERIOD / 1.day) %></div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div id="follow-count" class="col-xs-4"><%= t('.follow_count.title') %></div>
  <div class="col-xs-8">
    <div>
      <%= t('.follow_count.count', count: current_user.create_follow_limit) %><%= t('.follow_count.remaining', count: current_user.create_follow_remaining) %>
      <span><a href="<%= settings_follow_requests_path %>"><%= t('.follow_count.history') %></a></span>
    </div>
    <div class="text-muted notes"><%= t('.follow_count.note', days: current_user.create_follow_duration) %></div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div id="unfollow-count" class="col-xs-4"><%= t('.unfollow_count.title') %></div>
  <div class="col-xs-8">
    <div>
      <%= t('.unfollow_count.count', count: current_user.create_unfollow_limit) %><%= t('.unfollow_count.remaining', count: current_user.create_unfollow_remaining) %>
      <span><a href="<%= settings_unfollow_requests_path %>"><%= t('.unfollow_count.history') %></a></span>
    </div>
    <div class="text-muted notes"><%= t('.unfollow_count.note', days: current_user.create_unfollow_duration) %></div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

  <h2 class="h4 text-center"><i class="far fa-envelope"></i>&nbsp;<%= t('.notifications.title') %></h2>

  <div class="tgl-btns-wrapper">
    <hr>
    <%= render partial: 'tgl_btn', collection: %i(dm email news search), as: :name %>
  </div>

  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

  <h2 class="h4 text-center"><i class="fas fa-cube"></i>&nbsp;<%= t('.notifications.prompt_report_title') %></h2>

  <hr>

  <div class="col-xs-4"><%= t('.notifications.prompt_reports.not_coming') %></div>
  <div class="col-xs-8">
    <%= link_to t('.notifications.prompt_reports.update_authorized_for_dm'), sign_in_path(force_login: true, via: build_via('update_authorized_for_dm'), redirect_path: settings_path), class: 'btn btn-primary' %>
    <div class="notes"><%= t('.notifications.prompt_reports.update_authorized_for_dm_note_html') %></div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.notifications.prompt_reports.reporting_test') %></div>
  <div class="col-xs-8">
    <div>
      <%= link_to t('.notifications.prompt_reports.send_test_report'), sign_in_path(force_login: true, via: build_via('send_test_report'), redirect_path: settings_path), class: 'btn btn-default' %>
      <span><a href="<%= settings_create_test_requests_path %>"><%= t('.notifications.prompt_reports.send_test_report_history') %></a></span>
    </div>
    <div class="text-muted notes"><%= t('.notifications.prompt_reports.send_test_report_note_html') %></div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.notifications.prompt_reports.latest_prompt_report') %></div>
  <div class="col-xs-8">
    <%= @latest_prompt_report ? l(@latest_prompt_report.created_at.in_time_zone('Tokyo'), format: :prompt_report_short) : t('.notifications.prompt_reports.not_sent') %>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.notifications.prompt_reports.status') %></div>
  <div class="col-xs-8">
    <div>
      <% if @latest_prompt_report_log&.error_class&.present? %>
        <% error_class = @latest_prompt_report_log.error_class.demodulize %>
        <%= t('.notifications.prompt_reports.error_html', text: t("dm.testMessage.errors.#{error_class}", default: error_class)) %>
      <% else %>
        <%= t('.notifications.prompt_reports.running_normally_html') %>
      <% end %>
      <span><a href="<%= settings_create_prompt_requests_path %>"><%= t('.notifications.prompt_reports.history') %></a></span>
    </div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="form-group">
    <label for="report_interval" class="control-label col-xs-4"><%= t('.notifications.prompt_reports.report_interval_title') %></label>
    <div class="col-xs-8">
      <% options = NotificationSetting.report_interval_options %>
      <%= select_tag 'report_interval', options_for_select(options, selected: current_user.notification_setting.report_interval), class: 'form-control' %>
      <div class="text-muted notes"><%= t('.notifications.prompt_reports.report_interval_note') %></div>
    </div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

  <h2 class="h4 text-center"><i class="fas fa-database"></i>&nbsp;<%= t('.data.title') %></h2>

  <hr>

  <div class="col-xs-4"><%= t('.data.updated_at') %></div>
  <div class="col-xs-8">
    <div>
      <%= (twitter_user = TwitterUser.latest_by(uid: current_user.uid)) ? l(twitter_user.created_at.in_time_zone('Tokyo'), format: :prompt_report_short) : t('.data.no_records') %>
      <span><a href="<%= settings_twitter_users_path %>"><%= t('.data.history') %></a></span>
    </div>
    <div class="text-muted notes"><%= t('.notifications.prompt_reports.send_test_report_note_html') %></div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.data.reset_cache.title') %></div>
  <div class="col-xs-8">
    <div>
      <% if @reset_cache_request %>
        <div class="btn btn-warning reset-cache-btn" disabled="disabled"><%= t('.data.reset_cache.do') %></div>
        <div class="text-muted notes"><%= t('.data.requested') %></div>
      <% else %>
        <div class="btn btn-warning reset-cache-btn" data-toggle="modal" data-target="#reset-cache-modal"><%= t('.data.reset_cache.do') %></div>
        <div class="text-muted notes"><%= t('.data.reset_cache.note') %></div>
      <% end %>
    </div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.data.delete_data.title') %></div>
  <div class="col-xs-8">
    <div>
      <% if @reset_egotter_request %>
        <div class="btn btn-danger reset-egotter-btn" disabled="disabled"><%= t('.data.delete_data.do') %></div>
        <div class="text-muted notes"><%= t('.data.requested') %></div>
      <% else %>
        <div class="btn btn-danger reset-egotter-btn" data-toggle="modal" data-target="#reset-egotter-modal"><%= t('.data.delete_data.do') %></div>
        <div class="text-danger notes"><%= t('.data.delete_data.note') %></div>
      <% end %>
    </div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="col-xs-4"><%= t('.data.delete_tweets.title') %></div>
  <div class="col-xs-8">
    <div><a href="<%= delete_tweets_path %>"><%= t('delete_tweets.new.simple_title') %></a><%= t('.data.delete_tweets.move_to') %></div>
  </div>

  <div class="clearfix"></div>
  <hr>

  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

  <h2 class="h4 text-center"><i class="fas fa-shopping-cart"></i>&nbsp;<%= t('.order.order_histories') %></h2>
  <div class="vertical-spacing"></div>

  <div class="text-center"><%= link_to t('.order.see_plans'), pricing_path(via: build_via('orders_table')) %></div>
  <div class="vertical-spacing"></div>

  <% if current_user.orders.any? %>
    <table id="orders-table" class="table">
      <tbody>
      <% current_user.orders.select { |o| !o.purchase_failed? }.each do |order| %>
        <tr class="<%= 'text-muted' if order.canceled_at %>">
          <td>
            <div><%= order.name %></div>
            <div><%= t('.order.created_at', date: l(order.created_at.in_time_zone('Tokyo'), format: :order_short)) %></div>
          </td>
          <td>
            <% unless order.canceled_at %>
              <div><%= t('.order.not_canceled') %></div>
            <% end %>
            <div><%= t('.order.price', price: order.price) %></div>
            <% unless order.canceled_at %>
              <div><%= t('.order.search_count', count: order.search_count) %></div>
              <div><%= t('.order.follow_requests_count', count: order.follow_requests_count) %></div>
              <div><%= t('.order.unfollow_requests_count', count: order.unfollow_requests_count) %></div>
            <% end %>
          </td>
          <% if order.canceled_at %>
            <td>
              <div><%= t('.order.canceled') %></div>
              <div><%= t('.order.canceled_at', date: l(order.canceled_at.in_time_zone('Tokyo'), format: :order_short)) %></div>
            </td>
          <% else %>
            <td>
              <div><%= link_to t('.order.cancel'), order_path(id: order.id), method: :delete, data: {confirm: t('.order.cancel_confirmation', name: order.name)} %></div>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <table class="table">
      <tbody>
      <tr>
        <td><%= t('.order.has_not_purchased') %></td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

  <h2 class="h4 text-center"><%= t('.trial_title') %></h2>

  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

</div>

<div class="modal fade" id="reset-egotter-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t('.data.delete_data.title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('.data.delete_data.modal.warning_html', screen_name: current_user.screen_name) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('.data.delete_data.modal.cancel') %></button>
        <button type="button" class="btn btn-danger ok" data-url="<%= reset_egotter_path %>"><%= t('.data.delete_data.modal.ok') %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reset-cache-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t('.data.reset_cache.title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('.data.reset_cache.modal.warning_html') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('.data.reset_cache.modal.cancel') %></button>
        <button type="button" class="btn btn-warning ok" data-url="<%= reset_cache_path %>"><%= t('.data.reset_cache.modal.ok') %></button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('.update-following').on('click', function () {
      var $clicked = $(this);
      Twitter.follow($clicked.data('url'), $clicked.data('uid'));
      return false;
    });

    Settings.enableResetEgotterButton();
    Settings.enableResetCacheButton();

    var url = '<%= setting_path %>';
    attach_event_handler('email', url);
    attach_event_handler('dm', url);
    attach_event_handler('news', url);
    attach_event_handler('search', url);

    attach_report_interval_handler('<%= update_report_interval_path %>');
  });
</script>
