<div class="menu">
  <h2><small><%= @title %></small></h2>
  <% %i(email dm news search).each do |name| %>
    <div class="table-box">
      <div class="table-cell-left">
        <%= check_box_tag name, true, current_user.notification_setting.send("#{name}?"), {id: "#{name}-input", class: 'tgl tgl-ios'} %>
        <label class='tgl-btn' for="<%= name %>-input"></label>
      </div>
      <div class="table-cell-right"><%= t(".desc.#{name}") %>
        <span style="display: none;" class="<%= name %> text-info blink small"><%= t('.updated') %></span>
      </div>
    </div>
    <hr>
  <% end %>
  <script>
    $(function () {
      var url = '<%= setting_path %>';
      attach_event_handler('email', url);
      attach_event_handler('dm', url);
      attach_event_handler('news', url);
      attach_event_handler('search', url);
    });
  </script>

  <%= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top}) %>
</div>
