<h2 class="h4 text-center my-5"><i class="far fa-address-card"></i>&nbsp;<%= t('settings.general.title') %></h2>
<div class="container my-5"><%= render partial: 'general' %></div>

<h2 class="h4 text-center my-5"><i class="fas fa-search"></i>&nbsp;<%= t('settings.search.title') %></h2>
<div class="container my-5"><%= render partial: 'search' %></div>

<h2 class="h4 text-center my-5"><i class="far fa-envelope"></i>&nbsp;<%= t('.notifications.title') %></h2>
<div class="container tgl-buttons">
  <%= render partial: 'periodic_report_setting' %>
</div>

<h2 class="h4 text-center my-5"><i class="far fa-envelope"></i>&nbsp;<%= t('settings.block_report.title') %></h2>
<div class="container my-5">
  <div class="mb-5"><%= t('settings.block_report.description', user: current_user.screen_name) %></div>
  <%= render partial: 'block_report' %>
</div>

<h2 class="h4 text-center my-5"><i class="far fa-envelope"></i>&nbsp;<%= t('settings.mute_report.title') %></h2>
<div class="container my-5">
  <div class="mb-5"><%= t('settings.mute_report.description', user: current_user.screen_name) %></div>
  <%= render partial: 'mute_report' %>
</div>

<h2 class="h4 text-center my-5"><i class="fas fa-database"></i>&nbsp;<%= t('settings.data.title') %></h2>
<div class="container my-5"><%= render partial: 'data' %></div>

<h2 id="orders-table" class="h4 text-center my-5"><i class="fas fa-shopping-cart"></i>&nbsp;<%= t('settings.order.order_histories') %></h2>
<div class="container my-5"><%= render partial: 'order' %></div>
