<%= content_for :setting_title, t('.header_name') %>

<p class="my-3"><%= t('.description') %></p>
<p class="my-3"><%= t('.faq_html', url: support_path(anchor: 'what_is_mute_report')) %></p>

<hr>

<% if StopMuteReportRequest.exists?(user_id: current_user.id) %>
  <div class="my-3">
    <%= t('.stopped') %>
    <%= link_to t('.restart'), direct_message_url(User::EGOTTER_UID, t('short_messages.restart_mute_reports')), class: 'btn btn-outline-warning', target: '_blank' %>
  </div>
<% else %>
  <div class="my-3">
    <span class="mr-5"><%= t('.receive') %></span>
    <%= link_to t('.receive'), direct_message_url(User::EGOTTER_UID, t('short_messages.receive_mute_reports')), class: 'btn btn-outline-primary', target: '_blank' %>
  </div>
  <hr>
  <div class="my-3">
    <span class="mr-5"><%= t('.stop') %></span>
    <%= link_to t('.stop'), direct_message_url(User::EGOTTER_UID, t('short_messages.stop_mute_reports')), class: 'btn btn-outline-danger', target: '_blank' %>
  </div>
<% end %>
