<div>
  <%= link_to t('.return'), settings_path(via: current_via), class: 'text-body' %>
</div>

<hr>

<div class="text-primary my-3"><%= t('.title') %></div>

<%= render partial: 'shared/about_plan' %>

<div class="my-5">
  <%= t('.about_bulk_purchase') %>
  <%= link_to t('.see_plans'), pricing_path(via: current_via('orders_table')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
</div>

<div class="my-5">
  <%= t('.about_purchase') %>
  <a href="#" id="btn-order-history-purchase" class="btn btn-primary btn-sm btn-checkout"><%= t('.purchase') %></a>
</div>

<div class="my-5">
  <%= t('.share_bonus') %>
  <a href="#" data-target="#share-modal" data-toggle="modal" class="btn btn-outline-primary btn-sm"><%= t('.share_bonus_button') %></a>
</div>

<% if current_user.admin? && !current_user.has_valid_subscription? %>
  <div class="my-5">
    <%= t('.bank_transfer') %>
    <a href="#" class="btn btn-primary btn-sm" data-target="#bank-transfer-modal" data-toggle="modal"><%= t('.open_bank_transfer_modal') %></a>
  </div>

  <%= modal_dialog id: 'bank-transfer-modal', title: t('.bank_transfer_modal.title'), button: {positive: t('.bank_transfer_modal.yes')} do %>
    <p class="message">
      <%= image_tag '/ajax-loader.gif', size: '16x16' %>
      <%= t('.bank_transfer_modal.loading') %>
    </p>
    <div class="text-muted small my-1"><%= t('.bank_transfer_modal.note1') %></div>
    <div class="text-muted small my-1"><%= t('.bank_transfer_modal.note2_html', url: twitter_web_url('egotter_cs')) %></div>
  <% end %>

  <script>
    $(function () {
      var $modal = $('#bank-transfer-modal');
      var url = '<%= raw api_v1_payment_intents_path(via: current_via) %>';
      var container = $modal.find('.message');
      var errorMessage = '<%= t('.bank_transfer_modal.error_message') %>';

      $modal.on('shown.bs.modal', function (e) {
        $.post(url).done(function (res) {
          container.html(res.message);
        }).fail(function (xhr) {
          var message;
          try {
            message = JSON.parse(xhr.responseText)['message'];
          } catch (e) {
            message = errorMessage;
          }
          container.html(message);
        });
        caller = e.relatedTarget;
      });
    })
  </script>
<% end %>

<hr>

<% if @orders.any? %>
  <div class="my-5">
    <%= render partial: 'order', collection: @orders, cached: true, spacer_template: 'order_ruler' %>

    <%= render partial: 'modal/order_details_modal', locals: {modal_id: 'order-details-modal'} %>

    <%= modal_dialog id: 'cancel-order-modal', title: t('.cancel_order_modal.title'), button: {positive: t('.cancel_order_modal.yes'), category: 'danger', negative: t('.cancel_order_modal.no')} do %>
      <%= t('.cancel_order_modal.message_html') %>
    <% end %>
  </div>

  <script>
    $(function () {
      var $modal = $('#cancel-order-modal');

      $modal.find('.positive').on('click', function () {
        $modal.data('button').addClass('disabled').attr('disabled', 'disabled').prop("disabled", true);
        var i18n = {processing: '<%= t('.canceling_html') %>'};
        new Order($modal.data('id'), i18n).cancel();
      });

      $modal.on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget);
        $modal.data('id', button.data('id'));
        $modal.data('button', button);
      });

      $('.btn-customer-portal').on('click', function () {
        var url = '<%= raw api_v1_customer_portal_urls_path %>';
        var id = $(this).data('id');

        $.post(url, {order_id: id}).done(function (res) {
          window.location.href = res.url;
        }).fail(showErrorMessage);

        return false;
      });
    });
  </script>
<% else %>
  <div class="text-center my-5"><%= t('.has_not_purchased') %></div>
<% end %>
