<span data-toggle="modal" data-target=".profile-overview-modal.<%= user.uid %>">
  <img class="lazy" src="<%= png_image %>" data-original="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>" width="48" height="48">
</span>

<% unless uids.include?(user.uid.to_i) %>
  <%= render(partial: 'profiles/modal', locals: {user: user, unique_id: user.uid, via: :profile_modal}) %>
  <% uids << user.uid.to_i %>
<% end %>
