<div class="dau" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>

<hr>

<div class="dau_by_action" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>

<hr>

<div class="dau_by_device_type" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>

<hr>

<div class="dau_by_referer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>

<hr>

<div class="search_num" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>

<hr>

<div class="search_num_verification" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>

<hr>

<div class="new_user" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>

<hr>

<div class="sign_in" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>

<script>
  var dateTimeLabelFormats = {
    millisecond: '%H:%M:%S.%L',
        second: '%H:%M:%S',
      minute: '%H:%M',
      hour: '%H:%M',
      day: '%e. %b',
      week: '%e. %b',
      month: '%b \'%y',
      year: '%Y'
  };

  var config = {
    credits: {
      enabled: false
    },
    title: {
      text: 'title'
    },
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: dateTimeLabelFormats
    },
    yAxis: {
      title: null
    },
    tooltip: {
      valueSuffix: ''
    },
    series: null
  };

  var config_stacked = {
    credits: {
      enabled: false
    },
    chart: {
      type: 'area'
    },
    title: {
      text: 'title'
    },
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: dateTimeLabelFormats
    },
    yAxis: {
      title: null
    },
    tooltip: {
      valueSuffix: ''
    },
    plotOptions: {
      area: {
        stacking: 'normal'
      }
    },
    series: null
  };

  function draw_dau(){
    var conf = $.extend(true, {}, config);
    conf.title.text = 'DAU (search_logs)';
    conf.series = <%= raw @dau.to_json %>;
    $('.container.dau').highcharts(conf);
  }

  function draw_dau_by_action(){
    var conf = $.extend(true, {}, config);
    conf.title.text = 'DAU by action (search_logs)';
    conf.series = <%= raw @dau_by_action.to_json %>;
    $('.container.dau_by_action').highcharts(conf);
  }

  function draw_dau_by_device_type(){
    var conf = $.extend(true, {}, config);
    conf.title.text = 'DAU by device_type (search_logs)';
    conf.series = <%= raw @dau_by_device_type.to_json %>;
    $('.container.dau_by_device_type').highcharts(conf);
  }

  function draw_dau_by_referer(){
    var conf = $.extend(true, {}, config);
    conf.title.text = 'DAU by referer (search_logs)';
    conf.series = <%= raw @dau_by_referer.to_json %>;
    $('.container.dau_by_referer').highcharts(conf);
  }

  function draw_search_num(){
    var conf = $.extend(true, {}, config_stacked);
    conf.title.text = 'Search num (search_logs)';
    conf.series = <%= raw @search_num.to_json %>;
    $('.container.search_num').highcharts(conf);
  }

  function draw_search_num_verification(){
    var conf = $.extend(true, {}, config_stacked);
    conf.title.text = 'Search num verification (background_search_logs)';
    conf.series = <%= raw @search_num_verification.to_json %>;
    $('.container.search_num_verification').highcharts(conf);
  }

  function draw_new_user(){
    var conf = $.extend(true, {}, config);
    conf.title.text = 'New user (users)';
    conf.series = <%= raw @new_user.to_json %>;
    $('.container.new_user').highcharts(conf);
  }

  function draw_sign_in(){
    var conf = $.extend(true, {}, config);
    conf.title.text = 'Sign in (sign_in_logs)';
    conf.series = <%= raw @sign_in.to_json %>;
    $('.container.sign_in').highcharts(conf);
  }

  $(function () {
    draw_dau();
    draw_dau_by_action();
    draw_dau_by_device_type();
    draw_dau_by_referer();
    draw_search_num();
    draw_search_num_verification();
    draw_new_user();
    draw_sign_in();
  });
</script>
