<%= render partial: 'clock', locals: {date_start: @date_start, date_end: @date_end} %>

<div class="kpis dau"><%= image_tag '/ajax-loader.gif' %></div>
<div><%= link_to('DAU', kpis_dau_path) %></div>

<div class="kpis search_num"><%= image_tag '/ajax-loader.gif' %></div>
<div><%= link_to('Search num', kpis_search_num_path) %></div>

<div class="kpis new_user"><%= image_tag '/ajax-loader.gif' %></div>
<div><%= link_to('New user', kpis_new_user_path) %></div>

<div class="kpis sign_in"><%= image_tag '/ajax-loader.gif' %></div>
<div><%= link_to('Sign in', kpis_sign_in_path) %></div>

<br>
<div><%= link_to('RR', kpis_rr_path) %></div>

<br>
<div><%= link_to('Table', kpis_table_path) %></div>

<script>
  function failed(xhr) {
    console.log(xhr.responseText)
  }

  function setup(res, config) {
    var conf = $.extend(true, {}, config);
    conf.title.text = res.name;
    conf.series = res[res.name];
    $('.' + res.name).empty().highcharts(conf);
  }

  function draw(res) {
    setup(res, window.kpis.config);
  }

  function draw_stacked(res) {
    setup(res, window.kpis.config_stacked);
  }

  function fetch(url) {
    $.get(url).done(draw).fail(failed);
  }

  function fetch_stacked(url) {
    $.get(url).done(draw_stacked).fail(failed);
  }

  $(function () {
    fetch("<%= kpis_dau_path %>");
    fetch_stacked("<%= kpis_search_num_path %>");
    fetch("<%= kpis_new_user_path %>");
    fetch("<%= kpis_sign_in_path %>");
  });
</script>
