<p><%= t('.message') %></p>

<%= alert_box class: 'my-4' do %>
  <%= t('.description_html', url: twitter_web_url('egotter_cs')) %>
<% end %>

<p><%= t('.history_html', url: settings_path(anchor: 'orders-table', via: current_via('message'))) %></p>
<p><%= t('.support_html', url: twitter_web_url('egotter_cs')) %></p>
