<h2 class="h4 text-center my-5"><%= t('.title') %></h2>

<p class="mt-3"><%= t('.message') %></p>

<h3 class="h5 font-weight-bold mt-5 mb-3"><%= t('.prepaid_card.title') %></h3>
<p><%= t('.prepaid_card.description_html') %></p>

<h3 class="h5 font-weight-bold mt-5 mb-3"><%= t('.network_error.title') %></h3>
<p><%= t('.network_error.description_html', url: twitter_web_url('egotter_cs')) %></p>

<h3 class="h5 font-weight-bold mt-5 mb-3"><%= t('.order_history.title') %></h3>
<p><%= t('.order_history.description_html', url: settings_order_history_path(via: current_via('message'))) %></p>

<h3 class="h5 font-weight-bold mt-5 mb-3"><%= t('.others.title') %></h3>
<p><%= t('.others.description_html', url: twitter_web_url('egotter_cs')) %></p>
