- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- page_title = t('.page_title', user: @user.screen_name)
- title page_title
- set_meta_tags description: t('.meta_description', user: @user.screen_name)

.alert.alert-warning.alert-dismissible.my-3{role: "alert"}
  = raw @alert

.mt-3
  - if action_name == 'show'
    = link_to t('.update', user: @user.screen_name), @latest_resource_path, class: 'btn btn-primary btn-block btn-lg'
  - else
    %button.btn.btn-outline-primary.btn-block.btn-lg.disabled= t('.displayed_data_is_latest')

= render(partial: 'adsense/ad', locals: {vertical: :top})

.mb-3
  = link_to t('.see_on_twitter', user: @user.screen_name), user_url(@user.screen_name), class: 'btn btn-outline-primary btn-block btn-lg', target: '_blank'

.mb-3
  = render partial: 'twitter/profile', locals: {user: @user, always_expanded: true}
