- content_for :canonical_url do
  %link{href: not_found_url(@user), rel: 'canonical'}

- page_title = t('.page_title', user: @user.screen_name)
- title page_title
- set_meta_tags description: t('.meta_description', user: @user.screen_name)

.vertical-spacing
.text-center{style: 'max-width: 600px; margin: 0 auto;'}
  - if action_name == 'show'
    - url = latest_not_found_path(screen_name: @user.screen_name, via: build_via('request_to_update_button'))
    = link_to t('.update', user: @user.screen_name), url, class: 'btn btn-primary btn-block btn-lg center-block'
  - else
    %button.btn.btn-default.btn-block.btn-lg.center-block{disabled: true}= t('.displayed_data_is_latest')

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

.text-center{style: 'max-width: 600px; margin: 0 auto;'}
  = link_to t('.see_on_twitter', user: @user.screen_name), user_url(@user.screen_name), class: 'btn btn-primary btn-block btn-lg center-block', target: '_blank'
  .vertical-spacing
  = render partial: 'twitter/profile', locals: {user: @user}

.vertical-spacing
