- content_for :canonical_url do
  %link{href: @canonical_url, rel: 'canonical'}

- breadcrumb @breadcrumb_name, @twitter_user.screen_name

- title @page_title
- set_meta_tags description: @meta_description, title: @meta_title

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h2.page-title= @page_title

.page-description.text-center= t('.page_description', user: @twitter_user.mention_name)

.tweet-box-wrapper{style: 'margin-bottom: 15px;'}
  = render(partial: 'twitter/tweet_box', locals: {text: @tweet_text})

= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

= render partial: 'close_friends/users', locals: {twitter_user: @twitter_user, api_path: @api_path}

.gray-separator

= render partial: 'usage_stats/friends_stat', locals: {stat: @stat.friends_stat, twitter_user: @twitter_user, url: @canonical_url}

.gray-separator

= render partial: 'usage_stats/tweets_stat', locals: {stat: @stat.tweets_stat, twitter_user: @twitter_user, url: @canonical_url}

.gray-separator

= render partial: 'common/share_more', locals: {text: t('common.show.let_me_know_html', user: @twitter_user.mention_name, current: t('.title'))}

.gray-separator

= render partial: 'common/search_more', locals: {twitter_user: @twitter_user, text: t('common.show.plese_use_egotter', current: t('.title'))}

.gray-separator

= render partial: 'common/related_pages', locals: {twitter_user: @twitter_user}