- content_for :canonical_url do
  %link{href: personality_insight_url(@twitter_user), rel: 'canonical'}

- content_for :navbar_title, t(".navbar_title")
- content_for :result_title, t('.page_title', user: @twitter_user.screen_name)

- unless request.device_type == :smartphone
  - breadcrumb :personality_insight, @twitter_user.screen_name

- page_title = t('.page_title', user: @twitter_user.screen_name)
- title page_title
- set_meta_tags description: t('.meta_description', user: @twitter_user.screen_name)

- unless request.device_type == :smartphone
  = render partial: 'shared/profile_section', locals: {twitter_user: @twitter_user, expanded: false, async: false}

%h2.h4.text-center.my-5= page_title
.mb-5= t('.page_description_html', user: @twitter_user.screen_name, words: @insight.word_count, accuracy: personality_insight_analysis_accuracy(@insight.word_count))

= render partial: 'shared/search_form', locals: {track_id: 'personality_insight', via: current_via('top_input'), redirect_path: personality_insight_path(screen_name: ':screen_name')}
= render(partial: 'adsense/ad', locals: {vertical: :top})

-# Summary
%h3.text-center.my-4= t('.summary_title')
#summary-traits.text-primary.mb-4= t('.you_are', user: @twitter_user.screen_name)
#summary-facets.mb-4
#summary-needs.text-primary.mb-4= t('.you_are', user: @twitter_user.screen_name)
#summary-values.mb-4
#likelycps-evaluation.mb-4= t('.behavior_likely')
#unlikelycps-evaluation.mb-4= t('.behavior_unlikely')

- if personality_insight_very_low_agreeableness?(@insight)
  .text-danger.mb-4= t('.very_low_agreeableness', user: @twitter_user.screen_name)
- elsif personality_insight_low_agreeableness?(@insight)
  .text-warning.mb-4= t('.low_agreeableness', user: @twitter_user.screen_name)
- if personality_insight_very_high_neuroticism?(@insight)
  .text-danger.mb-4= t('.very_high_neuroticism', user: @twitter_user.screen_name)
- elsif personality_insight_high_neuroticism?(@insight)
  .text-warning.mb-4= t('.high_neuroticism', user: @twitter_user.screen_name)

#summary-tweet= render partial: 'twitter/tweet_box', locals: {text: t('.summary_description', {user: @twitter_user.screen_name, url: personality_insights_top_url}.merge(@insight.personality_scores)), twitter_user: @twitter_user}

= render(partial: 'adsense/ad', locals: {vertical: :middle})

-# Personality
- trait_ids = %w(big5_openness big5_conscientiousness big5_extraversion big5_agreeableness big5_neuroticism)
- trait_names = trait_ids.map { |id| t("personality_insights.traits.trait_names.#{id}") }
= render partial: 'traits', locals: {parent: 'personality', title: t('.personality_title'), description: t('.personality_description', user: @twitter_user.screen_name, traits: trait_names.join(', ')), traits: @insight.personality_traits, trait_ids: trait_ids, twitter_user: @twitter_user}

= render(partial: 'adsense/ad', locals: {vertical: :middle})

%hr

-# Facets
- facet_ids = %w(facet_adventurousness facet_artistic_interests facet_emotionality facet_imagination facet_intellect facet_liberalism)
= render partial: 'facets', locals: {parent: 'big5_openness', title: t('.big5_openness_details_title'), description: t('.big5_openness_details_description_html', user: @twitter_user.screen_name), high_terms: t('.big5_openness_details_high_terms'), low_terms: t('.big5_openness_details_low_terms'), facets: @insight.openness_facets, facet_ids: facet_ids, trait: @insight.openness_trait, twitter_user: @twitter_user}

= render(partial: 'adsense/ad', locals: {vertical: :middle})

%hr

- facet_ids = %w(facet_achievement_striving facet_cautiousness facet_dutifulness facet_orderliness facet_self_discipline facet_self_efficacy)
= render partial: 'facets', locals: {parent: 'big5_conscientiousness', title: t('.big5_conscientiousness_details_title'), description: t('.big5_conscientiousness_details_description_html', user: @twitter_user.screen_name), high_terms: t('.big5_conscientiousness_details_high_terms'), low_terms: t('.big5_conscientiousness_details_low_terms'), facets: @insight.conscientiousness_facets, facet_ids: facet_ids, trait: @insight.conscientiousness_trait, twitter_user: @twitter_user}

= render(partial: 'adsense/ad', locals: {vertical: :middle})

%hr

- facet_ids = %w(facet_activity_level facet_assertiveness facet_cheerfulness facet_excitement_seeking facet_friendliness facet_gregariousness)
= render partial: 'facets', locals: {parent: 'big5_extraversion', title: t('.big5_extraversion_details_title'), description: t('.big5_extraversion_details_description_html', user: @twitter_user.screen_name), high_terms: t('.big5_extraversion_details_high_terms'), low_terms: t('.big5_extraversion_details_low_terms'), facets: @insight.extraversion_facets, facet_ids: facet_ids, trait: @insight.extraversion_trait, twitter_user: @twitter_user}

= render(partial: 'adsense/ad', locals: {vertical: :middle})

%hr

- facet_ids = %w(facet_altruism facet_cooperation facet_modesty facet_morality facet_sympathy facet_trust)
= render partial: 'facets', locals: {parent: 'big5_agreeableness', title: t('.big5_agreeableness_details_title'), description: t('.big5_agreeableness_details_description_html', user: @twitter_user.screen_name), high_terms: t('.big5_agreeableness_details_high_terms'), low_terms: t('.big5_agreeableness_details_low_terms'), facets: @insight.agreeableness_facets, facet_ids: facet_ids, trait: @insight.agreeableness_trait, twitter_user: @twitter_user}

= render(partial: 'adsense/ad', locals: {vertical: :middle})

%hr

- facet_ids = %w(facet_anger facet_anxiety facet_depression facet_immoderation facet_self_consciousness facet_vulnerability)
= render partial: 'facets', locals: {parent: 'big5_neuroticism', title: t('.big5_neuroticism_details_title'), description: t('.big5_neuroticism_details_description_html', user: @twitter_user.screen_name), high_terms: t('.big5_neuroticism_details_high_terms'), low_terms: t('.big5_neuroticism_details_low_terms'), facets: @insight.neuroticism_facets, facet_ids: facet_ids, trait: @insight.neuroticism_trait, twitter_user: @twitter_user}

= render(partial: 'adsense/ad', locals: {vertical: :middle})

%hr

-# Needs
- trait_ids = %w(need_challenge need_closeness need_curiosity need_excitement need_harmony need_ideal need_liberty need_love need_practicality need_self_expression need_stability need_structure)
- description = t('.needs_description', user: @twitter_user.screen_name)
= render partial: 'traits', locals: {parent: 'needs', title: t('.needs_title'), description: description, traits: @insight.needs_traits, trait_ids: trait_ids, twitter_user: @twitter_user}

%hr

-# Values
- trait_ids = %w(value_conservation value_hedonism value_openness_to_change value_self_enhancement value_self_transcendence)
- description = t('.values_description', user: @twitter_user.screen_name, url: personality_insights_top_url)
= render partial: 'traits', locals: {parent: 'values', title: t('.values_title'), description: description, traits: @insight.values_traits,  trait_ids: trait_ids, twitter_user: @twitter_user}

= render(partial: 'adsense/ad', locals: {vertical: :bottom})

= javascript_pack_tag 'personality_insight'

:javascript
  function setSummary(summary) {
    $('#summary-traits').append(summary[0]);
    $('#summary-facets').append(summary[1]);
    $('#summary-needs').append(summary[2]);
    $('#summary-values').append(summary[3]);

    var textArea = $('#summary-tweet').find('.textarea');
    var html = '<span class="text-primary">' + summary[0] + '</span>';
    textArea.html(textArea.html().replace('__SUMMARY__', html));
  }

  function setCps(likekycps, unlikelycps) {
    var comma = '、';
    var sentences = [];

    likekycps.forEach(function (item) {
      sentences.push(item.name);
    });
    $('#likelycps-evaluation').prepend(sentences.join(comma));

    sentences = [];
    unlikelycps.forEach(function (item) {
      sentences.push(item.name);
    });
    $('#unlikelycps-evaluation').prepend(sentences.join(comma));
  }

  $(function () {
    var data = #{raw @insight.profile.to_json};
    var insight = new PersonalityInsight();

    setSummary(insight.getSummary(data));
    setCps.apply(null, insight.getConsumptionPreferences(data['consumption_preferences']));

    insight.drawTraits('personality-chart', data['personality']);

    data['personality'].forEach(function (trait, index) {
      var facets = trait['children'];
      insight.drawFacets(trait['trait_id'] + '-chart', facets);
    });

    insight.drawTraits('needs-chart', data['needs']);
    insight.drawTraits('values-chart', data['values']);
  });
