<% url_options = {share_dialog: 1, follow_dialog: 1, sign_in_dialog: 1, purchase_dialog: 1} %>
<% url = access_confirmations_path(url_options.merge(user_token: params[:user_token], via: current_via('sign_in_button'))) %>
<% url = sign_in_path(via: current_via('sign_in_description'), redirect_path: url) %>

<% if user_signed_in? %>
  <% if params[:user_token] && current_user.valid_user_token?(params[:user_token]) %>
    <%= t('.already_signed_in_description', user: current_user.screen_name) %>
  <% else %>
    <span class="text-danger"><%= t('.make_sure_description', user: current_user.screen_name) %></span>
    <%= t('.or') %>
    <%= link_to t('.switch_account'), url, class: 'btn btn-outline-secondary btn-sm' %>
  <% end %>
<% else %>
  <span class="text-danger"><%= t('.sign_in_description') %></span>
  <%= t('.or') %>
  <%= link_to t('.switch_account'), url, class: 'btn btn-outline-secondary btn-sm' %>
<% end %>
