<h2 class="h3 text-center my-5">
  <% if user_signed_in? %>
    <%= t('.page_title_ok') %>
  <% else %>
    <%= t('.page_title') %>
  <% end %>
</h2>

<div class="mt-3 mb-1"><%= render partial: 'sign_in_button' %></div>
<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top, user: @user}) %>
<div class="mt-1 mb-3"><%= render partial: 'sign_in_button' %></div>

<% if user_signed_in? %>
  <div class="my-5">
    <%= t('.already_signed_in_description', user: current_user.screen_name) %>
  </div>
<% else %>
  <div class="my-5">
    <%= t('.sign_in_description') %>
  </div>
  <div class="text-muted small my-3"><%= t('.notice1') %></div>
  <div class="text-muted small my-3"><%= t('.notice2_html') %></div>
<% end %>
