<h2 class="h3 text-center my-5">
  <% if user_signed_in? %>
    <%= t('.page_title_ok', user: current_user.screen_name) %>
  <% else %>
    <%= t('.page_title') %>
  <% end %>
</h2>

<div class="my-5"><%= render partial: 'sign_in_description' %></div>

<div class="mt-3 mb-1"><%= render partial: 'sign_in_button' %></div>
<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top, user: @user}) %>
<div class="mt-1 mb-3"><%= render partial: 'sign_in_button' %></div>

<div class="my-5"><%= render partial: 'sign_in_description' %></div>

<div class="text-muted small my-3"><%= t('.notice1') %></div>
<% url = access_confirmations_path(user_token: params[:user_token], share_dialog: 1, follow_dialog: 1, sign_in_dialog: 1, purchase_dialog: 1, via: current_via('switch_account')) %>
<div class="text-muted small my-3"><%= t('.notice2_html', url: sign_in_path(force_login: true, via: current_via('switch_account'), redirect_path: url)) %></div>
<div class="text-muted small my-3"><%= t('.notice3_html', egotter_link: twitter_web_link('egotter_cs')) %></div>
