<% content_for :canonical_url do %>
  <link href="<%= current_canonical_url(@twitter_user) %>" rel="canonical">
<% end %>

<% content_for :navbar_title, current_navbar_title %>
<% content_for :result_title, current_page_title(@twitter_user) %>

<% unless request.device_type == :smartphone %>
  <% current_breadcrumb(@twitter_user) %>
<% end %>

<% if request.device_type == :smartphone %>
  <% content_for :result_tabs do %>
    <%= render partial: 'layouts/result_tabs', locals: {tabs: current_tabs(@twitter_user), active_tab: @active_tab} %>
  <% end %>
<% end %>

<% title current_page_title(@twitter_user) %>
<% set_meta_tags description: current_meta_description(@twitter_user) %>

<% unless @twitter_user.too_short_create_interval? %>
  <script>
    $(function () {
      var message = '<%= t('.notice_for_update_html', url: timeline_path(@twitter_user, via: current_via('notice_for_update'))) %>';
      ToastMessage.info(message);
    });
  </script>
<% end %>

<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top}) %>

<% unless request.device_type == :smartphone %>
  <%= render partial: 'shared/profile_section', locals: {twitter_user: @twitter_user, expanded: false, async: false} %>
<% end %>

<h2 class="h4 text-center my-5"><%= current_page_title(@twitter_user) %></h2>
<div class="mb-5"><%= render partial: 'shared/page_description', locals: {twitter_user: @twitter_user} %></div>

<% if controller_name == 'close_friends' %>
  <% unless user_signed_in? %>
    <%= modal_dialog id: 'close-friends-sign-in-modal', title: t('close_friends.show.sign_in_modal.title'), body: t('close_friends.show.sign_in_modal.body'), button: {positive: t('close_friends.show.sign_in_modal.yes'), negative: t('close_friends.show.sign_in_modal.no')} %>
    <script>
      $(function () {
        new SignInModal('close-friends-sign-in-modal', '<%= sign_in_path(via: current_via('sign_in_modal')) %>');
      });
    </script>
  <% end %>
  <div class="text-center my-3"><%= render partial: 'shared/heart', locals: {twitter_user: @twitter_user} %></div>
<% end %>

<% if remove_related_page? %>
  <%= render(partial: 'twitter/tweet_box', locals: {text: t('unfriends.show.tweet', text: ShareTweets.load.sample, url: unfriends_top_url(via: current_via)), twitter_user: @twitter_user}) %>
<% else %>
  <%= render(partial: 'twitter/tweet_box', locals: {text: current_tweet_text(@twitter_user), twitter_user: @twitter_user}) %>
<% end %>

<%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :middle}) %>

<% if user_signed_in? && %w(friends followers).include?(controller_name) %>
  <div class="card card-body my-3"><%= render partial: 'shared/word_cloud', locals: {description: profiles_word_cloud_description(@twitter_user), api_path: api_profiles_count_path(@twitter_user)} %></div>
  <div class="card card-body mb-3"><%= render partial: 'shared/word_cloud', locals: {description: locations_word_cloud_description(@twitter_user), api_path: api_locations_count_path(@twitter_user)} %></div>
  <div class="card card-body mb-3"><%= render partial: 'shared/tweet_times', locals: {description: tweets_per_hour_description(@twitter_user), api_path: api_tweet_times_path(uid: @twitter_user.uid)} %></div>

  <%= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :middle}) %>
<% end %>

<% unless request.device_type == :smartphone %>
  <div class="my-3"><%= render partial: 'result_pages/tabs', locals: {tabs: current_tabs(@twitter_user), active_tab: @active_tab} %></div>
<% end %>

<% if (tab = current_tabs(@twitter_user)[@active_tab]) && tab.count && tab.count >= 1 %>
  <% if remove_related_page? %>
    <div class="mb-3"><%= render template: 'messages/explanation_of_data_inconsistency' %></div>
  <% end %>

  <%= render partial: 'shared/users_section', locals: {twitter_user: @twitter_user} %>
<% else %>
  <div class="alert alert-info small">
    <%= t('.reason_for_zero_html') %>
  </div>
<% end %>

<%= render(partial: 'adsense/ad', locals: {vertical: :bottom}) %>
