<% content_for :canonical_url do %>
  <link href="<%= current_canonical_url(@twitter_user) %>" rel="canonical">
<% end %>

<%= content_for :navbar_title, current_navbar_title %>

<% current_breadcrumb(@twitter_user) %>
<% title current_page_title(@twitter_user) %>
<% set_meta_tags description: current_meta_description(@twitter_user) %>

<% if remove_related_page? %>
  <div class="mb-3"><%= render partial: 'twitter_users/bg_polling_js', locals: {twitter_user: @twitter_user} %></div>
<% end %>

<%= render(partial: 'adsense/ad', locals: {vertical: :top}) %>

<%= render partial: 'twitter/profile', locals: {user: @twitter_user} %>

<h2 class="h4 text-center my-5"><%= current_content_title(@twitter_user) %></h2>
<div class="mb-5"><%= current_page_description(@twitter_user) %></div>

<% if controller_name == 'close_friends' %>
  <div class="my-3"><%= render(partial: 'close_friends/friend_map', locals: {twitter_user: @twitter_user}) %></div>
<% end %>

<% if remove_related_page? %>
  <%= render(partial: 'twitter/tweet_box', locals: {text: t('unfriends.show.tweet', text: t('modal.welcome_modal.share.tweets').sample, url: unfriends_top_url(via: current_via)), twitter_user: @twitter_user}) %>
<% else %>
  <%= render(partial: 'twitter/tweet_box', locals: {text: current_tweet_text(@twitter_user), twitter_user: @twitter_user}) %>
<% end %>

<%= render(partial: 'adsense/ad', locals: {vertical: :middle}) %>

<% if user_signed_in? && %w(friends followers).include?(controller_name) %>
  <div><%= word_cloud_description(@twitter_user) %></div>
  <div id="word-cloud-container" class="my-3" style="height: 300px;"></div>
  <script>
    $(function () {
      var url = '<%= api_words_count_path %>';
      var uid = '<%= @twitter_user.uid %>';

      $.get(url, {uid: uid}).done(function (res) {
        var container = $('#word-cloud-container');
        var smartphone = <%= request.device_type == :smartphone %>;
        new WordCloud('#' + container.attr('id'), res.words_count, container.width(), container.height(), smartphone);
      }).fail(function (xhr) {
        console.warn(url, xhr.responseText);
      });
    });
  </script>
<% end %>

<div class="mb-3"><%= render partial: 'result_pages/tabs', locals: {tabs: current_tabs(@twitter_user), active_tab: @active_tab} %></div>

<% if (tab = current_tabs(@twitter_user)[@active_tab]) && tab.count && tab.count >= 1 %>
  <% if remove_related_page? %>
    <%= t('.explanation_of_data_inconsistency_html') %>
  <% end %>

  <div class="text-right mb-4"><%= render partial: 'shared/sort_and_filter' %></div>

  <div class="empty-placeholders-wrapper" style="display: none;">
    <%= t('.not_found') %>
  </div>

  <div class="placeholders-wrapper">
    <% 3.times do %>
      <%= render partial: 'timelines/placeholder', locals: {menu_name: '', menu_or_users: 'users'} %>
    <% end %>
  </div>

  <div class="main-content twitter users row"></div>

  <% if user_signed_in? %>
    <div id="bottom-reached" class="text-center my-3">
      <%= image_tag '/ajax-loader.gif' %>
    </div>
  <% else %>
    <div class="text-center">
      <%= link_to t('.see_more'), sign_in_path(via: current_via('see_more_btn')), class: 'btn btn-outline-secondary btn-lg' %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info small">
    <%= t('.reason_for_zero_html') %>
  </div>
<% end %>

<%= render(partial: 'adsense/ad', locals: {vertical: :bottom}) %>

<script>
  $(function () {
    var signedIn = <%= user_signed_in? %>;

    var url = '<%= api_path %>';
    var uid = '<%= @twitter_user.uid %>';
    var sortOrder = $('.sort-order-dropdown').data('sort-order');
    var filter = $('.filter-dropdown').data('filter');
    var params = {limit: 10, maxLimit: 10, sortOrder: sortOrder, filter: filter, insertAd: true};
    var task = new FetchTask(url, uid, params);

    var callback = function (state) {
      console.log('task.fetch', state);

      if (state.completed) {
        $('#bottom-reached').off('appear').remove();
      } else if (state.loaded) {
        $('#bottom-reached').find('img').hide();
      }
    }

    task.fetch(callback);

    if (signedIn) {
      $('#bottom-reached').lazyload()
          .on('appear', function () {
            var $elem = $(this);
            console.log('appear', $elem.attr('id'));
            $elem.find('img').show();
            task.fetch(callback);
          });

      new SortButton(function (options) {
        task.reset(options, callback)
      });
      new FilterButton(function (options) {
        task.reset(options, callback)
      });

      new FollowButton('.twitter.users');
      new UnfollowButton('.twitter.users');
    }

    var crawler =<%= from_crawler? %>;
    if (crawler) {
      $('#hidden-page-description').show();
    }
  });
</script>
