<div class="user-items-chart media">
  <div class="media-body">
    <div id="<%= graph.object_id %>" class="common-chart"></div>
    <script>
      $(function () {
        var graph_option = $.extend(true, {}, window.common_pie_chart_options);
        graph_option.series[0].data = <%= raw graph.to_json %>;
        graph_option.chart.margin = 0;
        $('#<%= graph.object_id %>').highcharts(graph_option);
      });
    </script>

    <% if user_items.first[:target].respond_to?(:score) %><%# close_friends score %>
      <div class="icon-chart">
        <%
          chart_items = user_items.slice(0, [5, user_items.size].min).map{|item| item[:target] }
          total_score = chart_items.inject(0){|memo, item| memo + item.score }
          weight = 100.to_f / (chart_items[0].score.to_f / total_score * 100)
          color = %w(#ffc107 #9e9e9e #795548) + Array.new(10, '#eeeeee')
        %>
        <% chart_items.each.with_index do |item, ii| %>
          <%
            url = item.profile_image_url_https.to_s
            sn = "@#{item.screen_name}"
            score = item.score.to_f / total_score * 100 * weight
          %>
          <div class="row">
            <div class="col-xs-3 text-center" style="padding-left: 0; padding-right: 0;">
              <% if ii < 3 %>
                <img style="display: inline;" src="<%= "/flaticon/prize#{ii + 1}.png" %>" width="24" height="24">
              <% else %>
                <span style="display: inline;"><%= ii + 1 %></span>
              <% end %>
              <img style="display: inline;" src="<%= url %>" width="24" height="24" alt="<%= sn %>">
            </div>
            <div class="col-xs-9" style="padding-left: 0; padding-right: 0;">
              <div class="progress" style="margin-top: 2px; margin-bottom: 0;">
                <div class="progress-bar progress-bar" role="progressbar"
                     aria-valuenow="<%= score %>" aria-valuemin="0" aria-valuemax="100"
                     style="width: <%= score %>%; background-color: <%= color[ii] %>;">
                  <span class="sr-only"><%= score %>% Complete</span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render(partial: 'searches/tweet_box', locals: {tweet_text: @tweet_text}) %>
  </div>
</div>