<%# profile box %>
<div class="container profile-overview-container">
  <div class="profile-overview">
    <div class="profile-overview-carousel">
      <div>
        <%= link_to "https://twitter.com/#{searched_tw_user.screen_name}", target: '_blank' do %>
          <img class="profile-icon" src="<%= searched_tw_user.profile_image_url_https.to_s %>">
        <% end %>
        <div class="profile-names">
          <div class="full-name">
            <div>
              <span class="text"><%= searched_tw_user.name %>&nbsp;</span>
              <% if searched_tw_user.protected %><span class="glyphicon glyphicon-lock"></span><% end %>
            </div>
          </div>
          <div class="screen-name">
            <%= link_to "https://twitter.com/#{searched_tw_user.screen_name}", style: '', class: 'profile-screen_name-link', target: '_blank' do %>
              @<%= searched_tw_user.screen_name %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="profile-description" style="display: none;"><%= searched_tw_user.description %></div>
    </div>

  </div><!-- /.profile-overview -->
</div>

<script>
  $(function () {
    $('.profile-overview-carousel').slick({
      accessibility: false,
      arrows: false,
      dots: true,
      infinite: false
    });
    $('.profile-description').show();
  });
</script>

<style type="text/css">
  .profile-overview {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.298039)), url('<%= searched_tw_user.profile_banner_url.to_s + '/web' %>');
  }
</style>

<%# ツイート数、フォロー数、フォロワー数 %>
<div class="container" style="padding: 0px 15px 0px 15px;">
  <div class="row" style="padding: 0px 5px 0px 5px; border-bottom: 1px solid #e6e6e6;">
    <div>
      <div style="padding-top: 5px; padding-bottom: 5px;" class="col-xs-4">
        <%= link_to "https://twitter.com/#{searched_tw_user.screen_name}", class: 'text-muted', target: '_blank' do %>
          <span style="font-weight: bold;"><%= searched_tw_user.statuses_count %></span><br>
          <span class="text-muted"><%= t('dictionary.tweet') %></span>
        <% end %>
      </div>
      <div style="padding-top: 5px; padding-bottom: 5px; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;" class="col-xs-4">
        <%= link_to "https://twitter.com/#{searched_tw_user.screen_name}", class: 'text-muted', target: '_blank' do %>
          <span style="font-weight: bold;"><%= searched_tw_user.friends_count %></span><br>
          <span class="text-muted"><%= t('dictionary.friends') %></span>
        <% end %>
      </div>
      <div style="padding-top: 5px; padding-bottom: 5px;" class="col-xs-4">
        <%= link_to "https://twitter.com/#{searched_tw_user.screen_name}", class: 'text-muted', target: '_blank' do %>
          <span style="font-weight: bold;"><%= searched_tw_user.followers_count %></span><br>
          <span class="text-muted"><%= t('dictionary.follower') %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
