<%# プロフィールバナー画像 %>
<div class="container" style="padding: 0px;">
  <div class="profile-overview">
    <div class="basics">
      <div style="padding-bottom: 20px; text-align: center; position: relative; background-image: linear-gradient(transparent, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.298039)), url('<%= searched_tw_user.profile_banner_url.to_s + '/web' %>'); background-size: cover;">
        <img style="margin-top: 20px; border: 4px solid #ffffff;" src="<%= searched_tw_user.profile_image_url_https.to_s %>">
        <div style="margin-top: 20px; font-weight: normal; line-height: 120%; font-size: 18px; color: #ffffff;">
          <div class="full-name">
            <div>
              <span class="text"><%= searched_tw_user.name %>&nbsp;</span>
              <% if searched_tw_user.protected %><span class="glyphicon glyphicon-lock"></span><% end %>
            </div>
          </div>
          <div class="screen-name">@<%= searched_tw_user.screen_name %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# ツイート数、フォロー数、フォロワー数 %>
<div class="container" style="padding: 0px 15px 0px 15px;">
  <div class="row" style="padding: 0px 5px 0px 5px; border-bottom: 1px solid #e6e6e6;">
    <div>
      <div style="padding-top: 5px; padding-bottom: 5px;" class="col-xs-4"><span style="font-weight: bold;"><%= searched_tw_user.statuses_count %></span><br><span class="text-muted">ツイート</span></div>
      <div style="padding-top: 5px; padding-bottom: 5px; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;" class="col-xs-4"><span style="font-weight: bold;"><%= searched_tw_user.friends_count %></span><br><span class="text-muted">フォロー</span></div>
      <div style="padding-top: 5px; padding-bottom: 5px;" class="col-xs-4"><span style="font-weight: bold;"><%= searched_tw_user.followers_count %></span><br><span class="text-muted">フォロワー</span></div>
    </div>
  </div>
</div>
