<%# show page %>

<%# close_friends %>
<div class="menu-items media" style="margin-top: 0px;">
  <div class="media-body">
    <h4 class="media-heading"><%= close_friends[:name] %></h4>

    <% close_friends[:target].slice(0..2).each do |user| %>
      <%= link_to searches_path(screen_name: user.screen_name, id: user.uid),
                  method: :post do %>
        <img src="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>" width="48" height="48">
      <% end %>
    <% end %>
  </div>
  <div class="media-right media-bottom">
    <% if close_friends.has_key?(:graph) %>
      <div id="<%= close_friends.object_id %>" class="close-friends-chart"></div>
      <script>
        $(function () {
          var graph_option = $.extend(true, {}, window.common_pie_chart_options);
          graph_option.series[0].data = <%= raw close_friends[:graph].to_json %>;
          $('#<%= close_friends.object_id %>').highcharts(graph_option);
        });
      </script>
    <% end %>
  </div>

  <div class="container">
    <%= link_to(t('dictionary.view_more_with_num', num: close_friends[:target].size).html_safe,
                close_friends[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                class: 'btn btn-info btn-block') %>
  </div>
</div>

<%# usage_stats %>
<div class="menu-items media">
  <div class="media-body">
    <h4 class="media-heading"><%= usage_stats[:name] %></h4>

    <% if usage_stats.has_key?(:graph) %>
      <div id="<%= usage_stats.object_id %>" class="usage-stats-chart"></div>
      <script>
        $(function () {
          var graph_option = $.extend(true, {}, window.usage_stats_column_chart_options);
          graph_option.series[0].data = <%= raw usage_stats[:graph][0].to_json %>;
          graph_option.drilldown.series = <%= raw usage_stats[:graph][1].to_json %>;
          graph_option.yAxis.visible = false;
          graph_option.plotOptions.series.dataLabels.enabled = false;
          $('#<%= usage_stats.object_id %>').highcharts(graph_option);
        });
      </script>
    <% end %>
  </div>

  <div class="container">
    <%= link_to(t('dictionary.view_more'),
                usage_stats[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                class: 'btn btn-info btn-block') %>
  </div>
</div>

<%# clusters_belong_to %>
<div class="menu-items media">
  <div class="media-body">
    <h4 class="media-heading"><%= menu_clusters_belong_to[:name] %></h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= menu_clusters_belong_to[:text] %>

        <%= link_to(t('dictionary.tweet_result'),
                    "https://twitter.com/intent/tweet?text=#{URI.escape(menu_clusters_belong_to[:tweet_text])}",
                    target: '_blank',
                    class: 'btn btn-default pull-right',
                    style: 'margin-top: 5px;') %>
      </div>
      <div class="col-xs-12">
        <%= link_to(t('dictionary.view_more'),
                    menu_clusters_belong_to[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                    class: 'btn btn-info btn-block',
                    style: 'margin-top: 15px;') %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
</style>

<%# menu_items %>
<% menu_items.each do |menu_item| %>
  <div class="menu-items media">
    <div class="media-body">
      <h4 class="media-heading"><%= menu_item[:name] %></h4>

      <% menu_item[:target].slice(0..2).each do |user| %>
        <%= link_to searches_path(screen_name: user.screen_name, id: user.uid),
                    method: :post do %>
          <img src="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>" width="48" height="48">
        <% end %>
      <% end %>
    </div>
    <div class="media-right media-bottom">
      <%# link_to(t('dictionary.tweet_result'),
                  menu_item[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                  class: 'btn btn-default',
                  style: '') %>

      <% if menu_item.has_key?(:graph) %>
        <div id="<%= menu_item.object_id %>" class="common-chart"></div>
        <script>
          $(function () {
            var graph_option = $.extend(true, {}, window.common_pie_chart_options);
            graph_option.series[0].data = <%= raw menu_item[:graph].to_json %>;
            $('#<%= menu_item.object_id %>').highcharts(graph_option);
          });
        </script>
      <% end %>
    </div>

    <div class="container">
      <%= link_to(t('dictionary.view_more_with_num', num: menu_item[:target].size).html_safe,
                  menu_item[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                  class: 'btn btn-info btn-block') %>
    </div>
  </div>
<% end %>

<%# common friends and common followers %>
<% menu_common_friends_and_followers.each do |menu_item| %>
  <div class="menu-items media">
    <div class="media-body">
      <h4 class="media-heading"><%= menu_item[:name] %></h4>

      <% menu_item[:target].slice(0..2).each do |user| %>
        <%= link_to searches_path(screen_name: user.screen_name, id: user.uid),
                    method: :post do %>
          <img src="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>" width="48" height="48">
        <% end %>
      <% end %>
    </div>

    <div class="media-right media-bottom">
      <% if menu_item.has_key?(:graph) %>
        <div id="<%= menu_item.object_id %>" class="common-chart"></div>
        <script>
          $(function () {
            var graph_option = $.extend(true, {}, window.common_pie_chart_options);
            graph_option.series[0].data = <%= raw menu_item[:graph].to_json %>;
            $('#<%= menu_item.object_id %>').highcharts(graph_option);
          });
        </script>
      <% end %>
    </div>

    <div class="container">
      <% if search_oneself?(searched_tw_user.uid) %>
        <button class="btn btn-default btn-block" disabled="disabled" style="margin-top: 15px;">
          <%= t('view_more_btn.same_user') %>
        </button>
      <% elsif search_others?(searched_tw_user.uid) %>
        <%= link_to(t('dictionary.view_more_with_num', num: menu_item[:target].size).html_safe,
                    menu_item[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                    class: 'btn btn-info btn-block',
                    style: 'margin-top: 15px;') %>
      <% elsif !user_signed_in? %>
        <button class="btn btn-default btn-block" disabled="disabled" style="margin-top: 15px;">
          <%= t('dictionary.view_more_needs_login') %>
        </button>
      <% end %>
    </div>
  </div>
<% end %>

<%# update_histories %>
<div class="menu-items media">
  <div class="media-body">
    <h4 class="media-heading"><%= menu_update_histories[:name] %></h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= TwitterUser.human_attribute_name(:created_at) %>&nbsp;<%= l(searched_tw_user.created_at + 9.hours, format: :short) %>
      </div>
      <div class="col-xs-12">
        <%= TwitterUser.human_attribute_name(:updated_at) %>&nbsp;<%= l(searched_tw_user.updated_at + 9.hours, format: :short) %>
      </div>
      <div class="col-xs-12">
        <%= TwitterUser.human_attribute_name(:search_count) %>&nbsp;<%= searched_tw_user.search_count %>
      </div>
      <div class="col-xs-12">
        <%= TwitterUser.human_attribute_name(:update_count) %>&nbsp;<%= searched_tw_user.update_count %>
      </div>
      <div class="col-xs-12">
        <%= link_to(t('dictionary.view_more'),
                    menu_update_histories[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                    class: 'btn btn-info btn-block') %>
      </div>
    </div>
  </div>
</div>
