<%# show page %>

<%# clusters_belong_to %>
<div class="media" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 15px;">
  <div class="media-body" style="padding-left: 15px; padding-right: 15px;">
    <h4 style="font-size: 16px; margin-bottom: 15px;" class="media-heading"><%= menu_clusters_belong_to[:name] %></h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= menu_clusters_belong_to[:text] %>

        <%= link_to(t('dictionary.tweet_result'),
                    "https://twitter.com/intent/tweet?text=#{URI.escape(menu_clusters_belong_to[:tweet_text])}",
                    target: '_blank',
                    class: 'btn btn-default pull-right',
                    style: 'margin-top: 5px;') %>
      </div>
      <div class="col-xs-12">
        <%= link_to(t('dictionary.view_more'),
                    menu_clusters_belong_to[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                    class: 'btn btn-info btn-block',
                    style: 'margin-top: 15px;') %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    window.graph_base_option = {
      credits: false,
      colors: ['#2aa198', '#b58900', '#cb4b16', '#dc322f', '#d33682', '#6c71c4', '#268bd2', '#859900'],
      exporting: false,
      chart: {
        type: 'pie',
        margin: [0, -60, 0, 0],
        spacing: [0, 0, 0, 0]
      },
      legend: {
        align: 'left',
        layout: 'vertical',
        verticalAlign: 'middle',
        x: 0,
        y: 0,
        backgroundColor: 'rgba(255, 255, 255, 0.0)'
      },
      title: null,
      tooltip: false,
      plotOptions: {
        pie: {
          allowPointSelect: false,
          cursor: 'pointer',
          dataLabels: false,
          size: '100%',
          showInLegend: true
        }
      },
      series: [{
        name: '',
        colorByPoint: true,
        data: null
      }]
    };
  });
</script>

<%# menu_items %>
<% menu_items.each do |menu_item| %>
  <div class="media" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 15px;">
    <div class="media-body" style="padding-left: 15px; padding-right: 15px;">
      <h4 style="font-size: 16px; margin-bottom: 15px;" class="media-heading"><%= menu_item[:name] %></h4>

      <% menu_item[:target].slice(0..2).each do |user| %>
        <%= link_to searches_path(screen_name: user.screen_name, id: user.uid),
                    style: 'display: table-cell;', method: :post do %>
          <img src="<%= user.profile_image_url_https.to_s %>" style="border-right: 3px solid #ffffff;" alt="<%= user.screen_name %>">
        <% end %>
      <% end %>
    </div>
    <div class="media-right media-bottom">
      <%# link_to(t('dictionary.tweet_result'),
                  menu_item[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                  class: 'btn btn-default',
                  style: '') %>

      <% if menu_item.has_key?(:graph) %>
        <div id="<%= menu_item.object_id %>" style="height: 70px; width: 150px;"></div>
        <script>
          $(function () {
            var graph_option = $.extend(true, {}, window.graph_base_option);
            graph_option.series[0].data = <%= raw menu_item[:graph].to_json %>;
            $('#<%= menu_item.object_id %>').highcharts(graph_option);
          });
        </script>
      <% end %>
    </div>

    <div class="container">
      <%= link_to(t('dictionary.view_more_with_num', num: menu_item[:target].size).html_safe,
                  menu_item[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                  class: 'btn btn-info btn-block',
                  style: 'margin-top: 15px;') %>
    </div>
  </div>
<% end %>

<%# common friends and common followers %>
<% menu_common_friends_and_followers.each do |menu_item| %>
  <div class="media" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 15px;">
    <div class="media-body" style="padding-left: 15px; padding-right: 15px;">
      <h4 style="font-size: 16px; margin-bottom: 15px;" class="media-heading"><%= menu_item[:name] %></h4>
    </div>
    <div class="container">
      <% if user_signed_in? && current_user.uid.to_i == searched_tw_user.uid.to_i %>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-default btn-block" disabled="disabled" style="margin-top: 15px;">
              <%= t('view_more_btn.same_user') %>
            </button>
          </div>
        </div>
      <% elsif user_signed_in? && current_user.uid.to_i != searched_tw_user.uid.to_i %>
        <div class="row">
          <div class="col-xs-12">
            <% menu_item[:target].slice(0..2).each do |user| %>
              <%= link_to searches_path(screen_name: user.screen_name, id: user.uid), method: :post do %>
                <img src="<%= user.profile_image_url_https.to_s %>" style="border: 1px solid #eeeeee;" alt="<%= user.screen_name %>">
              <% end %>
            <% end %>

            <%= link_to(t('dictionary.tweet_result'),
                        menu_item[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                        class: 'btn btn-default pull-right',
                        style: 'margin-top: 15px;') %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to(t('dictionary.view_more_with_num', num: menu_item[:target].size).html_safe,
                        menu_item[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                        class: 'btn btn-info btn-block',
                        style: 'margin-top: 15px;') %>
          </div>
        </div>
      <% elsif !user_signed_in? %>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-default btn-block" disabled="disabled" style="margin-top: 15px;"><%= t('dictionary.view_more_needs_login') %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%# update_histories %>
<div class="media" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 15px;">
  <div class="media-body" style="padding-left: 15px; padding-right: 15px;">
    <h4 style="font-size: 16px; margin-bottom: 15px;" class="media-heading"><%= menu_update_histories[:name] %></h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= TwitterUser.human_attribute_name(:created_at) %>&nbsp;<%= l(searched_tw_user.created_at + 9.hours, format: :short) %>
      </div>
      <div class="col-xs-12">
        <%= TwitterUser.human_attribute_name(:updated_at) %>&nbsp;<%= l(searched_tw_user.updated_at + 9.hours, format: :short) %>
      </div>
      <div class="col-xs-12">
        <%= TwitterUser.human_attribute_name(:search_count) %>&nbsp;<%= searched_tw_user.search_count %>
      </div>
      <div class="col-xs-12">
        <%= TwitterUser.human_attribute_name(:update_count) %>&nbsp;<%= searched_tw_user.update_count %>
      </div>
      <div class="col-xs-12">
        <%= link_to(t('dictionary.view_more'),
                    menu_update_histories[:path_method].call(screen_name: searched_tw_user.screen_name, id: searched_tw_user.uid),
                    class: 'btn btn-info btn-block',
                    style: 'margin-top: 15px;') %>
      </div>
    </div>
  </div>
</div>
