<%# status list %>
<div id="<%= status_items.object_id %>">
<% status_items.each.with_index do |status_item, i| %>
  <%
    user = status_item.user
  %>
  <div class="status-item-carousel status-item-carousel-<%= i %>">
    <%# name box %>
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="<%= user.profile_image_url_https.to_s %>" alt="<%= user.screen_name %>">
      </div>

      <div class="media-body">
        <h4 class="media-heading">
          <%= "#{user.name}&nbsp;@#{user.screen_name}".html_safe %>
        </h4>
        <span class="text">
          <%= status_item.text %>
        </span>
      </div>
    </div>
  </div>
<% end %>
</div>
