<div class="tweet-preview-box <%= tweet_text.object_id %>">
  <textarea rows="<%= [tweet_text.scan(/\R/).size + 1, 4].max %>" readonly><%= tweet_text %></textarea>
</div>
<div class="tweet-box text-right">
  <%= link_to (action_name == 'new' ? t('dictionary.tweet_top_page') : t('dictionary.tweet_result')),
              intent_url(tweet_text, via: 'ego_tter').html_safe,
              class: 'btn btn-info', target: '_blank' %>
</div>
<script>
  $(function () {
    $('.tweet-preview-box.<%= tweet_text.object_id %> textarea').on('click', function(){
      $(this).select();
    });
  });
</script>
