<% enum = update_histories.size == 1 ? update_histories.each : update_histories.each_cons(2) %>
<% enum.each do |tu1, tu2| %>
  <div class="media" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 15px;">
    <div class="media-body" style="padding-right: 15px;">
      <h4 style="font-weight: bold; font-size: 14px;" class="media-heading"><%= tu1.diff(tu2) if tu2.present? %></h4>
      <span style="display: block; font-size: 13px; color: #999999;"><%= TwitterUser.human_attribute_name(:created_at) %>&nbsp;<%= tu1.created_at %></span>
      <span style="display: block; font-size: 13px; color: #999999;"><%= TwitterUser.human_attribute_name(:updated_at) %>&nbsp;<%= tu1.updated_at %></span>
    </div>
  </div>
<% end %>