<%# user list %>
<% user_items.each.with_index do |user_item, i| %>
  <div class="user-item-carousel user-item-carousel-<%= i %>">
    <%# name box %>
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="<%= user_item[:target].profile_image_url_https.to_s %>" alt="<%= user_item[:target].screen_name %>">
      </div>

      <div class="media-body">
        <h4 class="media-heading"><%= user_item[:target].name %>
          <% if user_item[:target].protected %>
            &nbsp;<span class="glyphicon glyphicon-lock"></span>
          <% end %>
        </h4>
        <span class="screen_name">
          <%= link_to "https://twitter.com/#{user_item[:target].screen_name}", target: '_blank' do %>
            <%= "@#{user_item[:target].screen_name}" %>
          <% end %>
        </span>
      </div>

      <div class="media-right">
        <%= link_to searches_path(screen_name: user_item[:target].screen_name, id: user_item[:target].uid), method: :post do %>
          <button type="button" class="btn btn-info"><%= t('dictionary.do_search') %></button>
        <% end %>
      </div>
    </div>

    <% if i < 10 %>
      <%# description box %>
      <div class="media description-box" style="display: none;">
        <div class="media-left">
          <img class="media-object" src="<%= user_item[:target].profile_image_url_https.to_s %>", alt="<%= user_item[:target].screen_name %>">
        </div>

        <div class="media-body">
            <span class="screen_name"><%= truncate(user_item[:target].description) %></span>
        </div>

        <div class="media-right">
          <%= link_to searches_path(screen_name: user_item[:target].screen_name, id: user_item[:target].uid), method: :post do %>
            <button type="button" class="btn btn-info"><%= t('dictionary.do_search') %></button>
          <% end %>
        </div>
      </div>

      <%# count box %>
      <div class="media count-box" style="display: none;">
        <div class="media-left">
          <img class="media-object" src="<%= user_item[:target].profile_image_url_https.to_s %>", alt="<%= user_item[:target].screen_name %>">
        </div>

        <div class="media-body">
          <div class="statuses_count"><%= user_item[:target].statuses_count %>&nbsp;<%= t('dictionary.tweet') %></div>
          <div class="friends_count"><%= user_item[:target].friends_count %>&nbsp;<%= t('dictionary.friends') %></div>
          <div class="followers_count"><%= user_item[:target].followers_count %>&nbsp;<%= t('dictionary.follower') %></div>
        </div>

        <div class="media-right">
          <%= link_to searches_path(screen_name: user_item[:target].screen_name, id: user_item[:target].uid), method: :post do %>
            <button type="button" class="btn btn-info"><%= t('dictionary.do_search') %></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>
  $(function () {
    var user_item_count = <%= [user_items.size, 10].min %>;
    var option = {
      accessibility: false,
      arrows: false,
      dots: false,
      infinite: true
    };
    for (var i = 0; i < user_item_count; i++) {
      $('.user-item-carousel-' + i).slick(option);
    }
    $('.media.description-box').show();
    $('.media.count-box').show();
  });
</script>