<div id="<%= user_items.object_id %>">
<% user_items.each.with_index do |user_item, i| %>
  <%
    profile_image_url = user_item[:target].profile_image_url_https.to_s
    screen_name = user_item[:target].screen_name
    unique_id = "#{screen_name}_#{user_item[:target].object_id}_#{user_items.object_id}"
    png = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC'
  %>

  <%= render(partial: 'searches/profile_overview_modal',
             locals: {user: user_item[:target], unique_id: unique_id, via: :profile_modal}) %>

  <div class="user-item-carousel user-item-carousel-<%= i %>">
    <%# name box %>
    <div class="media name-box">
      <div class="media-left">
        <img class="lazy media-object" data-original="<%= profile_image_url %>" src="<%= png %>"
             alt="<%= "@#{screen_name}" %>" width="48" height="48">
      </div>

      <div class="media-body">
        <h4 class="media-heading"><%= user_item[:target].name %>
          <% if user_item[:target].protected %>&nbsp;<span class="glyphicon glyphicon-lock"></span><% end %>
          <% if user_item[:target].verified %>&nbsp;<span class="glyphicon glyphicon-ok"></span><% end %>
        </h4>
        <span class="screen_name">
          <%= link_to "@#{screen_name}", "https://twitter.com/#{screen_name}", target: '_blank' %>
        </span>
      </div>

      <div class="media-right">
        <% if user_signed_in? && user_item[:friendship] %>
          <span>
            <% if user_item[:me] %>
            <% elsif user_item[:friendship] %>
              <button type="button" class="btn btn-success with-margin-right">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            <% else %>
              <button type="button" class="btn btn-default with-margin-right">
                <span class="text-muted glyphicon glyphicon-plus"></span>
              </button>
            <% end %>
          </span>
        <% end %>

        <span>
          <button type="button" class="btn btn-info"
                  data-toggle="modal" data-target=".profile-overview-modal.<%= unique_id %>">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          <script>
            $(function () {
              $('.profile-overview-modal.<%= unique_id %>').on('shown.bs.modal', function() {
                $.post('<%= modal_open_logs_path %>', {name: 'profile'});
              });
            });
          </script>
        </span>
      </div>
    </div><%# .media %>

    <%# description box %>
    <div class="media description-box" style="display: none;">
      <div class="media-left">
        <img class="lazy media-object" data-original="<%= profile_image_url %>" src="<%= png %>"
             alt="<%= "@#{screen_name}" %>" width="48" height="48">
      </div>

      <div class="media-body">
          <span class="description"><%= truncate(user_item[:target].description, length: 20) %></span>
      </div>
    </div>

    <%# count box %>
    <div class="media count-box" style="display: none;">
      <div class="media-left">
        <img class="lazy media-object" data-original="<%= profile_image_url %>" src="<%= png %>"
             alt="<%= "@#{screen_name}" %>" width="48" height="48">
      </div>

      <div class="media-body">
        <div class="statuses_count"><%= user_item[:target].statuses_count %>&nbsp;<%= t('dictionary.tweet') %></div>
        <span class="friends_count"><%= user_item[:target].friends_count %>&nbsp;<%= t('dictionary.friends') %></span>
        <span class="followers_count"><%= user_item[:target].followers_count %>&nbsp;<%= t('dictionary.follower') %></span>
      </div>
    </div>

    <%# score box %>
    <% if user_item[:target].respond_to?(:score) %><%# close_friends score %>
      <div class="media score-box" style="display: none;">
        <div class="media-left">
          <img class="lazy media-object" data-original="<%= profile_image_url %>" src="<%= png %>"
               alt="<%= "@#{screen_name}" %>" width="48" height="48">
        </div>

        <div class="media-body">
          <div class="score">
            <%= t('dictionary.score') %>&nbsp;<%= "#{user_item[:target].score} (#{user_item[:target].replying_score.to_i}, #{user_item[:target].replied_score.to_i}, #{user_item[:target].favoriting_score.to_i})" %>
          </div>
        </div>
      </div>
    <% end %>
  </div><%# .user-item-carousel %>
<% end %>
</div>

<script>
  function enable_carousel_<%= user_items.object_id %>(){
    var container = $('#<%= user_items.object_id %>');
    var user_item_count = <%= user_items.size %>;
    var option = {
      accessibility: false,
      arrows: false,
      dots: false,
      infinite: true
    };
    for (var i = 0; i < user_item_count; i++) {
      (function(){
        var loaded = false;
        container.find('.user-item-carousel-' + i)
            .lazyload()
            .on('appear', function () {
              if (loaded) {
                return
              }
              loaded = true;

              $(this).slick(option);
              $(this)
                  .find('img.lazy').trigger('appear').end()
                  .find('.media.description-box').show().end()
                  .find('.media.count-box').show().end()
                  .find('.media.score-box').show();
            });
      })();
    }
  }

  $(function () {
    enable_carousel_<%= user_items.object_id %>();
    $("img.lazy").lazyload();
  });
</script>