<div id="<%= user_items.object_id %>">
<% user_items.each.with_index do |user_item, i| %>
  <%
    profile_image_url = user_item[:target].profile_image_url_https.to_s
    screen_name = user_item[:target].screen_name
    unique_id = "#{screen_name}_#{user_item[:target].object_id}_#{user_items.object_id}"
  %>

  <%= render(partial: 'searches/profile_overview_modal',
             locals: {user: user_item[:target], unique_id: unique_id}) %>

  <div class="user-item-carousel user-item-carousel-<%= i %>">
    <%# name box %>
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="<%= profile_image_url %>"
             alt="<%= "@#{screen_name}" %>" width="48" height="48">
      </div>

      <div class="media-body">
        <h4 class="media-heading"><%= user_item[:target].name %>
          <% if user_item[:target].protected %>
            &nbsp;<span class="glyphicon glyphicon-lock"></span>
          <% end %>
          <% if user_item[:target].verified %>
            &nbsp;<span class="glyphicon glyphicon-ok"></span>
          <% end %>
        </h4>
        <span class="screen_name">
          <%= link_to "https://twitter.com/#{screen_name}", target: '_blank' do %>
            <%= "@#{screen_name}" %>
          <% end %>
        </span>
      </div>

      <div class="media-right">
        <% if user_signed_in? && user_item[:friendship] %>
          <span>
            <% if user_item[:me] %>
            <% elsif user_item[:friendship] %>
              <button type="button" class="btn btn-success with-margin-right">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            <% else %>
              <button type="button" class="btn btn-default with-margin-right">
                <span class="text-muted glyphicon glyphicon-plus"></span>
              </button>
            <% end %>
          </span>
        <% end %>

        <span>
          <button type="button" class="btn btn-info"
                  data-toggle="modal" data-target=".profile-overview-modal.<%= unique_id %>">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div><%# .media %>

    <%# description box %>
    <div class="media description-box" style="display: none;">
      <div class="media-left">
        <img class="media-object" src="<%= profile_image_url %>"
             alt="<%= "@#{screen_name}" %>" width="48" height="48">
      </div>

      <div class="media-body">
          <span class="description"><%= truncate(user_item[:target].description, length: 20) %></span>
      </div>
    </div>

    <%# count box %>
    <div class="media count-box" style="display: none;">
      <div class="media-left">
        <img class="media-object" src="<%= profile_image_url %>"
             alt="<%= "@#{screen_name}" %>" width="48" height="48">
      </div>

      <div class="media-body">
        <div class="statuses_count"><%= user_item[:target].statuses_count %>&nbsp;<%= t('dictionary.tweet') %></div>
        <span class="friends_count"><%= user_item[:target].friends_count %>&nbsp;<%= t('dictionary.friends') %></span>
        <span class="followers_count"><%= user_item[:target].followers_count %>&nbsp;<%= t('dictionary.follower') %></span>
      </div>
    </div>

    <%# score box %>
    <% if user_item[:target].respond_to?(:score) %><%# close_friends score %>
      <div class="media score-box" style="display: none;">
        <div class="media-left">
          <img class="media-object" src="<%= profile_image_url %>"
               alt="<%= "@#{screen_name}" %>" width="48" height="48">
        </div>

        <div class="media-body">
          <div class="score">
            <%= t('dictionary.score') %>&nbsp;<%= "#{user_item[:target].score} (#{user_item[:target].replying_score.to_i}, #{user_item[:target].replied_score.to_i}, #{user_item[:target].favoriting_score.to_i})" %>
          </div>
        </div>
      </div>
    <% end %>
  </div><%# .user-item-carousel %>

  <% if i == 0 && user_items.first_page? && user_items.many? && graph.present? %>
    <div class="user-items media">
      <div class="media-body">
        <div id="<%= graph.object_id %>" class="common-chart"></div>
        <script>
          $(function () {
            var graph_option = $.extend(true, {}, window.common_pie_chart_options);
            graph_option.series[0].data = <%= raw graph.to_json %>;
            graph_option.chart.margin = 0;
            $('#<%= graph.object_id %>').highcharts(graph_option);
          });
        </script>

        <% if user_item[:target].respond_to?(:score) %><%# close_friends score %>
          <div class="icon-chart container">
            <%
              chart_items = user_items.slice(0, [5, user_items.size].min).map{|item| item[:target] }
              total_score = chart_items.inject(0){|memo, item| memo + item.score }
              weight = 100.to_f / (chart_items[0].score.to_f / total_score * 100)
              color = %w(#ffc107 #9e9e9e #795548) + Array.new(10, '#eeeeee')
            %>
            <% chart_items.each.with_index do |item, ii| %>
              <%
                url = item.profile_image_url_https.to_s
                sn = "@#{item.screen_name}"
                score = item.score.to_f / total_score * 100 * weight
              %>
              <div class="row">
                <div class="col-xs-3 text-center" style="padding-left: 0px; padding-right: 0px;">
                  <% if ii < 3 %>
                    <img style="display: inline;" src="<%= "/flaticon/prize#{ii + 1}.png" %>" width="24" height="24">
                  <% else %>
                    <span style="display: inline;"><%= ii + 1 %></span>
                  <% end %>
                  <img style="display: inline;" src="<%= url %>" width="24" height="24" alt="<%= sn %>">
                </div>
                <div class="col-xs-9" style="padding-left: 0px; padding-right: 0px;">
                  <div class="progress" style="margin-top: 2px; margin-bottom: 0px;">
                    <div class="progress-bar progress-bar" role="progressbar"
                         aria-valuenow="<%= score %>" aria-valuemin="0" aria-valuemax="100"
                         style="width: <%= score %>%; background-color: <%= color[ii] %>;">
                      <span class="sr-only"><%= score %>% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= render(partial: 'searches/tweet_box', locals: {tweet_text: @tweet_text}) %>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<script>
  function enable_carousel_<%= user_items.object_id %>(){
    var container = $('#<%= user_items.object_id %>');
    var user_item_count = <%= user_items.size %>;
    var option = {
      accessibility: false,
      arrows: false,
      dots: false,
      infinite: true
    };
    for (var i = 0; i < user_item_count; i++) {
      container.find('.user-item-carousel-' + i).slick(option);
    }
    container.find('.media.description-box').show();
    container.find('.media.count-box').show();
    container.find('.media.score-box').show();
  }
  $(function () {
    enable_carousel_<%= user_items.object_id %>();
  });
</script>