<%= render(partial: 'searches/profile_overview', locals: {searched_tw_user: @searched_tw_user}) %>

<div class="container" style="padding: 0px;">
  <h2 style="text-align: center; margin-top: 5px;"><small><%= @name %></small></h2>

  <div class="row">
    <div class="col-xs-6">
      <div style="margin-left: 15px;">
        <%= link_to_previous_page @user_items, t('views.pagination.previous').html_safe, params: {id: @searched_tw_user.uid} %>
      </div>
    </div>
    <div class="col-xs-6 text-right">
      <div style="margin-right: 15px;">
        <%= link_to_next_page @user_items, t('views.pagination.next').html_safe, params: {id: @searched_tw_user.uid} %>
      </div>
    </div>
  </div>

  <%= render(partial: 'searches/user_items', locals: {searched_tw_user: @searched_tw_user, user_items: @user_items}) %>

  <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="col-xs-6">
      <div style="margin-left: 15px;">
        <%= link_to_previous_page @user_items, t('views.pagination.previous').html_safe, params: {id: @searched_tw_user.uid} %>
      </div>
    </div>
    <div class="col-xs-6 text-right">
      <div style="margin-right: 15px;">
        <%= link_to_next_page @user_items, t('views.pagination.next').html_safe, params: {id: @searched_tw_user.uid} %>
      </div>
    </div>
  </div>
</div>