- title @title
- set_meta_tags description: @description

- breadcrumb :common, @twitter_user.screen_name, @menu

= render(partial: 'profiles/overview',
  locals: {user: @twitter_user, unique_id: @twitter_user.uid})

.common-result
  %h2.h4= @title

  .return-to-results-top= link_to(t('searches.common.return', user: @twitter_user.mention_name), timeline_path(@twitter_user))

  = render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

  .loading-image.text-center
    = t('searches.waiting.analyzing', user: @twitter_user.name)
    = image_tag '/ajax-loader.gif'

  .error-msg.text-center{style: 'display: none; margin-bottom: 15px;'}

  :javascript
    $(function () {
      var url = "#{send("#{@menu}_search_result_path", uid: @twitter_user.uid, page: params[:page])}";
      var retryTimeout = egotter.messages.retryTimeout("#{controller_name}/#{@menu}/retry_timeout");
      var somethingIsWrong = egotter.messages.somethingWrong("#{controller_name}/#{@menu}/something_wrong")

      $.get(url)
          .done(function (res) {
            $('.common-result').append(res.html);
            var path = window.location.pathname + window.location.search + '#loaded';
            window.history.replaceState(null, null, path)
          })
          .fail(function (xhr) {
            if (xhr.status === 502) {
              Rollbar
                .scope({action: "#{action_name}", uid: #{@twitter_user.uid}})
                .warning("Timeout while attempting fetching.");
              $('.error-msg').append(retryTimeout).show();
            } else {
              $('.error-msg').append(somethingIsWrong).show();
            }
            console.log(xhr.responseText);
          })
          .always(function () { $('.loading-image').remove() });
    });
