<div class="my-4">
  <%= image_tag '/ajax-loader.gif' %>&nbsp;<%= t('.redirect_to', user: @screen_name) %>
</div>

<% if @user %>
  <%= render partial: 'shared/profile_section', locals: {twitter_user: @user, async: false} %>
<% end %>

<%= form_tag searches_path, id: 'dummy-form', method: :post do %>
  <input type="hidden" name="screen_name" value="<%= @screen_name %>">
  <input type="hidden" name="redirect_path" value="<%= @redirect_path %>">
  <input type="hidden" name="via" value="<%= @via %>">
<% end %>

<script>
  setTimeout(function () {
    document.getElementById('dummy-form').submit();
  }, 5 * 1000);
</script>
