<table border="0">
  <caption>Total Records</caption>
  <% [User, TwitterUser, Friend, Follower, Status, BackgroundSearchLog, BackgroundUpdateLog].each do |model| %>
    <tr>
      <td><%= model.model_name.human %></td>
      <td><%= model.all.size %>(<%= model.where(created_at: 1.hour.ago..Time.now).size %>)</td>
    </tr>
  <% end %>
</table>

<table border="0">
  <caption>Queueing</caption>
  <% @debug_info.each do |k, v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>
