<table border="0">
  <tr>
    <td>User</td>
    <td><%= User.all.size %></td>
  </tr>
  <tr>
    <td>TwitterUser</td>
    <td><%= TwitterUser.all.size %></td>
  </tr>
  <tr>
    <td>Friend</td>
    <td><%= Friend.all.size %></td>
  </tr>
  <tr>
    <td>Follower</td>
    <td><%= Follower.all.size %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= Status.all.size %></td>
  </tr>
  <tr>
    <td>BackgroundSearchLog</td>
    <td><%= BackgroundSearchLog.all.size %></td>
  </tr>
  <tr>
    <td>BackgroundUpdateLog</td>
    <td><%= BackgroundUpdateLog.all.size %></td>
  </tr>
</table>

<table>
  <% @debug_info.each do |k, v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>
