<% user = current_user %>
<div class="menu container">
  <h2><small><%= t('dictionary.notification') %></small></h2>
  <%= form_for user.notification, url: menu_path do |f| %>
    <!--<div class="checkbox">-->
      <!--<label>-->
        <!--<%= f.check_box :email %>-->
        <!--<div><%= t('dictionary.notification_email') %></div>-->
      <!--</label>-->
    <!--</div>-->
    <!--<hr>-->

    <div class="checkbox">
      <label>
        <%= f.check_box :dm %>
        <div><%= t('dictionary.notification_dm') %></div>
      </label>
    </div>
    <hr>

    <div class="checkbox">
      <label>
        <%= f.check_box :news %>
        <div><%= t('dictionary.notification_news') %></div>
      </label>
    </div>
    <hr>

    <div class="checkbox">
      <label>
        <%= f.check_box :search %>
        <div><%= t('dictionary.notification_news') %></div>
      </label>
    </div>

    <div style="margin: 15px 15px auto 15px;">
      <%= f.submit t('dictionary.save_settings'), class: 'btn btn-default btn-block' %>
    </div>
  <% end %>

  <hr>

  <h2><small><%= t('search_menu.search_histories') %></small></h2>
  <div class="container">
    <%= render(partial: 'searches/adsense') %>
  </div>

  <%# Calling dup to change object_id %>
  <%= render(partial: 'searches/search_histories', locals: {search_histories: @search_histories.dup, in_modal: false}) %>

  <% if user.admin? %>
    <h2><small><%= t('search_menu.debug') %></small></h2>
    <div class="container">
      <%= link_to t('search_menu.debug'), debug_path,
                  class: 'btn btn-lg btn-info btn-block', style: 'margin-bottom: 15px;' %>
    </div>

    <h2><small><%= t('search_menu.clear_result_cache') %></small></h2>
    <div class="container">
      <%= link_to t('search_menu.clear_result_cache'), clear_result_cache_path,
                  class: 'btn btn-lg btn-info btn-block', style: 'margin-bottom: 15px;', method: :post %>
    </div>
  <% end %>
</div>