<div class="container">
  <%= form_tag searches_path, method: :post do %>
    <h2 style="text-align: center;"><small><%= t('dictionary.lead') %></small></h2>
    <label for="screen_name" class="sr-only">Twitter ID</label>
    <div class="input-group">
      <div class="input-group-addon">@</div>
      <input type="search" id="screen_name" name="screen_name" class="form-control" placeholder="Twitter ID"
             pattern="^[0-9A-Za-z_]{1,20}$" title="<%= t('before_sign_in.invalid_input', count1: 1, count2: 20) %>" required autofocus>
    </div>
    <button style="margin-top: 10px;" class="btn btn-primary btn-block" type="submit"><%= t('dictionary.search') %></button>
  <% end %>

  <% if user_signed_in? %>
    <h2 style="text-align: center; margin-top: 30px;"><small><%= t('dictionary.search_by_login_user') %></small></h2>
    <%= link_to t('dictionary.search_by', user: "@#{current_user.screen_name}"),
                searches_path(screen_name: current_user.screen_name),
                class: 'btn btn-info btn-block', style: 'margin-top: 0px;', method: :post %>
  <% end %>

  <hr>

  <%= render(partial: 'searches/adsense') %>
</div>