= render(partial: 'searches/conversion_tracking')

- if request.device_type == :pc && !user_signed_in?
  .row{style: 'margin-top: 15px;'}
    .col-md-6.text-center
      = image_tag '/egotter_icon_400x400.jpg', size: '400x400', class: 'img-rounded', style: 'padding: 10px; border: 15px solid #f5f5f5'
    .col-md-6.text-center
      %h3.h4.searches= t('searches.new.pc.lead_001')
      .searches.lead= t('searches.new.pc.lead_002_html')
      %div{style: 'color: #EA2184; margin-top: 30px;'}
        %i.fa.fa-check.fa-lg{'aria-hidden': true}
        = t('searches.new.pc.check_001')
      %div{style: 'color: #EA2184;'}
        %i.fa.fa-check.fa-lg{'aria-hidden': true}
        = t('searches.new.pc.check_002')
      %div{style: 'margin-top: 5px;'}
        = link_to '新規登録', sign_in_path(via: "#{controller_name}/#{action_name}/pc_special"), class: 'btn btn-info btn-block btn-lg', style: 'width: 60%; margin-left: auto; margin-right: auto;'
      %div{style: 'margin-top: 30px;'}
        = t('searches.new.pc.search_for_now')
        %i.fa.fa-caret-down.fa-2x{'aria-hidden': true}
      %div{style: 'width: 60%; margin-top: 5px; margin-left: auto; margin-right: auto;'}
        = render partial: 'common/search_form', locals: {via: :top_input}
- else
  %h3.h4.searches.text-center= t('searches.new.lead_001')
  .searches.lead.text-center= t('searches.new.lead_002').html_safe
  = render partial: 'common/search_form', locals: {via: :top_input}
  = render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})
  - if user_signed_in?
    = link_to t('searches.common.search_by', user: current_user.mention_name), searches_path_for(controller: controller_name, screen_name: current_user.screen_name, via: :top_button), class: 'searches submit-btn2 btn btn-info btn-block', method: :post
  - else
    = link_to t('login.welcome.sign_in_with_twitter'), welcome_path(via: "#{controller_name}/#{action_name}/button"), class: 'btn btn-info btn-block'

.row.searches.screenshot
  .col-xs-12.col-sm-6.text-center
    %img{alt: "#{t('searches.common.egotter')}", src: '/screenshot_iphone_332x560.png', height: '160px'}
  .col-xs-12.col-sm-6.text-center
    %img{alt: "#{t('searches.common.egotter')}", src: '/screenshot_laptop_961x560.png', height: '160px'}

%h3.h4.searches.text-center= t('searches.new.lead_003').html_safe

.row.searches
  .col-xs-12.col-sm-4
    %h3.h4= t('.feature_001')
    .feature-description= t('.feature_desc_001').html_safe
  .col-xs-12.col-sm-4
    %h3.h4= t('.feature_002')
    .feature-description= t('.feature_desc_002').html_safe
  .col-xs-12.col-sm-4
    %h3.h4= t('.feature_003')
    .feature-description= t('.feature_desc_003').html_safe

.searches.separator

%h3.h4.searches= t('searches.new.lead_004')
.text-center.searches.description= t('searches.common.page_description')

= render partial: 'common/search_form', locals: {via: :top_input2}

%h2.h4= t('.egotter_features')
.row.searches
  .col-xs-12.col-sm-6
    %h3.h4= t('.feature_004')
    .feature-description= t('.feature_desc_004').html_safe
  .col-xs-12.col-sm-6
    %h3.h4= t('.feature_005')
    .feature-description= t('.feature_desc_005', link: link_to(t('dictionary.view_more_detail'), welcome_path(via: "#{controller_name}/#{action_name}/feature_desc_005"))).html_safe
  .col-xs-12.col-sm-6
    %h3.h4= t('.feature_006')
    .feature-description= t('.feature_desc_006').html_safe
  .col-xs-12.col-sm-6
    %h3.h4= t('.feature_007')
    .feature-description= t('.feature_desc_007', link: link_to(t('dictionary.view_more_detail'), welcome_path(via: "#{controller_name}/#{action_name}/feature_desc_007"))).html_safe

.searches.separator

.twitter.tweets
  = render(partial: 'twitter/tweet', collection: tweets_for('#egotter'), cached: true, formats: %i(html))