= render(partial: 'searches/conversion_tracking')

.top-page
  %h3.h4.lead-001.text-center= t('.lead_001')
  .lead-002.text-center= t('.lead_002').html_safe

  = render partial: 'common/search_box_group', locals: {via: :top_input}

  = render(partial: 'searches/adsense')

  - if user_signed_in?
    = link_to t('.search_by', user: current_user.mention_name), searches_path(screen_name: current_user.screen_name, via: :top_button), class: 'submit-btn2 btn btn-info btn-block', method: :post

  .row.screenshot
    .col-xs-12.col-sm-6
      .text-center
        %img{alt: "#{t('dictionary.app_name')}", src: '/screenshot_iphone_332x560.png', height: '160px'}/
    .col-xs-12.col-sm-6
      .text-center
        %img{alt: "#{t('dictionary.app_name')}", src: '/screenshot_laptop_961x560.png', height: '160px'}/

  %h3.h4.lead-003.text-center= t('.lead_003').html_safe

  .egotter-features
    .row
      .col-xs-12.col-sm-4
        %h3.h4= t('.feature_001')
        .feature-description= t('.feature_desc_001').html_safe
      .col-xs-12.col-sm-4
        %h3.h4= t('.feature_002')
        .feature-description= t('.feature_desc_002').html_safe
      .col-xs-12.col-sm-4
        %h3.h4= t('.feature_003')
        .feature-description= t('.feature_desc_003').html_safe

    %h3.h4.lead-004= t('.lead_004')
    .text-center.description= t('searches.common.description')

    = render partial: 'common/search_box_group', locals: {via: :top_input2}

    %h2.h4= t('.egotter_features')
    .row
      .col-xs-12.col-sm-6
        %h3.h4= t('.feature_004')
        .feature-description= t('.feature_desc_004').html_safe
      .col-xs-12.col-sm-6
        %h3.h4= t('.feature_005')
        .feature-description= t('.feature_desc_005').html_safe
      .col-xs-12.col-sm-6
        %h3.h4= t('.feature_006')
        .feature-description= t('.feature_desc_006').html_safe
      .col-xs-12.col-sm-6
        %h3.h4= t('.feature_007')
        .feature-description= t('.feature_desc_007').html_safe