- content_for :canonical_url do
  %link{href: search_url(screen_name: @searched_tw_user.screen_name), rel: 'canonical'}

- breadcrumb :search, @searched_tw_user.screen_name

- set_meta_tags title: t('.title', user: @searched_tw_user.mention_name), site: '', description: t('.description', user: @searched_tw_user.mention_name)

%p.refresh-box.alert.alert-info{style: 'z-index: 10000; margin-bottom: 15px; display: none;'}
  = t('searches.show.update_is_coming_html', user: @searched_tw_user.screen_name, link_to: link_to(t('searches.show.update_result'), force_reload_path(uid: @searched_tw_user.uid), class: 'btn btn-default btn-sm', method: :post))

%p.latest-box.alert.alert-info{style: 'margin-bottom: 15px; display: none;'}
  = t('searches.show.latest_result', time: l(@searched_tw_user.updated_at.in_time_zone('Tokyo'), format: :short))

%p.login-box.alert.alert-info{style: 'margin-bottom: 15px; display: none;'}
  = t('searches.show.request_login_html', user: @searched_tw_user.screen_name, sign_in_path: sign_in_path(redirect_path: search_path(screen_name: @searched_tw_user.screen_name))).html_safe

= render(partial: 'profiles/overview', locals: {user: @searched_tw_user, unique_id: @searched_tw_user.uid})

:javascript
  $(function () {
    enableSlickOnPageTop();
  });

.search-result
  %h2.h3= t('.heading', user: @searched_tw_user.mention_name)

  = render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

  - if !!@worker_started
    :javascript
      console.log('workerStarted', true);
      var refreshBox = $('.refresh-box');
      var latestBox = $('.latest-box');
      var loginBox = $('.login-box');
      var twitterUser = #{raw({uid: @searched_tw_user.uid, screenName: @searched_tw_user.screen_name, createdAt: @searched_tw_user.created_at.to_i}.to_json)};

      function formatDate (date) {
        return '' + date.getFullYear() + '/' + date.getMonth() + 1 + '/' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
      }

      function done (res) {
        console.log('before', formatDate(new Date(twitterUser.createdAt * 1000)), ', after', formatDate(new Date(res.created_at * 1000)));

        if (twitterUser.createdAt < res.created_at) {
          refreshBox.show();
          refreshBox.sticky({topSpacing: 0});
        } else {
          if (res.message == 'already created and too many friends') {
            // TODO check whether the user is signed in or not
            loginBox.show();
          } else {
            latestBox.show();
          }
        }
      }
      waiting2(twitterUser, done);

  = render partial: 'search_results/show/users_template', locals: {tu: @searched_tw_user, name: 'close_friends'}
  = render partial: 'search_results/show/stats_summary', locals: {name: :usage_stats, graph: UsageStat.find_by(uid: @searched_tw_user.uid)&.wday, tu: @searched_tw_user}
  = render partial: 'search_results/show/stats_summary', locals: {name: :clusters_belong_to, graph: name_y_format(UsageStat.find_by(uid: @searched_tw_user.uid)&.tweet_clusters), tu: @searched_tw_user}
  - %w(removing removed new_friends new_followers blocking_or_blocked mutual_friends one_sided_friends one_sided_followers replying replied favoriting inactive_friends inactive_followers).each do |name|
    - if name == 'new_friends' && request.from_smartphone?
      = render(partial: 'common/adsense', locals: {action: action_name, vertical: :middle})
    = render partial: 'search_results/show/users_template', locals: {tu: @searched_tw_user, name: name}
  = render partial: 'search_results/show/update_histories_summary', locals: {histories: UpdateHistories.new(@searched_tw_user.uid), tu: @searched_tw_user}
  = render(partial: 'common/adsense', locals: {action: action_name, vertical: :bottom})

  %h2.h4= t('search_results.show.about_this_page', this_page: t('searches.show.heading', user: @searched_tw_user.mention_name))
  .this-page-is= t('search_results.show.this_page_is_html', user: @searched_tw_user.mention_name)
  %h2.h4= t('search_results.show.other_services')
  .row.other-services
    .text-center.col-xs-12.col-sm-4
      = t('search_results.show.twitter_link_html', screen_name: @searched_tw_user.screen_name)
    .text-center.col-xs-12.col-sm-4
      = t('search_results.show.twilog_link_html', screen_name: @searched_tw_user.screen_name)
    .text-center.col-xs-12.col-sm-4
    = t('search_results.show.favstar_link_html', screen_name: @searched_tw_user.screen_name)

