- content_for :canonical_url do
  %link{href: search_url(screen_name: @searched_tw_user.screen_name), rel: 'canonical'}

- set_meta_tags title: t('.title', user: @searched_tw_user.mention_name), site: '', description: t('.description', user: @searched_tw_user.mention_name)

%p.alert.alert-info{style: 'z-index: 10000; display: none;'}
  = t('searches.waiting.updating_is_finished_msg', link: link_to(t('dictionary.this_link'), '#')).html_safe

= render(partial: 'profiles/overview',
  locals: {user: @searched_tw_user, unique_id: @searched_tw_user.uid})

:javascript
  $(function () {
    enableSlickOnPageTop();
  });

.search-result
  %h2.h4= t('.heading', user: @searched_tw_user.mention_name)

  = render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

  :javascript
    window.workerStarted = #{!!@worker_started};
    console.log('workerStarted', window.workerStarted);

  - if @page_cache
    = @page_cache.html_safe
    :javascript
      var path = window.location.pathname + window.location.search + '#cached';
      window.history.replaceState(null, null, path)
  - else
    .loading-image.text-center
      = t('searches.waiting.analyzing', user: @searched_tw_user.name)
      = image_tag '/ajax-loader.gif'

    .error-msg.text-center{style: 'display: none; margin-bottom: 15px;'}

    :javascript
      $(function () {
        var url = "#{search_result_path(uid: @searched_tw_user.uid)}";
        var retryTimeout = '#{t('before_sign_in.retry_timeout', sign_in_link: link_to(t('dictionary.sign_in'), welcome_path)).html_safe}';
        var somethingIsWrong = '#{t('before_sign_in.something_is_wrong', sign_in_link: link_to(t('dictionary.sign_in'), welcome_path)).html_safe}';

        $.get(url)
            .done(function (res) {
              $('.search-result').append(res.html);
              var path = window.location.pathname + window.location.search + '#loaded';
              window.history.replaceState(null, null, path)
            })
            .fail(function (xhr) {
              if (xhr.status === 502) {
                Rollbar
                  .scope({action: "#{action_name}", uid: #{@searched_tw_user.uid}})
                  .warning("Timeout while attempting fetching.");
                $('.error-msg').append(retryTimeout).show();
              } else {
                $('.error-msg').append(somethingIsWrong).show();
              }
              console.log(xhr.responseText);
            })
            .always(function () { $('.loading-image').remove() });
      });
