- set_meta_tags title: t('.title', user: @searched_tw_user.mention_name), site: '', description: t('.description', user: @searched_tw_user.mention_name)

%p.alert.alert-info{style: 'display: none;'}
  = t('searches.waiting.updating_is_finished_msg', link: link_to(t('dictionary.this_link'), '#')).html_safe

= render(partial: 'searches/profile_overview',
  locals: {user: @searched_tw_user, delay: false, unique_id: @searched_tw_user.uid})

.search-result
  %h2.h4= t('.heading', user: @searched_tw_user.mention_name)

  = render(partial: 'searches/adsense')

  - if @page_cache
    = @page_cache.html_safe
    :javascript
      var path = window.location.pathname + window.location.search + '#cached';
      window.history.replaceState(null, null, path)
  - else
    .loading-image.text-center
      = t('searches.waiting.analyzing', user: @searched_tw_user.name)
      = image_tag '/ajax-loader.gif'

    .error-msg.text-center

    :javascript
      $(function () {
        var url = "#{search_result_path(id: @searched_tw_user.uid)}";
        $.get(url)
            .done(function (res) {
              $('.search-result').append(res.html);
              var path = window.location.pathname + window.location.search + '#loaded';
              window.history.replaceState(null, null, path)
            })
            .fail(function (xhr) {
              if(xhr.status == 502) {
                $('.error-msg').append('#{t('before_sign_in.retry_timeout', sign_in_link: link_to(t('dictionary.sign_in'), welcome_path)).html_safe}');
              } else {
                $('.error-msg').append('#{t('before_sign_in.something_is_wrong', sign_in_link: link_to(t('dictionary.sign_in'), welcome_path)).html_safe}');
                console.log(xhr.responseText);
              }
            })
            .always(function () {
              $('.loading-image').remove();
            });
      });