<%= render(partial: 'searches/profile_overview', locals: {searched_tw_user: @searched_tw_user}) %>

<div class="container" style="padding: 0px;">
  <h2 style="text-align: center; margin-top: 5px;">
    <small><%= @name %></small>
  </h2>
  <div id="wday_graph" style="height: 200px; margin: 0 auto"></div>
  <div id="wday_graph_7days" style="height: 200px; margin: 0 auto"></div>

  <hr style="border-color: #999999">

  <div id="hour_graph" style="height: 200px; margin: 0 auto"></div>
  <div id="hour_graph_7days" style="height: 200px; margin: 0 auto"></div>

  <hr style="border-color: #999999">

  <div id="kind_graph" style="height: 200px; margin: 0 auto"></div>
</div>

<script>
  var graph_options = window.usage_stats_column_chart_options;

  var wday_options = $.extend(true, {}, graph_options);
  wday_options.title.text = '曜日ごとのツイート数(直近600ツイート)';
  wday_options.series[0].data = <%= raw @wday_series_data.to_json %>;
  wday_options.drilldown.series = <%= raw @wday_drilldown_series.to_json %>;

  var wday_7days_options = $.extend(true, {}, graph_options);
  wday_7days_options.title.text = '曜日ごとのツイート数(直近1週間)';
  wday_7days_options.series[0].data = <%= raw @wday_series_data_7days.to_json %>;
  wday_7days_options.drilldown.series = <%= raw @wday_drilldown_series_7days.to_json %>;

  var hour_options = $.extend(true, {}, graph_options);
  hour_options.title.text = '時間帯ごとのツイート数(直近600ツイート)';
  hour_options.series[0].data = <%= raw @hour_series_data.to_json %>;
  hour_options.drilldown.series = <%= raw @hour_drilldown_series.to_json %>;

  var hour_7days_options = $.extend(true, {}, graph_options);
  hour_7days_options.title.text = '時間帯ごとのツイート数(直近1週間)';
  hour_7days_options.series[0].data = <%= raw @hour_series_data_7days.to_json %>;
  hour_7days_options.drilldown.series = <%= raw @hour_drilldown_series_7days.to_json %>;

  var circle_options = {
    chart: {
      type: 'pie'
    },
    title: {
      text: null
    },
    subtitle: false,
    plotOptions: {
      series: {
        dataLabels: {
          enabled: true,
          format: '{point.name}: {point.y:.1f}%'
        }
      }
    },

    tooltip: false,
    series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [{
        name: 'メンション',
        y: 56.33,
        drilldown: 'Microsoft Internet Explorer'
      }, {
        name: 'URL付き',
        y: 24.03,
        drilldown: 'Chrome'
      }, {
        name: 'ハッシュタグ',
        y: 10.38,
        drilldown: 'Firefox'
      }, {
        name: 'テキストのみ',
        y: 4.77,
        drilldown: 'Safari'
      }]
    }],
    drilldown: {
      series: [{
        name: 'Microsoft Internet Explorer',
        id: 'Microsoft Internet Explorer',
        data: [
          ['v11.0', 24.13],
          ['v8.0', 17.2],
          ['v9.0', 8.11],
          ['v10.0', 5.33],
          ['v6.0', 1.06],
          ['v7.0', 0.5]
        ]
      }, {
        name: 'Chrome',
        id: 'Chrome',
        data: [
          ['v40.0', 5],
          ['v41.0', 4.32]
        ]
      }, {
        name: 'Firefox',
        id: 'Firefox',
        data: [
          ['v35', 2.76],
          ['v36', 2.32]
        ]
      }, {
        name: 'Safari',
        id: 'Safari',
        data: [
          ['v8.0', 2.56],
          ['v7.1', 0.77],
          ['v5.1', 0.42],
          ['v5.0', 0.3],
          ['v6.1', 0.29],
          ['v7.0', 0.26],
          ['v6.2', 0.17]
        ]
      }, {
        name: 'Opera',
        id: 'Opera',
        data: [
          ['v12.x', 0.34],
          ['v28', 0.24],
          ['v27', 0.17],
          ['v29', 0.16]
        ]
      }]
    }
  };

  var kind_options = $.extend(true, {}, circle_options);

  $(function () {
    $('#wday_graph').highcharts(wday_options);
    $('#wday_graph_7days').highcharts(wday_7days_options);

    $('#hour_graph').highcharts(hour_options);
    $('#hour_graph_7days').highcharts(hour_7days_options);

    $('#kind_graph').highcharts(kind_options);
  });
</script>