<%= render(partial: 'searches/profile_overview',
           locals: {user: @searched_tw_user, enable_carousel: true, unique_id: "#{@searched_tw_user.screen_name}_#{@searched_tw_user.object_id}"}) %>

<div class="container usage-stats">
  <h2>
    <small><%= @name %></small>
  </h2>

  <h3><small>曜日ごとのツイッター利用時間</small></h3>
  <div id="twitter_addiction" class="chart"></div>

  <%= render(partial: 'searches/tweet_box', locals: {tweet_text: @tweet_text}) %>

  <hr>

  <h3><small>曜日ごとのツイート数(直近600ツイート)</small></h3>
  <div id="wday_graph" class="chart"></div>

  <h3><small>曜日ごとのツイート数(直近1週間)</small></h3>
  <div id="wday_graph_7days" class="chart"></div>

  <hr>

  <h3><small>時間帯ごとのツイート数(直近600ツイート)</small></h3>
  <div id="hour_graph" class="chart"></div>

  <h3><small>時間帯ごとのツイート数(直近1週間)</small></h3>
  <div id="hour_graph_7days" class="chart"></div>

  <hr>

  <h3><small>ツイートの内容</small></h3>
  <div id="kind_bar" class="chart"></div>

  <hr>

  <h3><small><%= t('dictionary.hashtag_cloud') %></small></h3>
  <div id="hashtags_cloud" class="chart"></div>

  <hr>

  <h3><small>ハッシュタグ指数</small></h3>
  <div id="hashtags_fd" class="chart"></div>
</div>

<script>
  var graph_options = window.usage_stats_column_chart_options;

  var twitter_addiction_options = $.extend(true, {}, graph_options);
  twitter_addiction_options.series[0].data = <%= raw @twitter_addiction_series.to_json %>;

  var wday_options = $.extend(true, {}, graph_options);
  wday_options.series[0].data = <%= raw @wday_series_data.to_json %>;
  wday_options.drilldown.series = <%= raw @wday_drilldown_series.to_json %>;

  var wday_7days_options = $.extend(true, {}, graph_options);
  wday_7days_options.series[0].data = <%= raw @wday_series_data_7days.to_json %>;
  wday_7days_options.drilldown.series = <%= raw @wday_drilldown_series_7days.to_json %>;

  var hour_options = $.extend(true, {}, graph_options);
  hour_options.series[0].data = <%= raw @hour_series_data.to_json %>;
  hour_options.drilldown.series = <%= raw @hour_drilldown_series.to_json %>;

  var hour_7days_options = $.extend(true, {}, graph_options);
  hour_7days_options.series[0].data = <%= raw @hour_series_data_7days.to_json %>;
  hour_7days_options.drilldown.series = <%= raw @hour_drilldown_series_7days.to_json %>;

  var tweets_stat = <%=
  statuses = @searched_tw_user.statuses
  statuses_size = statuses.size
  {
    mentions: statuses.select{|s| s.mentions? }.size.to_f / statuses_size * 100,
    media: statuses.select{|s| s.media? }.size.to_f / statuses_size * 100,
    urls: statuses.select{|s| s.urls? }.size.to_f / statuses_size * 100,
    hashtags: statuses.select{|s| s.hashtags? }.size.to_f / statuses_size * 100,
    location: statuses.select{|s| s.location? }.size.to_f / statuses_size * 100
  }.to_json.html_safe
  %>;

  var tweets_stat_options = window.usage_stats_tweets_stat_options;
  tweets_stat_options.xAxis.categories = ['メンション', '画像', 'リンク', 'ハッシュタグ', '位置情報'];
  tweets_stat_options.series = [{
    name: 'なし',
    data: [
      100.0 - tweets_stat.mentions,
      100.0 - tweets_stat.media,
      100.0 - tweets_stat.urls,
      100.0 - tweets_stat.hashtags,
      100.0 - tweets_stat.location
    ]
  }, {
    name: 'あり',
    data: [
      tweets_stat.mentions,
      tweets_stat.media,
      tweets_stat.urls,
      tweets_stat.hashtags,
      tweets_stat.location
    ]
  }];

  var hashtags_fd_options = $.extend(true, {}, graph_options);
  hashtags_fd_options.series[0].data = <%= raw @hashtags_fd.to_json %>;

  $(function () {
    $('#twitter_addiction').highcharts(twitter_addiction_options);

    $('#wday_graph').highcharts(wday_options);
    $('#wday_graph_7days').highcharts(wday_7days_options);

    $('#hour_graph').highcharts(hour_options);
    $('#hour_graph_7days').highcharts(hour_7days_options);

    $('#kind_bar').highcharts(tweets_stat_options);

    $('#hashtags_fd').highcharts(hashtags_fd_options);

    var hashtags = <%= raw @hashtags_cloud.to_json %>;
    draw_word_cloud('#hashtags_cloud', hashtags, screen.width, 200);
  });
</script>