<%= render(partial: 'searches/profile_overview', locals: {searched_tw_user: @searched_tw_user}) %>

<div class="container usage-stats">
  <h2>
    <small><%= @name %></small>
  </h2>
  <div id="wday_graph" class="chart"></div>
  <div id="wday_graph_7days" class="chart"></div>

  <hr>

  <div id="hour_graph" class="chart"></div>
  <div id="hour_graph_7days" class="chart"></div>

  <hr>

  <div id="kind_bar" class="chart"></div>

  <hr>

  <h2><small>ハッシュタグクラウド</small></h2>
  <div id="hashtags_cloud" class="chart"></div>
</div>

<script>
  var graph_options = window.usage_stats_column_chart_options;

  var wday_options = $.extend(true, {}, graph_options);
  wday_options.title.text = '曜日ごとのツイート数(直近600ツイート)';
  wday_options.series[0].data = <%= raw @wday_series_data.to_json %>;
  wday_options.drilldown.series = <%= raw @wday_drilldown_series.to_json %>;

  var wday_7days_options = $.extend(true, {}, graph_options);
  wday_7days_options.title.text = '曜日ごとのツイート数(直近1週間)';
  wday_7days_options.series[0].data = <%= raw @wday_series_data_7days.to_json %>;
  wday_7days_options.drilldown.series = <%= raw @wday_drilldown_series_7days.to_json %>;

  var hour_options = $.extend(true, {}, graph_options);
  hour_options.title.text = '時間帯ごとのツイート数(直近600ツイート)';
  hour_options.series[0].data = <%= raw @hour_series_data.to_json %>;
  hour_options.drilldown.series = <%= raw @hour_drilldown_series.to_json %>;

  var hour_7days_options = $.extend(true, {}, graph_options);
  hour_7days_options.title.text = '時間帯ごとのツイート数(直近1週間)';
  hour_7days_options.series[0].data = <%= raw @hour_series_data_7days.to_json %>;
  hour_7days_options.drilldown.series = <%= raw @hour_drilldown_series_7days.to_json %>;

  var tweets_stat = <%=
  statuses_size = @searched_tw_user.statuses.size
  {
    mentions: @searched_tw_user.statuses.select{|s| s.mentions? }.size.to_f / statuses_size * 100,
    media: @searched_tw_user.statuses.select{|s| s.media? }.size.to_f / statuses_size * 100,
    urls: @searched_tw_user.statuses.select{|s| s.urls? }.size.to_f / statuses_size * 100,
    hashtags: @searched_tw_user.statuses.select{|s| s.hashtags? }.size.to_f / statuses_size * 100,
    location: @searched_tw_user.statuses.select{|s| s.location? }.size.to_f / statuses_size * 100
  }.to_json.html_safe
  %>;

  var tweets_stat_options = window.usage_stats_tweets_stat_options;
  tweets_stat_options.title.text = 'ツイートの内容';
  tweets_stat_options.xAxis.categories = ['メンション', '画像', 'リンク', 'ハッシュタグ', '位置情報'];
  tweets_stat_options.series = [{
    name: 'なし',
    data: [
      100.0 - tweets_stat.mentions,
      100.0 - tweets_stat.media,
      100.0 - tweets_stat.urls,
      100.0 - tweets_stat.hashtags,
      100.0 - tweets_stat.location
    ]
  }, {
    name: 'あり',
    data: [
      tweets_stat.mentions,
      tweets_stat.media,
      tweets_stat.urls,
      tweets_stat.hashtags,
      tweets_stat.location
    ]
  }];

  $(function () {
    $('#wday_graph').highcharts(wday_options);
    $('#wday_graph_7days').highcharts(wday_7days_options);

    $('#hour_graph').highcharts(hour_options);
    $('#hour_graph_7days').highcharts(hour_7days_options);

    $('#kind_bar').highcharts(tweets_stat_options);

    <%=
      hashtags =
        @searched_tw_user.statuses.select{|s| s.hashtags? }.
          map{|s| s.hashtags }.flatten.
          each_with_object(Hash.new(0)){|h, memo| memo[h] += 1 }.
          map.with_index{|(h, c), i| {text: h, size: c, group: i % 20} }.
          to_json.html_safe
    %>
    var hashtags = <%= hashtags %>;
    draw_word_cloud('#hashtags_cloud', hashtags, screen.width, 200);
  });
</script>