<%= render(partial: 'profiles/overview',
           locals: {user: @searched_tw_user, unique_id: @searched_tw_user.uid}) %>

<script>
  $(function () {
    enableSlickOnPageTop();
  });
</script>

<div class="waiting">
  <div class="waiting-msg">
    <%= t('searches.waiting.searching', user: @searched_tw_user.name) %>&nbsp;<%= image_tag '/ajax-loader.gif' %>
  </div>

  <div class="finished-msg" style="display: none;">
    <%= t("searches.waiting.waiting_is_finished_msg") %>&nbsp;<%= image_tag '/ajax-loader.gif' %>
  </div>

  <div class="bar">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        <span class="sr-only">0% Complete</span>
      </div>
    </div>
  </div>

  <div class="rescue-box" style="display: none;">
    <div class="error-msg"></div>

    <% if user_signed_in? %>
      <div class="retry-btn">
        <%= link_to t('searches.waiting.retry_search_by', user: @searched_tw_user.mention_name),
                    searches_path(screen_name: @searched_tw_user.screen_name, via: :retry),
                    class: 'btn btn-lg btn-info btn-block', method: :post %>
      </div>
    <% else %>
      <div class="login-btn">
        <%= link_to t('login.welcome.sign_in_with_twitter'), welcome_path(via: "#{controller_name}/#{action_name}/sign_in_button"), class: 'btn btn-lg btn-info btn-block' %>
      </div>
    <% end %>

    <div class="support-btn">
      <%= link_to t('dictionary.link_to_support'), support_path, class: 'btn btn-lg btn-info btn-block' %>
    </div>
  </div>

  <%= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top}) %>

  <div style="margin-top: 15px;"></div>
</div>

<script>
  $(function () {
    var checkLogPath = "<%= background_search_log_path(uid: @searched_tw_user.uid) %>";
    var resultPath = "<%= @redirect_path %>";
    var pollingLogsPath = "<%= raw polling_logs_path(uid: @searched_tw_user.uid, screen_name: @searched_tw_user.screen_name) %>";
    var scope = {controller: "<%= controller_name %>", action: "<%= action_name %>", uid: <%= @searched_tw_user.uid %>};
    searchesWaiting(checkLogPath, resultPath, pollingLogsPath, scope);
  });
</script>
