<%= render(partial: 'searches/profile_overview', locals: {searched_tw_user: @searched_tw_user}) %>

<div class="container waiting_msg" style="margin-top: 15px;">
  <%= t('dictionary.waiting', user: @searched_tw_user.name) %>&nbsp;<%= image_tag '/ajax-loader.gif' %>
</div>

<script>
  $(function () {
    var interval = 2000;
    var call_count = 0;
    var too_many_requests = false;

    function tic() {
      $.post("<%= url_for waiting_path(screen_name: @searched_tw_user.screen_name, id: @searched_tw_user.uid) %>")
          .done(function (res) {
            console.log(res);
            if (res.status) {
              interval *= 1000;
              window.location.replace("<%= search_path(screen_name: @searched_tw_user.screen_name, id: @searched_tw_user.uid) %>");
            } else {
              if (res.reason == 'too many requests') {
                too_many_requests = true;
              } else {
                interval += 2000;
              }
            }
          });
      call_count++;
      if (too_many_requests) {
        $('.waiting_msg').html('<%= t("before_sign_in.too_many_requests", sign_in_link: link_to(t('dictionary.sign_in'), welcome_path)).html_safe %>');
      } else {
        if (call_count < 10) {
          setTimeout(tic, interval);
        } else {
          $('.waiting_msg').html('<%= t("dictionary.please_retry", user: @searched_tw_user.name, sign_in_link: link_to(t('dictionary.sign_in'), welcome_path)).html_safe %>');
        }
      }
    }

    tic();
  });
</script>