#navbar-hamburger.collapse.navbar-collapse
  .navbar-form.navbar-center.visible-md-block.visible-lg-block
    .form-group.has-feedback.has-search
      %span.glyphicon.glyphicon-search.form-control-feedback
      %input.form-control{placeholder: 'Search', type: 'text', 'data-target' => '.search-modal', 'data-toggle' => 'modal', readonly: true}

  %ul.nav.navbar-nav

  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      - if request.from_smartphone?
        %li
          = link_to settings_path do
            = mention_name(current_user.screen_name)
        %li
          = link_to notifications_path do
            %span.glyphicon.glyphicon-bell
            = t('notifications.title')
      - else
        %li
          %p.navbar-btn{style: 'margin-right: 15px;'}
            = link_to notifications_path, class: 'btn btn-default' do
              %span.glyphicon.glyphicon-bell
              = t('notifications.title')
        %li
          %p.navbar-btn
            = link_to settings_path, class: 'btn btn-default' do
              = mention_name(current_user.screen_name)
    - else
      - if request.from_smartphone?
      - else
        %li
          %p.navbar-btn{style: 'margin-right: 0;'}
            = link_to t('dictionary.sign_in'), welcome_path(via: build_via('header')), class: 'btn btn-default'
