%h3.h4= t('login.welcome.lead').html_safe

.row.screenshot
  .col-xs-12.col-sm-6
    .text-center
      %img{alt: "#{t('dictionary.app_name')}", src: '/screenshot_iphone_332x560.png', height: '160px'}/
  .col-xs-12.col-sm-6
    .text-center
      %img{alt: "#{t('dictionary.app_name')}", src: '/screenshot_laptop_961x560.png', height: '160px'}/

.row
  .col-xs-12.col-sm-6
    %h3.h4= t('login.welcome.feature_001')
    .feature-description= t('login.welcome.feature_desc_001').html_safe
  .col-xs-12.col-sm-6
    %h3.h4= t('login.welcome.feature_002')
    .feature-description= t('login.welcome.feature_desc_002').html_safe
  .col-xs-12.col-sm-6
    %h3.h4= t('login.welcome.feature_003')
    .feature-description= t('login.welcome.feature_desc_003').html_safe
  .col-xs-12.col-sm-6
    %h3.h4= t('login.welcome.feature_004')
    .feature-description= t('login.welcome.feature_desc_004').html_safe
