%h2{style: 'font-size: 22px;'}= t('dictionary.sign_out')

%div= t('.no_tweets')
.vertical-spacing
.vertical-spacing
%div= t('.advantage_html')
.vertical-spacing
.vertical-spacing
%div= t('.disadvantage_html')
.vertical-spacing
.vertical-spacing
%div= t('.realy_sign_out')
.vertical-spacing
.vertical-spacing

.row
  .col-xs-6
    = link_to t('.return_to_top'), root_path, class: 'btn btn-info btn-block'
  .col-xs-6
    = link_to t('dictionary.do_sign_out'), sign_out_path, class: 'btn btn-default btn-block'

.vertical-spacing
.vertical-spacing
= image_tag '/egotter_icon_400x400.jpg', class: "#{'img-responsive' if request.from_smartphone?}"
.vertical-spacing
