%h2.h3= t('dictionary.sign_out')

%div{style: 'margin-bottom: 30px;'}= t('.no_tweets')
%div{style: 'margin-bottom: 30px;'}= t('.advantage_html')
%div{style: 'margin-bottom: 30px;'}= t('.disadvantage_html')
%div{style: 'margin-bottom: 30px;'}= t('.realy_sign_out')

.row
  .col-xs-6
    = link_to t('.return_to_top'), root_path, class: 'btn btn-default btn-block'
  .col-xs-6
    = link_to t('dictionary.do_sign_out'), sign_out_path, class: 'btn btn-default btn-block'

= image_tag '/egotter_icon_400x400.jpg', class: "#{'img-responsive' if request.from_smartphone?}", style: 'margin-top: 30px; margin-bottom: 15px;'
