- via_prefix ||= ''
.welcome{class: "#{'on-modal' if via_prefix.start_with?('search_history')}"}
  = form_tag sign_in_path, method: :get do
    = hidden_field_tag :via, "#{via_prefix}button"
    = hidden_field_tag :redirect_path, @redirect_path if @redirect_path
    = submit_tag t('.sign_in_with_twitter'), name: nil, class: 'btn btn-lg btn-info btn-block'

    = render partial: 'login/highlight'

    = submit_tag t('login.welcome.sign_in_with_twitter'), name: 'bottom', class: 'btn btn-lg btn-info btn-block'
    %label.small.follow-egotter
      = check_box_tag :follow, true, true, {}
      = t('login.welcome.follow_egotter', link: user_link('ego_tter')).html_safe
