<h3 class="h5 card-title text-center mt-5 mb-3"><%= t('.title') %></h3>

<div class="card my-3">
  <div class="card-body">
    <div class="card-text">
      <%= t('.description', user: current_user.screen_name, count: DeleteTweetsRequest::DESTROY_LIMIT) %>

      <%= link_to '#delete-tweets-faq', class: 'btn btn-outline-primary btn-sm' do %>
        <i class="far fa-question-circle"></i>
        <%= t('.more') %>
      <% end %>

      <div class="text-center mt-3">
        <div class="btn btn-danger disabled"><%= t('.requested') %></div>
      </div>

      <div class="text-center text-muted small">
        <div class="mt-1"><%= t('.note') %></div>
      </div>
    </div>
  </div>
</div>
