<% content_for :navbar_title, t('.navbar_title') %>

<div class="mt-3 mb-5"><%= t('.page_description_html', count: @max_count) %></div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#free-tab" data-toggle="tab"><%= t('delete_favorites.free.title') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#premium-tab" data-toggle="tab"><%= t('delete_favorites.premium.title') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= delete_favorites_faq_path(via: current_via('tab')) %>" target="_blank"><%= t('delete_favorites.faq.tab_title') %></a>
  </li>
</ul>

<div class="tab-content">
  <div id="free-tab" class="tab-pane active">
    <%= render partial: 'free', locals: {processing: @processing, max_count: @max_count} %>
  </div>
  <div id="premium-tab" class="tab-pane">
    <%= render partial: 'premium' %>
  </div>
</div>

<p class="small"><%= t('.support_html', user: 'egotter_cs', url: direct_message_url(User::EGOTTER_CS_UID, t('short_messages.delete_favorites_inquiry'))) %></p>
<p class="small"><%= t('.faq_html', url: delete_favorites_faq_path(via: current_via)) %></p>
