<%= render partial: 'timelines/placeholder', locals: {menu_name: menu_name, menu_or_users: 'menu'} %>

<div class="menu-items media <%= menu_name %>" style="display: none; position: relative;">
  <%= link_to search_path_for(menu_name, twitter_user.screen_name), class: 'result-link' do %>
    <h3 class="h4"><%= t("#{menu_name}.show.summary_title") %></h3>
    <div class="text-center description"><%= t("#{menu_name}.show.page_description", user: twitter_user.mention_name) %></div>
  <% end %>

  <div style="position: absolute; bottom: 15px; left: 15px; right: 15px;">
    <div class="media-body">
      <div class="text-muted text-center progress-msg" style="display: none;"></div>
    </div>

    <%= link_to(t('timelines.show.reinvestigate'), timeline_path(twitter_user), class: 'btn btn-info btn-block reload-btn', style: 'display: none;') %>
    <%= link_to(t('timelines.show.view_more_hacked_with_num_html', num: 'NUM'), protection_path(twitter_user), class: 'btn btn-danger btn-block btn-view-more', style: 'display: none;') %>
  </div>
</div>

<script>
  $(function () {
    var menuName = '<%= menu_name %>';
    var apiEndpoint = '<%= send("api_v1_#{menu_name}_summary_path") %>';
    var uid = '<%= twitter_user.uid %>';
    var progressMessages = {
      empty: "<%= t('timelines.show.not_hacked_with_details_html') %>",
      any: '<%= t('timelines.show.hacked_with_details_html') %>'
    };

    function loadProtectionSummary () {
      var $summaryBox = $('.menu-items.' + menuName);
      var $progressMsgBox = $summaryBox.find('.progress-msg');

      var $resultLinkButtons = {
        reload: $summaryBox.find('.reload-btn'),
        more: $summaryBox.find('.btn-view-more')
      };

      $.getJSON(apiEndpoint, {uid: uid}, function(data) {
        console.log(data);

        if (!data.count || data.count <= 0) {
          $summaryBox.find('.result-link').attr('href', '#').attr('onclick', 'return false;');
          $progressMsgBox.html(progressMessages.empty).show();
          $resultLinkButtons.reload.show();
          $("div[data-replaced-by='" + menuName + "']").remove();
          $summaryBox.show();
          return;
        }

        $resultLinkButtons.more.find('span').text(data.count).end().show();
        $progressMsgBox.removeClass('text-muted').addClass('text-danger').html(progressMessages.any).show();
        $("div[data-replaced-by='" + menuName + "']").remove();
        $summaryBox.show();
      });
    }

    var fromCrawler = <%= request.from_crawler? %>;

    if (fromCrawler) {
      // Do nothing.
    } else {
      $('.placeholder-wrapper.' + menuName)
        .lazyload()
        .one('appear', function () {
          console.log('appear', menuName);
          loadProtectionSummary(apiEndpoint, uid, menuName, progressMessages);
        });
    }
  });
</script>