<div class="menu-items media" style="position: relative;">
  <%= link_to update_history_path(uid: twitter_user.uid), style: 'color: inherit; display: block;' do %>
    <h3 class="h4 text-center media-heading"><%= t('update_histories.show.short_title', user: twitter_user.mention_name) %></h3>
    <div class="vertical-spacing"></div>
    <div class="text-center description"><%= t('update_histories.show.description', user: twitter_user.mention_name) %></div>
  <% end %>

    <div style="position: absolute; bottom: 15px; left: 15px; right: 15px;">
      <div class="media-body">
        <div><%= '初回更新' %>&nbsp;<%= l(histories.created_at.in_time_zone('Tokyo'), format: :short) %></div>
        <div><%= '最終更新' %>&nbsp;<%= l(histories.updated_at.in_time_zone('Tokyo'), format: :short) %></div>
        <div><%= '更新回数' %>&nbsp;<%= histories.size %></div>
      </div>

      <%= link_to(t('dictionary.view_more'), update_history_path(uid: twitter_user.uid), class: 'btn btn-info btn-block btn-view-more') %>
    </div>
</div>
