- content_for :canonical_url do
  %link{href: timeline_url(screen_name: @twitter_user.screen_name), rel: 'canonical'}

- breadcrumb :timeline, @twitter_user.screen_name

- title = t('timelines.show.title', user: @twitter_user.mention_name, removing: @twitter_user.unfriendships.size, removed: @twitter_user.unfollowerships.size)
- description = t('timelines.show.description', user: @twitter_user.mention_name)
- set_meta_tags title: title, site: '', description: description

= render partial: 'common/background_update_components', locals: {twitter_user: @twitter_user, jid: @jid}

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h3= t('timelines.show.heading', user: @twitter_user.mention_name)

= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

.row
  .col-md-6
    = render partial: 'timelines/users_summary', locals: {twitter_user: @twitter_user, menu_name: 'close_friends'}

  .col-md-6
    = render partial: 'search_results/show/stats_summary', locals: {name: :usage_stats, graph: @stat&.wday, tu: @twitter_user}

  .col-md-6
    .menu-items.media{style: 'position: relative;'}
      = link_to score_path(screen_name: @twitter_user.screen_name), class: 'result-link' do
        %h3.h4= t('scores.show.title')
        .text-center.description= t('scores.show.page_description', user: @twitter_user.mention_name)
      = render partial: 'scores/gauge', locals: {score: @score}
      %div{style: 'position: absolute; bottom: 15px; left: 15px; right: 15px;'}
        = link_to(t('dictionary.view_more'), score_path(screen_name: @twitter_user.screen_name), class: 'btn btn-info btn-block btn-view-more')

  .col-md-6
    = render partial: 'search_results/show/stats_summary', locals: {name: :clusters_belong_to, graph: name_y_format(@stat&.tweet_clusters), tu: @twitter_user}

  - %w(unfriends unfollowers blocking_or_blocked mutual_friends one_sided_friends one_sided_followers replying replied favoriting inactive_friends inactive_followers).each do |name|
    - if name == 'blocking_or_blocked' && request.from_smartphone?
      .col-md-6
        = render(partial: 'common/adsense', locals: {action: action_name, vertical: :middle})

    .col-md-6
      = render partial: 'timelines/users_summary', locals: {twitter_user: @twitter_user, menu_name: name}

  .col-md-6
    = render partial: 'search_results/show/update_histories_summary', locals: {histories: UpdateHistories.new(@twitter_user.uid), tu: @twitter_user}

= render(partial: 'common/adsense', locals: {action: action_name, vertical: :bottom})

%h2.h4= t('search_results.show.about_this_page', this_page: t('searches.show.heading', user: @twitter_user.mention_name))
.this-page-is= t('search_results.show.this_page_is_html', user: @twitter_user.mention_name)
%h2.h4= t('search_results.show.other_services')
.row.other-services
  .text-center.col-xs-12.col-sm-4
    = t('search_results.show.twitter_link_html', screen_name: @twitter_user.screen_name)
  .text-center.col-xs-12.col-sm-4
    = t('search_results.show.twilog_link_html', screen_name: @twitter_user.screen_name)
  .text-center.col-xs-12.col-sm-4
  = t('search_results.show.favstar_link_html', screen_name: @twitter_user.screen_name)