- content_for :canonical_url do
  %link{href: timeline_url(@twitter_user), rel: 'canonical'}

- content_for :navbar_title, t('.navbar_title', user: @twitter_user.screen_name)

- title t('.meta_title', user: @twitter_user.screen_name, friends: @twitter_user.friends_count, followers: @twitter_user.followers_count, unfriends: @twitter_user.unfriends_size, unfollowers: @twitter_user.unfollowers_size)
- set_meta_tags site: '', description: t('.meta_description', user: @twitter_user.screen_name)

= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :top})

.mt-1.mb-3= render(partial: 'profiles/twitter_button', locals: {screen_name: @twitter_user.screen_name, location: 'top'})
= render partial: 'shared/profile_section', locals: {twitter_user: @twitter_user, expanded: true, async: false}

%h2.h3.text-center.my-5= t('.heading', user: @twitter_user.screen_name)
.my-3= t('.this_page_is_html', user: @twitter_user.screen_name)

= render(partial: 'adsense/responsive', locals: {controller: controller_name, action: action_name, vertical: :middle})

#timelines-show-container
  .loading-image.text-center.my-3
    = image_tag '/ajax-loader.gif', size: '16x16'
    = t('.now_loading', user: @twitter_user.screen_name)
  .load-error.my-3{style: 'display: none;'}= t('.loading_error_html', user: @twitter_user.screen_name, egotter_link:  twitter_web_link('egotter_cs'))

:javascript
  $(function () {
    var url = '#{raw api_v1_timelines_path(uid: @twitter_user.uid)}';
    var container = $('#timelines-show-container');

    function loadFeedsList() {
      $.getJSON(url).done(function (res) {
        container.empty().html(res.html);
      }).fail(function (xhr, textStatus, errorThrown) {
        container.find('.loading-image').hide().end().find('.load-error').show();
        showErrorMessage(xhr, textStatus, errorThrown);
      });
    }

    container.lazyload().one('appear', function () {
      setTimeout(loadFeedsList, 1000);
    });

    trackPageEvents('TimelinePage events', 'Page loaded');
  });
