- content_for :canonical_url do
  %link{href: timeline_url(@twitter_user), rel: 'canonical'}

- breadcrumb :timeline, @twitter_user.screen_name

- title = t('.page_title', user: @twitter_user.screen_name, removing: @twitter_user.unfriendships.size, removed: @twitter_user.unfollowerships.size)
- description = t('.meta_description', user: @twitter_user.screen_name)
- set_meta_tags title: title, site: '', description: description

= render partial: 'twitter_users/create_twitter_user_in_background', locals: {twitter_user: @twitter_user}
.vertical-spacing

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h3.text-center= t('timelines.show.heading', user: @twitter_user.mention_name)

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

%script{src: '//cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js', type: 'text/javascript', integrity: 'sha256-srhz/t0GOrmVGZryG24MVDyFDYZpvUH2+dnJ8FbpGi0=', crossorigin: 'anonymous'}
%script{id: 'user-template', type: 'x-tmpl-mustache'}
  = search_link '{{screen_name}}', current_via('{{menu_name}}'), unescape: true, style: 'display: inline-block;' do
    %img.img-rounded{src: '{{profile_image_url_https}}', alt: '{{screen_name}}', width: 48, height: 48}

.row
  .col-md-6
    = render partial: 'timelines/feeds/summary', locals: {twitter_user: @twitter_user}

  - if @chart_builder
    .col-md-6
      = render partial: 'timelines/feeds/audience_insight', locals: {twitter_user: @twitter_user, chart_builder: @chart_builder}

  .col-md-6
    = render partial: 'timelines/feeds/close_friends', locals: {twitter_user: @twitter_user}

  - if show_friends_stat?(@twitter_user)
    .col-md-6
      = render partial: 'timelines/feeds/chart', locals: {menu_name: :usage_stats, graph: @twitter_user.usage_stat.wday, twitter_user: @twitter_user}

  - if show_common_friends?(@twitter_user)
    .col-md-6
      = render partial: 'timelines/feeds/common_friends', locals: {twitter_user: @twitter_user}
    .col-md-6
      = render partial: 'timelines/feeds/common_followers', locals: {twitter_user: @twitter_user}

  - if @twitter_user.score
    .col-md-6
      = render partial: 'timelines/feeds/gauge', locals: {menu_name: :score, score: @twitter_user.score.klout_score, twitter_user: @twitter_user}

  - if show_friends_stat?(@twitter_user)
    .col-md-6
      = render partial: 'timelines/feeds/chart', locals: {menu_name: :clusters, graph: name_y_format(@twitter_user.usage_stat.tweet_clusters), twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/unfriends", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/unfollowers", locals: {twitter_user: @twitter_user}

    - if request.from_smartphone?
      .col-md-6
        = render(partial: 'adsense/side_by_side', locals: {vertical: :middle})

    .col-md-6
      = render partial: "timelines/feeds/blocking_or_blocked", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/mutual_friends", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/one_sided_friends", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/one_sided_followers", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/replying", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/replied", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/favorite_friends", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/inactive_friends", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/inactive_followers", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/delete_tweets", locals: {twitter_user: @twitter_user}

    .col-md-6
      = render partial: "timelines/feeds/scheduled_tweets", locals: {twitter_user: @twitter_user}

= render(partial: 'adsense/side_by_side', locals: {vertical: :bottom})

%h2.h4.text-center= t('.about_this_page', user: @twitter_user.mention_name)
.this-page-is= t('.this_page_is_html', user: @twitter_user.mention_name)

%h2.h4.text-center= t('.other_services')
.row.other-services
  .text-center.col-sm-4{style: 'margin-bottom: 15px;'}
    = link_to t('.see_on_twitter', user: @twitter_user.mention_name), user_url(@twitter_user.screen_name), class: 'btn btn-default', target: '_blank', rel: 'nofollow'
  .text-center.col-sm-4{style: 'margin-bottom: 15px;'}
    = link_to t('.see_on_twilog', user: @twitter_user.mention_name), "http://twilog.org/#{@twitter_user.screen_name}", class: 'btn btn-default', target: '_blank', rel: 'nofollow'
  .text-center.col-sm-4{style: 'margin-bottom: 15px;'}
    = link_to t('.see_on_favstar', user: @twitter_user.mention_name), "http://ja.favstar.fm/users/#{@twitter_user.screen_name}", class: 'btn btn-default', target: '_blank', rel: 'nofollow'