- content_for :canonical_url do
  %link{href: timeline_url(@twitter_user), rel: 'canonical'}

- breadcrumb :timeline, @twitter_user.screen_name

- title = t('timelines.show.title', user: @twitter_user.mention_name, removing: @twitter_user.unfriendships.size, removed: @twitter_user.unfollowerships.size)
- description = t('timelines.show.description', user: @twitter_user.mention_name)
- set_meta_tags title: title, site: '', description: description

= render partial: 'common/background_update', locals: {twitter_user: @twitter_user}

= render partial: 'twitter/profile', locals: {user: @twitter_user}

%h2.h3.text-center= t('timelines.show.heading', user: @twitter_user.mention_name)

= render(partial: 'adsense/side_by_side', locals: {vertical: :top})

.row
  - if @chart_builder
    .col-xs-12.col-md-6
      = render partial: 'audience_insight', locals: {twitter_user: @twitter_user, chart_builder: @chart_builder}

  .col-xs-12.col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: @twitter_user, menu_name: 'close_friends'}

  - if show_friends_stat?(@twitter_user)
    .col-xs-12.col-md-6
      = render partial: 'timelines/chart', locals: {menu_name: :usage_stats, graph: @twitter_user.usage_stat.wday, twitter_user: @twitter_user}

  - if show_common_friends?(@twitter_user)
    .col-xs-12.col-md-6
      = render partial: 'timelines/common_users', locals: {twitter_user: @twitter_user, menu_name: 'common_friends'}
    .col-xs-12.col-md-6
      = render partial: 'timelines/common_users', locals: {twitter_user: @twitter_user, menu_name: 'common_followers'}

  - if @twitter_user.score
    .col-xs-12.col-md-6
      = render partial: 'timelines/gauge', locals: {menu_name: :score, score: @twitter_user.score.klout_score, twitter_user: @twitter_user}

  - if show_friends_stat?(@twitter_user)
    .col-xs-12.col-md-6
      = render partial: 'timelines/chart', locals: {menu_name: :clusters, graph: name_y_format(@twitter_user.usage_stat.tweet_clusters), twitter_user: @twitter_user}

  - %w(unfriends unfollowers blocking_or_blocked mutual_friends one_sided_friends one_sided_followers replying replied favorite_friends inactive_friends inactive_followers).each do |name|
    - if name == 'blocking_or_blocked' && request.from_smartphone?
      .col-xs-12.col-md-6
        = render(partial: 'adsense/side_by_side', locals: {vertical: :middle})

    .col-xs-12.col-md-6
      = render partial: 'timelines/users', locals: {twitter_user: @twitter_user, menu_name: name}

= render(partial: 'adsense/side_by_side', locals: {vertical: :bottom})

%h2.h4.text-center= t('.about_this_page', user: @twitter_user.mention_name)
.this-page-is= t('.this_page_is_html', user: @twitter_user.mention_name)

%h2.h4.text-center= t('.other_services')
.row.other-services
  .text-center.col-xs-12.col-sm-4{style: 'margin-bottom: 15px;'}
    = link_to t('.see_on_twitter', user: @twitter_user.mention_name), user_url(@twitter_user.screen_name), class: 'btn btn-default', target: '_blank', rel: 'nofollow'
  .text-center.col-xs-12.col-sm-4{style: 'margin-bottom: 15px;'}
    = link_to t('.see_on_twilog', user: @twitter_user.mention_name), "http://twilog.org/#{@twitter_user.screen_name}", class: 'btn btn-default', target: '_blank', rel: 'nofollow'
  .text-center.col-xs-12.col-sm-4{style: 'margin-bottom: 15px;'}
    = link_to t('.see_on_favstar', user: @twitter_user.mention_name), "http://ja.favstar.fm/users/#{@twitter_user.screen_name}", class: 'btn btn-default', target: '_blank', rel: 'nofollow'