- render_view_start_time = Time.zone.now

- content_for :canonical_url do
  %link{href: timeline_url(@twitter_user), rel: 'canonical'}

- content_for :navbar_title, t('.navbar_title', user: @twitter_user.screen_name)

- breadcrumb :timeline, @twitter_user.screen_name

- set_meta_tags title: t('.page_title', user: @twitter_user.screen_name, removing: @twitter_user.unfriendships.size, removed: @twitter_user.unfollowerships.size), site: '', description: t('.meta_description', user: @twitter_user.screen_name)

= render partial: 'twitter_users/bg_polling_js', locals: {twitter_user: @twitter_user}

= render partial: 'adsense/ad', locals: {vertical: :top}

= render partial: 'twitter/profile', locals: {user: @twitter_user, always_expanded: true}

%h2.h3.text-center.my-5= t('.heading', user: @twitter_user.screen_name)
.my-3= t('.this_page_is_html', user: @twitter_user.screen_name)

= render(partial: 'adsense/ad', locals: {vertical: :middle})

.my-5= feed_item :summary, twitter_user: @twitter_user

- if @twitter_user.audience_insight
  .mb-5= feed_item :audience_insight, twitter_user: @twitter_user, audience_insight: @twitter_user.audience_insight

.mb-5= feed_item :close_friends, twitter_user: @twitter_user, feed_name: 'close_friends', feed_title: t('timelines.feeds.close_friends.title'), feed_description: t('timelines.feeds.close_friends.description', user: @twitter_user.screen_name), page_url: close_friend_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_close_friends_summary_path(uid: @twitter_user.uid, via: current_via("feed_close_friends"))

- if @twitter_user.usage_stat
  .mb-5= feed_item :chart, feed_name: :usage_stats, feed_title: t('timelines.feeds.usage_stats.title'), feed_description: t('timelines.feeds.usage_stats.description', user: @twitter_user.screen_name), graph: @twitter_user.usage_stat.chart_data(:wday), url: usage_stat_path(@twitter_user), twitter_user: @twitter_user

- if show_common_friends?(@twitter_user)
  .mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'common_friends', feed_title: t('timelines.feeds.common_friends.title'), feed_description: t('timelines.feeds.common_friends.description', user1: @twitter_user.screen_name, user2: current_user.screen_name), page_url: common_friend_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_common_friends_summary_path(uid: @twitter_user.uid)
  .mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'common_followers', feed_title: t('timelines.feeds.common_followers.title'), feed_description: t('timelines.feeds.common_followers.description', user1: @twitter_user.screen_name, user2: current_user.screen_name), page_url: common_friend_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_common_followers_summary_path(uid: @twitter_user.uid)

- if (words_count = @twitter_user.usage_stat&.words_count)
  .mb-5= feed_item :word_cloud, feed_name: :word_clouds, feed_title: t('timelines.feeds.word_clouds.title'), feed_description: t('timelines.feeds.word_clouds.description', user: @twitter_user.screen_name), words_count: words_count, twitter_user: @twitter_user

- if (tweet_clusters = @twitter_user.usage_stat&.sorted_tweet_clusters)
  .mb-5= feed_item :chart, feed_name: :clusters, feed_title: t('timelines.feeds.clusters.title'), feed_description: t('timelines.feeds.clusters.description', user: @twitter_user.screen_name), graph: tweet_clusters.to_a.take(30).map { |word, count| {name: word, y: count} }, url: cluster_path(@twitter_user), twitter_user: @twitter_user

.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'unfriends', feed_title: t('timelines.feeds.unfriends.title'), feed_description: t('timelines.feeds.unfriends.description', user: @twitter_user.screen_name), page_url: unfriend_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_unfriends_summary_path(uid: @twitter_user.uid, via: current_via("feed_unfriends"))
.mb-0= feed_item :users, twitter_user: @twitter_user, feed_name: 'unfollowers', feed_title: t('timelines.feeds.unfollowers.title'), feed_description: t('timelines.feeds.unfollowers.description', user: @twitter_user.screen_name), page_url: unfollower_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_unfollowers_summary_path(uid: @twitter_user.uid, via: current_via("feed_unfollowers"))

.mb-5= render(partial: 'adsense/ad', locals: {vertical: :feed})

.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'blocking_or_blocked', feed_title: t('timelines.feeds.blocking_or_blocked.title'), feed_description: t('timelines.feeds.blocking_or_blocked.description', user: @twitter_user.screen_name), page_url: blocking_or_blocked_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_blocking_or_blocked_summary_path(uid: @twitter_user.uid, via: current_via("feed_blocking_or_blocked"))
.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'mutual_friends', feed_title: t('timelines.feeds.mutual_friends.title'), feed_description: t('timelines.feeds.mutual_friends.description', user: @twitter_user.screen_name), page_url: mutual_friend_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_mutual_friends_summary_path(uid: @twitter_user.uid, via: current_via("feed_mutual_friends"))
.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'one_sided_friends', feed_title: t('timelines.feeds.one_sided_friends.title'), feed_description: t('timelines.feeds.one_sided_friends.description', user: @twitter_user.screen_name), page_url: one_sided_friend_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_one_sided_friends_summary_path(uid: @twitter_user.uid, via: current_via("feed_one_sided_friends"))
.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'one_sided_followers', feed_title: t('timelines.feeds.one_sided_followers.title'), feed_description: t('timelines.feeds.one_sided_followers.description', user: @twitter_user.screen_name), page_url: one_sided_follower_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_one_sided_followers_summary_path(uid: @twitter_user.uid, via: current_via("feed_one_sided_followers"))
.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'replying', feed_title: t('timelines.feeds.replying.title'), feed_description: t('timelines.feeds.replying.description', user: @twitter_user.screen_name), page_url: replying_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_replying_summary_path(uid: @twitter_user.uid, via: current_via("feed_replying"))
.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'replied', feed_title: t('timelines.feeds.replied.title'), feed_description: t('timelines.feeds.replied.description', user: @twitter_user.screen_name), page_url: replied_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_replied_summary_path(uid: @twitter_user.uid, via: current_via("feed_replied"))
.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'favorite_friends', feed_title: t('timelines.feeds.favorite_friends.title'), feed_description: t('timelines.feeds.favorite_friends.description', user: @twitter_user.screen_name), page_url: favorite_friend_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_favorite_friends_summary_path(uid: @twitter_user.uid, via: current_via("feed_favorite_friends"))
.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'inactive_friends', feed_title: t('timelines.feeds.inactive_friends.title'), feed_description: t('timelines.feeds.inactive_friends.description', user: @twitter_user.screen_name), page_url: inactive_friend_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_inactive_friends_summary_path(uid: @twitter_user.uid, via: current_via("feed_inactive_friends"))
.mb-5= feed_item :users, twitter_user: @twitter_user, feed_name: 'inactive_followers', feed_title: t('timelines.feeds.inactive_followers.title'), feed_description: t('timelines.feeds.inactive_followers.description', user: @twitter_user.screen_name), page_url: inactive_follower_path(@twitter_user, via: current_via('feed_text')), api_url: api_v1_inactive_followers_summary_path(uid: @twitter_user.uid, via: current_via("feed_inactive_followers"))
.mb-5= feed_item :personality_insight, feed_title: t('timelines.feeds.personality_insights.title'), feed_description: t('timelines.feeds.personality_insights.description_html', user: @twitter_user.screen_name), feed_image: image_path('/egotter_personality_insight_840x450.jpg'), button_text: t('timelines.feeds.personality_insights.open', user: @twitter_user.screen_name), page_url: personality_insight_path(@twitter_user, via: current_via('feed_text')), twitter_user: @twitter_user
.mb-5= feed_item :ad, feed_title: t('timelines.feeds.delete_tweets.title'), feed_description: t('timelines.feeds.delete_tweets.description_html', user: @twitter_user.screen_name), feed_image: image_path('/egotter_trash_with_text_400x448.png'), button_text: t('timelines.feeds.delete_tweets.open'), page_url: delete_tweets_path(via: current_via('feed_text'))
.mb-5= feed_item :ad, feed_title: t('timelines.feeds.scheduled_tweets.title'), feed_description: t('timelines.feeds.scheduled_tweets.description_html', user: @twitter_user.screen_name), feed_image: image_path('/scheduled_tweets_og_image.jpg'), button_text: t('timelines.feeds.scheduled_tweets.open'), page_url: scheduled_tweets_url(via: current_via('feed_text'))

= render(partial: 'adsense/ad', locals: {vertical: :bottom})

- logger.info "Benchmark RenderView #{controller_name}##{action_name} total=#{Time.zone.now - render_view_start_time}"
