- content_for :canonical_url do
  %link{href: timeline_url(@twitter_user), rel: 'canonical'}

- breadcrumb :timeline, @twitter_user.screen_name

- twitter_db_user = @twitter_user.twitter_db_user
- title = t('timelines.show.title', user: @twitter_user.mention_name, removing: twitter_db_user.unfriendships.size, removed: twitter_db_user.unfollowerships.size)
- description = t('timelines.show.description', user: @twitter_user.mention_name)
- set_meta_tags title: title, site: '', description: description

= render partial: 'common/background_update', locals: {twitter_user: @twitter_user, jid: @jid}

= render(partial: 'profiles/overview', locals: {user: @twitter_user, unique_id: @twitter_user.uid})

%h2.h3= t('timelines.show.heading', user: @twitter_user.mention_name)

= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top})

.row
  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: @twitter_user, menu_name: 'close_friends'}

  - if @stat
    .col-md-6
      = render partial: 'timelines/chart', locals: {menu_name: :usage_stats, graph: @stat.wday, twitter_user: @twitter_user}

  - if @score
    .col-md-6
      = render partial: 'timelines/gauge', locals: {menu_name: :score, score: @score.klout_score, twitter_user: @twitter_user}

  - if @stat
    .col-md-6
      = render partial: 'timelines/chart', locals: {menu_name: :clusters_belong_to, graph: name_y_format(@stat.tweet_clusters), twitter_user: @twitter_user}

  - %w(unfriends unfollowers blocking_or_blocked mutual_friends one_sided_friends one_sided_followers replying replied favorite_friends inactive_friends inactive_followers).each do |name|
    - if name == 'blocking_or_blocked' && request.from_smartphone?
      .col-md-6
        = render(partial: 'common/adsense', locals: {action: action_name, vertical: :middle})

    .col-md-6
      = render partial: 'timelines/users', locals: {twitter_user: @twitter_user, menu_name: name}

  .col-md-6
    = render partial: 'timelines/update_history', locals: {histories: UpdateHistories.new(@twitter_user.uid), twitter_user: @twitter_user}

= render(partial: 'common/adsense', locals: {action: action_name, vertical: :bottom})

%h2.h4= t('search_results.show.about_this_page', this_page: t('searches.show.heading', user: @twitter_user.mention_name))
.this-page-is= t('search_results.show.this_page_is_html', user: @twitter_user.mention_name)
%h2.h4= t('search_results.show.other_services')
.row.other-services
  .text-center.col-xs-12.col-sm-4
    = t('search_results.show.twitter_link_html', screen_name: @twitter_user.screen_name)
  .text-center.col-xs-12.col-sm-4
    = t('search_results.show.twilog_link_html', screen_name: @twitter_user.screen_name)
  .text-center.col-xs-12.col-sm-4
  = t('search_results.show.favstar_link_html', screen_name: @twitter_user.screen_name)