<% via = current_via('faq') %>

<% faq_section 'えごったー 全般' do %>
  <% faq_question 'えごったーとは何ですか？' do %>
    ツイッターで仲良しの人、リムーブした・された人、ブロックされた人、片思い・両思いが分かるWebサイトです。<br>
    <br>
    使い方は Twitter ID 入力するだけ！ いつでもすぐに結果を見ることができます。
    <% if user_signed_in? %>
      <%= link_to t('.search', user: current_user.screen_name), timeline_path(current_user, via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% else %>
      <%= link_to t('.sign_in'), sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  <% end %>

  <% faq_question 'えごったーに公式アカウントはありますか？' do %>
    <div class="mb-3">
      @ego_tter が公式アカウントです。フォローしていると検索回数や使える機能が増えます。
      <%= link_to '@ego_tter を開く', user_url('ego_tter'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    </div>

    @egotter_cs は問い合わせ用のアカウントです。お返事が必要な場合はこちらにご連絡ください。
    <%= link_to '@egotter_cs を開く', user_url('egotter_cs'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question '公式アカウントのフォローは必須ですか？' do %>
    <div class="mb-3">
      必須ではないです。フォローしていなくてもえごったーを使うことはできます。
    </div>

    @ego_tter をフォローしていると検索回数や使える機能が増えます。
  <% end %>
<% end %>

<% faq_section 'プライバシーとセキュリティ' do %>
  <% faq_question 'えごったーは安全ですか？' do %>
    安全です。TLS/SSLを用いた通信の暗号化により、プライバシーとセキュリティは強固に守られています。
  <% end %>

  <% faq_question 'えごったーを使ったことは誰かにバレますか？' do %>
    バレません。このWebサイトの利用状況を他の人に知られることはありません。<br><br>@ego_tter をフォローすることで、ツイッター公式の「共通のフォロー」に表示されてしまうことはあります。
  <% end %>

  <% faq_question 'えごったーを使うと勝手にツイートされますか？' do %>
    勝手にツイートすることはありませんのでご安心ください。
  <% end %>

  <% faq_question 'えごったーを使うとDMを勝手に見られますか？' do %>
    DMを勝手に見ることはありませんのでご安心ください。
  <% end %>

  <% faq_question 'なんでたくさんの権限が必要なんですか？' do %>
    全世界共通の<span class="egotter-pink">ツイッターの仕様</span>です。ツイッターの権限には「全部できる」または「全部できない」しかないためこのようになっています。
  <% end %>

  <% faq_question '他の人も検索できてよいのですか？' do %>
    えごったーで検索できるのは「公開情報のみ」ですのでご安心ください。<br><br>鍵アカウントについては、ログインしているユーザーに見る権限があるときだけ検索できます。
  <% end %>
<% end %>

<% faq_section 'リムられ通知 全般' do %>
  <% faq_question 'リムられ通知とは何ですか？' do %>
    「誰かにフォローを外されたこと」を @ego_tter から <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %> にDMで通知する機能のことです。<br>
    <br>
    Webサイトにログインすると自動で設定されます。後から通知を止めることもできます。
  <% end %>

  <% faq_question 'リムられ通知の使い方を教えてください' do %>
    リムられ通知は、1日3回 定期的にDMで届きます。さらに、必要なときに「<%= t('quick_replies.prompt_reports.label3') %>」と @ego_tter にDMすればすぐに受信することができます。<br>
    <br>
    リムられ通知はさらに細かくDMで操作することができます。詳しく知るには「リムられ通知 使い方」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User.egotter.uid, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    <br>
  <% end %>

  <% faq_question 'リムられ通知はどうすれば届きますか？' do %>
    <div class="mb-3">
      Webサイトにログインすればその後は定期的に届きます。
      <% unless user_signed_in? %>
        <%= link_to t('.sign_in'), sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>

    今すぐ通知を受信したい場合は「<%= t('quick_replies.prompt_reports.label3') %>」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User.egotter.uid, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    <br>
  <% end %>

  <% faq_question 'リムられ通知が定期的に届かなくなりました' do %>
    リムられ通知は止まることがあります。代表的な理由は下記の通りです。<br>
    <br>
    ・DMを送れない設定になっている<br>
    ツイッターの設定で @ego_tter からのDMを受信できるようにしてください。<br>
    <br>
    ・@ego_tter の連携を解除している<br>
    えごったーにログインし直してください。
    <%= link_to '再ログインする', sign_in_path(force_login: true, via: via), class: 'btn btn-outline-primary btn-sm' %><br>
    <br>
    ・@ego_tter をブロックしている<br>
    ブロックを解除してください。<br>
    <br>
    ・@ego_tter からのDMに返信していない<br>
    「<%= t('quick_replies.prompt_reports.label3') %>」とDMしてみてください。
  <% end %>

  <% faq_question '止まったリムられ通知を再開することはできますか？' do %>
    リムられ通知はいつでも再開できます。「<%= t('quick_replies.prompt_reports.label3') %>」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User.egotter.uid, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    <br>
    <br>
    止まっている理由がある場合は、返信のDMに解決方法が書かれています。
  <% end %>

  <% faq_question "「#{t('quick_replies.prompt_reports.label3')}」は何回までできますか？" do %>
    何回でもできます。リムられが増えたかな？と思うタイミングで「<%= t('quick_replies.prompt_reports.label3') %>」と @ego_tter にDMしてください。
    <%= link_to t('.open_dm'), direct_message_url(User.egotter.uid, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question '@ego_tter をフォローしたのにリムられ通知が届きません。どうしてですか？' do %>
    Webサイトにログインしてください。@ego_tter のフォローだけではリムられ通知は届きません。
    <% unless user_signed_in? %>
      <%= link_to t('.sign_in'), sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  <% end %>

  <% faq_question 'リムられ通知はどれくらいの頻度で届きますか？' do %>
    <div class="mb-3">
      今のところは、朝・昼・夜の 1日3回 届きます。届く回数は設定ページから変更できます。
    </div>

    朝と昼のリムられ通知は設定でオフにできます。夜のリムられ通知は必ず届きます。
    <% if user_signed_in? %>
      <%= link_to t('.settings'), settings_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  <% end %>

  <% faq_question '朝・昼・夜のリムられ通知は何時頃に届きますか？' do %>
    朝の通知は7〜9時、昼の通知は11〜13時、夜の通知は20〜22時あたりに届きます。
  <% end %>

  <% faq_question 'リムられ通知をすぐに受け取ることはできますか？' do %>
    @ego_tter に「リムられ通知 今すぐ送信」とDMしてください。そうすれば、すぐにリムられ通知が届きます。
    <%= link_to t('.open_dm'), direct_message_url(User.egotter.uid, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question 'リムられ通知に @ が付かなくなりました。理由は何ですか？' do %>
    リムられ通知でユーザー名の前に @ が付くのは、「有料プランのユーザー」または「えごったーの登録から <%= User::PERIODIC_REPORT_AT_MARK_DURATION / 1.day %>日 以内」のユーザーのみになります。
  <% end %>
<% end %>


<% faq_section 'リムられ通知 有効期限' do %>
  <% faq_question 'リムられ通知の有効期限とは何ですか？', id: 'direct-message-expiration' do %>
    ツイッターの仕様上、DMを一方的に送り続けることはできません。そのため、リムられ通知を受け取るには、定期的に @ego_tter に返信のDMを送る必要があります。<br>
    <br>
    これがリムられ通知の有効期限です。これは全世界共通の<span class="egotter-pink">ツイッターの仕様</span>です。
  <% end %>

  <% faq_question 'リムられ通知の有効期限が切れかけています。何をすればよいですか？' do %>
    ・通知を継続したい場合<br>
    【リムられ通知 継続】をDMにコピペして送ってください<br>
    <br>
    ・通知を止めたい場合<br>
    【リムられ通知 停止】をDMにコピペして送ってください
  <% end %>

  <% faq_question 'リムられ通知の有効期限が切れました。何をすればよいですか？' do %>
    リムられ通知の有効期限が切れていると、データの自動更新とリムられ通知の定期配信が止まります。<br>
    <br>
    自動更新やリムられ通知の定期配信の再開を希望する場合は、【リムられ通知 再開】をDMにコピペして送ってください
  <% end %>

  <% faq_question 'リムられ通知の有効期限がすぐに切れるのはどうしてですか？' do %>
    全世界共通の<span class="egotter-pink">ツイッターの仕様</span>です。相手からDMの送信がないと、通知DMを送り続けることができないのです。
  <% end %>
<% end %>

<% faq_section 'リムられ通知 DMでの操作' do %>
  <% faq_question 'リムられ通知をDMで操作する方法を教えてください' do %>
    決められたメッセージをDMで送ることで、リムられ通知をDMで操作することができます。<br>
    <br>
    <%= link_to t('quick_replies.prompt_reports.label3'), direct_message_url(User.egotter.uid, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>とDMする
    <br>
    リムられ通知をすぐに送信します。もし送信できない場合は、その理由が返信のDMに書かれています。<br>
    <br>
    <%= link_to t('quick_replies.prompt_reports.label5'), direct_message_url(User.egotter.uid, t('quick_replies.prompt_reports.label5')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>とDMする
    <br>
    リムられ通知の定期的な送信を停止します。<br>
    <br>
    <%= link_to t('quick_replies.prompt_reports.label4'), direct_message_url(User.egotter.uid, t('quick_replies.prompt_reports.label4')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>とDMする
    <br>
    リムられ通知の定期的な送信を再開します。<br>
    <br>
    <%= link_to 'リムられ通知 使い方', direct_message_url(User.egotter.uid, 'リムられ通知 使い方'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>とDMする
    <br>
    リムられ通知の使い方を返信で教えてくれます。<br>
  <% end %>
<% end %>


<% faq_section 'ブロック通知' do %>
  <% faq_question 'ブロック通知とは何ですか？' do %>
    「誰かにブロックされていること」を @ego_tter から <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %> にDMで通知する機能のことです。<br>
    <br>
    Webサイトにログインすると自動で設定されます。後から通知を止めることもできます。
  <% end %>

  <% faq_question 'ブロック通知の使い方を教えてください' do %>
    ブロック通知は、不定期にDMで届きます。さらに、必要なときに「<%= t('quick_replies.block_reports.label4') %>」と @ego_tter にDMすればすぐに受信することができます。<br>
    <br>
    ブロック通知はさらに細かくDMで操作することができます。詳しく知るには「ブロック通知 使い方」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User.egotter.uid, 'ブロック通知 使い方'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %><br>
  <% end %>

  <% faq_question 'ブロック通知のデータが0人のままです。なぜですか？' do %>
    ブロック通知のデータは不定期に更新されます。よく利用するユーザーほど早くデータが更新されます。<br>
    <br>
    定期的に「<%= t('quick_replies.block_reports.label4') %>」と @ego_tter にDMしてみてください。
  <% end %>
<% end %>


<% faq_section 'ミュート通知' do %>
  <% faq_question 'ミュート通知とは何ですか？' do %>
    「誰かにミュートされていること」を @ego_tter から <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %> にDMで通知する機能のことです。<br>
    <br>
    Webサイトにログインすると自動で設定されます。後から通知を止めることもできます。
  <% end %>

  <% faq_question 'ミュート通知の使い方を教えてください' do %>
    ミュート通知は、不定期にDMで届きます。さらに、必要なときに「<%= t('quick_replies.mute_reports.label4') %>」と @ego_tter にDMすればすぐに受信することができます。<br>
    <br>
    ミュート通知はさらに細かくDMで操作することができます。詳しく知るには「ミュート通知 使い方」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User.egotter.uid, 'ミュート通知 使い方'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %><br>
  <% end %>

  <% faq_question 'ミュート通知のデータが0人のままです。なぜですか？' do %>
    ミュート通知のデータは不定期に更新されます。よく利用するユーザーほど早くデータが更新されます。<br>
    <br>
    定期的に「<%= t('quick_replies.mute_reports.label4') %>」と @ego_tter にDMしてみてください。
  <% end %>
<% end %>



<% faq_section '検索回数の制限' do %>
  <% faq_question 'えごったーでの検索回数とは何ですか？' do %>
    えごったーで1日に分析できるユーザー数の制限のことです。<br>
    <br>
    Webサイトへのログイン、えごったーの宣伝ツイート、 有料プランの購入をすることによって回数を増やすことができます。
  <% end %>

  <% faq_question '検索回数を増やす方法を教えてください' do %>
    あなたは1日あたり <%= @search_count_limitation.max_count %>回 検索することができます。残りの検索回数は <%= @search_count_limitation.remaining_count %>回 です。<br>
    <br>
    もっとたくさん検索することもできます。お好きなプランをお選びください。<br>
    <br>
    <%= render template: 'messages/ways_to_increase_searches', locals: {via: via} %>
  <% end %>
<% end %>


<% faq_section 'データの正確性' do %>
  <% faq_question 'フォロワー数が減っているのに「リムられは0人」と表示されます。このデータは正しいですか？' do %>
    フォロワー数が1〜2人減ったのにリムられていない、という状況がたまに起きるようです。おそらくツイッターのバグです。少し時間が経ったら元に戻るようです。
  <% end %>

  <% faq_question 'リムられていない人がリムられ通知に表示されます。このデータは正しいですか？' do %>
    一時的な凍結をリムられと認識することがあるようです。本当にリムられているかどうかは相手のツイッターページを見て確認するのが確実です。
  <% end %>

  <% faq_question '「フォローを外されたユーザーは0人です」と表示されます。このデータは正しいですか？' do %>
    えごったーのデータは初めて検索した時から溜まっていきます。そのため、初めて使った時は必ず0人になっています。今後使っていくうちにリムられのデータは増えていきます。
  <% end %>

  <% faq_question '「フォローを外されたユーザー」が0人のまま増えません。このデータは正しいですか？' do %>
    何回か使っていくうちにデータが溜まっていくはずですが、もし更新されない場合は、@ego_tter までお気軽にお問い合わせください。
  <% end %>

  <% faq_question 'データが表示されない項目がいくつかあります。このデータは正しいですか？' do %>
    フォロー・フォロワーがとても多いユーザーは、いくつかの項目の表示がスキップされます。フォロー・フォロワーが多くないのに結果が表示されない場合は、@ego_tter までお気軽にお問い合わせください。
  <% end %>

  <% faq_question '自分からブロックしたユーザーもリムられに表示されます。このデータは正しいですか？' do %>
    リムり（フォローを外した）、リムられ（フォローを外された）は、どっちが先に行動したのかと関係なくフォローが外れたことを検出しています。そのため、自分からブロックしたとしてもリムられに表示されます。
  <% end %>
<% end %>



<% faq_section 'データの更新間隔' do %>
  <% faq_question 'データはいつ更新されるのですか？' do %>
    リムられ通知を設定している場合は、リムられ通知が届くタイミングで更新されます。リムられ通知を設定していないユーザーは、Webサイトを使うタイミングで更新されます。
  <% end %>

  <% faq_question 'データの更新間隔はどれくらいですか？' do %>
    最短で <%= distance_of_time_in_words(TwitterUser::CREATE_RECORD_INTERVAL) %> に一度更新されます。Webサイトにログインしたことがある、リムられ通知が設定されている、@ego_tter をフォローしているという条件を満たしているほど早く更新されます。
  <% end %>

  <% faq_question 'データを自動的に更新することはできますか？' do %>
    リムられ通知が設定されていれば、データは自動的に更新されます。
  <% end %>

  <% faq_question '鍵付きアカウントも検索できますか？' do %>
    えごったーでは、「自分が見れるデータ」であれば検索することができます。例えば、鍵付きアカウントが自分自身であったり、フォローしているユーザーであれば検索できます。
  <% end %>

  <% faq_question 'データの更新を通知してもらうことはできますか？' do %>
    リムられ通知が設定されていればデータの更新が通知されます。
  <% end %>

  <% faq_question 'データの更新通知はどれくらいの頻度で届きますか？' do %>
    リムられ通知でデータの更新は通知されます。標準では1日に3回ほど通知されます。
  <% end %>

  <% faq_question '自分がえごったーで検索されたことを通知してもらうことはできますか？' do %>
    はい、できます。この設定は標準で有効になっているので、誰かがえごったーであなたを検索すると、@ego_tter からあなたにそのことを知らせるDMが届きます。検索したのが誰なのかは分かりません。
  <% end %>
<% end %>


<% faq_section '利用をやめる' do %>
  <% faq_question 'えごったーの利用をやめる方法を教えてください。' do %>
    えごったーWebサイトのログアウトをクリックしてください。
    <% if user_signed_in? %>
      <%= link_to 'ログアウトする', goodbye_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  <% end %>

  <% faq_question 'えごったーの通知を止める方法を教えてください。' do %>
    通知のDMは何も返信しなければ自動的に止まります。明示的に止める場合は下記のDMを @ego_tter に送ってください。<br>
    <br>
    ※ それぞれ別のDMで送ってください。<br>
    <br>
    ・リムられ通知 停止<br>
    ・ブロック通知 停止<br>
    ・ミュート通知 停止
  <% end %>
<% end %>


<% faq_section 'その他' do %>
  <% faq_question '昔のえごったーの機能はもう使えないのですか？' do %>
    必要であれば復活させますのでどの機能がほしいか @ego_tter までお気軽にご連絡ください。
  <% end %>

  <% faq_question 'Webサイトをクロールしてもよいですか？' do %>
    機械的なものか人が手作業したものかを問わず、えごったーWebサイトのデータ収集は全て禁止です。
  <% end %>

  <% faq_question 'Webサイトのデータを利用させてもらえますか？' do %>
    えごったーやツイッターの利用規約、プライバシーポリシーに違反しない範囲であれば、特定のデータの収集、販売も可能です。希望する場合は @ego_tter までお問い合わせください。
  <% end %>

  <% faq_question 'えごったーのデータを消す方法はありますか？' do %>
    えごったーにログイン後、設定ページから「データの削除」をご利用ください。
  <% end %>

  <% faq_question 'ここに載っていない質問をするにはどうすればよいですか？' do %>
    @ego_tter までお気軽にご連絡ください。DMで質問が届いても気付かないことが多いため、できればリプライで質問してもらえると助かります。
  <% end %>
<% end %>

<% @faq_sections.each do |section, questions| %>
  <h3 class="h5 my-5"><%= section %></h3>
  <ol>
    <% questions.each do |question| %>
      <li class="text-muted mb-2"><%= link_to question[:text], "##{question[:id]}", class: 'text-primary' %></li>
    <% end %>
  </ol>
  <hr>
<% end %>

<% @faq_sections.each do |section, questions| %>
  <h3 class="h5 my-5"><%= section %></h3>
  <% questions.each do |question| %>
    <%= render partial: 'misc/q', locals: {id: question[:id], text: question[:text]} %>
    <div class="mb-5"><%= question[:answer] %></div>
  <% end %>
<% end %>
