<h3 class="h5 my-5">えごったー 全般</h3>


<%= render partial: 'q', locals: {text: 'えごったーとは何ですか？'} %>
<div class="mb-5">ツイッターで仲良しの人、リムーブした・された人、ブロックされた人、片思い・両思いが分かるWebサイトです。使い方は Twitter ID 入力するだけ！ いつでもすぐに結果を見ることができます。</div>

<%= render partial: 'q', locals: {text: 'えごったーに公式アカウントはありますか？'} %>
<div class="mb-5"><a href="https://twitter.com/ego_tter" target="_blank">@ego_tter</a> が公式アカウントです。気になることはいつでもご質問ください。質問する際はリプライですと見逃しが少なくなります。</div>


<h3 class="h5 my-5">プライバシーとセキュリティ</h3>


<%= render partial: 'q', locals: {text: 'えごったーは安全ですか？'} %>
<div class="mb-5">安全です。TLS/SSLを用いた通信の暗号化により、プライバシーとセキュリティは強固に守られています。</div>

<%= render partial: 'q', locals: {text: 'えごったーを使ったことは誰かにバレますか？'} %>
<div class="mb-5">バレません。通信内容は暗号化されているため、このWebサイトの利用状況を他の人に知られることはありません。</div>

<%= render partial: 'q', locals: {text: 'えごったーを使うと勝手にツイートされますか？'} %>
<div class="mb-5">勝手にツイートすることはありませんのでご安心ください。</div>

<%= render partial: 'q', locals: {text: 'えごったーを使うとDMを勝手に見られますか？'} %>
<div class="mb-5">DMを勝手に見ることはありませんのでご安心ください。</div>


<h3 class="h5 my-5">リムられ通知 全般</h3>


<%= render partial: 'q', locals: {text: 'リムられ通知とは何ですか？'} %>
<div class="mb-5">「誰かにフォローを外されたこと」をDMで通知する機能のことです。Webサイトにログインすると自動で設定されます。後から通知を止めることもできます。</div>

<%= render partial: 'q', locals: {text: 'リムられ通知はどうすれば届きますか？'} %>
<div class="mb-5">Webサイトにログインすればその後は自動で届きます。</div>

<%= render partial: 'q', locals: {text: 'リムられ通知の有効期限とは何ですか？'} %>
<div class="mb-5">ツイッターの仕様上、DMを一方的に送り続けることはできません。そのため、リムられ通知を受け取るには、定期的に @ego_tter にDMを送る必要があります。これがリムられ通知の有効期限です。これは<span class="egotter-pink">ツイッターの仕様</span>です。</div>

<%= render partial: 'q', locals: {text: 'リムられ通知が止まりました。再開することはできますか？'} %>
<div class="mb-5">リムられ通知はいつでも再開できます。「<%= t('quick_replies.prompt_reports.label3') %>」とDMしてみてください。止まっている理由がある場合は、返信のDMに解決方法が書かれています。</div>

<%= render partial: 'q', locals: {text: 'リムられ通知の有効期限がすぐに切れるのはどうしてですか？'} %>
<div class="mb-5"><span class="egotter-pink">ツイッターの仕様</span>です。相手からDMの送信がないと、通知DMを送り続けることができないのです。</div>

<%= render partial: 'q', locals: {text: "「#{t('quick_replies.prompt_reports.label3')}」は何回までできますか？"} %>
<div class="mb-5">何回でもできます。リムられが増えたかな？と思うタイミングで「<%= t('quick_replies.prompt_reports.label3') %>」とDMしてください。</div>

<%= render partial: 'q', locals: {text: '@ego_tter をフォローしたのにリムられ通知が届きません。どうしてですか？'} %>
<div class="mb-5">Webサイトにログインしてください。@ego_tter のフォローだけではリムられ通知は届きません。</div>

<%= render partial: 'q', locals: {text: 'リムられ通知はどれくらいの頻度で届きますか？'} %>
<div class="mb-5">今のところは、朝・昼・夜の1日3回届きます。届く回数は<a href="<%= settings_path %>">設定ページ</a>から変更できます。</div>

<%= render partial: 'q', locals: {text: 'リムられ通知をすぐに受け取ることはできますか？'} %>
<div class="mb-5">@ego_tter に「リムられ通知 今すぐ送信」とDMしてください。そうすれば、すぐにリムられ通知が届きます。</div>


<h3 class="h5 my-5">リムられ通知をDMで操作する</h3>


<%= render partial: 'q', locals: {text: 'リムられ通知をDMで操作する方法を教えてください'} %>
<div class="mb-5">
  決められたメッセージをDMで送ることで、リムられ通知をDMで操作することができます。<br>
  <br>
  「<strong><%= t('quick_replies.prompt_reports.label3') %></strong>」とDMする<br>
  リムられ通知をすぐに送信します。もし送信できない場合は、その理由が返信のDMに書かれています。<br>
  これ以降、リムられ通知は定期的に届くようになります。<br>
  <br>
  「<strong><%= t('quick_replies.prompt_reports.label5') %></strong>」とDMする<br>
  リムられ通知の定期的な送信を停止します。<br>
  <br>
  「<strong><%= t('quick_replies.prompt_reports.label4') %></strong>」とDMする<br>
  リムられ通知の定期的な送信を再開します。<br>
</div>


<h3 class="h5 my-5">データの正確性</h3>


<%= render partial: 'q', locals: {text: 'フォロワー数が減っているのに「リムられは0人」と表示されます。このデータは正しいですか？'} %>
<div class="mb-5">フォロワー数が1〜2人減ったのにリムられていない、という状況がたまに起きるようです。おそらくツイッターのバグです。少し時間が経ったら元に戻るようです。</div>

<%= render partial: 'q', locals: {text: 'リムられていない人がリムられ通知に表示されます。このデータは正しいですか？'} %>
<div class="mb-5">一時的な凍結をリムられと認識することがあるようです。本当にリムられているかどうかは相手のツイッターページを見て確認するのが確実です。</div>

<%= render partial: 'q', locals: {text: '「フォローを外されたユーザーは0人です」と表示されます。このデータは正しいですか？'} %>
<div class="mb-5">えごったーのデータは初めて検索した時から溜まっていきます。そのため、初めて使った時は必ず0人になっています。今後使っていくうちにリムられのデータは増えていきます。</div>

<%= render partial: 'q', locals: {text: '「フォローを外されたユーザー」が0人のまま増えません。このデータは正しいですか？'} %>
<div class="mb-5">何回か使っていくうちにデータが溜まっていくはずですが、もし更新されない場合は、@ego_tter までお気軽にお問い合わせください。</div>

<%= render partial: 'q', locals: {text: 'データが表示されない項目がいくつかあります。このデータは正しいですか？'} %>
<div class="mb-5">フォロー・フォロワーがとても多いユーザーは、いくつかの項目の表示がスキップされます。フォロー・フォロワーが多くないのに結果が表示されない場合は、@ego_tter までお気軽にお問い合わせください。</div>

<%= render partial: 'q', locals: {text: '自分からブロックしたユーザーもリムられに表示されます。このデータは正しいですか？'} %>
<div class="mb-5">リムり（フォローを外した）、リムられ（フォローを外された）は、どっちが先に行動したのかと関係なくフォローが外れたことを検出しています。そのため、自分からブロックしたとしてもリムられに表示されます。</div>


<h3 class="h5 my-5">データの更新間隔</h3>


<%= render partial: 'q', locals: {text: 'データはいつ更新されるのですか？'} %>
<div class="mb-5">リムられ通知を設定している場合は、リムられ通知が届くタイミングで更新されます。リムられ通知を設定していないユーザーは、Webサイトを使うタイミングで更新されます。</div>

<%= render partial: 'q', locals: {text: 'データの更新間隔はどれくらいですか？'} %>
<div class="mb-5">最短で <%= distance_of_time_in_words(TwitterUser::CREATE_RECORD_INTERVAL) %> に一度更新されます。Webサイトにログインしたことがある、リムられ通知が設定されている、@ego_tter をフォローしているという条件を満たしているほど早く更新されます。</div>

<%= render partial: 'q', locals: {text: 'データを自動的に更新することはできますか？'} %>
<div class="mb-5">リムられ通知が設定されていれば、データは自動的に更新されます。</div>

<%= render partial: 'q', locals: {text: '鍵付きアカウントも検索できますか？'} %>
<div class="mb-5">えごったーでは、「自分が見れるデータ」であれば検索することができます。例えば、鍵付きアカウントが自分自身であったり、フォローしているユーザーであれば検索できます。</div>

<%= render partial: 'q', locals: {text: 'データの更新を通知してもらうことはできますか？'} %>
<div class="mb-5">リムられ通知が設定されていればデータの更新が通知されます。</div>

<%= render partial: 'q', locals: {text: 'データの更新通知はどれくらいの頻度で届きますか？'} %>
<div class="mb-5">リムられ通知でデータの更新は通知されます。標準では1日に3回ほど通知されます。</div>

<%= render partial: 'q', locals: {text: '自分がえごったーで検索されたことを通知してもらうことはできますか？'} %>
<div class="mb-5">はい、できます。この設定は標準で有効になっているので、誰かがえごったーであなたを検索すると、@ego_tter からあなたにそのことを知らせるDMが届きます。検索したのが誰なのかは分かりません。</div>


<h3 class="h5">その他</h3>


<%= render partial: 'q', locals: {text: '昔のえごったーの機能はもう使えないのですか？'} %>
<div class="mb-5">必要であれば復活させますのでどの機能がほしいか @ego_tter までお気軽にご連絡ください。</div>

<%= render partial: 'q', locals: {text: 'Webサイトをクロールしてもよいですか？'} %>
<div class="mb-5">機械的なものか人が手作業したものかを問わず、えごったーWebサイトのデータ収集は全て禁止です。</div>

<%= render partial: 'q', locals: {text: 'Webサイトのデータを利用させてもらえますか？'} %>
<div class="mb-5">えごったーやツイッターの利用規約、プライバシーポリシーに違反しない範囲であれば、特定のデータの収集、販売も可能です。希望する場合は @ego_tter までお問い合わせください。</div>

<%= render partial: 'q', locals: {text: 'ここに載っていない質問をするにはどうすればよいですか？'} %>
<div class="mb-5">@ego_tter までお気軽にご連絡ください。DMで質問が届いても気付かないことが多いため、できればリプライで質問してもらえると助かります。</div>
