<% via = current_via('faq') %>

<% faq_section 'えごったー 全般' do %>
  <% faq_question 'えごったーとは何ですか？' do %>
    ツイッターで仲良しの人、リムーブした・された人、ブロックされた人、片思い・両思いが分かるWebサイトです。<br>
    <br>
    使い方は Twitter ID 入力するだけ！ いつでもすぐに結果を見ることができます。
    <% if user_signed_in? %>
      <%= link_to t('.search', user: current_user.screen_name), timeline_path(current_user, via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% else %>
      <%= link_to t('.sign_in'), sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  <% end %>

  <% faq_question 'えごったーの使い方を教えてください' do %>
    <div class="mb-1">
      1. Webサイトにログインする
      <% unless user_signed_in? %>
        <%= link_to t('.sign_in'), sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>
    <div class="mb-3">
      2. @ego_tter に【リムられ通知 送信】とDMする
    </div>

    たったこれだけでえごったーを使い始めることができます。ぜひお試しください。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question 'えごったーに公式アカウントはありますか？' do %>
    <div class="mb-3">
      @ego_tter が公式アカウントです。フォローしていると検索回数や使える機能が増えます。
      <%= link_to '@ego_tter を開く', user_url('ego_tter'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    </div>

    @egotter_cs は問い合わせ用のアカウントです。お返事が必要な場合はこちらにご連絡ください。
    <%= link_to '@egotter_cs を開く', user_url('egotter_cs'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question '@ego_tter と @egotter_cs の違いは何ですか？' do %>
    <div class="mb-3">
      @ego_tter は、フォローしていると使える機能が増えたりします。さらに、DMで特定の言葉を送ることで自動通知を行うことができます。
    </div>

    @egotter_cs は、中の人がお返事をするためのアカウントです。回答が必要な連絡は必ずこちらに送ってください。
  <% end %>

  <% faq_question '公式アカウントをフォローするメリット' do %>
    @ego_tter をフォローするとWebサイトでの検索回数や使える機能が増えます。さらに、@ego_tter に【リムられ通知 送信】とDMすることでリムられ通知を受け取ることができます。
    <%= link_to '@ego_tter を開く', user_url('ego_tter'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question '公式アカウントのフォローは必須ですか？' do %>
    <div class="mb-3">
      必須ではないです。@ego_tter をフォローしていなくてもえごったーを使うことはできます。
    </div>

    @ego_tter をフォローしていると検索回数やWebサイトで使える機能が増えます。
  <% end %>
<% end %>

<% faq_section 'プライバシーとセキュリティ' do %>
  <% faq_question 'えごったーは安全ですか？' do %>
    安全です。TLS/SSLを用いた通信の暗号化により、プライバシーとセキュリティは強固に守られています。
  <% end %>

  <% faq_question 'えごったーを使うと他の人にバレますか？' do %>
    <div class="mb-3">バレません。このWebサイトの利用状況を他の人に知られることはありません。</div>

    @ego_tter をフォローすることで、ツイッター公式の「共通のフォロー」に表示されてしまうことはあります。
  <% end %>

  <% faq_question 'えごったーは勝手にツイートしますか？' do %>
    <div class="mb-3">勝手にツイートすることはありませんのでご安心ください。</div>

    <div class="mb-1"><strong>よくある誤解</strong></div>
    <div>「検索回数を増やすために、定期ツイートを許可する」という設定をオンにしていると、ツイートすることがあります。この設定は設定ページからいつでもオフにできます。</div>
  <% end %>

  <% faq_question 'えごったーはDMを勝手に見ますか？' do %>
    <div class="mb-3">DMを勝手に見ることはありませんのでご安心ください。</div>

    <div class="mb-1"><strong>よくある誤解</strong></div>
    <div>ツイッター連携ログインで許可する項目に「DMの送信」があるのは、リムられ通知を送信するためです。また、ツイッターの権限は細かい選択ができないため今の形式になっています。</div>
  <% end %>

  <% faq_question '何故たくさんの権限が必要なんですか？' do %>
    全世界共通の<span class="egotter-pink">ツイッターの仕様</span>です。ツイッターの権限には「全部できる」または「全部できない」しかないためこのようになっています。
  <% end %>

  <% faq_question '他の人も検索できますか？' do %>
    「自分が見ることのできるユーザー」のみに限り、他のユーザーも検索できます。
  <% end %>

  <% faq_question '鍵アカウントも検索できますか？' do %>
    「自分自身」または「自分がフォローしている鍵アカウント」のみに限り、鍵アカウントも検索できます。
  <% end %>

  <% faq_question '個人情報は安全に保存されていますか？' do %>
    えごったーは住所や氏名等の「個人の特定につながる可能性のある情報」を保存していませんのでご安心ください。
  <% end %>

  <% faq_question 'クレジットカード情報は安全に保存されていますか？' do %>
    <p>えごったーは、クレジットカード会員データを安全に取り扱う事を目的として策定された、クレジットカード業界のセキュリティ基準 PCI DSS に準拠しています。</p>
    そのため、クレジットカード情報を最初から保存していませんのでご安心ください。
  <% end %>
<% end %>

<% faq_section 'ログイン 全般' do %>
  <% faq_question 'えごったーにログインすると何ができますか？' do %>
    <p>えごったーにログインすると、フォロワーが多くても正確にデータを分析できるようになります。また、分析が高速になり、分析回数の上限が増えます。</p>
    ログインしていないと、フォロワーが多いユーザーは検索できません。検索回数の上限も少なくなってしまいます。
  <% end %>

  <% faq_question 'ログインに失敗することがあります' do %>
    <p>大半のログインエラーは一時的なものです。お手数ですがもう一度試してみてください。</p>
    <p>ツイッター自体がエラーを出しているときは、しばらく時間をおいてから再度のログインを試してみてください。</p>

    どうしてもログインエラーが直らない場合は @egotter_cs にエラーのスクリーンショットを送ってください。
    <%= link_to '@egotter_cs に連絡', direct_message_url(User::EGOTTER_CS_UID, 'ログインエラーが直りません。スクリーンショットを送ります。'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question 'ログインするためのIDとパスワードが分からない' do %>
    <p>えごったーのログインは「ツイッター連携ログイン」です。そのため、ログインするときに入力するIDとパスワードはツイッターのものです。</p>
    ツイッターのログイン情報が分からない場合は、<a href="https://twitter.com/login" target="_blank">twitter.com/login</a> からツイッターにお問い合わせください。
  <% end %>

  <% faq_question 'Twitter IDを変更後にログインできない' do %>
    Twitter ID（@から始まる名前）を変えると、最大で10日ほど連携アプリにログインできなくなるようです。しばらく待つと自然に直ります。
  <% end %>

  <% faq_question 'アカウントを削除後にログインできない' do %>
    Twitterアカウントを削除してその後に復活させると、最大で10日ほど連携アプリにログインできなくなるようです。しばらく待つと自然に直ります。
  <% end %>

  <% faq_question '@ego_tter をブロック後にログインできない' do %>
    <p>@ego_tter をブロックすると、えごったーWebサイトを利用できなくなります。</p>
    一度この状態になると、有料プランを購入するまでえごったーWebサイトは利用できません。
  <% end %>
<% end %>

<% faq_section '検索でできること' do %>
  <% faq_question 'えごったーの検索機能では何ができますか？' do %>
    <div class="mb-3">
      色々なツイッターユーザーのフォロー、フォロワーを分析することができます。単純な一覧だけでなく、片思いフォロー、非アクティブなフォローだけを抽出することもできます。
    </div>

    他にもたくさんの情報を分析することができます。ぜひお試しください。
    <% if user_signed_in? %>
      <%= link_to t('.search', user: current_user.screen_name), timeline_path(current_user, via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% else %>
      <%= link_to t('.sign_in'), sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  <% end %>

  <% faq_question 'えごったーでの検索回数とは何ですか？' do %>
    <div class="mb-3">
      えごったーで1日に分析できるユーザー数の制限のことです。例えば、Aさんを検索してその後にBさんを検索すると、合計の検索利用回数は2回になります。
    </div>
    <br>
    Webサイトへのログイン、えごったーの宣伝ツイート、 有料プランの購入をすることによって回数を増やすことができます。
  <% end %>

  <% faq_question '検索回数を増やす方法を教えてください' do %>
    あなたは1日あたり <%= @search_count_limitation.max_count %>回 検索することができます。残りの検索回数は <%= @search_count_limitation.remaining_count %>回 です。<br>
    <br>
    もっとたくさん検索することもできます。お好きなプランをお選びください。<br>
    <br>
    <%= render template: 'messages/increase_search_counts', locals: {via: via} %>
  <% end %>

<% end %>

<% faq_section '検索でできないこと' do %>
  <% faq_question 'フォローしていない鍵垢を検索できますか？' do %>
    できません。えごったーで検索できるのは、「自分がツイートを見れるアカウント」だけです。
  <% end %>

  <% faq_question '鍵垢からのリツイートを知ることはできますか？' do %>
    できません。自分がフォローしていない鍵アカウントから自分のツイートをいいねまたはリツイートされた時、その数字は増えますが、それが誰なのかは分からないです。
  <% end %>

  <% faq_question '裏垢を見つけることができますか？' do %>
    直接的なそういう機能はありません。ただし、フォロー・フォロワーの関係をたどっていけば見つけられる可能性はあります。
  <% end %>
<% end %>

<% faq_section '有料プラン 全般' do %>
  <% faq_question 'えごったーの有料プランでは何ができますか？' do %>
    <p>Webサイトでの検索回数が増加し、各種の通知が高機能になります。</p>

    <dl>
      <dt>・Webサイトでの検索</dt>
      <dd class="mb-3">検索回数が <%= SearchCountLimitation::BASIC_PLAN %>回/日 増えます。</dd>

      <dt>・リムられ通知</dt>
      <dd class="mb-3">いつでも通知を受信できます。（無料版では数時間に1回）</dd>

      <dt>・ブロック通知</dt>
      <dd class="mb-3">ブロックされているIDが全て分かります。（無料版では頭文字だけ分かる）</dd>

      <dt>・ミュート通知</dt>
      <dd class="mb-3">ミュートされているIDが2文字目まで分かります。（無料版では頭文字だけ分かる）</dd>

      <dt>・ツイートの一括削除</dt>
      <dd class="mb-3">全てのツイートを削除可能になります。（無料版では<%= DeleteTweetsRequest::DESTROY_LIMIT %>件まで）</dd>
    </dl>

    有料プランの詳細は <%= link_to '料金プラン', pricing_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %> をご覧ください。
  <% end %>

  <% faq_question '有料プランのお試し期間とは何ですか？' do %>
    <p>有料プランの初回購入時の無料期間のことです。（クレジットカードの支払い限定）</p>
    <p>有料プランは購入してから <%= Order::TRIAL_DAYS %>日間 は支払いが発生しません。不要な場合はこの期間に解約してください。</p>
    <p>2回目以降の購入には無料期間はありませんのでご注意ください。</p>
  <% end %>

  <% faq_question '有料プランの支払いは何に対応していますか？' do %>
    <p>クレジットカード、コンビニ決済、銀行振込に対応しています。それぞれ以下のような違いがあります。</p>
    <dl>
      <dt>クレジットカード（単月）</dt>
      <dd class="mb-3">
        標準の支払い方法です。<br>
        支払い後すぐに有料プランが有効になります。<br>
        購入してから <%= Order::TRIAL_DAYS %>日間 はお試し期間です。この期間に解約すれば支払いは発生しません。<br>
        定期購読になるため、1ヶ月後に自動更新されます。
      </dd>

      <dt>コンビニ決済（単月）</dt>
      <dd class="mb-3">
        クレジットカードが無い方向けの支払い方法です。<br>
        入金の確認後、5営業日以内に有効になります。<br>
        お試し期間はありません。また、返金の対象外です。<br>
        1ヶ月で自動解約されます。
      </dd>

      <dt>銀行振込（単月）</dt>
      <dd class="mb-3">
        クレジットカードが無い方向けの支払い方法です。<br>
        入金の確認後、5営業日以内に有効になります。<br>
        お試し期間はありません。また、返金の対象外です。<br>
        1ヶ月で自動解約されます。
      </dd>
    </dl>
    <p>
      長期間の一括購入については追加の割引を受けることができます。
      一括購入の詳細は <%= link_to '料金プラン', pricing_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %> をご覧ください。
    </p>
  <% end %>

  <% faq_question '一括購入とそれ以外の違いは何ですか？' do %>
    <p>一括購入は、購入する期間に応じて割引があります。一方で、返金の対象外となっています。</p>
    <dl>
      <dt>単月の購入</dt>
      <dd class="mb-3">
        基本的な料金が適用されます。<br>
        購入してから <%= Order::TRIAL_DAYS %>日間 はお試し期間です。（クレジットカード支払い限定）<br>
        正当な理由があれば返金対象です。（クレジットカード支払い限定）
      </dd>

      <dt>一括の購入</dt>
      <dd class="mb-3">
        購入する期間が長いほど大きな割引を受けられます。<br>
        お試し期間はありません。<br>
        返金の対象外です。
      </dd>
    </dl>
    <p>
      さらに詳細は <%= link_to '料金プラン', pricing_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %> をご覧ください。
    </p>
  <% end %>

  <% faq_question '有料プランをコンビニ支払いすることはできますか？' do %>
    <p>
      できます。
      コンビニ決済の詳細は <%= link_to '料金プラン', pricing_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %> をご覧ください。
    </p>
  <% end %>

  <% faq_question '有料プランを銀行振込で支払いすることはできますか？' do %>
    <p>
      できます。
      銀行振込の詳細は <%= link_to '料金プラン', pricing_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %> をご覧ください。
    </p>
  <% end %>

  <% faq_question 'どの買い方が一番お得ですか？' do %>
    <p>長期間の一括購入をクレジットカードで行うのが一番お得です。理由は、購入者が支払う決済手数料が一番安く済むからです。</p>
    <p>有料プランについては <%= link_to '料金プラン', pricing_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %> をご覧ください。</p>
  <% end %>

  <% faq_question '一括購入の割引はありますか？' do %>
    長期間の一括購入については追加の割引を受けることができます。
    一括購入の詳細は <%= link_to '料金プラン', pricing_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %> をご覧ください。
  <% end %>

  <% faq_question '有料プランを他のユーザーに付け替えることはできますか？' do %>
    <p>有料プランの他のユーザーへの付け替えはできません。</p>
    <p>複数アカウントで有料プランを購入することはできますので、今後使いたいアカウントで有料プランを購入し、使わないアカウントでは有料プランを解約してください。</p>
  <% end %>

  <% faq_question '既に単月の有料プランを購入済みです。一括購入に切り替えできますか？' do %>
    できます。この場合、事前に一括購入を済ませておくことで、単月の有料プランの期限が切れたタイミングで一括購入のプランが有効になります。
  <% end %>

  <% faq_question '有料プランを解約する方法' do %>
    設定ページからプランの解約をクリックしてください。
    <%= link_to '設定ページ', settings_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question '有料プランの返金' do %>
    <div>お試し期間中の場合</div>
    <p>期間内にプランを解約すれば支払いは発生しません。</p>
    <div>お試し期間中ではない場合</div>
    <p>
      クレジットカードで単月購入の場合に限り、特別な事情があれば有料プランの返金が可能です。
      返金の理由を <%= link_to '@egotter_cs', direct_message_url(User::EGOTTER_CS_UID, t('short_messages.refund')), target: '_blank' %> までご連絡ください。
    </p>
  <% end %>
<% end %>

<% faq_section '通知機能 全般' do %>
  <% faq_question 'えごったーの通知機能とは何ですか？' do %>
    <div class="mb-3">
      フォローやフォロワーに変化があったことを @ego_tter から
      <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %> にDMでお知らせする機能ことです。
    </div>

    えごったーの通知機能には、リムられ通知、ブロック通知、ミュート通知、検索通知があります。
  <% end %>

  <% faq_question 'リムられ通知とは何ですか？' do %>
    <div class="mb-3">
      「誰かにフォローを外されたこと」を @eo_tter から
      <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %>にDMでお知らせする機能のことです。
    </div>

    さらに詳細ついては <%= link_to 'リムられ通知の詳細', '#what_is_periodic_report' %> をご覧になってください。
  <% end %>

  <% faq_question 'ブロック通知とは何ですか？' do %>
    <div class="mb-3">
      「誰かにブロックされたこと」を @eo_tter から
      <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %>にDMでお知らせする機能のことです。
    </div>

    さらに詳細ついては <%= link_to 'ブロック通知の詳細', '#what_is_block_report' %> をご覧になってください。
  <% end %>

  <% faq_question 'ミュート通知とは何ですか？' do %>
    <div class="mb-3">
      「誰かにミュートされたこと」を @eo_tter から
      <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %>にDMでお知らせする機能のことです。
    </div>

    さらに詳細ついては <%= link_to 'ミュート通知の詳細', '#what_is_mute_report' %> をご覧になってください。
  <% end %>

  <% faq_question '検索通知とは何ですか？' do %>
    <div class="mb-3">
      「誰かにえごったー上で検索されたこと」を @eo_tter から
      <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %>にDMでお知らせする機能のことです。
    </div>

    さらに詳細ついては <%= link_to '検索通知の詳細', '#what_is_search_report' %> をご覧になってください。
  <% end %>
<% end %>

<% faq_section 'リムられ通知 全般' do %>
  <% faq_question 'リムられ通知とは何ですか？', id: 'what_is_periodic_report' do %>
    「誰かにフォローを外されたこと」を @ego_tter から <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %> にDMで通知する機能のことです。<br>
    <br>
    Webサイトにログインすると自動で設定されます。後から通知を止めることもできます。
  <% end %>

  <% faq_question 'リムられ通知の使い方を教えてください' do %>
    リムられ通知は、1日3回 定期的にDMで届きます。さらに、必要なときに「<%= t('quick_replies.prompt_reports.label3') %>」と @ego_tter にDMすればすぐに受信することができます。<br>
    <br>
    リムられ通知はさらに細かくDMで操作することができます。詳しく知るには「リムられ通知 使い方」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    <br>
  <% end %>

  <% faq_question 'リムられ通知はどうすれば届きますか？' do %>
    <div class="mb-3">
      Webサイトにログインすればその後は定期的に届きます。
      <% unless user_signed_in? %>
        <%= link_to t('.sign_in'), sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </div>

    今すぐ通知を受信したい場合は「<%= t('quick_replies.prompt_reports.label3') %>」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    <br>
  <% end %>

  <% faq_question 'リムられ通知が定期的に届かなくなりました' do %>
    リムられ通知は止まることがあります。代表的な理由は下記の通りです。<br>
    <br>
    ・DMを送れない設定になっている<br>
    ツイッターの設定で @ego_tter からのDMを受信できるようにしてください。<br>
    <br>
    ・@ego_tter の連携を解除している<br>
    えごったーにログインし直してください。
    <%= link_to '再ログインする', force_sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %><br>
    <br>
    ・@ego_tter をブロックしている<br>
    ブロックを解除してください。<br>
    <br>
    ・@ego_tter からのDMに返信していない<br>
    「<%= t('quick_replies.prompt_reports.label3') %>」とDMしてみてください。
  <% end %>

  <% faq_question '止まったリムられ通知を再開する方法' do %>
    リムられ通知はいつでも再開できます。「<%= t('quick_replies.prompt_reports.label3') %>」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
    <br>
    <br>
    止まっている理由がある場合は、返信のDMに解決方法が書かれています。
  <% end %>

  <% faq_question "「#{t('quick_replies.prompt_reports.label3')}」は何回までできますか？" do %>
    何回でもできます。リムられが増えたかな？と思うタイミングで「<%= t('quick_replies.prompt_reports.label3') %>」と @ego_tter にDMしてください。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question '@ego_tter をフォローしたのにリムられ通知が届かない' do %>
    Webサイトにログインしてください。@ego_tter のフォローだけではリムられ通知は届きません。
    <% unless user_signed_in? %>
      <%= link_to t('.sign_in'), sign_in_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  <% end %>

  <% faq_question 'リムられ通知の届く頻度' do %>
    <div class="mb-3">
      今のところは、朝・昼・夜の 1日3回 届きます。届く回数は設定ページから変更できます。
    </div>

    朝と昼のリムられ通知は設定でオフにできます。夜のリムられ通知は必ず届きます。
    <% if user_signed_in? %>
      <%= link_to t('.settings'), settings_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  <% end %>

  <% faq_question 'リムられ通知の届く時間帯' do %>
    朝の通知は7〜9時、昼の通知は11〜13時、夜の通知は20〜22時あたりに届きます。
  <% end %>

  <% faq_question 'リムられ通知をすぐに受け取る方法' do %>
    @ego_tter に「リムられ通知 今すぐ送信」とDMしてください。そうすれば、すぐにリムられ通知が届きます。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question 'なぜかリムられ通知に @ が付かなくなりました' do %>
    リムられ通知でユーザー名の前に @ が付くのは、「有料プランのユーザー」または「えごったーの登録から <%= User::PERIODIC_REPORT_AT_MARK_DURATION / 1.day %>日 以内」のユーザーのみになります。
  <% end %>
<% end %>


<% faq_section 'リムられ通知 有効期限' do %>
  <% faq_question 'リムられ通知の有効期限とは何ですか？', id: 'direct-message-expiration' do %>
    ツイッターの仕様上、DMを一方的に送り続けることはできません。そのため、リムられ通知を受け取るには、定期的に @ego_tter に返信のDMを送る必要があります。<br>
    <br>
    これがリムられ通知の有効期限です。これは全世界共通の<span class="egotter-pink">ツイッターの仕様</span>です。
  <% end %>

  <% faq_question 'リムられ通知の有効期限が切れかけています。何をすればよいですか？' do %>
    ・通知を継続したい場合<br>
    【リムられ通知 継続】をDMにコピペして送ってください<br>
    <br>
    ・通知を止めたい場合<br>
    【リムられ通知 停止】をDMにコピペして送ってください
  <% end %>

  <% faq_question 'リムられ通知の有効期限が切れました。何をすればよいですか？' do %>
    リムられ通知の有効期限が切れていると、データの自動更新とリムられ通知の定期配信が止まります。<br>
    <br>
    自動更新やリムられ通知の定期配信の再開を希望する場合は、【リムられ通知 再開】をDMにコピペして送ってください
  <% end %>

  <% faq_question 'リムられ通知の有効期限がすぐに切れるのはどうしてですか？' do %>
    全世界共通の<span class="egotter-pink">ツイッターの仕様</span>です。相手からDMの送信がないと、通知DMを送り続けることができないのです。
  <% end %>
<% end %>

<% faq_section 'リムられ通知 DMでの操作' do %>
  <% faq_question 'リムられ通知をDMで操作する方法を教えてください' do %>
    決められたメッセージをDMで送ることで、リムられ通知をDMで操作することができます。<br>
    <br>
    <%= link_to t('quick_replies.prompt_reports.label3'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label3')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>とDMする
    <br>
    リムられ通知をすぐに送信します。もし送信できない場合は、その理由が返信のDMに書かれています。<br>
    <br>
    <%= link_to t('quick_replies.prompt_reports.label5'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label5')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>とDMする
    <br>
    リムられ通知の定期的な送信を停止します。<br>
    <br>
    <%= link_to t('quick_replies.prompt_reports.label4'), direct_message_url(User::EGOTTER_UID, t('quick_replies.prompt_reports.label4')), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>とDMする
    <br>
    リムられ通知の定期的な送信を再開します。<br>
    <br>
    <%= link_to 'リムられ通知 使い方', direct_message_url(User::EGOTTER_UID, 'リムられ通知 使い方'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>とDMする
    <br>
    リムられ通知の使い方を返信で教えてくれます。<br>
  <% end %>
<% end %>


<% faq_section 'ブロック通知' do %>
  <% faq_question 'ブロック通知とは何ですか？', id: 'what_is_block_report' do %>
    「誰かにブロックされていること」を @ego_tter から <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %> にDMで通知する機能のことです。<br>
    <br>
    Webサイトにログインすると自動で設定されます。後から通知を止めることもできます。
  <% end %>

  <% faq_question 'ブロック通知の使い方を教えてください' do %>
    ブロック通知は、不定期にDMで届きます。さらに、必要なときに「<%= t('quick_replies.block_reports.label4') %>」と @ego_tter にDMすればすぐに受信することができます。<br>
    <br>
    ブロック通知はさらに細かくDMで操作することができます。詳しく知るには「ブロック通知 使い方」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, 'ブロック通知 使い方'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question 'ブロック通知は有料プランで何が変わりますか？' do %>
    <div class="mb-3">
      ブロック通知は、有料プランを購入すると具体的なIDまで分かるようになります。
      例えば、haruto、souta、minato からブロックされている時は購入前と後で下記のように表記が変わります。
    </div>

    <div class="mb-1"><strong>購入前の通知</strong></div>
    <div class="mb-3">
      ha****<br>
      so***<br>
      さらに 1人
    </div>

    <div class="mb-1"><strong>購入後の通知</strong></div>
    <div class="mb-3">
      @haruto<br>
      @souta<br>
      さらに 1人
    </div>

    購入後は、IDの伏せ字（*の部分）がなくなります。また、アットマーク（@の部分）が付くためワンクリックで相手のページを見れるようになります。
  <% end %>

  <% faq_question 'ブロック通知のデータが0人のままです。いつ更新されますか？' do %>
    ブロック通知のデータは不定期に更新されます。よく利用するユーザーほど早くデータが更新されます。<br>
    <br>
    定期的にえごったーWebサイトでツイッターIDを検索したり、「<%= t('quick_replies.block_reports.label4') %>」と @ego_tter にDMしてみてください。
  <% end %>

  <% faq_question 'ブロック通知はどれくらい正確ですか？' do %>
    えごったーのブロック通知は「もし見つかっていれば、そのデータを表示する」という仕組みになっています。
    そのため、完全にブロック情報が揃っているのではなく「見れることもある」というくらいに思ってください。
  <% end %>

  <% faq_question 'ブロック通知にFF以外のデータは含まれますか？' do %>
    はい、含まれます。ブロック通知のデータはFFかどうかとあまり関係がないです。
    ツイッター全体から見付けてくるようになっています。
  <% end %>

  <% faq_question 'ブロック通知には @ego_tter をフォローする前のデータも含まれますか？' do %>
    はい、含まれます。@ego_tter をフォローしていると優先的な分析の対象にはなりますが、フォローしていないからといって全くデータが無くなるわけではないです。
  <% end %>
<% end %>


<% faq_section 'ミュート通知' do %>
  <% faq_question 'ミュート通知とは何ですか？', id: 'what_is_mute_report' do %>
    「誰かにミュートされていること」を @ego_tter から <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %> にDMで通知する機能のことです。<br>
    <br>
    Webサイトにログインすると自動で設定されます。後から通知を止めることもできます。
  <% end %>

  <% faq_question 'ミュート通知の使い方を教えてください' do %>
    ミュート通知は、不定期にDMで届きます。さらに、必要なときに「<%= t('quick_replies.mute_reports.label4') %>」と @ego_tter にDMすればすぐに受信することができます。<br>
    <br>
    ミュート通知はさらに細かくDMで操作することができます。詳しく知るには「ミュート通知 使い方」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, 'ミュート通知 使い方'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question 'ミュート通知は有料プランで何が変わりますか？' do %>
    <div class="mb-3">
      ミュート通知は、有料プランを購入すると「IDの先頭二文字」まで分かるようになります。
      例えば、haruto、souta、minato からミュートされている時は購入前と後で下記のように表記が変わります。
    </div>

    <div class="mb-1"><strong>購入前の通知</strong></div>
    <div class="mb-3">
      h から始まる 1人<br>
      s から始まる 1人<br>
      さらに 1人
    </div>

    <div class="mb-1"><strong>購入後の通知</strong></div>
    <div class="mb-3">
      ha****<br>
      so***<br>
      さらに 1人
    </div>

    購入前は、「先頭から一文字」だけを集計した結果でした。それが購入後は、「IDの先頭二文字」まで分かるようになります。
  <% end %>

  <% faq_question 'ミュート通知ですべてのIDが分かるプランはありますか？' do %>
    いまのところは無いです。ミュート通知は有料プランであってもIDは2文字目までの集計結果しか分かりません。
  <% end %>

  <% faq_question 'ミュート通知のデータが0人のままです。いつ更新されますか？' do %>
    ミュート通知のデータは不定期に更新されます。よく利用するユーザーほど早くデータが更新されます。<br>
    <br>
    定期的にえごったーWebサイトでツイッターIDを検索したり、「<%= t('quick_replies.mute_reports.label4') %>」と @ego_tter にDMしてみてください。
  <% end %>

  <% faq_question 'ミュート通知はどれくらい正確ですか？' do %>
    えごったーのミュート通知は「もし見つかっていれば、そのデータを表示する」という仕組みになっています。
    そのため、完全にミュート情報が揃っているのではなく「見れることもある」というくらいに思ってください。
  <% end %>

  <% faq_question 'ミュート通知にFF以外のデータは含まれますか？' do %>
    はい、含まれます。ミュート通知のデータはFFかどうかとあまり関係がないです。
    ツイッター全体から見付けてくるようになっています。
  <% end %>

  <% faq_question 'ミュート通知には @ego_tter をフォローする前のデータも含まれますか？' do %>
    はい、含まれます。@ego_tter をフォローしていると優先的な分析の対象にはなりますが、フォローしていないからといって全くデータが無くなるわけではないです。
  <% end %>
<% end %>

<% faq_section '検索通知' do %>
  <% faq_question '検索通知とは何ですか？', id: 'what_is_search_report' do %>
    「誰かにえごったー上で検索されたこと」を @ego_tter から <%= user_signed_in? ? "@#{current_user.screen_name}" : 'あなた' %> にDMで通知する機能のことです。<br>
    <br>
    Webサイトにログインすると自動で設定されます。後から通知を止めることもできます。
  <% end %>

  <% faq_question '検索通知の使い方を教えてください' do %>
    検索通知は、不定期にDMで届きます。<br>
    <br>
    検索通知の使い方を詳しく知るには「検索通知 使い方」と @ego_tter にDMしてみてください。
    <%= link_to t('.open_dm'), direct_message_url(User::EGOTTER_UID, '検索通知 使い方'), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question '検索通知が届くということは、誰かを検索するとバレるということですか？' do %>
    いいえ、そんなことはないです。検索通知には「誰かに検索されたこと」だけが書かれます。
    それが誰なのかは書かれないため、相手に自分のことがバレることはありません。
  <% end %>
<% end %>


<% faq_section 'データの正確性' do %>
  <% faq_question 'フォロワー数が減っているのに「リムられは0人」と表示されます。このデータは正しいですか？' do %>
    フォロワー数が1〜2人減ったのにリムられていない、という状況がたまに起きるようです。おそらくツイッターのバグです。少し時間が経ったら元に戻るようです。
  <% end %>

  <% faq_question 'リムられていない人がリムられ通知に表示されます。このデータは正しいですか？' do %>
    一時的な凍結をリムられと認識することがあるようです。本当にリムられているかどうかは相手のツイッターページを見て確認するのが確実です。
  <% end %>

  <% faq_question '「フォローを外されたユーザーは0人です」と表示されます。このデータは正しいですか？' do %>
    えごったーのデータは初めて検索した時から溜まっていきます。そのため、初めて使った時は必ず0人になっています。今後使っていくうちにリムられのデータは増えていきます。
  <% end %>

  <% faq_question '「フォローを外されたユーザー」が0人のまま増えません。このデータは正しいですか？' do %>
    何回か使っていくうちにデータが溜まっていくはずですが、もし更新されない場合は、@ego_tter までお気軽にお問い合わせください。
  <% end %>

  <% faq_question 'データが表示されない項目がいくつかあります。このデータは正しいですか？' do %>
    フォロー・フォロワーがとても多いユーザーは、いくつかの項目の表示がスキップされます。フォロー・フォロワーが多くないのに結果が表示されない場合は、@ego_tter までお気軽にお問い合わせください。
  <% end %>

  <% faq_question '自分からブロックしたユーザーもリムられに表示されます。このデータは正しいですか？' do %>
    リムり（フォローを外した）、リムられ（フォローを外された）は、どっちが先に行動したのかと関係なくフォローが外れたことを検出しています。そのため、自分からブロックしたとしてもリムられに表示されます。
  <% end %>
<% end %>



<% faq_section 'データの更新間隔' do %>
  <% faq_question 'データはいつ更新されるのですか？' do %>
    リムられ通知を設定している場合は、リムられ通知が届くタイミングで更新されます。リムられ通知を設定していないユーザーは、Webサイトを使うタイミングで更新されます。
  <% end %>

  <% faq_question 'データの更新間隔はどれくらいですか？' do %>
    最短で <%= distance_of_time_in_words(TwitterUser::CREATE_RECORD_INTERVAL) %> に一度更新されます。Webサイトにログインしたことがある、リムられ通知が設定されている、@ego_tter をフォローしているという条件を満たしているほど早く更新されます。
  <% end %>

  <% faq_question 'データを自動的に更新することはできますか？' do %>
    リムられ通知が設定されていれば、データは自動的に更新されます。
  <% end %>

  <% faq_question '鍵付きアカウントも検索できますか？' do %>
    えごったーでは、「自分が見れるデータ」であれば検索することができます。例えば、鍵付きアカウントが自分自身であったり、フォローしているユーザーであれば検索できます。
  <% end %>

  <% faq_question 'データの更新を通知してもらうことはできますか？' do %>
    リムられ通知が設定されていればデータの更新が通知されます。
  <% end %>

  <% faq_question 'データの更新通知はどれくらいの頻度で届きますか？' do %>
    リムられ通知でデータの更新は通知されます。標準では1日に3回ほど通知されます。
  <% end %>

  <% faq_question '自分がえごったーで検索されたことを通知してもらうことはできますか？' do %>
    はい、できます。この設定は標準で有効になっているので、誰かがえごったーであなたを検索すると、@ego_tter からあなたにそのことを知らせるDMが届きます。検索したのが誰なのかは分かりません。
  <% end %>
<% end %>


<% faq_section '利用をやめる' do %>
  <% faq_question 'えごったーの利用をやめる方法', id: 'delete_account' do %>
    <p>
      えごったーWebサイトのログアウトをクリックしてください。
      <% if user_signed_in? %>
        <%= link_to 'ログアウトする', goodbye_path(via: via), class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
    </p>
    <p>注意：@ego_tter をブロックするとWebサイトを利用できなくなります。Webサイトを今後も利用する方は、ブロックしないようにご注意ください。</p>
  <% end %>

  <% faq_question 'えごったーの通知を止める方法', id: 'stop_reports' do %>
    <p>定期的な通知のDMは<span class="egotter-pink">何も返信しなければ自動的に止まる</span>ようになっています。</p>
    <p>明示的に止める場合は下記のDMを @ego_tter に送ってください。</p>
    <p>※ それぞれ別のDMで送ってください。</p>
    <div>・リムられ通知 停止</div>
    <div>・ブロック通知 停止</div>
    <div>・ミュート通知 停止</div>
    <br>
    <p>注意：@ego_tter をブロックするとWebサイトを利用できなくなります。Webサイトを今後も利用する方は、ブロックしないようにご注意ください。</p>
  <% end %>

  <% faq_question '有料プランを解約する方法' do %>
    設定ページからプランの解約をクリックしてください。
    <%= link_to '設定ページ', settings_path(via: via), class: 'btn btn-outline-primary btn-sm', target: '_blank' %>
  <% end %>

  <% faq_question 'クレジットカード情報を削除する方法' do %>
    <p>えごったーは、クレジットカード会員データを安全に取り扱う事を目的として策定された、クレジットカード業界のセキュリティ基準 PCI DSS に準拠しています。</p>
    そのため、クレジットカード情報を最初から保存していません。結果として、削除する必要もありません。
  <% end %>
<% end %>


<% faq_section 'その他' do %>
  <% faq_question '昔のえごったーの機能はもう使えないのですか？' do %>
    必要であれば復活させますのでどの機能がほしいか @ego_tter までお気軽にご連絡ください。
  <% end %>

  <% faq_question '@ego_tter をブロックしたらどうなりますか？' do %>
    <p>えごったーWebサイトが利用できなくなります。</p>
    <p>一度この状態になると、有料プランを購入するまでえごったーWebサイトは利用できません。</p>
    通知を止めたい場合は、1〜2日ほど返信せずに放置してください。そうすれば通知は止まります。
  <% end %>

  <% faq_question 'Webサイトをクロールしてもよいですか？' do %>
    機械的なものか人が手作業したものかを問わず、えごったーWebサイトのデータ収集は全て禁止です。
  <% end %>

  <% faq_question 'Webサイトのデータを利用させてもらえますか？' do %>
    えごったーやツイッターの利用規約、プライバシーポリシーに違反しない範囲であれば、特定のデータの収集、販売を請け負います。希望する場合は @egotter_cs までお問い合わせください。
  <% end %>

  <% faq_question 'えごったーのデータを消す方法はありますか？' do %>
    えごったーにログイン後、設定ページから「データの削除」をご利用ください。
  <% end %>

  <% faq_question '問い合わせを何度してもお返事がありません' do %>
    <p>同じ内容のDMを何度も @egotter_cs に送ると、ツイッターからスパム判定されてしまいます。そうなるとこちらからDMを見ることができません。同じ問い合わせを何度も送るのはおやめください。</p>
    また、えごったーサポートは「えごったー利用者の困っていること」に回答します。えごったーと関係のない質問には回答しませんのであらかじめご了承ください。
  <% end %>

  <% faq_question 'ここに載っていない質問をするにはどうすればよいですか？' do %>
    <%= link_to '@egotter_cs', twitter_web_url('egotter_cs'), target: '_blank' %> までお気軽にお問い合わせください。
  <% end %>
<% end %>

<% @faq_sections.each do |section, questions| %>
  <h3 class="h5 my-5"><%= section %></h3>
  <ol>
    <% questions.each do |question| %>
      <li class="text-muted mb-2"><%= link_to question[:text], "##{question[:id]}", class: 'text-primary' %></li>
    <% end %>
  </ol>
  <hr>
<% end %>

<% @faq_sections.each do |section, questions| %>
  <h3 class="h5 my-5"><%= section %></h3>
  <% questions.each do |question| %>
    <%= render partial: 'misc/q', locals: {id: question[:id], text: question[:text]} %>
    <div class="mb-5"><%= question[:answer] %></div>
  <% end %>
<% end %>
