<% user = current_user %>

<div class="menu">
  <h2><small><%= t('notifications.setting') %></small></h2>
  <% %i(email dm news search).each do |name| %>
    <div class="table-box">
      <div class="table-cell-left">
        <%= check_box_tag name, true, user.notification_setting.send("#{name}?"), {id: "#{name}-input", class: 'tgl tgl-ios'} %>
        <label class='tgl-btn' for="<%= name %>-input"></label>
      </div>
      <div class="table-cell-right"><%= t("notifications.desc.#{name}") %>
        <span style="display: none;" class="<%= name %> text-info blink small"><%= t('.updated') %></span>
      </div>
    </div>
    <hr>
  <% end %>
  <script>
    (function () {
      function attach_event_handler(name) {
        var selector = 'input[name=' + name + ']';
        $(selector + ':checkbox').on('change', function () {
          var val = $(selector + ':checked').val() ? true : false;
          var params = {};
          params[name] = val;
          $.ajax({url: '<%= notification_path %>', method: 'PATCH', data: params})
              .done(function (res) {
                console.log(res);
                $('.blink.' + name).fadeIn(2000).fadeOut(2000);
              })
              .fail(function (xhr) {
                console.log(xhr.responseText);
              });
        });
      }

      $(function () {
        attach_event_handler('email');
        attach_event_handler('dm');
        attach_event_handler('news');
        attach_event_handler('search');
      });
    })();
  </script>

  <%= render(partial: 'common/adsense', locals: {action: action_name, vertical: :top}) %>
</div>
