<% user = current_user %>

<div class="menu">
  <h2><small><%= t('notifications.setting') %></small></h2>
  <% %i(email dm news search).each do |name| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="1" <%= user.notification_setting.send("#{name}?") ? 'checked="checked"'.html_safe : '' %> name="<%= name %>">
        <div><%= t("notifications.desc.#{name}") %>
          <span style="display: none;" class="<%= name %> text-info blink small"><%= t('.updated') %></span>
        </div>
      </label>
    </div>
    <hr>
  <% end %>
  <script>
    $.each(['email', 'dm', 'news', 'search'], function (i, name) {
      var selector = 'input[name=' + name + ']';
      $(selector + ':checkbox').on('change', function () {
        var val = $(selector + ':checked').val() ? true : false;
        var params = {};
        params[name] = val;
        $.ajax({url: '<%= notification_path %>', method: 'PATCH', data: params})
            .done(function (res) {
              console.log(res);
              $('.blink.' + name).fadeIn(2000).fadeOut(2000);
            })
            .fail(function (xhr) {
              console.log(xhr.responseText);
            });
      });
    });
  </script>


  <div class="menu-search-histories">
    <h2 style="display: none;"><small><%= t('search_histories.index.title') %></small></h2>

    <%= render(partial: 'searches/adsense') %>
  </div>
  <script>
    $(function () {
      $.get('<%= search_histories_path %>', {in_modal: false})
          .done(function (res) {
            var container = $('.menu-search-histories');
            container.find('h2').show();
            container.append(res.html);
          })
          .fail(function (xhr) {
            console.log(xhr.responseText);
          });
    });
  </script>

  <% if user.admin? %>
    <h2><small><%= t('debug.index') %></small></h2>
    <div>
      <%= link_to t('debug.index'), debug_path, class: 'btn btn-lg btn-info btn-block', style: 'margin-bottom: 15px;' %>
    </div>

    <h2><small><%= t('kpis.index') %></small></h2>
    <div>
      <%= link_to t('kpis.index'), kpis_path, class: 'btn btn-lg btn-info btn-block', style: 'margin-bottom: 15px;' %>
    </div>

    <h2><small><%= BackgroundSearchLog.model_name.human %></small></h2>
    <div>
      <%= link_to BackgroundSearchLog.model_name.human, background_search_logs_path, class: 'btn btn-lg btn-info btn-block', style: 'margin-bottom: 15px;' %>
    </div>

    <h2><small><%= t('caches.clear') %></small></h2>
    <div>
      <%= link_to t('caches.clear'), clear_result_cache_path, class: 'btn btn-lg btn-info btn-block', style: 'margin-bottom: 15px;', method: :post %>
    </div>
  <% end %>
</div>
