<% title t('.title') %>

<h2 class="h4 text-center my-5"><%= t('.title') %></h2>
<p><%= t('.description_html', url: twitter_web_url('egotter_cs')) %></p>

<%= render partial: 'shared/about_plan' %>

<hr>

<h3 class="h5 mt-5 mb-3"><%= t('.trial.title') %></h3>
<p><%= t('.trial.description_html') %></p>

<h3 class="h5 mt-5 mb-3"><%= t('.not_trial.title') %></h3>
<p><%= t('.not_trial.description_html', url: refund_form) %></p>

<h4 class="h6 mt-5 mb-3"><%= t('.allow_list.title') %></h4>
<ul class="pl-4">
  <li><%= t('.allow_list.items')[0] %></li>
  <li><%= t('.allow_list.items')[1] %></li>
  <li><%= t('.allow_list.items')[2] %></li>
  <li><%= t('.allow_list.items')[3] %></li>
</ul>

<p><%= t('.allow_list.note_html') %></p>

<h4 class="h6 mt-5 mb-3"><%= t('.deny_list.title') %></h4>
<ul class="pl-4">
  <li><%= t('.deny_list.items')[0] %></li>
  <li><%= t('.deny_list.items')[1] %></li>
  <li><%= t('.deny_list.items')[2] %></li>
  <li><%= t('.deny_list.items')[3] %></li>
  <li><%= t('.deny_list.items')[4] %></li>
  <li><%= t('.deny_list.items')[5] %></li>
  <li><%= t('.deny_list.faq_html', url: support_path(via: current_via)) %></li>
  <li><%= t('.deny_list.items')[6] %></li>
</ul>

<p><%= t('.deny_list.note_html') %></p>
