<% title t('.title') %>

<h2 class="h4 text-center my-5"><%= t('.title') %></h2>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td>販売価格</td>
    <td>商品毎に記載</td>
  </tr>
  <tr>
    <td>販売価格以外に必要な費用</td>
    <td>インターネット接続には別途、ご契約の通信事業者への通信料が発生いたします。</td>
  </tr>
  <tr>
    <td>代金の支払方法・時期</td>
    <td>
      <div>クレジットカード (支払時期は各カード会社毎の引き落とし日になります)</div>
      <div>コンビニ決済と銀行振込にも一部対応しています。詳細は <%= link_to '料金プラン', pricing_path(via: current_via) %> をご参照ください。</div>
    </td>
  </tr>
  <tr>
    <td>引渡時期</td>
    <td>申込後即時にご利用いただけます。</td>
  </tr>
  <tr>
    <td>返品、不良品の交換について</td>
    <td>
      商品の特性上、返品または交換は原則としてお受け出来ません。ただし、困っている方には極力対応したいと思っていますので、お困りの際は
      <%= link_to '返金ポリシー', refund_policy_path(via: current_via) %> をよくご確認の上、
      <%= link_to '@egotter_cs', twitter_web_url('egotter_cs'), target: '_blank' %> までご連絡ください。
    </td>
  </tr>
  <tr>
    <td>解約条件</td>
    <td>契約期間内であれば、いつでも解約することができます。<br>解約は各サービスの設定ページより行うことが可能です。<br>途中解約による返金は承っておりません。</td>
  </tr>
  <tr>
    <td>お問い合わせ</td>
    <td><%= link_to '@egotter_cs', twitter_web_url('egotter_cs'), target: '_blank' %></td>
  </tr>
  </tbody>
</table>

<div class="text-muted small">
  事業者情報等についてはお問い合わせをいただき次第郵送にて速やかに開示いたします。その際、開示手数料として1回の請求につき3300円(税込)を申し受けます。正当な開示理由があると判断できた場合は、この手数料から事務手数料を差し引いた金額を銀行振込にてご返金いたします。
</div>
