<div class="support">
  <h2><small><%= t('dictionary.support') %></small></h2>
  <div style="margin-bottom: 10px;"><%= t('dictionary.support_lead') %></div>

  <hr>

  <h2><small><%= t('dictionary.contact_by_reply') %></small></h2>
  <div><%= t('dictionary.feel_free_to_reply',
               link: link_to(t('dictionary.official_account'), 'https://twitter.com/ego_tter', target: '_blank')).html_safe %></div>

  <hr>

  <h2><small><%= t('dictionary.faq') %></small></h2>
  <%= render(partial: 'misc/faq_items') %>
</div>