<% title t('.meta_title') %>

<h2 class="h4 text-center my-5"><%= t('.title') %></h2>
<p><%= t('.about_ego_tter_html', url: twitter_web_url('ego_tter')) %></p>
<p><%= t('.about_egotter_cs_html', url: twitter_web_url('egotter_cs')) %></p>

<%= render partial: 'shared/about_plan' %>

<hr>

<h2 class="h4 text-center my-5"><%= t('.faq') %></h2>
<%= render partial: 'misc/faq' %>
