.share-buttons
  .inner
    - tweet_text = t('inactive_friends.show.tweet', user: twitter_user.mention_name, inactive_friends: twitter_user.inactive_friends.size, inactive_followers: twitter_user.inactive_followers.size, inactive_mutual_friends: twitter_user.inactive_mutual_friends.size)
    - text = ".#{tweet_text} #egotter #InactiveFriends #{inactive_friend_url(screen_name: twitter_user.screen_name, type: type)}"
    = render partial: 'twitter/tweet_button', locals: {text: text}

%ul.nav.nav-tabs.nav-justified{role: 'tablist'}
  %li.nav-item{class: ('active' if type == 'inactive_friends')}
    %a.nav-link{href: '#inactive-friends', role: 'tab', 'data-toggle' => 'tab'}
      = t('searches.inactive_friends.num', num: twitter_user.inactive_friends.size).html_safe
  %li.nav-item{class: ('active' if type == 'inactive_followers')}
    %a.nav-link{href: '#inactive-followers', role: 'tab', 'data-toggle' => 'tab'}
      = t('searches.inactive_followers.num', num: twitter_user.inactive_followers.size).html_safe
  %li.nav-item{class: ('active' if type == 'inactive_mutual_friends')}
    %a.nav-link{href: '#inactive-mutual-friends', role: 'tab', 'data-toggle' => 'tab'}
      = t('searches.inactive_mutual_friends.num', num: twitter_user.inactive_mutual_friends.size).html_safe

.tab-content.inactive-friends.twitter.users
  #inactive-friends.tab-pane{role: 'tabpanel', class: ('active' if type == 'inactive_friends')}
    .loading-image.text-center= image_tag '/ajax-loader.gif'
  #inactive-followers.tab-pane{role: 'tabpanel', class: ('active' if type == 'inactive_followers')}
    .loading-image.text-center= image_tag '/ajax-loader.gif'
  #inactive-mutual-friends.tab-pane{role: 'tabpanel', class: ('active' if type == 'inactive_mutual_friends')}
    .loading-image.text-center= image_tag '/ajax-loader.gif'

.shown-later{style: 'display: none;'}
  .inactive-friends.lead= t('inactive_friends.show.lead_003', user: twitter_user.mention_name).html_safe
  = render partial: 'common/search_form', locals: {via: 'inactive_friends/show/bottom_input'}
  = render(partial: 'common/adsense', locals: {action: action_name, vertical: :bottom})
  .inactive-friends.lead= t('inactive_friends.show.lead_004')
  = link_to t('searches.common.search_xxx_by_egotter', user: twitter_user.mention_name), searches_path(screen_name: twitter_user.screen_name, via: "#{controller_name}/#{action_name}/bottom_button"), class: 'btn btn-info btn-block', style: 'margin-bottom: 15px;', method: :post

:javascript
  $(function () {
    var url = "#{inactive_friend_path(screen_name: twitter_user.screen_name, type: 'TYPE', format: :json)}";
    var type = "#{type.gsub(/_/, '-')}";

    $('a[href="#inactive-friends"]').on('click', {url: url}, tabClicked);
    $('a[href="#inactive-followers"]').on('click', {url: url}, tabClicked);
    $('a[href="#inactive-mutual-friends"]').on('click', {url: url}, tabClicked);

    $('a[href="#' + type + '"]').trigger('click');
  });