<% if @consecutive_access %>
  <%= alert_box category: 'primary', class: 'my-4' do %>
    <%= t('.consecutive_access_message_html', url: sign_in_path(via: current_via('consecutive_access'))) %>
  <% end %>
  <script>
    setTimeout(function () {
      window.alert('<%= strip_tags(t('.consecutive_access_message_html', url: '')) %>');
    }, 1000);
  </script>
<% end %>

<p class="mt-3"><%= t('.message_html', user: @screen_name, url: sign_in_path(via: current_via)) %></p>
<p><%= t('.reason_html') %></p>

<div><%= t('.solution', n: 1) %></div>
<p><%= t('.sign_in_html', user: @screen_name, url: sign_in_path(via: current_via)) %></p>

<div><%= t('.solution', n: 2) %></div>
<p><%= t('.switch_account_html', user: @screen_name, url: force_sign_in_path(via: current_via)) %></p>

<div><%= t('.solution', n: 3) %></div>
<p><%= t('.authentication_html') %></p>

<%= render partial: 'ad_section', locals: {screen_name: @screen_name} %>

<div class="mt-4 mb-1">Q. <%= t('.faq.q1') %></div>
<p class="mb-5"><%= t('.faq.a1_html') %></p>

<div class="mb-1">Q. <%= t('.faq.q2') %></div>
<p class="mb-5"><%= t('.faq.a2') %></p>

<div class="mb-1">Q. <%= t('.faq.q3') %></div>
<p class="mb-5"><%= t('.faq.a3_html') %></p>

<p><%= t('error_pages.support_html', url: direct_message_url(User::EGOTTER_CS_UID, t('short_messages.error_inquiry', name: action_name))) %></p>
