<p><%= t('.message_html') %></p>
<p><%= t('error_pages.support_html', url1: twitter_web_url('egotter_cs'), url2: direct_message_url(User::EGOTTER_CS_UID, t('short_messages.error_inquiry', name: action_name))) %></p>

<%= render(partial: 'profiles/profile_section', locals: {user: @user}) if @user %>

<%= render partial: 'ad_section', locals: {screen_name: @screen_name} %>

<%= render template: 'messages/too_many_api_requests' %>
