<p><%= t('.message1', count: @search_count_limitation.max_count) %></p>
<p><%= t('.message2') %></p>

<%= render(partial: 'profiles/profile_section', locals: {user: @user}) if @user %>

<%= render partial: 'ad_section', locals: {screen_name: @screen_name} %>

<%= render template: 'messages/too_many_searches', locals: {via: 'too_many_searches_message'} %>
