<% destroy_limit = DeleteTweetsRequest::DESTROY_LIMIT %>

<h3 id="delete-tweets-faq" class="h5 text-center mt-5 mb-3">ツイート削除のよくある質問</h3>

<% faq_id :auto %>
<% faq_question 'ツイートクリーナーとは何ですか？' %>
<% faq_answer do %>
  ツイートを一括削除するためのツールです。<%= destroy_limit %>件までのツイートは無料で削除できます。<br>
  <br>
  <%= destroy_limit %>件を超えるツイートは、えごったー有料プランのユーザーであれば全て削除できます。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">もっと詳しく</a>
<% end %>

<% faq_id :auto %>
<% faq_question '無料で使ってみることはできますか？' %>
<% faq_answer do %>
  できます。<%= destroy_limit %>件までのツイートは無料プランで削除できます。<br>
  <br>
  試してみたい方はページ上部の「○○のツイートを削除する」と書かれた<span class="text-danger">赤いボタン</span>を押してみてください。
<% end %>

<% faq_id :auto %>
<% faq_question '他の人にRTやブックマークされたツイートも削除されますか？' %>
<% faq_answer do %>
  削除されます。公式RTやブックマークされたツイートも削除対象です。<br>
  <br>
  ただし、引用RT（コピペしてRT）の場合は、削除することができません。
<% end %>

<% faq_id :auto %>
<% faq_question '日付、画像の有無、リプライ等の条件指定で削除できますか？' %>
<% faq_answer do %>
  有料プランを購入済みであれば、単純な日付指定はお引き受けいたします。可能かどうか事前にご確認ください。この場合、失敗した場合の補償はありませんのでご注意ください。<br>
  <br>
  複雑な条件指定には追加の料金をいただいております。こちらも事前にご相談ください。
<% end %>

<% faq_id :auto %>
<% faq_question 'ツイート削除に失敗した場合の返金はありますか？' %>
<% faq_answer do %>
  記載の手順通りに試して失敗した場合は、有料プラン1ヶ月分を返金いたします。<br>
  <br>
  その際は「ツイート削除に失敗したため返金希望」の旨を <a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までご連絡ください。
<% end %>

<% faq_id :auto %>
<% faq_question '最大で何件までツイートを削除することができますか？' %>
<% faq_answer do %>
  有料プランの場合、過去事例では30万件のツイートを約1時間で削除できました。<br>
  <br>
  記録更新のため、30万件を超えるツイート数の方は無料で全てのツイートを削除します。<br>
  <br>
  希望される方は「30万件以上のツイート削除」の旨を <a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までご連絡ください。
<% end %>

<% faq_id 'download-full-archive' %>
<% faq_question '有料プランを購入しました。全てのツイートを削除する手順を教えてください' %>
<% faq_answer do %>

  「全ツイート履歴」を用意し、アップロードしてください。それで手順は完了です。<br>
  <br>
  1. 「全ツイート履歴」を<strong>ダウンロード</strong>する<br>
  <a href="https://twitter.com/settings/your_twitter_data" target="_blank">ツイッター設定 > アーカイブをダウンロード</a> から「全ツイート履歴」をダウンロードする<br>
  <br>
  2. 「全ツイート履歴」を<strong>アップロード</strong>する<br>
  えごったーの <a href="#delete-tweets-uploader">アップロード機能</a> をご利用ください。<br>
  <br>
  「全ツイート履歴」のアップロード後に、<a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までDMにてご連絡ください。<br>
  <br>
  手順中で分からないことがありましたら、<a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までお気軽にご質問ください。
<% end %>

<% faq_id :auto %>
<% faq_question 'トライアル期間中でも全てのツイートの削除は可能ですか？' %>
<% faq_answer do %>
  可能です。この場合、トライアル期間は終了しすぐに支払いが始まります。
<% end %>

<% faq_id :auto %>
<% faq_question 'ツイート削除は取り消しできますか？' %>
<% faq_answer do %>
  取り消しできません。一度削除されたツイートを元に戻すことはできませんのでご注意ください。
<% end %>

<% faq_id :auto %>
<% faq_question 'ツイートの削除後もツイート総数が変化しないのはなぜですか？' %>
<% faq_answer do %>
  ツイッターの仕組み上、ツイート削除後もツイート総数が変化しないことがあるようです。<br>
  <br>
  例えば、100件のツイートがあるユーザーが全てのツイートを削除しても、ツイート数は100件と表示されたままになることがあります。
<% end %>

<% faq_id :auto %>
<% faq_question '削除されたツイートが表示され続けるのはなぜですか？' %>
<% faq_answer do %>
  ツイッターの仕組み上、削除済みのツイートがしばらく表示され続けることがあります。<br>
  <br>
  ページを更新したり、ツイッターにログインし直すと削除済みのツイートは画面から消えます。
<% end %>

<% faq_id :auto %>
<% faq_question '古いツイートが削除されないのはなぜですか？' %>
<% faq_answer do %>
  ツイッターの仕組み上、自動で削除できるのは<%= destroy_limit %>件までです。これは世界中の全てのツールで共通の制限です。<br>
  <br>
  えごったーでは、<%= destroy_limit %>件を超えるツイートを安全に削除する方法を確立しています。<br>
  <br>
  全てのツイートの削除を希望される方は、有料プランの購入後、<a href="#download-full-archive"><%= destroy_limit %>件よりも多いツイートを削除する方法</a> の手順をお試しください。
  <a href="#" class="btn btn-outline-primary btn-sm btn-checkout">購入する</a>
<% end %>

<% faq_id :auto %>
<% faq_question '画像付きツイートが削除されないのはなぜですか？' %>
<% faq_answer do %>
  ツイッターの仕組み上、ツイート数の多い/少ないに関わらず、画像付きツイートが削除されずに残ることがあります。これは世界中の全てのツールで共通の制限です。<br>
  <br>
  この条件に該当する方は、全てのツイートを削除できるえごったー有料プランのご利用をご検討ください。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">購入する</a>
<% end %>

<% faq_id :auto %>
<% faq_question '1回で全てのツイートが削除されないことがあるのはなぜですか？' %>
<% faq_answer do %>
  ツイッターの仕組み上、自動で削除できるのは最新の<%= destroy_limit %>件までです。これは世界中の全てのツールで共通の制限です。<br>
  <br>
  <%= destroy_limit %>件を超える全てのツイートの削除を希望される方は、えごったー有料プランのご利用をご検討ください。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">購入する</a>
<% end %>

<% faq_id :auto %>
<% faq_question 'ツイートクリーナーを複数回使えば無料で全て削除できますか？' %>
<% faq_answer do %>
  できません。最新の<%= destroy_limit %>件を削除後は、自動で削除できなくなります。これは世界中の全てのツールで共通の制限です。<br>
  <br>
  <%= destroy_limit %>件を超える全てのツイートの削除を希望される方は、えごったー有料プランのご利用をご検討ください。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">購入する</a>
<% end %>

<% faq_id :auto %>
<% faq_question 'ここに書いていないことを質問することはできますか？' %>
<% faq_answer do %>
  サポートアカウント <a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までお気軽にご質問ください。
<% end %>

<ul class="list-group list-group-flush">
  <% faq_questions.each.with_index do |q, i| %>
    <%= link_to q, "##{faq_ids[i]}", class: 'list-group-item' %>
  <% end %>
</ul>

<% faq_questions.each.with_index do |q, i| %>
  <%= render partial: 'misc/q', locals: {id: faq_ids[i], text: q} %>
  <div class="mb-5">
    <%= faq_answers[i].html_safe %>
  </div>
<% end %>
