<% destroy_limit = DeleteTweetsRequest::DESTROY_LIMIT %>

<h3 id="delete-tweets-faq" class="h5 text-center mt-5 mb-3">ツイート削除のよくある質問</h3>

<% faq_section 'ツイートクリーナー 全般' do %>
  <% faq_question 'ツイートクリーナーとは何ですか？' do %>
    ツイートを一括削除するためのツールです。<%= destroy_limit %>件までのツイートは無料で削除できます。<br>
    <br>
    <%= destroy_limit %>件を超えるツイートは、えごったー有料プランのユーザーであれば全て削除できます。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">もっと詳しく</a>
  <% end %>

  <% faq_question 'ツイートクリーナーで何ができますか？' do %>
    ツイートを一括削除することができます。<%= destroy_limit %>件までのツイートは無料で削除できます。<br>
    <br>
    <%= destroy_limit %>件を超えるツイートは、えごったー有料プランのユーザーであれば全て削除できます。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">もっと詳しく</a>
  <% end %>

  <% faq_question 'ツイートクリーナーは無料で使えますか？' do %>
    使えます。<%= destroy_limit %>件までのツイートは無料プランで削除できます。<br>
    <br>
    試してみたい方は、<%= link_to 'ツイート削除マイページ', delete_tweets_mypage_path %>へお進みください。
  <% end %>

  <% faq_question '他の人にRTやブックマークされたツイートも削除されますか？' do %>
    削除されます。公式RTやブックマークされたツイートも削除対象です。<br>
    <br>
    ただし、引用RT（コピペしてRT）の場合は、削除することができません。
  <% end %>

  <% faq_question '日付、画像の有無、リプライ等の条件指定で削除できますか？' do %>
    有料プランを購入済みであれば、単純な日付指定はお引き受けいたします。可能かどうか事前にご確認ください。この場合、失敗した場合の補償はありませんのでご注意ください。<br>
    <br>
    複雑な条件指定には追加の料金をいただいております。こちらも事前にご相談ください。
  <% end %>

  <% faq_question '最大で何件までツイートを削除することができますか？' do %>
    有料プランの場合、過去事例では30万件のツイートを約1時間で削除できました。<br>
    <br>
    記録更新のため、30万件を超えるツイート数の方は無料で全てのツイートを削除します。<br>
    <br>
    希望される方は「30万件以上のツイート削除」の旨を <a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までご連絡ください。
  <% end %>

  <% faq_question '無料プランでツイートを削除する方法を教えてください' do %>
    <%= link_to 'ツイート削除マイページ', delete_tweets_mypage_path %>へ進んだ後に、「無料で直近のツイートを削除する」と書かれた赤いボタンを押してください。<br>
    <br>
    ボタンを押すと確認事項が表示されます。その内容をよく読み、次の手順に進んでください。
  <% end %>

  <% faq_question '有料プランを購入しました。全てのツイートを削除する手順を教えてください', id: 'download-full-archive' do %>
    「アーカイブデータ」を用意し、アップロードしてください。それで手順は完了です。<br>
    <br>
    1. 「アーカイブデータ」を<strong>ダウンロード</strong>する<br>
    <a href="https://twitter.com/settings/download_your_data" target="_blank">ツイッター設定 > アーカイブをダウンロード</a><br>
    から「アーカイブデータ」をダウンロードする<br>
    <br>
    2. 「アーカイブデータ」を<strong>アップロード</strong>する<br>
    えごったーの <a href="#delete-tweets-uploader">アップロード機能</a> をご利用ください。<br>
    <br>
    「アーカイブデータ」のアップロード後に、<a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までDMにてご連絡ください。<br>
    <br>
    手順中で分からないことがありましたら、<a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までお気軽にご質問ください。
  <% end %>

  <% faq_question '「削除を待っている間にしたツイート」は削除されますか？' do %>
    削除されません。「ツイート削除の依頼より後にしたツイート」は削除せずに残しています。必要な場合はご自身で削除してください。
  <% end %>

  <% faq_question 'ツイート削除完了後に通知は届きますか？' do %>
    届きます。無料版と有料版の両方で削除完了後にDMが届きます。<br>
    <br>
    削除完了の通知は @egotter_cs からDMで届きます。「DMを受け取れる設定」にしておくことを忘れないでください。
  <% end %>

  <% faq_question 'トライアル期間中でも全てのツイートの削除は可能ですか？' do %>
    可能です。この場合、トライアル期間は終了しすぐに支払いが始まります。<br>
    <br>
    トライアル期間とは：えごったーの有料プランを初めて購入してから <%= Order::TRIAL_DAYS %>日間 のことです。この期間内のキャンセルであれば通常は支払いは発生しません。
    ただし、この期間中に「有料プランでツイートを完全削除」をご利用いただくと、その時点からすぐに初回の支払いが発生します。
  <% end %>

  <% faq_question 'ツイート削除は取り消しできますか？' do %>
    取り消しできません。一度削除されたツイートを元に戻すことはできませんのでご注意ください。
  <% end %>

  <% faq_question 'ツイートの削除後もツイート総数が変化しないのはなぜですか？' do %>
    ツイッターの仕組み上、ツイート削除後もツイート総数が変化しないことがあるようです。<br>
    <br>
    例えば、100件のツイートがあるユーザーが全てのツイートを削除しても、ツイート数は100件と表示されたままになることがあります。
  <% end %>

  <% faq_question '削除されたツイートが表示され続けるのはなぜですか？' do %>
    ツイッターの仕組み上、削除済みのツイートがしばらくアプリに表示され続けることがあります。<br>
    <br>
    ページを更新したり、ツイッターアプリにログインし直すと削除済みのツイートは画面から消えます。
  <% end %>

  <% faq_question '古いツイートが削除されないのはなぜですか？' do %>
    ツイッターの仕組み上、自動で削除できるのは<%= destroy_limit %>件までです。これは世界中の全てのツールで共通の制限です。<br>
    <br>
    えごったーでは、<%= destroy_limit %>件を超えるツイートを安全に削除する方法を確立しています。<br>
    <br>
    一括で簡単に古いツイートを削除したい方は、全てのツイートを削除できるえごったー有料プランのご利用をご検討ください。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">購入する</a>
  <% end %>

  <% faq_question '画像付きツイートが削除されないのはなぜですか？' do %>
    ツイッターの仕組み上、ツイート数の多い/少ないに関わらず、画像付きツイートが削除されずに残ることがあります。これは世界中の全てのツールで共通の制限です。<br>
    <br>
    この条件に該当する方は、全てのツイートを削除できるえごったー有料プランのご利用をご検討ください。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">購入する</a>
  <% end %>

  <% faq_question '1回で全てのツイートが削除されないことがあるのはなぜですか？', id: 'reason-of-3200' do %>
    ツイッターの仕組み上、自動で削除できるのは最新の<%= destroy_limit %>件までです。これは世界中の全てのツールで共通の制限です。<br>
    <br>
    <%= destroy_limit %>件を超える全てのツイートの削除を希望される方は、えごったー有料プランのご利用をご検討ください。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">購入する</a>
  <% end %>

  <% faq_question "無料のままで#{destroy_limit}件を超えるツイートが削除されました。なぜですか？" do %>
    ツイッター公式情報では通常削除できるのは<%= destroy_limit %>件までとなっているのですが、たまに<%= destroy_limit + 800 %>件近く削除されることがあるようです。<br>
    <br>
    これはたまに起きるツイッターのエラーのようなもので、えごったー側で制御することはできないようです。
  <% end %>

  <% faq_question '無料版のツイートクリーナーを何度も使えば無料で全て削除できますか？' do %>
    数ヶ月〜1年ほどかければできるようです。<br>
    （保証はできません）<br>
    <br>
    ツイート総数が<%= destroy_limit %>件以上ある場合、無料プランで全てのツイートを削除するには下記の手順が必要です。<br>
    <br>
    1. <%= destroy_limit %>件のツイートをえごったーで削除する<br>
    2. しばらくは表示されるツイートが無い状態になる<br>
    3. 数ヶ月後、残りのツイートが表示され始める<br>
    4. 表示されたツイートを削除し、1. に戻る<br>
    <br>
    えごったーの有料プランであれば、上記のような面倒な手順は不要です。<a href="#" class="btn btn-outline-primary btn-sm btn-checkout">購入する</a>
  <% end %>

  <% faq_question 'ここに書いていないことを質問することはできますか？' do %>
    サポートアカウント <a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までお気軽にご質問ください。
  <% end %>
<% end %>

<% faq_section 'アーカイブデータについて' do %>
  <% faq_question 'アーカイブデータとは何ですか？', id: 'what_is_archive_data' do %>
    ツイッターからダウンロードできる「今までのツイートが全て入ったデータ」のことです。<br>
    <br>
    全てのツイートの削除をする場合は必ずこのデータを用意する必要があります。
  <% end %>

  <% faq_question 'アーカイブデータはどこにありますか？' do %>
    <a href="https://twitter.com/settings/download_your_data" target="_blank">ツイッターの設定 > データのアーカイブをダウンロード</a> からダウンロードできます。<br>
    <br>
    さらに詳細は <a href="https://help.twitter.com/ja/managing-your-account/how-to-download-your-twitter-archive" target="_blank">全ツイート履歴をダウンロードする方法</a> をご覧ください。
  <% end %>

  <% faq_question 'アーカイブデータのアップロード完了後に通知は届きますか？' do %>
    届きます。アーカイブデータのアップロード完了後にDMが届きます。<br>
    <br>
    アップロード完了の通知は @egotter_cs からDMで届きます。「DMを受け取れる設定」にしておくことを忘れないでください。
  <% end %>

  <% faq_question 'アーカイブデータのアップロードにはどれくらい時間がかかりますか？' do %>
    ツイート総数が 約10万件 未満であれば、通常は5分以内にアップロードが完了します。<br>
    <br>
    インターネット回線が遅いとさらに時間がかかることがあるようです。その際は、Wi-Fiを試すと早くアップロードできます。また、スマホよりはパソコンから操作した方が早く完了するようです。
  <% end %>

  <% faq_question 'アーカイブデータのアップロードが進まなくなりました。' do %>
    スマホが速度制限を受けているとアップロードが進まなくなることがあるようです。その際は、速度制限がなくなってから試すか、Wi-Fiが使える環境でアップロードをお試しください。
  <% end %>

  <% faq_question 'アーカイブデータのアップロード後、削除完了までどれくらい時間がかかりますか？' do %>
    早い場合は1時間以内に削除完了します。サーバーの負荷が高い場合は、日本時間の深夜に少しずつ削除していきます。<br>
    <br>
    通常は遅くとも2〜3日以内に削除が完了します。
    それ以上時間がかかっている場合は、<a href="https://twitter.com/egotter_cs" target="_blank">@egotter_cs</a> までお気軽にご質問ください。
  <% end %>
<% end %>

<% faq_section '返金について' do %>
  <% faq_question 'ツイート削除に失敗した場合の返金はありますか？' do %>
    記載の手順通りに試して失敗した場合は、有料プラン1ヶ月分を返金いたします。<br>
    <br>
    その際は「ツイート削除に失敗したため返金希望」の旨を
    <a href="<%= direct_message_url(User::EGOTTER_CS_UID, 'ツイート削除により返金を希望します：（理由をここに書いてください）') %>" target="_blank">@egotter_cs</a> までご連絡ください。
  <% end %>
<% end %>


<% @faq_sections.each do |section, questions| %>
  <h3 class="h5 my-5"><%= section %></h3>
  <ol>
    <% questions.each do |question| %>
      <li class="text-muted mb-2"><%= link_to question[:text], "##{question[:id]}", class: 'text-primary' %></li>
    <% end %>
  </ol>
  <hr>
<% end %>

<% @faq_sections.each do |section, questions| %>
  <h3 class="h5 my-5"><%= section %></h3>
  <% questions.each do |question| %>
    <%= render partial: 'misc/q', locals: {id: question[:id], text: question[:text]} %>
    <div class="mb-5"><%= question[:answer] %></div>
  <% end %>
<% end %>
