<h2 class="h4 text-center my-5"><%= t('.questions_title') %></h2>

<%= render partial: 'misc/q', locals: {text: t('.question1')} %>
<div class="mb-5"><%= t('.answer1_html') %></div>

<%= render partial: 'misc/q', locals: {text: t('.question2')} %>
<div class="mb-5"><%= t('.answer2_html') %></div>

<%= render partial: 'misc/q', locals: {text: t('.question3')} %>
<div class="mb-5"><%= t('.answer3_html') %></div>

<%= render partial: 'misc/q', locals: {text: t('.question4')} %>
<div class="mb-5"><%= t('.answer4_html') %></div>

