<div class="my-5"><%= t('.description') %></div>

<div id="delete-tweets-history-container">
  <div class="loading my-5">
    <%= image_tag '/ajax-loader.gif', size: '16x16' %>
    <%= t('.loading') %>
  </div>

  <div class="error-message-container" style="display: none;">
    <%= alert_box category: 'danger', class: 'error-message my-5' do %>
    <% end %>
  </div>

  <table class="table small my-3" style="display: none;">
    <tr>
      <td><%= t('.date') %></td>
      <td><%= t('.type') %></td>
      <td><%= t('.reservations') %></td>
      <td><%= t('.deletions') %></td>
    </tr>
  </table>
</div>

<script>
  $(function () {
    var historyTabShown = <%= delete_tweets_history_tab? %>;
    if (historyTabShown) {
      loadHistory();
    }

    $('#delete-tweets-history-tab').on('shown.bs.tab', loadHistory);

    function loadHistory() {
      var url = '<%= raw api_v1_delete_tweets_histories_path %>';
      var container = $('#delete-tweets-history-container');

      if (container.data('loaded')) {
        return;
      }
      container.data('loaded', true);

      $.get(url).done(function (res) {
        var requests = res.requests;
        var template = window.templates['deleteTweetsHistory'];

        container.find('.loading').remove();
        container.find('table').show();
        var tbody = container.find('tbody');

        for (var i = 0; i < requests.length; i++) {
          var request = requests[i];
          var rendered = Mustache.render(template, request);
          tbody.append(rendered);
        }

        if (res.error_message) {
          container.find('.error-message').html(res.error_message);
          container.find('.error-message-container').show();
        }
      }).fail(showErrorMessage);
    }
  });
</script>
