<%= modal_dialog(id: modal_id, title: t('.title'), button: {positive: t('.ok'), category: 'outline-secondary'}) do %>
  <div id="delete-tweets-history-container">
    <div class="loading my-5">
      <%= image_tag '/ajax-loader.gif', size: '16x16' %>
      <%= t('.loading') %>
    </div>

    <div class="error-message-container" style="display: none;">
      <%= alert_box category: 'danger', class: 'error-message mt-2 mb-4' do %>
      <% end %>
    </div>

    <table class="table table-sm small" style="display: none;">
      <tr>
        <td><%= t('.date') %></td>
        <td><%= t('.type') %></td>
        <td><%= t('.reservations') %></td>
        <td><%= t('.deletions') %></td>
      </tr>
    </table>
  </div>
<% end %>

<script>
  $(function () {
    $('#<%= modal_id %>').on('shown.bs.modal', loadHistory);

    function loadHistory() {
      var url = '<%= raw api_v1_delete_tweets_histories_path %>';
      var container = $('#delete-tweets-history-container');

      if (container.data('loaded')) {
        return;
      }
      container.data('loaded', true);

      $.get(url).done(function (res) {
        var requests = res.requests;
        var template = window.templates['deleteTweetsHistory'];

        container.find('.loading').remove();
        container.find('table').show();
        var tbody = container.find('tbody');

        for (var i = 0; i < requests.length; i++) {
          var request = requests[i];
          var rendered = Mustache.render(template, request);
          tbody.append(rendered);
        }

        if (res.error_message) {
          container.find('.error-message').html(res.error_message);
          container.find('.error-message-container').show();
        }
      }).fail(showErrorMessage);
    }
  });
</script>
