<div id="delete-tweets-uploader" class="my-5"><%= t('.description', user: current_user.screen_name) %></div>

<div class="card my-3">
  <div class="card-body">
    <div class="card-text">

      <div><%= t('.how_to_html', url: delete_tweets_faq_path(anchor: 'download-full-archive', via: current_via)) %></div>

      <div class="my-4">
        <div>
          <label for="premium_since_date"><%= t('.since_date') %></label>
          <%= date_field_tag('premium_since_date') %>
        </div>
        <div>
          <label for="premium_until_date"><%= t('.until_date') %></label>
          <%= date_field_tag('premium_until_date') %>
        </div>

        <div id="premium_dates_error_message" class="small text-danger mt-2" style="display: none;"><%= t('.dates_are_invalid') %></div>
      </div>

      <div class="mb-4">
        <%= check_box_tag('premium_multiple_retry', '1', false) %>
        <span class="text-danger"><%= t('.required') %></span>
        <label class="d-inline" for="premium_multiple_retry"><%= t('.multiple_retry') %></label>
      </div>

      <div class="mb-4">
        <%= check_box_tag('premium_complete_data', '1', false) %>
        <span class="text-danger"><%= t('.required') %></span>
        <label class="d-inline" for="premium_complete_data"><%= t('.complete_data') %></label>
      </div>

      <div class="my-4">
        <div>
          <%= check_box_tag('premium_send_dm', '1', true, disabled: true) %>
          <label for="premium_send_dm"><%= t('.send_dm') %></label>
          <span class="small"><%= link_to t('.send_test_message'), direct_message_url(User::EGOTTER_UID, t('.test_message')), target: '_blank' %></span>
          <span class="small"><%= link_to t('.reason'), '#', onclick: "window.alert('#{t('.test_message_reason')}'); return false;" %></span>
        </div>
      </div>

      <% if current_user.has_valid_subscription? %>
        <% if current_user.has_trial_subscription? %>
          <div class="text-center mt-3">
            <%= link_to '#', class: 'btn btn-outline-primary btn-end-trial' do %>
              <img class="rounded-circle" src="<%= current_user_icon %>" width="28" height="28">
              <%= t('.button') %>
            <% end %>
          </div>
          <div class="text-muted small">
            <div class="mt-1"><%= t('.note1_html', url: delete_tweets_mypage_path(anchor: 'what_is_archive_data')) %></div>
            <div class="mt-1"><%= t('.note2') %></div>
          </div>
        <% else %>
          <div class="text-center mt-3">
            <%= link_to '#', id: 'delete-tweets-button', class: 'btn btn-outline-primary' do %>
              <img class="rounded-circle" src="<%= current_user_icon %>" width="28" height="28">
              <%= t('.button') %>
            <% end %>
          </div>
          <div class="text-muted small">
            <div class="mt-1"><%= t('.note1_html', url: delete_tweets_mypage_path(anchor: 'what_is_archive_data')) %></div>
            <div class="mt-1"><%= t('.note2') %></div>
            <div class="mt-1"><%= t('.note4') %></div>
          </div>
          <script>
            $(function () {
              var datesAreInvalid = '<%= t('.dates_are_invalid') %>';
              var checkIsRequired = '<%= t('.check_is_required') %>';
              var datesSelector = new DeleteTweetsDatesSelector('premium_since_date', 'premium_until_date', 'premium_dates_error_message');
              var multipleRetryCheckbox = new DeleteTweetsRequiredCheckbox('premium_multiple_retry');
              var completeDataCheckbox = new DeleteTweetsRequiredCheckbox('premium_complete_data');

              $('#delete-tweets-button').on('click', function (e) {
                var validated = [
                  datesSelector.validate(),
                  multipleRetryCheckbox.validate(),
                  completeDataCheckbox.validate()
                ];

                if (!validated[0]) {
                  e.stopImmediatePropagation(); // Prevent a file selector from being opened
                  window.alert(datesAreInvalid);
                  return false;
                }

                if (!validated[1] || !validated[2]) {
                  e.stopImmediatePropagation(); // Prevent a file selector from being opened
                  window.alert(checkIsRequired);
                  return false;
                }
              });
            });
          </script>
          <%= render partial: 'uploader', locals: {
            file_id: 'delete-tweets-file',
            button_id: 'delete-tweets-button',
            notify_url: api_v1_delete_tweets_notifications_path,
            bucket_name: S3::ArchiveData.delete_tweets_bucket_name,
            identity_pool_id: S3::ArchiveData.delete_tweets_identity_pool_id} %>
        <% end %>
      <% else %>
        <div class="text-center mt-3">
          <%= link_to pricing_path(via: current_via('button')), id: 'btn-delete-tweets-uploader', class: 'btn btn-outline-primary' do %>
            <img class="rounded-circle" src="<%= current_user_icon %>" width="28" height="28">
            <%= t('.button') %>
          <% end %>
        </div>
        <div class="text-muted small">
          <div class="mt-1"><%= t('.note1_html', url: delete_tweets_faq_path(anchor: 'what_is_archive_data')) %></div>
          <div class="mt-1"><%= t('.note3_html', url: pricing_path(via: current_via('note'))) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
