<%= link_to button_label, '#', id: 'delete-tweets-button', class: 'btn btn-outline-primary' %>
<div class="text-muted small mt-1"><%= t('.archive_data_only') %></div>
<input type="file" id="delete-tweets-file" accept=".zip,application/zip" style="display: none;">

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.820.0.min.js"></script>

<script>
  $(function () {
    var i18n = {
      invalidFilename: '<%= t('.invalid_filename_html', device_type: request.device_type, os: request.os, browser: request.browser) %>',
      invalidContentType: '<%= t('.invalid_content_type_html', device_type: request.device_type, os: request.os, browser: request.browser) %>',
      filesizeTooSmall: '<%= t('.filesizeTooSmall') %>',
      filesizeTooLarge: '<%= t('.filesizeTooLarge') %>',
      preparing: '<%= t('.preparing_html') %>',
      uploading: '<%= t('.uploading_html') %>',
      alertOnBeforeunload: '<%= t('.alert_on_beforeunload') %>',
      success: '<%= t('.success_html') %>',
      fail: '<%= t('.fail_html') %>'
    };
    var options = {
      IdentityPoolId: '<%= ENV['DELETE_TWEETS_IDENTITY_POOL_ID'] %>',
      bucket: '<%= S3::ArchiveData.bucket_name %>',
      key: '<%= current_user.uid %>' + '-' + '<%= current_user.screen_name %>' + '-' + new Date().getTime() + '-' + Math.random().toString(36).substring(7)
    };
    new DeleteTweetsUploader('delete-tweets-button', 'delete-tweets-file', options, i18n);
  });
</script>
