- content_for :navbar_title, t('.navbar_title')

- breadcrumb :delete_tweets_mypage

%h2.h4.text-center.my-5= t('.page_title')
.mb-5= t('.page_description', count: DeleteTweetsRequest::DESTROY_LIMIT)

- if @processing
  = render partial: 'processing'
- else
  = render partial: 'free'

= render partial: 'premium'

%h3.h5.text-center.mt-5.mb-3= t('.status.title')
.text-center.mb-3= t('.status.description', user: current_user.screen_name)
%table.table.table-bordered.table-condensed
  %tr
    - if @request
      %td.small= @request.display_time
      %td.small= @request.message.html_safe
    - else
      %td.small.text-muted= t('.status.empty_date')
      %td.small.text-muted= t('.status.no_request_description', user: current_user.screen_name)

= render partial: 'delete_tweets/faq'
