<% content_for :navbar_title, t('.navbar_title') %>

<div class="mb-5"><%= t('.page_description_html', count: @max_count) %></div>

<ul class="nav nav-tabs oneline-tabs">
  <li class="nav-item">
    <a id="open-search-deletable-tweets-tab" class="nav-link <%= class_names(active: delete_tweets_search_tab?) %>" href="#search-tab" data-toggle="tab"><%= t('delete_tweets.search.title') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= class_names(active: delete_tweets_free_tab?) %>" href="#free-tab" data-toggle="tab"><%= t('delete_tweets.free.title') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= class_names(active: delete_tweets_premium_tab?) %>" href="#premium-tab" data-toggle="tab"><%= t('delete_tweets.premium.title') %></a>
  </li>
  <li class="nav-item">
    <a id="open-delete-tweets-history-tab" class="nav-link" href="#history-tab" data-toggle="tab"><%= t('delete_tweets.history.title') %></a>
  </li>
</ul>

<div class="tab-content">
  <div id="search-tab" class="tab-pane <%= class_names(active: delete_tweets_search_tab?) %>">
    <%= render partial: 'search' %>
  </div>
  <div id="free-tab" class="tab-pane <%= class_names(active: delete_tweets_free_tab?) %>">
    <%= render partial: 'free', locals: {processing: @processing, max_count: @max_count} %>
  </div>
  <div id="premium-tab" class="tab-pane <%= class_names(active: delete_tweets_premium_tab?) %>">
    <%= render partial: 'premium' %>
  </div>
  <div id="history-tab" class="tab-pane">
    <%= render partial: 'history' %>
  </div>
</div>

<%= render partial: 'delete_tweets/faq' %>
