<% content_for :navbar_title, t('.navbar_title') %>

<div class="mb-5"><%= t('.page_description_html', count: @max_count) %></div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="open-search-deletable-tweets-tab" class="nav-link" href="#search-tab" data-toggle="tab"><%= t('delete_tweets.search.title') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#free-tab" data-toggle="tab"><%= t('delete_tweets.free.title') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#premium-tab" data-toggle="tab"><%= t('delete_tweets.premium.title') %></a>
  </li>
</ul>

<div class="tab-content">
  <div id="search-tab" class="tab-pane">
    <%= render partial: 'search' %>
  </div>
  <div id="free-tab" class="tab-pane active">
    <%= render partial: 'free', locals: {processing: @processing, max_count: @max_count} %>
  </div>
  <div id="premium-tab" class="tab-pane">
    <%= render partial: 'premium' %>
  </div>
</div>

<%= render partial: 'delete_tweets/faq' %>
