.update-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.updating', user: twitter_user.mention_name)
  = image_tag '/ajax-loader.gif'

.refresh-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  %span= t('common.show.update_is_coming', user: twitter_user.mention_name)
  = link_to(t('common.show.update_result'), timeline_path(twitter_user), class: 'btn btn-default btn-sm')

.welcome-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.need_sign_in', user: twitter_user.mention_name)
  = link_to(t('common.show.sign_in'), sign_in_path(via: "#{controller_name}/#{action_name}/welcome_box", redirect_path: timeline_path(twitter_user)), class: 'btn btn-default btn-sm')

.follow-box.alert.alert-warning.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.need_follow', user: twitter_user.mention_name)
  = link_to(t('common.show.follow'), sign_in_path(via: "#{controller_name}/#{action_name}/follow_box", redirect_path: timeline_path(twitter_user), follow: true), class: 'btn btn-default btn-sm')

.additional-func-box.alert.alert-warning.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.additional_func')
  = link_to(t('common.show.sign_in'), sign_in_path(via: "#{controller_name}/#{action_name}/additional_func", redirect_path: timeline_path(twitter_user)), class: 'btn btn-default btn-sm')

:javascript
  (function () {
    var checkForUpdatesPath = '#{check_for_updates_path(uid: twitter_user.uid, created_at: twitter_user.created_at.to_i)}';
    var checkForFollowPath = '#{check_for_follow_path(uid: twitter_user.uid)}';
    var retryCount = 0;
    var friendless = #{twitter_user.friendless?};
    var signedIn = #{user_signed_in?};
    var jid = "#{jid}";
    var additionalFunc = #{!user_signed_in? && %w(unfriends unfollowers blocking_or_blocked).include?(controller_name)};

    var $updateBox = $('.update-box');
    var $refreshBox = $('.refresh-box');
    var $welcomeBox = $('.welcome-box');
    var $followBox = $('.follow-box');
    var $additionalFuncBox = $('.additional-func-box');

    $.each([$updateBox, $refreshBox, $welcomeBox, $followBox, $additionalFuncBox], function (i, btn) {
      btn.on('close.bs.alert', function () {
        btn.parent().hide();
      });
    });

    function checkForFollow () {
      $.getJSON(checkForFollowPath, function (res) {
        console.log('checkForFollow', res);

        if (!res.follow) {
          $followBox.show().sticky();
        }
      });
    }

    function updatesNotFound () {
      if (signedIn) {
        checkForFollow();
      } else {
        if (friendless) {
          $welcomeBox.show().sticky();
        }
      }
    }

    function checkForUpdates () {
      $.get(checkForUpdatesPath)
        .done(function (res) {
        console.log('checkForUpdates', res);

          if (res.found) {
            $updateBox.alert('close');
            if (res.text) {
              $refreshBox.find('span').text(res.text);
            }
            $refreshBox.show().sticky();
          } else {
            if (retryCount < 2) {
              retryCount++;
              setTimeout(checkForUpdates, 8000);
            } else {
              $updateBox.alert('close');
              updatesNotFound();
            }
          }
        })
        .fail(function (xhr) {
          $updateBox.alert('close');
          console.log('checkForUpdates failed.', xhr);
        });
    }

    $(function () {
      if (additionalFunc) {
        $additionalFuncBox.show().sticky();
      }

      if (jid) {
        console.log('Worker started', jid);
        $updateBox.show().sticky();
        setTimeout(checkForUpdates, 3000);
      } else {
        updatesNotFound();
      }
    });
  })();
