.update-box.alert.alert-info.alert-dismissable{data: {url: twitter_user_path(uid: twitter_user.uid, created_at: twitter_user.created_at.to_i, jid: 'JID')}}
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.updating', user: twitter_user.mention_name)
  = image_tag '/ajax-loader.gif'

.refresh-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  %span= t('twitter_users.show.update_is_coming', user: twitter_user.mention_name)
  = link_to(t('common.show.update_result'), timeline_path(twitter_user, via: build_via('refresh_box')), class: 'btn btn-default btn-sm')

.too-many-friends-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.need_sign_in', user: twitter_user.mention_name)
  = link_to(t('common.show.sign_in'), sign_in_path(via: build_via('welcome_box'), redirect_path: timeline_path(twitter_user)), class: 'btn btn-default btn-sm')

.follow-box.alert.alert-warning.alert-dismissable{data: {url: follow_path}}
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.need_follow', user: twitter_user.mention_name)
  = link_to(t('common.show.follow'), sign_in_path(via: build_via('follow_box'), redirect_path: timeline_path(twitter_user), follow: true), class: 'btn btn-default btn-sm')

.invalid-token-box.alert.alert-warning.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.invalid_token', user: twitter_user.mention_name)
  = link_to(t('common.show.sign_in'), sign_in_path(via: build_via('invalid_token'), redirect_path: timeline_path(twitter_user)), class: 'btn btn-default btn-sm')

.additional-func-box.alert.alert-warning.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.additional_func')
  = link_to(t('common.show.sign_in'), sign_in_path(via: build_via('additional_func'), redirect_path: timeline_path(twitter_user)), class: 'btn btn-default btn-sm')

.via-dm-box.alert.alert-warning.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.via_dm')
  = link_to(t('common.show.sign_in'), sign_in_path(via: build_via('via_dm'), redirect_path: timeline_path(twitter_user)), class: 'btn btn-default btn-sm')

.sign-in-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('timelines.show.lets_sign_in')
  = link_to(t('common.show.sign_in'), sign_in_path(via: build_via('lets_sign_in'), redirect_path: timeline_path(twitter_user)), class: 'btn btn-default btn-sm')

.too-many-searches-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  - if user_signed_in?
    = t('after_sign_in.too_many_searches_html', limit: search_histories_limit, url: pricing_path)
  - else
    - url = sign_in_path(via: build_via('too_many_searches'), redirect_path: timeline_path(twitter_user))
    = t('before_sign_in.too_many_searches_html', limit: search_histories_limit, url: url)

:javascript
  (function () {
    var $updateBox, $refreshBox, $tooManyFriendsBox, $followBox, $invalidTokenBox, $encourageToSignInBox, $viaDMBox, $signInBox;

    function checkFollow () {
      $.getJSON($followBox.data('url'), {via: 'check_follow'}, function (res) {
        console.log('checkFollow', res);

        if (!res.follow) {
          $followBox.show().sticky();
        }
      });
    }

    function updatesNotFound (signedIn) {
      console.log('updatesNotFound', signedIn);
      var searchMyself = #{user_signed_in? && current_user.uid.to_i == twitter_user.uid.to_i};

      if (signedIn) {
        if (searchMyself) {
          checkFollow();
        }
      } else {
        $signInBox.show().sticky();
      }
    }

    function checkForUpdates (jid, signedIn) {
      console.log('Worker started', jid);
      $updateBox.show().sticky();

      window.checkForUpdates($updateBox.data('url').replace("JID", jid), {interval: 8000},
        function (res) {
          $updateBox.alert('close');
          if (res.text) {
            $refreshBox.find('span').text(res.text);
          }
          $refreshBox.show().sticky();
        }, function (res) {
          $updateBox.alert('close');
          updatesNotFound(signedIn);
        }, function (xhr) {
          $updateBox.alert('close');
          console.log('checkForUpdates failed.', xhr);
        });
    }

    $(function () {
      var signedIn = #{user_signed_in?};
      var crawler = #{from_crawler?};
      var authorized = #{user_signed_in? && current_user.authorized?};
      var removedPage = #{%w(unfriends unfollowers blocking_or_blocked).include?(controller_name)};
      var viaDM = #{via_dm?};

      $updateBox = $('.update-box');
      $refreshBox = $('.refresh-box');
      $tooManyFriendsBox = $('.too-many-friends-box');
      $followBox = $('.follow-box');
      $invalidTokenBox = $('.invalid-token-box');
      $encourageToSignInBox = $('.additional-func-box');
      $viaDMBox = $('.via-dm-box');
      $signInBox = $('.sign-in-box');
      $tooManySearchesBox = $('.too-many-searches-box');

      $.each([$updateBox, $refreshBox, $tooManyFriendsBox, $followBox, $invalidTokenBox, $encourageToSignInBox, $viaDMBox], function (i, btn) {
        btn.on('close.bs.alert', function () {
          btn.parent().hide();
        });
      });

      if (signedIn) {
        if (!authorized) {
          $invalidTokenBox.show().sticky();
        }
      } else {
        if (removedPage) {
          $encourageToSignInBox.show().sticky();
        } else if (viaDM) {
          $viaDMBox.show().sticky();
        } else if (!crawler) {
          $signInBox.show().sticky();
        }
      }

      if (signedIn) {
        var url = '#{twitter_users_path}';
        var uid = '#{twitter_user.uid}';

        $.post(url, {uid: uid})
        .done(function (res) {
          console.log(res);

          if (res.jid) {
            checkForUpdates(res.jid, signedIn);
          } else {
            updatesNotFound(signedIn);
          }
        }).fail(function (xhr) {
          console.log(xhr.responseText);

          if (xhr.status === 400 && xhr.responseText && JSON.parse(xhr.responseText)['error'] === 'too_many_searches') {
            $tooManySearchesBox.show().sticky();
          }
        });
      }
    });
  })();
