.update-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.updating', user: twitter_user.mention_name)
  = image_tag '/ajax-loader.gif'

.refresh-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  %span= t('common.show.update_is_coming', user: twitter_user.mention_name)
  = link_to(t('common.show.update_result'), timeline_path(screen_name: twitter_user.screen_name), class: 'btn btn-default btn-sm')

.welcome-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.need_sign_in', user: twitter_user.mention_name)
  = link_to(t('common.show.sign_in'), sign_in_path(redirect_path: timeline_path(screen_name: twitter_user.screen_name)), class: 'btn btn-default btn-sm')

.follow-box.alert.alert-warning.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.need_follow', user: twitter_user.mention_name)
  = link_to(t('common.show.follow'), sign_in_path(redirect_path: timeline_path(screen_name: twitter_user.screen_name), follow: true), class: 'btn btn-default btn-sm')

:javascript
  (function () {
    var checkForUpdatesPath = '#{check_for_updates_path(uid: twitter_user.uid, created_at: twitter_user.created_at.to_i)}';
    var checkForFollowPath = '#{check_for_follow_path(uid: twitter_user.uid)}';
    var retryCount = 0;
    var friendless = #{twitter_user.friendless?};
    var signedIn = #{user_signed_in?};
    var jid = "#{jid}";

    var $updateBox = $('.update-box');
    var $refreshBox = $('.refresh-box');

    function checkForFollow () {
      $.getJSON(checkForFollowPath, function (res) {
        console.log('checkForFollow', res);

        if (!res.follow) {
          $('.follow-box').show().sticky();
        }
      });
    }

    function updatesNotFound () {
      if (signedIn) {
        checkForFollow();
      } else {
        if (friendless) {
          $('.welcome-box').show().sticky();
        }
      }
    }

    function checkForUpdates () {
      $.get(checkForUpdatesPath)
        .done(function (res) {
        console.log('checkForUpdates', res);

          if (res.found) {
            $updateBox.parent().hide();
            if (res.text) {
              $refreshBox.find('span').text(res.text);
            }
            $refreshBox.show().sticky();
          } else {
            if (retryCount < 2) {
              retryCount++;
              setTimeout(checkForUpdates, 8000);
            } else {
              $updateBox.parent().hide();
              updatesNotFound();
            }
          }
        })
        .fail(function (xhr) {
          $updateBox.parent().hide();
          console.log('checkForUpdates failed.', xhr);
        });
    }

    $(function () {
      if (jid) {
        console.log('Worker started', jid);
        $updateBox.show().sticky();
        setTimeout(checkForUpdates, 3000);
      } else {
        updatesNotFound();
      }
    });
  })();
