.update-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.updating', user: twitter_user.mention_name)
  = image_tag '/ajax-loader.gif'

.refresh-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.update_is_coming', user: twitter_user.mention_name)
  = link_to(t('common.show.update_result'), timeline_path(screen_name: twitter_user.screen_name), class: 'btn btn-default btn-sm')

.welcome-box.alert.alert-info.alert-dismissable
  %a.close(href="#" data-dismiss="alert" aria-label="close") &times;
  = t('common.show.need_sign_in', user: twitter_user.mention_name)
  = link_to(t('common.show.sign_in'), sign_in_path(redirect_path: timeline_path(screen_name: twitter_user.screen_name)), class: 'btn btn-default btn-sm')

:javascript
  (function () {
    var checkForUpdatesPath = '#{check_for_updates_path(uid: twitter_user.uid, created_at: twitter_user.created_at.to_i)}';
    var retryCount = 0;
    var friendless = #{twitter_user.friendless?};
    var signedIn = #{user_signed_in?};
    var jid = "#{jid}";

    var $updateBox = $('.update-box');

    function checkForUpdates () {
      $.get(checkForUpdatesPath)
        .done(function (res) {
        console.log('checkForUpdates', res);

          if (res.found) {
            $updateBox.hide();
            $('.refresh-box').show().sticky();
          } else {
            if (retryCount < 2) {
              retryCount++;
              setTimeout(checkForUpdates, 8000);
            } else {
              $updateBox.hide();
            }
          }
        })
        .fail(function (xhr) {
          $updateBox.hide();
          console.log('checkForUpdates failed.', xhr);
        });
    }

    $(function () {
      if (friendless && !signedIn) {
        $('.welcome-box').show().sticky();
      } else {
        if (jid) {
          console.log('Worker started', jid);
          $updateBox.show().sticky();
          setTimeout(checkForUpdates, 3000);
        }
      }
    });
  })();
