%h2.h4.text-center= t('searches.common.related_analysis', user: twitter_user.mention_name)

.row
  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'friends'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'followers'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'inactive_friends'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'inactive_followers'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'unfriends'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'unfollowers'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'blocking_or_blocked'}