%h2.h4.text-center= t('searches.common.related_analysis', user: twitter_user.mention_name)

.row
  .col-md-6
    = render partial: 'timelines/feeds/friends', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/followers', locals: {twitter_user: twitter_user}

  - if show_common_friends?(twitter_user)
    .col-md-6
      = render partial: 'timelines/feeds/common_friends', locals: {twitter_user: twitter_user}
    .col-md-6
      = render partial: 'timelines/feeds/common_followers', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/inactive_friends', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/inactive_followers', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/unfriends', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/unfollowers', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/blocking_or_blocked', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/one_sided_friends', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/one_sided_followers', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/replying', locals: {twitter_user: twitter_user}

  .col-md-6
    = render partial: 'timelines/feeds/replied', locals: {twitter_user: twitter_user}