%h2.h4.text-center= t('searches.common.related_pages')
%h2.h4.text-left
  = link_to t('searches.friends.title', user: twitter_user.mention_name), friend_path(screen_name: twitter_user.screen_name, type: 'friends')
%div{style: 'margin-bottom: 15px;'}
  = t('searches.friends.short_description')
%h2.h4.text-left
  = link_to t('searches.followers.title', user: twitter_user.mention_name), friend_path(screen_name: twitter_user.screen_name, type: 'followers')
%div{style: 'margin-bottom: 15px;'}
  = t('searches.followers.short_description')
%h2.h4.text-left
  = link_to t('searches.inactive_friends.title', user: twitter_user.mention_name), inactive_friend_path(screen_name: twitter_user.screen_name)
%div{style: 'margin-bottom: 15px;'}
  = t('searches.inactive_friends.short_description')
%h2.h4.text-left
  = link_to t('searches.inactive_followers.title', user: twitter_user.mention_name), inactive_friend_path(screen_name: twitter_user.screen_name, type: 'inactive_followers')
%div{style: 'margin-bottom: 15px;'}
  = t('searches.inactive_followers.short_description')
%h2.h4.text-left
  = link_to t('searches.removing.title', user: twitter_user.mention_name), unfriend_path(screen_name: twitter_user.screen_name, type: 'removing')
%div{style: 'margin-bottom: 15px;'}
  = t('searches.removing.short_description')
%h2.h4.text-left
  = link_to t('searches.removed.title', user: twitter_user.mention_name), unfriend_path(screen_name: twitter_user.screen_name, type: 'removed')
%div{style: 'margin-bottom: 15px;'}
  = t('searches.removed.short_description')
%h2.h4.text-left
  = link_to t('searches.blocking_or_blocked.title', user: twitter_user.mention_name), unfriend_path(screen_name: twitter_user.screen_name, type: 'blocking_or_blocked')
%div{style: 'margin-bottom: 15px;'}
  = t('searches.blocking_or_blocked.short_description')