%h2.h4.text-center= t('searches.common.related_analysis', user: twitter_user.mention_name)

.row
  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'friends'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'followers'}

  - if show_common_friends?(twitter_user)
    .col-md-6
      = render partial: 'timelines/common_users', locals: {twitter_user: twitter_user, menu_name: 'common_friends'}
    .col-md-6
      = render partial: 'timelines/common_users', locals: {twitter_user: twitter_user, menu_name: 'common_followers'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'inactive_friends'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'inactive_followers'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'unfriends'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'unfollowers'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'blocking_or_blocked'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'one_sided_friends'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'one_sided_followers'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'replying'}

  .col-md-6
    = render partial: 'timelines/users', locals: {twitter_user: twitter_user, menu_name: 'replied'}