<% form_tag_id = search_form_id %>
<% input_tag_id = search_input_id %>

<%= form_tag searches_path, id: form_tag_id, method: :post do %>
<label for="screen_name" class="sr-only"><%= t('searches.common.twitter_id') %></label>
<div class="input-group">
  <div class="input-group-addon">@</div>
  <input type="hidden" name="via" value="<%= via %>">
  <input type="search" id="<%= input_tag_id %>"
         name="screen_name"
         class="form-control"
         placeholder="<%= t('searches.common.search_by_twitter_id') %>"
         pattern="^[0-9A-Za-z_]{1,20}$"
         inputmode="verbatim"
         title="<%= t('before_sign_in.invalid_input', count1: 1, count2: 20) %>"
         required>
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit"><%= t('searches.common.search') %></button>
  </span>
</div>
<% end %>

<script>
  <% unless current_user_friend_screen_names_rendered? %>
    window.current_user_friend_screen_names = <%= raw current_user_friend_screen_names.to_json %>;
  <% end %>

  $(function () {
    $("#<%= input_tag_id %>").autocomplete({
      source: window.current_user_friend_screen_names || [],
      minLength: 2,
      appendTo: "#<%= form_tag_id %>"
    });
  });
</script>