<div class="container">
  <div class="text-center my-3">
    <div id="waiting-msg" class="alert alert-info">
      <%= t('.analyzing', user: @twitter_user.name) %>&nbsp;<%= image_tag '/ajax-loader-blue.gif' %>
    </div>

    <div id="finished-msg" class="alert alert-success" style="display: none;">
      <%= t(".finished") %>&nbsp;<%= image_tag '/ajax-loader-blue.gif' %>
    </div>

    <div id="error-msg" class="alert alert-warning text-left" style="display: none;">
      <%= t('.retry_timeout_html', url: sign_in_path(via: current_via('waiting_timeout'))) %>
    </div>
  </div>

  <div class="progress mb-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
  </div>

  <div class="buttons row" style="display: none;">
    <div class="col-12 col-sm-12 col-md-4 text-center mb-3">
      <%= link_to t('.retry_search_by', user: @twitter_user.screen_name), searches_path(screen_name: @twitter_user.screen_name, via: current_via('waiting_retry')), class: 'btn btn-lg btn-outline-primary', method: :post %>
    </div>

    <div class="col-12 col-sm-12 col-md-4 text-center mb-3">
      <%= sign_in_with_twitter_link(nil, 'sign_in_button', class: 'btn btn-lg btn-primary') %>
    </div>

    <div class="col-12 col-sm-12 col-md-4 text-center mb-3">
      <%= link_to t('.link_to_support'), support_path(via: current_via), class: 'btn btn-lg btn-outline-primary' %>
    </div>
  </div>

  <div class="mb-3">
    <%= render partial: 'twitter/profile', locals: {user: @twitter_user, always_expanded: true} %>
  </div>
</div>

<%= javascript_pack_tag 'waiting' %>

<script>
  var pollPath = "<%= twitter_user_path(uid: @twitter_user.uid, via: current_via) %>";
  var redirectPath = "<%= @redirect_path %>";
  var signedIn = <%= user_signed_in? %>;
  var state = null;

  // var twitterUser = {
  //   userId: '<%= current_user&.id %>',
  //   uid: "<%= @twitter_user.uid %>",
  //   screenName: "<%= @twitter_user.screen_name %>"
  // };

  function redirectTo() {
    window.location.replace(redirectPath);
  }

  function done(res) {
    console.log('done', res);
    state.finished();
    redirectTo();
  }

  function keepOn(res, options) {
    console.log('keepOn', res, options);
    state.keepOn();
  }

  function stopped(res) {
    console.log('stopped', res);
    state.failed();

    // ga('send', {
    //   hitType: 'event',
    //   eventCategory: 'waiting#new',
    //   eventAction: 'Retry exhausted',
    //   eventLabel: JSON.stringify(twitterUser)
    // });
  }

  function failed(xhr) {
    console.log('failed', xhr.responseText);
    var res = $.parseJSON(xhr.responseText || null);
    if (res && res.message) {
      state.setErrorMessage(res.message);
    }
    state.failed();

    // ga('send', {
    //   hitType: 'event',
    //   eventCategory: 'Waiting#new',
    //   eventAction: 'Failed',
    //   eventLabel: JSON.stringify($.extend({status: xhr.status}, twitterUser))
    // });
  }

  function start() {
    new Waiting(pollPath, {}, done, keepOn, stopped, failed).start();
  }

  $(function () {
    state = new State();
    start();
  });
</script>
