<div class="audience-insight-on-timeline card p-3">
  <h3 class="text-center"><%= t('timelines.feeds.audience_insights.title') %></h3>
  <div class="text-center my-3"><%= t('timelines.feeds.audience_insights.description', user: twitter_user.screen_name) %></div>
  <div id="audience-insight-followers-chart-description" class="text-center my-3"></div>

  <table>
    <tr>
      <td style="width: 50%;"><div id="audience-insight-friends-chart" class="my-3" style="height: 100px;"></div></td>
      <td style="width: 50%;"><div id="audience-insight-followers-chart" class="my-3" style="height: 100px;"></div></td>
    </tr>
    <tr>
      <td style="width: 50%;"><div id="audience-insight-new-friends-chart" class="my-3" style="height: 100px;"></div></td>
      <td style="width: 50%;"><div id="audience-insight-new-followers-chart" class="my-3" style="height: 100px;"></div></td>
    </tr>
  </table>

  <% if FriendsCountPoint.where(uid: twitter_user.uid).size <= 1 %>
    <div class="text-center small text-muted"><%= t('timelines.feeds.sample_data_html') %></div>
  <% end %>

  <div class="text-center mt-3">
    <%= link_to t('timelines.feeds.view_more'), audience_insight_path(twitter_user), class: 'btn btn-primary btn-block' %>
  </div>
</div>

<script type=text/javascript>
  function drawFriendsChart() {
    var url = '<%= raw api_v1_friends_count_points_path(uid: twitter_user.uid, via: current_via) %>';
    $.get(url).done(function (res) {
      var data = res.data;
      if (data.length <= 1) {
        data = AudienceInsight.SampleData;
      }
      new AudienceInsight().drawSparkLine($('#audience-insight-friends-chart')[0], [{name: 'Friends', data: data}]);
    }).fail(showErrorMessage);
  }

  function drawFollowersChart() {
    var url = '<%= raw api_v1_followers_count_points_path(uid: twitter_user.uid, via: current_via) %>';
    $.get(url).done(function (res) {
      $('#audience-insight-followers-chart-description').text(res.message);
      var data = res.data;
      if (data.length <= 1) {
        data = AudienceInsight.SampleData;
      }
      new AudienceInsight().drawSparkLine($('#audience-insight-followers-chart')[0], [{name: 'Followers', data: data}]);
    }).fail(showErrorMessage);
  }

  function drawNewFriendsChart() {
    var url = '<%= raw api_v1_new_friends_count_points_path(uid: twitter_user.uid, via: current_via) %>';
    $.get(url).done(function (res) {
      var data = res.data;
      if (data.length <= 1) {
        data = AudienceInsight.SampleData;
      }
      new AudienceInsight().drawSparkLine($('#audience-insight-new-friends-chart')[0], [{name: 'New friends', data: data}]);
    }).fail(showErrorMessage);
  }

  function drawNewFollowersChart() {
    var url = '<%= raw api_v1_new_followers_count_points_path(uid: twitter_user.uid, via: current_via) %>';
    $.get(url).done(function (res) {
      var data = res.data;
      if (data.length <= 1) {
        data = AudienceInsight.SampleData;
      }
      new AudienceInsight().drawSparkLine($('#audience-insight-new-followers-chart')[0], [{name: 'New followers', data: data}]);
    }).fail(showErrorMessage);
  }

  $(function () {
    drawFriendsChart();
    drawFollowersChart();
    drawNewFriendsChart();
    drawNewFollowersChart();
    trackPageEvents('TimelinePage events', 'AudienceInsights loaded', {dataLength: 0});
  });
</script>
