<div class="audience-insight-on-timeline card p-3">
  <h4 class="text-center"><%= t('timelines.feeds.audience_insights.title') %></h4>
  <div class="text-center my-3"><%= t('timelines.feeds.audience_insights.description', user: twitter_user.screen_name) %></div>
  <div id="audience-insight-followers-chart-description" class="text-center my-3"></div>

  <table>
    <tr>
      <td style="width: 50%;">
        <div id="audience-insight-friends-chart" class="mt-3 mb-1" style="height: 100px;"></div>
        <div class="text-center small"><%= t('timelines.feeds.audience_insights.friends') %></div>
      </td>
      <td style="width: 50%;">
        <div id="audience-insight-followers-chart" class="mt-3 mb-1" style="height: 100px;"></div>
        <div class="text-center small"><%= t('timelines.feeds.audience_insights.followers') %></div>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;">
        <div id="audience-insight-new-friends-chart" class="mt-3 mb-1" style="height: 100px;"></div>
        <div class="text-center small"><%= t('timelines.feeds.audience_insights.new_friends') %></div>
      </td>
      <td style="width: 50%;">
        <div id="audience-insight-new-followers-chart" class="mt-3 mb-1" style="height: 100px;"></div>
        <div class="text-center small"><%= t('timelines.feeds.audience_insights.new_followers') %></div>
      </td>
    </tr>
  </table>

  <div class="text-center mt-3">
    <%= link_to t('timelines.feeds.view_more'), audience_insight_path(twitter_user, via: current_via), class: 'btn btn-primary btn-block' %>
  </div>
</div>

<script type=text/javascript>
  $(function () {
    window.drawSparkLine('<%= raw api_v1_friends_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#audience-insight-friends-chart')[0]);
    window.drawSparkLine('<%= raw api_v1_followers_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#audience-insight-followers-chart')[0]);
    window.drawSparkLine('<%= raw api_v1_new_friends_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#audience-insight-new-friends-chart')[0]);
    window.drawSparkLine('<%= raw api_v1_new_followers_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#audience-insight-new-followers-chart')[0]);
    // trackPageEvents('TimelinePage events', 'AudienceInsights loaded', {dataLength: 0});
  });
</script>
