.audience-insight-on-timeline.p-3.p-lg-5
  %h3.text-center= t('timelines.feeds.audience_insights.title')
  .text-center.my-3= t('timelines.feeds.audience_insights.description', user: twitter_user.screen_name)
  .chart-container
  .text-center.mt-3
    = link_to t('timelines.show.audience_insight.view_more'), search_path_for('audience_insights', twitter_user.screen_name), class: 'btn btn-primary btn-block'

:javascript
  $(function () {
    var series = [];
    var categories = #{chart_builder.categories.to_json.html_safe};

    series.push(#{chart_builder.friends.to_json.html_safe});
    series.push(#{chart_builder.followers.tap{|data| data[:yAxis] = 1}.to_json.html_safe});

    Highcharts.chart({
      chart: {
        renderTo: $('.audience-insight-on-timeline .chart-container')[0]
      },
      title: null,
      xAxis: {
        categories: categories,
        title: {
          text: null
        }
      },
      yAxis: [{
        title: {
          text: null
        }
      }, {
        opposite: true,
        title: {
          text: null
        }
      }],
      series: series,
      legend: false,
      exporting: false,
        credits: false
    });
  });
