<div class="audience-insight-on-timeline card p-3">
  <h3 class="text-center"><%= t('timelines.feeds.audience_insights.title') %></h3>
  <div class="text-center my-3"><%= t('timelines.feeds.audience_insights.description_html', user: twitter_user.screen_name, friends: twitter_user.friends_count, followers: twitter_user.followers_count) %></div>
  <div class="chart-container" style="height: 200px;"></div>

  <% if audience_insight.insufficient_chart_data? %>
    <div class="text-center small text-muted"><%= t('timelines.feeds.sample_data_html') %></div>
  <% end %>

  <div class="text-center mt-3">
    <%= link_to t('timelines.feeds.view_more'), audience_insight_path(twitter_user), class: 'btn btn-primary btn-block' %>
  </div>
</div>

<script type=text/javascript>
  $(function () {
    var series = [
      {name: 'friends', color: '#058DC7', data: <%= raw audience_insight.chart_data(:friends).to_json %>},
      {name: 'followers', color: '#ED561B', yAxis: 1, data: <%= raw audience_insight.chart_data(:followers).to_json %>}
    ];
    if (series[0].data.length <= 1) {
      series = AudienceInsight.Sample;
      ahoy.track('Feed loaded', {name: 'audience_insights', data: 0});
    } else {
      ahoy.track('Feed loaded', {name: 'audience_insights', data: series[0].data.length});
    }
    new AudienceInsight().drawChart($('.audience-insight-on-timeline .chart-container')[0], series);
  });
</script>
