<div class="card p-3">
  <h3 class="h4 text-center"><%= feed_title %></h3>
  <div class="text-center"><%= feed_description %></div>

  <%= render partial: 'timelines/placeholder', locals: {menu_name: feed_name, menu_or_users: 'menu'} %>

  <% container_id = "id-#{graph.object_id}" %>
  <div id="<%= container_id %>" class="mb-5" style="height: 120px;"></div>

  <%= link_to(t('timelines.feeds.view_more'), search_path_for(feed_name, twitter_user.screen_name), class: 'btn btn-primary btn-block btn-view-more') %>
</div>

<script>
  $(function () {
    var fromCrawler = <%= from_crawler? %>;
    var feedName = '<%= feed_name %>';
    var placeholderSelector = '.placeholder-wrapper.' + feedName;

    function drawChart() {
      $(placeholderSelector).remove();
      var chartConfig = $.extend(true, {}, window.usage_stats_column_chart_options);
      chartConfig.series[0].data = <%= raw graph.to_json %>;
      chartConfig.yAxis.visible = false;
      $('#<%= container_id %>').highcharts(chartConfig);
    }

    if (fromCrawler) {
      drawChart();
    } else {
      $(placeholderSelector).lazyload().one('appear', function () {
        console.log('appear', feedName);
        drawChart();
      });
    }
  });
</script>
