<%= render partial: 'timelines/placeholder', locals: {menu_name: 'close_friends', menu_or_users: 'menu'} %>

<div class="menu-items media close_friends" data-url="<%= send("api_v1_close_friends_summary_path", uid: twitter_user.uid, via: build_via("feed_close_friends")) %>" style="display: none; position: relative;">
  <%= link_to close_friend_path(twitter_user, via: build_via('feed_box')), class: 'result-link' do %>

    <h3 class="h4 text-center"><%= t(".title") %></h3>
    <div class="vertical-spacing"></div>

    <div class="text-center description"><%= t(".description", user: twitter_user.screen_name) %></div>
  <% end %>

  <div style="position: absolute; bottom: 15px; left: 15px; right: 15px;">
    <div class="media-body">
      <div class="text-muted progress-msg" style="display: none;"></div>
    </div>

    <div class="media-right" style="display: none;">
      <div class="common-chart"></div>
    </div>

    <%= link_to(t('timelines.show.reload_this_page'), timeline_path(twitter_user, via: build_via('reload_close_friends')), class: 'btn btn-info btn-block reload-btn', style: 'display: none;') %>
    <%= link_to(t('timelines.show.view_more_with_num_html', num: 'NUM'), close_friend_path(twitter_user, via: build_via('feed_text')), class: 'btn btn-info btn-block btn-view-more', style: 'display: none;') %>
  </div>
</div>

<script>
  $(function () {
    var feedName = 'close_friends';
    var url = $('.menu-items.close_friends').data('url');
    var progressMessages = {
      empty: "<%= t('timelines.show.empty_result_with_details_html') %>",
      under_calculation: "<%= t('timelines.show.under_calculation_with_details_html') %>"
    };

    var fromCrawler = <%= from_crawler? %>;
    var summaryBox = new SummaryBox(feedName);

    if (fromCrawler) {
      loadSummary(url, summaryBox, progressMessages);
    } else {
      summaryBox.lazyload(function () {
        loadSummary(url, summaryBox, progressMessages);
      });
    }
  });
</script>