<% start = Time.zone.now %>
<% via = current_via('summary_on_timeline') %>
<% unit = t('.unit') %>
<% analyzing = t('.analyzing') %>
<div class="summary-on-timeline">
  <div class="list-group">
    <% [
           [one_sided_friend_path(twitter_user, via: via), twitter_user.one_sided_friendships.size, t('.one_sided_friends')],
           [one_sided_follower_path(twitter_user, via: via), twitter_user.one_sided_followerships.size, t('.one_sided_followers')],
           [mutual_friend_path(twitter_user, via: via), twitter_user.mutual_friendships.size, t('.mutual_friends')],
           [unfriend_path(twitter_user, via: via), twitter_user.unfriendships.size, t('.unfriends')],
           [unfollower_path(twitter_user, via: via), twitter_user.unfollowerships.size, t('.unfollowers')],
           [blocking_or_blocked_path(twitter_user, via: via), twitter_user.block_friendships.size, t('.blocking_or_blocked')]
       ].each do |url, count, title| %>
      <%= link_to url, class: 'list-group-item' do %>
        <div class="d-flex justify-content-between align-items-center">
          <%= title %>
          <span>
            <% if count > 0 %>
              <%= count %><%= unit %>
            <% else %>
              <%= analyzing %>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% @view_benchmark['summary'] = Time.zone.now - start %>
