<% via = current_via('summary_on_timeline') %>
<% items = [
  ['friends', t('.friends')],
  ['followers', t('.followers')],
  ['mutual_friends', t('.mutual_friends')],
  ['one_sided_friends', t('.one_sided_friends')],
  ['one_sided_followers', t('.one_sided_followers')],
  ['inactive_friends', t('.inactive_friends')],
  ['inactive_followers', t('.inactive_followers')],
  ['unfriends', t('.unfriends')],
  ['unfollowers', t('.unfollowers')],
  ['mutual_unfriends', t('.mutual_unfriends')],
  ['blockers', t('.blockers')],
  ['muters', t('.muters')],
] %>

<div id="summary-section">
  <div class="list-group">
    <% items.each do |name, title| %>
      <li class="list-group-item" style="height: 56px;">
        <div class="d-flex align-items-center h-100">
          <div><%= link_to title, "#feed-#{name}", class: 'summary-section-item', data: {name: name} %></div>
          <% if %w(friends followers mutual_friends one_sided_friends one_sided_followers inactive_friends inactive_followers unfriends unfollowers).include?(name) %>
            <div id="summary-spark-line-<%= name %>" class="ml-2" style="width: 60px; height: 100%;"></div>
          <% end %>
          <div class="ml-auto">
            <%= link_to "#feed-#{name}", class: 'summary-section-item', data: {name: name} do %>
              <span class="message-container <%= name %>"><%= t('.analyzing') %></span>
            <% end %>
            <span class="zero-reason <%= name %> small" style="display: none;">
              <%= link_to '#', class: 'zero-reason-link' do %>
                <i class="far fa-question-circle"></i>
                <%= t('.reason') %>
              <% end %>
            </span>
          </div>
        </div>
      </li>
    <% end %>
  </div>
</div>

<script>
  function showZeroReasonAlert() {
    var message = '<%= t('.detailed_description') %>';
    window.alert(message);
    return false;
  }

  $(function () {
    var url = '<%= raw api_v1_summaries_path(uid: twitter_user.uid, via: via) %>';
    var names = <%= raw items.map(&:first).to_json %>;
    var parent = $('#summary-section');

    $('.summary-section-item').on('click', function () {
      var name = $(this).data('name');
      trackPageEvents('TimelinePage events', 'Summary ' + name + ' clicked');
      if (name === 'friends') {
        window.location.href = '<%= raw friend_path(twitter_user, via: current_via('summary')) %>';
      } else if (name === 'followers') {
        window.location.href = '<%= raw follower_path(twitter_user, via: current_via('summary')) %>';
      }
    });

    $('.zero-reason-link').on('click', showZeroReasonAlert);

    function updateView(res) {
      var zeroMessage = '<%= t('.zero') %>';
      var unit = '<%= t('.unit') %>';

      for (var i = 0; i < names.length; i++) {
        var name = names[i];
        var count = res[name];

        var container = parent.find('.message-container.' + name);
        container.empty();

        if (count <= 0) {
          container.text(zeroMessage).addClass('text-muted');
          parent.find('.zero-reason.' + name).show();
        } else {
          container.text(count + unit);
        }

        if (name === 'friends') {
          window.drawSparkLine('<%= raw api_v1_friends_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        } else if (name === 'followers') {
          window.drawSparkLine('<%= raw api_v1_followers_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        } else if (name === 'mutual_friends') {
          window.drawSparkLine('<%= raw api_v1_mutual_friends_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        } else if (name === 'one_sided_friends') {
          window.drawSparkLine('<%= raw api_v1_one_sided_friends_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        } else if (name === 'one_sided_followers') {
          window.drawSparkLine('<%= raw api_v1_one_sided_followers_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        } else if (name === 'inactive_friends') {
          window.drawSparkLine('<%= raw api_v1_inactive_friends_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        } else if (name === 'inactive_followers') {
          window.drawSparkLine('<%= raw api_v1_inactive_followers_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        } else if (name === 'unfriends') {
          window.drawSparkLine('<%= raw api_v1_new_unfriends_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        } else if (name === 'unfollowers') {
          window.drawSparkLine('<%= raw api_v1_new_unfollowers_count_points_path(uid: twitter_user.uid, padding: true, via: current_via) %>', $('#summary-spark-line-' + name)[0]);
        }
      }
    }

    function updateErrorView(xhr, textStatus, errorThrown) {
      var message = '<%= t('.error') %>';
      parent.find('.message-container').empty().text(message).addClass('text-muted');
      showErrorMessage(xhr, textStatus, errorThrown);
    }

    function createFetcher() {
      var retry = 0;

      function fetch() {
        $.getJSON(url).done(function (res) {
          logger.log('summary', 'loaded');
          updateView(res);
          trackPageEvents('TimelinePage events', 'Summary loaded', {response: res});
        }).fail(function (xhr, textStatus, errorThrown) {
          logger.warn('summary', 'fetch failed', xhr.status);
          if (xhr.status === 404) {
            if ((retry++) < 3) {
              logger.log('summary', 'retry', retry);
              setTimeout(fetch, 3000);
            } else {
              logger.warn('summary', 'Retry exhausted');
              updateErrorView(xhr, textStatus, errorThrown);
            }
          } else {
            updateErrorView(xhr, textStatus, errorThrown);
          }
        });
      }

      return {fetch: fetch};
    }

    createFetcher().fetch();
  });
</script>
