<div id="feed-<%= feed_name %>" class="<%= feed_name %> feed-item card p-3">
  <h3 class="h4 text-center"><%= feed_title %></h3>
  <div class="text-center my-3"><%= feed_description %></div>

  <%= render partial: 'timelines/placeholder', locals: {menu_name: feed_name, menu_or_users: 'menu'} %>

  <div class="result-not-found" style="display: none;">
    <div class="my-5"><%= t('timelines.show.empty_result_with_details_html') %></div>
    <% url = timeline_path(twitter_user, via: current_via("reload_#{feed_name}")) %>
    <% if user_signed_in? %>
      <%= link_to(t('timelines.show.reload'), url, class: 'btn btn-outline-primary btn-block') %>
    <% else %>
      <%= link_to(t('timelines.show.sign_in_and_reload'), sign_in_path(via: current_via("reload_#{feed_name}"), redirect_path: url), class: 'btn btn-primary btn-block') %>
    <% end %>
  </div>

  <div class="empty-result-and-message" style="display: none;">
    <div class="message my-5"></div>
    <button class="btn btn-primary btn-block disabled" disabled="disabled"><%= t('timelines.feeds.view_more') %></button>
  </div>

  <div class="show-result" style="display: none;">
    <div class="users d-flex justify-content-center flex-wrap my-5"></div>

    <% if user_signed_in? %>
      <%= link_to(page_url, id: "button-view-more-#{feed_name}", class: 'btn btn-primary btn-block btn-view-more mt-auto') do %>
        <%= t('timelines.feeds.view_more') %>
        <span class="count"></span>
      <% end %>
    <% else %>
      <%= link_to(sign_in_path(redirect_path: page_url, via: current_via(feed_name)), id: "button-sign-in-and-view-more-#{feed_name}", class: 'btn btn-primary btn-block btn-view-more mt-auto') do %>
        <%= t('timelines.feeds.sign_in_and_view_more') %>
        <span class="count"></span>
      <% end %>

      <div class="text-center mt-3 mb-4">
        <span class="thin-border"></span>
        <span class="text-center or-text"><%= t('timelines.feeds.or') %></span>
        <span class="thin-border"></span>
      </div>

      <%= link_to(page_url, id: "button-view-more-without-signing-in-#{feed_name}", class: 'btn btn-outline-secondary btn-sm btn-block btn-view-more mt-auto text-muted') do %>
        <%= t('timelines.feeds.view_more_without_signing_in') %>
        <span class="count"></span>
      <% end %>
    <% end %>
  </div>
</div>
<% if %w(unfriends unfollowers mutual_unfriends).include?(feed_name) %>
  <div class="text-center text-muted small mt-1">
    <%= t('.notice') %>
    <button class="btn btn-outline-primary btn-sm p-1" data-toggle="collapse" aria-expanded="false" data-target="#additional-description-<%= feed_name %>">
      <i class="far fa-question-circle"></i>
      <%= t('.word_description') %>
    </button>
  </div>
  <div id="additional-description-<%= feed_name %>" class="text-muted small collapse mt-3">
    <div class="card">
      <div class="card-body">
        <%= t('.detailed_description_html') %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(function () {
    var fromCrawler = <%= from_crawler? %>;
    var url = '<%= raw api_url %>';
    var feedName = '<%= feed_name %>';
    var boxSelector = '.<%= feed_name %>.feed-item';
    var placeholderSelector = '.<%= feed_name %>.placeholder-wrapper';

    function updateView(res) {
      $(placeholderSelector).hide();
      var box = $(boxSelector);

      if (!res || !res.users || res.users.length <= 0) {
        box.find('.result-not-found').show();
        if (!fromCrawler) {
          // trackPageEvents('TimelinePage events', feedName + ' loaded', {dataLength: 0});
        }
      } else {
        var template = window.templates['user'];

        res.users.forEach(function (user) {
          var rendered = MustacheUtil.renderUser(template, user);
          box.find('.users').append(rendered);
        });

        box.find('.btn-view-more .count').text(res.count);
        box.find('.btn-view-more').show();
        box.find('.show-result').show();

        if (!fromCrawler) {
          // trackPageEvents('TimelinePage events', feedName + ' loaded', {dataLength: res.users.length});
        }
      }
    }

    function updateErrorView(message) {
      $(placeholderSelector).hide();
      var box = $(boxSelector);
      box.find('.empty-result-and-message').find('.message').text(message).end().show();
    }

    if (fromCrawler) {
      new FeedItem(url, updateView);
    } else {
      $(boxSelector).lazyload().one('appear', function () {
        new FeedItem(url, updateView, updateErrorView);
      });
    }
  });
</script>
