<div id="feed-<%= feed_name %>" class="<%= feed_name %> feed-item card p-3">
  <h3 class="h4 text-center"><%= feed_title %></h3>
  <div class="text-center my-3"><%= feed_description %></div>

  <%= render partial: 'timelines/placeholder', locals: {menu_name: feed_name, menu_or_users: 'menu'} %>

  <div class="result-not-found" style="display: none;">
    <div class="my-5"><%= t('timelines.show.empty_result_with_details_html') %></div>
    <% url = timeline_path(twitter_user, via: current_via("reload_#{feed_name}")) %>
    <% if user_signed_in? %>
      <%= link_to(t('timelines.show.reload'), url, class: 'btn btn-outline-primary btn-block') %>
    <% else %>
      <%= link_to(t('timelines.show.sign_in_and_reload'), sign_in_path(via: current_via("reload_#{feed_name}"), redirect_path: url), class: 'btn btn-primary btn-block') %>
    <% end %>
  </div>

  <div class="show-result" style="display: none;">
    <div class="users d-flex justify-content-center flex-wrap my-5"></div>

    <% if user_signed_in? %>
      <%= link_to(page_url, id: "button-view-more-#{feed_name}", class: 'btn btn-primary btn-block btn-view-more mt-auto') do %>
        <%= t('timelines.feeds.view_more') %>
        <span class="count"></span>
      <% end %>
    <% else %>
      <% url = sign_in_path(redirect_path: page_url, via: current_via(feed_name)) %>
      <%= link_to(url, id: "button-sign-in-and-view-more-#{feed_name}", class: 'btn btn-primary btn-block btn-view-more mt-auto') do %>
        <%= t('timelines.feeds.sign_in_and_view_more') %>
        <span class="count"></span>
      <% end %>

      <div class="text-center mt-3 mb-4">
        <span class="thin-border"></span>
        <span class="text-center or-text"><%= t('timelines.feeds.or') %></span>
        <span class="thin-border"></span>
      </div>

      <%= link_to(url, id: "button-view-more-without-signing-in-#{feed_name}", class: 'btn btn-outline-secondary btn-sm btn-block btn-view-more mt-auto text-muted') do %>
        <%= t('timelines.feeds.view_more_without_signing_in') %>
        <span class="count"></span>
      <% end %>
    <% end %>
  </div>
</div>
<% if %w(unfriends unfollowers blocking_or_blocked).include?(feed_name) %>
  <div class="text-center text-muted small mt-1">
    <%= t('.notice') %>
    <button class="btn btn-outline-primary btn-sm p-1" data-toggle="collapse" aria-expanded="false" data-target="#additional-description-<%= feed_name %>">
      <i class="far fa-question-circle"></i>
      <%= t('.word_description') %>
    </button>
  </div>
  <div id="additional-description-<%= feed_name %>" class="text-muted small collapse mt-3">
    <div class="card">
      <div class="card-body">
        <%= t('.detailed_description_html') %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(function () {
    var fromCrawler = <%= from_crawler? %>;
    var url = '<%= api_url %>';
    var feedName = '<%= feed_name %>';
    var boxSelector = '.' + feedName + '.feed-item';
    var placeholderSelector = '.' + feedName + '.placeholder-wrapper';

    if (fromCrawler) {
      new FeedItem(url, feedName, boxSelector, placeholderSelector);
    } else {
      $(boxSelector).lazyload().one('appear', function () {
        new FeedItem(url, feedName, boxSelector, placeholderSelector);
      });
    }
  });
</script>
