<div class="<%= feed_name %> card p-3">
  <h3 class="h4 text-center"><%= feed_title %></h3>
  <div class="text-center"><%= feed_description %></div>

  <%= render partial: 'timelines/placeholder', locals: {menu_name: feed_name, menu_or_users: 'menu'} %>

  <% container_id = "id-#{words_count.object_id}" %>
  <div id="<%= container_id %>" class="my-3" style="height: 300px;"></div>

  <%= link_to(t('timelines.feeds.view_more'), word_cloud_path(twitter_user), class: 'btn btn-primary btn-block btn-view-more') %>
</div>

<script>
  $(function () {
    var fromCrawler = <%= from_crawler? %>;
    var feedName = '<%= feed_name %>';
    var placeholderSelector = '.placeholder-wrapper.' + feedName;

    function drawWordCloud() {
      $(placeholderSelector).remove();
      var data = <%= raw words_count.map { |word, count| {word: word, count: count} }.to_json %>;
      var container = $('#<%= container_id %>');
      var smartphone = <%= request.device_type == :smartphone %>;
      new WordCloud('#' + container.attr('id'), data, container.width(), container.height(), smartphone);
    }

    if (fromCrawler) {
      drawWordCloud();
    } else {
      $(placeholderSelector).lazyload().one('appear', function () {
        console.log('appear', feedName);
        drawWordCloud();
      });
    }
  });
</script>
