.container._debug_alert
  - if show_dm_confirmation_announcement?
    .alert.alert-info.mt-3{role: "alert"}
      = t('.dm_confirmation')
      = link_to t('.open'), direct_messages_url('ego_tter'), target: '_blank'

  = alert_box category: 'primary', class: 'small my-3' do
    = render template: 'messages/updating_data_will_be_stopped'

  - if GlobalMessage.message_found?
    = alert_box category: 'primary', class: 'small my-3' do
      = raw GlobalMessage.current_message

  - if alert
    .alert.alert-warning.alert-dismissible.mt-3{role: "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
        %span{"aria-hidden" => "true"} &times;
      = raw alert
  - elsif notice
    - if @without_alert_container
      .mt-3= raw notice
    - else
      .alert.alert-info.alert-dismissible.mt-3{role: "alert"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
          %span{"aria-hidden" => "true"} &times;
        = raw notice
