%footer.footer
  .container
    - spaces = '&nbsp;'.html_safe

    = succeed spaces do
      %a{href: root_path}= t('searches.common.top_page')
      %br.visible-xs-block

    = succeed spaces do
      %a{href: root_path_for(controller: 'one_sided_friends')}= t('one_sided_friends.new.simple_title')
      %br.visible-xs-block

    = succeed spaces do
      %a{href: root_path_for(controller: 'unfriends')}= t('unfriends.new.simple_title')
      %br.visible-xs-block

    = succeed spaces do
      %a{href: root_path_for(controller: 'inactive_friends')}= t('inactive_friends.new.simple_title')
      %br.visible-xs-block

    = succeed spaces do
      %a{href: root_path_for(controller: 'clusters')}= t('clusters.new.simple_title')
      %br

    = succeed spaces do
      - if user_signed_in?
        = link_to t('dictionary.sign_out'), goodbye_path(via: build_via('footer'))
      - else
        = link_to t('dictionary.sign_in'), sign_in_path(via: build_via('footer'))
      %br.visible-xs-block

    = succeed spaces do
      %a{href: root_path_for(controller: controller_name)}= t('searches.common.feedback')
      %br.visible-xs-block

    - if user_signed_in?
      = succeed spaces do
        = link_to t('settings.title'), settings_path
        %br.visible-xs-block

    = succeed spaces do
      %a{href: user_url('ego_tter'), target: '_blank'}= t('dictionary.official_account')
      %br.visible-xs-block

    = succeed spaces do
      = link_to t('searches.common.support'), support_path
      %br.visible-xs-block

    = succeed spaces do
      %a{href: 'https://github.com/ts-3156/egotter', target: '_blank'}= t('searches.common.github')
      %br.visible-xs-block

    = succeed spaces do
      = link_to t('misc.terms_of_service.title'), terms_of_service_path
      %br.visible-xs-block

    = succeed spaces do
      = link_to t('misc.privacy_policy.title'), privacy_policy_path
      %br

    = succeed spaces do
      = link_to t('misc.specified_commercial_transactions.title'), specified_commercial_transactions_path
      %br.visible-xs-block

    = succeed spaces do
      = link_to t('pricing.new.plans'), pricing_path
      %br.visible-xs-block

    = succeed spaces do
      = link_to t('directory.profiles.link_title'), directory_path
      %br

    %span.copy &copy; 2019 EGOTTER
