%footer.footer.bg-light.py-4
  .container.text-center
    %ul.list-inline.mb-4
      = footer_item do
        %a{href: root_path(via: current_via('footer'))}= t('.root')
      = footer_item do
        %a{href: close_friends_top_path(via: current_via('footer'))}= t('close_friends.new.footer_title')
      = footer_item do
        %a{href: friends_top_path(via: current_via('footer'))}= t('friends.new.footer_title')
      = footer_item do
        %a{href: one_sided_friends_top_path(via: current_via('footer'))}= t('one_sided_friends.new.footer_title')
      = footer_item do
        %a{href: unfriends_top_path(via: current_via('footer'))}= t('unfriends.new.footer_title')
      = footer_item do
        %a{href: inactive_friends_top_path(via: current_via('footer'))}= t('inactive_friends.new.footer_title')
      = footer_item do
        %a{href: clusters_top_path(via: current_via('footer'))}= t('clusters.new.footer_title')
      = footer_item do
        %a{href: tokimeki_unfollow_top_path(via: current_via('footer'))}= t('tokimeki_unfollow.new.footer_title')
      = footer_item do
        %a{href: delete_tweets_path(via: current_via('footer'))}= t('delete_tweets.new.footer_title')
      = footer_item do
        %a{href: delete_favorites_path(via: current_via('footer'))}= t('delete_favorites.new.footer_title')
      = footer_item do
        %a{href: personality_insights_top_path(via: current_via('footer'))}= t('personality_insights.new.footer_title')
      = footer_item do
        %a{href: scheduled_tweets_url(via: 'egotter_footer', utm_source: 'egotter-footer', utm_medium: 'web', utm_campaign: 'egotter'), target: '_blank'}= t('.scheduled_tweets')
      = footer_item do
        - if user_signed_in?
          = link_to t('.sign_out'), goodbye_path(via: current_via('footer'))
        - else
          = link_to t('.sign_in'), sign_in_path(via: current_via('footer'))
      - if user_signed_in?
        = footer_item do
          = link_to t('.settings'), settings_path(via: current_via('footer'))
      = footer_item do
        %a{href: user_url('ego_tter'), target: '_blank'}= t('.official_account')
      = footer_item do
        = link_to t('.support'), support_path(via: current_via('footer'))
      = footer_item do
        = link_to t('.faq'), support_path(via: current_via('footer'))
      = footer_item do
        %a{href: 'https://github.com/ts-3156/egotter', target: '_blank'}= t('.github')
      = footer_item do
        = link_to t('misc.terms_of_service.title'), terms_of_service_path
      = footer_item do
        = link_to t('misc.privacy_policy.title'), privacy_policy_path
      = footer_item do
        = link_to t('misc.specified_commercial_transactions.title'), specified_commercial_transactions_path
      = footer_item do
        = link_to t('misc.refund_policy.title'), refund_policy_path
      = footer_item do
        = link_to t('pricing.new.plans'), pricing_path(via: current_via('footer'))
      = footer_item do
        = link_to t('directory.profiles.footer_title'), directory_profile_path
      = footer_item do
        = link_to t('directory.timelines.footer_title'), directory_timeline_path

    %div
      %a{href: android_app_url, target: '_blank'}
        %img{alt: t('.get_it_on'), width: '100px', src: 'https://play.google.com/intl/en_us/badges/static/images/badges/ja_badge_web_generic.png'}/

    %span.copy &copy; 2021 EGOTTER
