%footer.footer
  .container
    %p.text-muted
      %a{href: '/'}> トップページ
        
      - if user_signed_in?
        = link_to t('dictionary.sign_out'), sign_out_path, data: {confirm: t('dictionary.realy_sign_out')}
      - else
        = link_to t('dictionary.sign_in'), welcome_path
          
      = succeed "\u{a0}\u{a0}" do
        %a{href: '/'} ご意見
      - if user_signed_in?
        = link_to t('misc.menu.title'), menu_path
          
      = succeed "\u{a0}\u{a0}" do
        %a{href: 'https://twitter.com/ego_tter', target: '_blank'}= t('dictionary.official_account')
      = link_to t('dictionary.support'), support_path
        
      = succeed "\u{a0}\u{a0}" do
        %a{href: 'https://github.com/ts-3156/egotter', target: '_blank'} Github
      = link_to t('misc.terms_of_service.title'), terms_of_service_path
        
      = link_to t('misc.privacy_policy.title'), privacy_policy_path
