.navbar-header
  - if show_nav_buttons?
    - if user_signed_in?
      %button.navbar-toggle.collapsed{style: 'margin-right: 0;', 'aria-expanded' => 'false', 'data-target' => '#navbar-hamburger', 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    - else
      -# Emulates 'btn btn-default' with padding, text-decoration and color
      %button.navbar-toggle{style: 'margin-right: 0; padding: 6px 12px;'}
        = link_to t('dictionary.sign_in'), sign_in_path(via: current_via('header'), redirect_path: root_path_for(controller: controller_name))

    %button.navbar-toggle{style: 'margin-right: 15px; padding: 6px 12px;'}
      %a{href: '#', 'data-target' => '#search-modal', 'data-toggle' => 'modal'}
        %span.glyphicon.glyphicon-search

  %a.navbar-brand{href: root_path_for(controller: controller_name)}
    = image_tag '/logo_96x96.png', size: '48x48', alt: t('searches.common.egotter')
    %span= find_header_title.html_safe

- if show_nav_buttons?
  #navbar-hamburger.collapse.navbar-collapse
    .navbar-form.navbar-center.visible-md-block.visible-lg-block
      .form-group.has-feedback.has-search
        %span.glyphicon.glyphicon-search.form-control-feedback
        %input.form-control{placeholder: t('searches.common.search_by_twitter_id'), type: 'text', 'data-target' => '#search-modal', 'data-toggle' => 'modal', readonly: true}

    %ul.nav.navbar-nav

    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        - if request.from_smartphone?
          %li
            = link_to settings_path do
              = mention_name(current_user.screen_name)
          %li
            = link_to notifications_path do
              %span.glyphicon.glyphicon-bell
              = t('notifications.title')
        - else
          %li
            %p.navbar-btn{style: 'margin-right: 15px;'}
              = link_to notifications_path, class: 'btn btn-default' do
                %span.glyphicon.glyphicon-bell
                = t('notifications.title')
          %li
            %p.navbar-btn
              = link_to settings_path, class: 'btn btn-default' do
                = mention_name(current_user.screen_name)
      - else
        - if request.from_smartphone?
        - else
          %li
            %p.navbar-btn{style: 'margin-right: 0;'}
              = link_to t('dictionary.sign_in'), sign_in_path(via: current_via('header'), redirect_path: root_path_for(controller: controller_name)), class: 'btn btn-default'
