%nav.navbar.navbar-dark.bg-dark
  .container
    %a.navbar-brand.text-white{:href => root_path_for(controller: controller_name)}
      %img{alt: "", height: "30", src: "/logo_96x96.png"}
      = find_header_title.html_safe
    %ul.nav
      %li.nav-item
        = link_to '#', class: 'nav-link btn btn-primary', 'data-target' => '#search-modal', 'data-toggle' => 'modal' do
          = t('searches.common.search_by_twitter_id')
      %li.nav-item
        - if user_signed_in?
          = link_to mention_name(current_user.screen_name), settings_path(via: current_via('navbar')), class: 'nav-link text-white'
        - else
          = link_to t('.sign_in'), sign_in_path(via: current_via('navbar'), redirect_path: root_path_for(controller: controller_name)), class: 'nav-link text-white'
