%nav
  .container
    .row
      .col-xs-6.col-sm-4
        %h1
          %a{href: root_path_for(controller: controller_name)}
            = image_tag '/logo_96x96.png', size: '48x48', alt: t('searches.common.egotter')
            %span.header-title= find_header_title.html_safe
      .hidden-xs.col-sm-4
        = link_to '#', class: 'btn btn-default btn-block', 'data-target' => '#search-modal', 'data-toggle' => 'modal' do
          %i.glyphicon.glyphicon-search
          %span.placeholder= t('searches.common.search_by_twitter_id')
      .col-xs-6.col-sm-4.text-right
        = link_to '#', class: 'visible-xs-inline-block btn btn-default btn-search', 'data-target' => '#search-modal', 'data-toggle' => 'modal' do
          %i.glyphicon.glyphicon-search
        - if user_signed_in?
          = link_to mention_name(current_user.screen_name), settings_path(via: current_via('navbar')), class: 'btn btn-default'
        - else
          = link_to t('.sign_in'), sign_in_path(via: current_via('navbar'), redirect_path: root_path_for(controller: controller_name)), class: 'btn btn-default'
