<% container_id = "profilemenu-#{SecureRandom.urlsafe_base64(10)}" %>

<div id="<%= container_id %>">
  <div class="fade-profilemenu"></div>

  <div class="profilemenu shadow bg-white">
    <div class="<%= button_class %> text-center py-3">
      <%= link_to '#', class: 'text-body' do %>
        <i class="fas fa-times"></i>
        <%= t('.close') %>
      <% end %>
    </div>
    <hr class="p-0 m-0">

    <div class="text-center py-3">
      <%= link_to timeline_path(user, via: current_via('profilemenu')), class: 'dropdown-item' do %>
        <img class="rounded" height="20px" src="<%= image_path('/logo_transparent_96x96.png') %>">
        <%= t('.egotter') %>
      <% end %>
    </div>
    <hr class="p-0 m-0">

    <div class="text-center py-3">
      <%= link_to user_url(user.screen_name), class: 'dropdown-item', target: '_blank' do %>
        <i class="fab fa-twitter no-follow text-muted"></i>
        <%= t('.twitter') %>
      <% end %>
    </div>
    <hr class="p-0 m-0">

    <div class="text-center py-3">
      <%= link_to user_url(user.screen_name), class: 'dropdown-item', target: '_blank' do %>
        <i class="fas fa-ban text-muted"></i>
        <%= t('.block') %>
      <% end %>
    </div>
    <hr class="p-0 m-0">

    <div class="text-center py-3">
      <%= link_to user_url(user.screen_name), class: 'dropdown-item', target: '_blank' do %>
        <i class="fas fa-volume-mute text-muted"></i>
        <%= t('.mute') %>
      <% end %>
    </div>
    <hr class="p-0 m-0">

    <div class="text-center py-3">
      <%= link_to user_url(user.screen_name), class: 'dropdown-item', target: '_blank' do %>
        <i class="fas fa-flag text-muted"></i>
        <%= t('.report_spam') %>
      <% end %>
    </div>
    <hr class="p-0 m-0">
  </div>
</div>

<script>
  $(function () {
    var containerId = '<%= container_id %>';
    var menu = $('#' + containerId + ' .profilemenu');
    var btn = $('.<%= button_class %>');
    var isOpened = false;

    if (!menu.sidebar) {
      return;
    }

    menu.sidebar({side: 'bottom'});
    menu.show();

    $('body').on('click', function (e) {
      var clicked = $(e.target);

      if (isOpened && clicked.data('toggle') === 'modal') {
        menu.trigger('sidebar:close');
        return true;
      }

      if (isOpened && clicked.parents('#' + containerId + ' .profilemenu').length === 0) {
        menu.trigger('sidebar:close');
        return false;
      }
    });

    menu.on("sidebar:opened", function () {
      isOpened = true
      toggled();
    });

    menu.on("sidebar:closed", function () {
      isOpened = false;
      toggled();
    });

    btn.on('click', function () {
      menu.trigger('sidebar:toggle');
      ahoy.track('ProfileMenu opened');
    });

    function toggled() {
      if (isOpened) {
        $('#' + containerId + ' .fade-profilemenu').show();
      } else {
        $('#' + containerId + ' .fade-profilemenu').hide();
      }
    }
  });
</script>
