<div class="sticky-top">
  <div class="p-3" style="height: 60px; background-color: #343a40 !important;">
    <div class="d-flex justify-content-between">
      <div>
        <% via = current_via('return-arrow') %>
        <% return_path = @twitter_user ? timeline_path(@twitter_user, via: via) : root_path(via: via) %>
        <%= link_to return_path, class: 'text-white' do %>
          <span class="mr-3"><i class="fas fa-arrow-left"></i></span>
        <% end %>
      </div>
      <div class="text-white" style="overflow-x: hidden; white-space: nowrap;">
        <% if content_for?(:result_title) %>
          <%= yield(:result_title) %>
        <% else %>
          <%= @twitter_user ? t('.title', user: @twitter_user.screen_name) : t('.app_name') %>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to '#', class: 'text-white pl-3' do %>
            <img class="rounded-circle btn-sidemenu" src="<%= current_user_icon %>" width="22" height="22">
            <%= render partial: 'layouts/sidemenu', locals: {button_class: 'btn-sidemenu'} %>
          <% end %>
        <% else %>
          <%= link_to t('.sign_in'), sign_in_path(via: via, redirect_path: subroot_path(via: 'navbar_sign_in')), class: 'text-white pl-3' %>
        <% end %>
      </div>
    </div>
  </div>

  <% if content_for?(:result_tabs) %>
    <%= yield(:result_tabs) %>
  <% end %>
</div>
