.modal.fade.search-modal{'aria-labelledby' => 'search-modal-label', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
          %span{'aria-hidden' => 'true'} ×
        %h4#search-modal-label.modal-title= t('searches.common.search_by_egotter')
      .modal-body
        = render partial: 'common/search_box_group', locals: {via: :search_history_input, screen_names: screen_names_for_search}

        - if user_signed_in?
          .search-histories-header
            %h2
              %small= t('search_histories.index.title')
          :javascript
            $(function () {
              var selector = '.search-histories-header';
              var loadPath = '#{search_histories_path}';
              loadSearchHistories(selector, loadPath, true);
            });
        - else
          = render template: 'login/welcome', locals: {via_prefix: 'search_history_'}

:javascript
  $(function () {
    var selector = '.search-modal';
    setModalOpenLogger(selector, 'search_history', '#{modal_open_logs_path}');
  });
