%div.row
  = link_to force_update_path(screen_name: twitter_user.screen_name, via: "#{controller_name}/#{action_name}"), method: :post, remote: true do
    %button.btn.btn-default.btn-lg{type: 'button'}= t('searches.sidebar.update_now')
  %div.text-muted= t('searches.sidebar.updated_at', time: l(twitter_user.updated_at.in_time_zone('Tokyo'), format: :short))
%div.row
  %h4= t('searches.common.search')
  = render partial: 'common/search_box_group', locals: {via: :sidebar, screen_names: screen_names_for_search}
%div.row
  %h4= t('searches.sidebar.recommendation')
  .twitter.users
    - if twitter_user.unfriendships.any?
      = render partial: 'twitter/sidebar/user', collection: twitter_user.unfriends.take(10), locals: {reason: t('searches.sidebar.reasons.removed')}
    - else
      = render partial: 'twitter/sidebar/user', collection: twitter_user.close_friends.take(10), locals: {reason: t('searches.sidebar.reasons.close_friends')}