.text-center.mb-3= link_to t('.title', user: @twitter_user.screen_name), timeline_path(@twitter_user)
%ul.list-group
  - with_options(via: current_via('sidenav')) do |obj|
    %li.list-group-item= link_to t('timelines.feeds.statuses.title'), obj.status_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.friends.title'), obj.friend_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.followers.title'), obj.follower_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.close_friends.title'), obj.close_friend_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.usage_stats.title'), obj.close_friend_path(@twitter_user)
    - if show_common_friends?(@twitter_user)
      %li.list-group-item= link_to t('timelines.feeds.common_friends.title'), obj.common_friend_path(@twitter_user)
      %li.list-group-item= link_to t('timelines.feeds.common_followers.title'), obj.common_follower_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.clusters.title'), obj.cluster_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.unfriends.title'), obj.unfriend_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.unfollowers.title'), obj.unfollower_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.blocking_or_blocked.title'), obj.blocking_or_blocked_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.mutual_friends.title'), obj.mutual_friend_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.one_sided_friends.title'), obj.one_sided_friend_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.one_sided_followers.title'), obj.one_sided_follower_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.replying.title'), obj.replying_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.replied.title'), obj.replied_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.favorite_friends.title'), obj.favorite_friend_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.inactive_friends.title'), obj.inactive_friend_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.inactive_followers.title'), obj.inactive_follower_path(@twitter_user)
    %li.list-group-item= link_to t('timelines.feeds.delete_tweets.title'), obj.delete_tweets_path
    %li.list-group-item= link_to t('timelines.feeds.scheduled_tweets.title'), "https://scheduled-tweets.egotter.com?via=#{current_via('sidenav')}"
