.row
  - if user_signed_in?
    = button_tag t('searches.sidebar.update_now'), type: 'button', class: 'btn btn-default btn-block btn-lg btn-force-update'
    %span.text-info.blink-force-update{style: 'display: none;'}= '更新リクエストを送信しました'
    :javascript
      $(function () {
        $('.btn-force-update').one('click', function () {
          $(this).attr('disabled', true);
          $('.blink-force-update').fadeIn(4000).fadeOut(4000);
        });
      });

  - else
    %button.btn.btn-default.btn-lg{type: 'button', data: {toggle: 'modal', target: '.sidebar-modal'}}= t('searches.sidebar.update_now')
  .text-muted= t('searches.sidebar.updated_at', time: l(twitter_user.updated_at.in_time_zone('Tokyo'), format: :short))
.row
  %h4= t('searches.common.search')
  = render partial: 'common/search_form', locals: {via: :sidebar}
.row
  %h4= t('searches.sidebar.recommendation')
  .twitter.users
    - if twitter_user.unfollowerships.any?
      = render partial: 'twitter/sidebar/user', collection: twitter_user.unfollowers.take(10), locals: {reason: t('searches.sidebar.reasons.removed')}
    - else
      = render partial: 'twitter/sidebar/user', collection: twitter_user.close_friends.take(10), locals: {reason: t('searches.sidebar.reasons.close_friends')}

- unless user_signed_in?
  .modal.fade.sidebar-modal.text-center{"aria-labelledby" => 'sidebar-modal-label', role: 'dialog', tabindex: '-1'}
    .modal-dialog{role: 'document'}
      .modal-content
        .modal-header
          %button.close{"aria-label" => 'Close', "data-dismiss" => 'modal', type: 'button'}
            %span{"aria-hidden" => 'true'} ×
          %h4#sidebar-modal-label.modal-title= t('searches.sidebar.update_request')
        .modal-body{style: 'padding: 15px 0 0 0;'}
          = t('searches.sidebar.update_request_needs_login')
          %div{style: 'margin: 15px;'}
            = link_to t('login.welcome.sign_in_with_twitter'), sign_in_path(via: "#{controller_name}/#{action_name}/sidebar"), class: 'btn btn-info btn-block'
          = image_tag '/egotter_icon_400x400.jpg', style: 'margin-bottom: 15px;'