<style type="text/css">
    .sidemenu {
        display: none;
        color: white;
        position: fixed;
        top: 10px;
        right: 0;
        bottom: 10px;
        overflow-y: auto;
        width: 300px;
        z-index: 9999;
    }

    .fade-sidemenu {
        display: none;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        z-index: 9998;
    }
</style>

<div class="fade-sidemenu"></div>

<div class="sidemenu shadow bg-white">
  <div class="btn-sidemenu text-center py-3">
    <%= link_to '#', class: 'text-body' do %>
      <i class="fas fa-times"></i>
      <%= t('.close') %>
    <% end %>
  </div>
  <hr class="p-0 m-0">

  <% if user_signed_in? %>
    <div class="text-center text-body py-3">
      <%= link_to t('.logged_in', user: current_user.screen_name), timeline_path(current_user) %>
    </div>
    <hr class="p-0 m-0">

    <div class="text-center py-3">
      <%= link_to settings_path(via: current_via('navmenu')) do %>
        <% if current_user.has_valid_subscription? %>
          <i class="fas fa-trophy"></i>
        <% else %>
          <i class="fas fa-cog"></i>
        <% end %>
        <%= t('.config') %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center text-body py-3"><%= link_to t('.sign_in'), sign_in_path(via: current_via('navmenu')) %></div>
  <% end %>
  <hr class="p-0 m-0">

  <div class="text-center py-3">
    <%= link_to '#', 'data-target' => '#search-modal', 'data-toggle' => 'modal' do %>
      <i class="fas fa-search"></i>
      <%= t('.search') %>
    <% end %>
  </div>
  <hr class="p-0 m-0">

  <div class="text-center py-3">
    <%= link_to direct_messages_url('ego_tter'), target: '_blank' do %>
      <i class="far fa-envelope"></i>
      <%= t('.notification') %>
    <% end %>
  </div>
  <hr class="p-0 m-0">

  <div class="text-center py-3">
    <%= link_to start_path(via: current_via('navmenu')) do %>
      <i class="far fa-question-circle"></i>
      <%= t('.start') %>
    <% end %>
  </div>
  <hr class="p-0 m-0">

  <div class="text-center py-3">
    <%= link_to pricing_path(via: current_via('navmenu')) do %>
      <i class="fas fa-yen-sign"></i>
      <%= t('.pricing') %>
    <% end %>
  </div>
  <hr class="p-0 m-0">

  <%= render partial: 'layouts/sidenav', locals: {twitter_user: @twitter_user} if @twitter_user %>

  <% if user_signed_in? %>
    <div class="text-center py-3">
      <%= link_to t('.sign_out'), goodbye_path(via: current_via('navmenu')) %>
    </div>
  <% end %>
</div>

<script>
  $(function () {
    var menu = $('.sidemenu');
    var btn = $('.btn-sidemenu');
    var isOpened = false;

    if (!menu.sidebar) {
      return;
    }

    menu.sidebar({side: 'right'});
    menu.show();

    $('body').on('click', function (e) {
      var clicked = $(e.target);

      if (isOpened && clicked.data('toggle') === 'modal') {
        menu.trigger('sidebar:close');
        return true;
      }

      if (isOpened && clicked.parents('.sidemenu').length === 0) {
        menu.trigger('sidebar:close');
        return false;
      }
    });

    menu.on("sidebar:opened", function () {
      isOpened = true
      toggled();
    });

    menu.on("sidebar:closed", function () {
      isOpened = false;
      toggled();
    });

    btn.on('click', function () {
      menu.trigger('sidebar:toggle');
    });

    function toggled() {
      if (isOpened) {
        $('.fade-sidemenu').show();
      } else {
        $('.fade-sidemenu').hide();
      }
    }
  });
</script>
