<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= t('dictionary.lead') %>">

  <title><%= t('dictionary.title') %></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css">
  <script type="text/javascript" src="/slick/slick.min.js"></script>

  <%= action_name.in?(%w(new show)) ? '<!-- csrf_meta_tags -->'.html_safe : csrf_meta_tags %>

  <script src="/highcharts/highcharts.js"></script>
  <script src="/highcharts/modules/drilldown.js"></script>

  <script src="/d3/d3.v3.min.js" charset="utf-8"></script>
  <script src="/d3/d3.layout.cloud.js"></script>
  <script src="/d3/word_cloud.js"></script>

  <link rel="stylesheet" type="text/css" href="/font-awesome/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/jssocials/jssocials.css" />
  <link rel="stylesheet" type="text/css" href="/jssocials/jssocials-theme-flat.css" />
  <script src="/jssocials/jssocials.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-13072051-3', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

<nav class="navbar navbar-default" style="margin-bottom: 0px; background-color: #ffffff;">
  <div class="container-fluid">
    <div class="navbar-header">
      <% unless user_signed_in? %>
        <button type="button" class="navbar-toggle" style="padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
          <%= link_to welcome_path, style: 'text-decoration: none; color: #000000;' do %>
            <span style="font-size: 20px" class="glyphicon glyphicon-log-in"></span><br>
            <span style="font-size: 9px;"><%= t('dictionary.sign_in') %></span>
          <% end %>
        </button>
      <% end %>

      <button type="button" class="navbar-toggle" style="padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
        <%= link_to menu_path, style: 'text-decoration: none; color: #000000;' do %>
          <span style="font-size: 20px" class="glyphicon glyphicon-menu-hamburger"></span><br>
          <span style="font-size: 9px;"><%= t('dictionary.menu') %></span>
        <% end %>
      </button>

      <% if action_name != 'new' %>
        <button type="button" class="navbar-toggle" data-toggle="modal" data-target=".search-modal" style="padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
          <span style="font-size: 20px" class="glyphicon glyphicon-search"></span><br>
          <span style="font-size: 9px;"><%= t('dictionary.search') %></span>
        </button>
      <% end %>

      <a style="font-size: 30px; display: block; padding-left: 10px;" class="navbar-brand" href="/"><%= t('dictionary.app_name') %></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% unless user_signed_in? %>
          <li>
            <div style="text-align: center; padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
              <%= link_to welcome_path, style: 'text-decoration: none; color: #000000;' do %>
                <span style="font-size: 20px" class="glyphicon glyphicon-log-in"></span><br>
                <span style="font-size: 9px;"><%= t('dictionary.sign_in') %></span>
              <% end %>
            </div>
          </li>
        <% end %>
        <li>
          <div style="text-align: center; padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
            <%= link_to menu_path, style: 'text-decoration: none; color: #000000;' do %>
              <span style="font-size: 20px" class="glyphicon glyphicon-menu-hamburger"></span><br>
              <span style="font-size: 9px;"><%= t('dictionary.menu') %></span>
            <% end %>
          </div>
        </li>
        <% if action_name != 'new' %>
          <li>
            <div data-toggle="modal" data-target=".search-modal" style="text-align: center; padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
              <span style="font-size: 20px" class="glyphicon glyphicon-search"></span><br>
              <span style="font-size: 9px;"><%= t('dictionary.search') %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<% if action_name != 'new' %>
  <div class="modal fade search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="search-modal-label"><%= t('dictionary.search_by_egotter') %></h4>
        </div>
        <div class="modal-body">
          <%= form_tag searches_path, method: :post do %>
            <label for="screen_name" class="sr-only">Twitter ID</label>
            <div class="input-group">
              <div class="input-group-addon">@</div>
              <input type="search" id="screen_name" name="screen_name" class="form-control" placeholder="Twitter ID"
                     pattern="^[0-9A-Za-z_]{1,20}$" title="<%= t('before_sign_in.invalid_input', count1: 1, count2: 20) %>" required>
            </div>
            <button style="margin-top: 10px;" class="btn btn-primary btn-block" type="submit"><%= t('dictionary.search') %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if notice %>
  <p class="alert alert-info" style="margin: 0px;"><%= raw notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-warning" style="margin: 0px;"><%= raw alert %></p>
<% end %>

<%= yield %>

<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <a href="/">トップページ</a>&nbsp;&nbsp;
      <% if user_signed_in? %>
        <%= link_to t('dictionary.sign_out'), destroy_user_session_path, data: {confirm: t('dictionary.realy_sign_out')} %>&nbsp;&nbsp;
      <% else %>
        <%= link_to t('dictionary.sign_in'), welcome_path %>&nbsp;&nbsp;
      <% end %>
      <a href="/">ご意見</a>&nbsp;&nbsp;
      <% if user_signed_in? %>
        <%= link_to t('dictionary.menu'), menu_path %>&nbsp;&nbsp;
      <% end %>
      <a href="https://twitter.com/ego_tter" target="_blank"><%= t('dictionary.official_account') %></a>&nbsp;&nbsp;
      <%= link_to t('dictionary.support'), support_path %>&nbsp;&nbsp;
      <a href="https://github.com/ts-3156/egotter" target="_blank">Github</a>&nbsp;&nbsp;
      <% if action_name.in?(%w(show)) %><span><!-- search_elapsed_time --></span><% end %>
      <% if action_name.in?(%w(new show)) %><span><!-- cache_ttl --></span><% end %>
    </p>
  </div>
</footer>

</body>
</html>
