!!!
%html{lang: 'ja'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %link{rel: "icon", sizes: "192x192", href: image_path('/favicon-192.png')}
    %link{href: image_path('/apple-touch-icon.png'), rel: 'apple-touch-icon'}
    %link{href: image_path('/apple-touch-icon-120x120.png'), rel: 'apple-touch-icon', sizes: '120x120'}
    %link{href: image_path('/apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', sizes: '152x152'}
    -# Set meta-title and meta-description
    = render partial: 'layouts/meta_tags'
    %meta{content: 'summary_large_image', name: 'twitter:card'}
    %meta{content: '@ego_tter', name: 'twitter:site'}
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :integrity => "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", :rel => "stylesheet"}/
    -# For Autocomplete
    %link{href: '//code.jquery.com/ui/1.12.0/themes/cupertino/jquery-ui.min.css', rel: 'stylesheet'}
    = stylesheet_link_tag 'application', media: 'all'
    %script{:crossorigin => "anonymous", :integrity => "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", :src => "https://code.jquery.com/jquery-3.4.1.min.js"}
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    %script{src: '//code.jquery.com/ui/1.12.0/jquery-ui.js'}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js'}
    %script{:crossorigin => "anonymous", :integrity => "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", :src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"}
    %link{crossorigin: "anonymous", href: "//use.fontawesome.com/releases/v5.6.3/css/all.css", integrity: "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", rel: "stylesheet"}
    %link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/node-snackbar@0.1.16/dist/snackbar.min.css", :integrity => "sha256-qfsdVqVeKPVy58Hx9qCIn8Nsdh2TU1yicE7B5EHi+Ss=", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha256-NOqsQWSGulWF4j0yfFlFwk9rmFpAoRV5nodGqIHyjUo=", :src => "https://cdn.jsdelivr.net/npm/node-snackbar@0.1.16/dist/snackbar.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha256-Z7vZOdzU6nCmyqd53Q0EfBYAZtWilBbFj5cWoYrRs48=", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js', type: 'text/javascript', integrity: 'sha256-srhz/t0GOrmVGZryG24MVDyFDYZpvUH2+dnJ8FbpGi0=', crossorigin: 'anonymous'}
    = csrf_meta_tags

    - if Rails.env.development?
      :css
        .adsbygoogle {
          border: 1px dashed black;
        }

    = yield(:canonical_url) if content_for?(:canonical_url)

    = render partial: 'shared/google'
    = render partial: 'shared/twitter'
    = render partial: 'shared/airbrake'
    = render partial: 'shared/templates'
    = render partial: 'shared/onesignal' if user_signed_in?

  %body
    = javascript_include_tag '/adsense.js'
    = render partial: 'shared/toast'

    = render partial: 'layouts/header' if show_header? && !under_maintenance?
    = render partial: 'layouts/sidemenu'
    = render partial: 'layouts/alert'

    - if wrap_in_container?
      .container._debug_header
        .row
          - if show_sidebar?
            .d-none.d-sm-none.d-md-block.col-md-3
              .sticky-top
                = render partial: 'layouts/sidenav', locals: {twitter_user: @twitter_user}
            .col-12.col-sm-12.col-md-9
              = render partial: 'layouts/breadcrumbs'
              = yield
          - else
            .col-12
              = render partial: 'layouts/breadcrumbs'
              = yield
    - else
      = yield

    = render partial: 'shared/highcharts'
    = render partial: 'shared/stripe'

    %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js', type: 'text/javascript'}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/d3/4.2.7/d3.min.js', type: 'text/javascript'}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.3/d3.layout.cloud.min.js', type: 'text/javascript'}

  - unless under_maintenance?
    = render partial: 'layouts/footer'
    = render partial: 'modal/search_modal'

    - if user_signed_in?
      = render partial: 'modal/follow_modal'
      = render partial: 'modal/unfollow_modal'
      = render partial: 'modal/welcome_modal'
    -  else
      = modal_dialog id: 'sign-in-modal', title: t('.sign_in_modal.title'), body: t('.sign_in_modal.body'), button: {positive: t('.sign_in_modal.yes'), negative: t('.sign_in_modal.no')}
