<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Egotter</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <title><%= t('dictionary.app_name') %> <%= t('dictionary.lead') %></title>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" style="margin-bottom: 0px; background-color: #ffffff;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" style="padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
        <% unless user_signed_in? %>
          <%= link_to welcome_path, style: 'text-decoration: none;' do %>
            <span style="font-size: 20px" class="glyphicon glyphicon-log-in"></span><br>
            <span style="font-size: 9px;"><%= t('dictionary.sign_in') %></span>
          <% end %>
        <% end %>
      </button>
      <button type="button" class="navbar-toggle" style="padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
        <%= link_to menu_path, style: 'text-decoration: none;' do %>
          <span style="font-size: 20px" class="glyphicon glyphicon-menu-hamburger"></span><br>
          <span style="font-size: 9px;"><%= t('dictionary.menu') %></span>
        <% end %>
      </button>
      <a style="font-size: 30px; display: block; padding-left: 10px;" class="navbar-brand" href="/"><%= t('dictionary.app_name') %></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div style="text-align: center; padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
            <% unless user_signed_in? %>
              <%= link_to welcome_path, style: 'text-decoration: none;' do %>
                <span style="font-size: 20px" class="glyphicon glyphicon-log-in"></span><br>
                <span style="font-size: 9px;"><%= t('dictionary.sign_in') %></span>
              <% end %>
            <% end %>
          </div>
        </li>
        <li>
          <div style="text-align: center; padding: 3px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; border: none;">
            <%= link_to menu_path, style: 'text-decoration: none;' do %>
              <span style="font-size: 20px" class="glyphicon glyphicon-menu-hamburger"></span><br>
              <span style="font-size: 9px;"><%= t('dictionary.menu') %></span>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<% if notice %>
  <p class="alert alert-info" style="margin: 0px;"><%= raw notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-warning" style="margin: 0px;"><%= raw alert %></p>
<% end %>

<%= yield %>

<footer class="footer">
  <div class="container">
    <p class="text-muted" style="text-align: center; padding-top: 15px; line-height: 200%;">
      <a style="text-decoration: none;" href="/">トップページ</a>&nbsp;&nbsp;
      <% if user_signed_in? %>
        <%= link_to t('dictionary.sign_out'), destroy_user_session_path, style: 'text-decoration: none;' %>&nbsp;&nbsp;
      <% else %>
        <%= link_to t('dictionary.sign_in'), welcome_path, style: 'text-decoration: none;' %>&nbsp;&nbsp;
      <% end %>
      <a style="text-decoration: none;" href="/">ご意見</a>&nbsp;&nbsp;
      <% if user_signed_in? %>
        <%= link_to t('dictionary.settings'), menu_path, style: 'text-decoration: none;' %>&nbsp;&nbsp;
      <% end %>
      <a style="text-decoration: none;" href="https://twitter.com/ego_tter" target="_blank">@ego_tter</a>&nbsp;&nbsp;
      <a style="text-decoration: none;" href="/">お問い合わせ</a>&nbsp;&nbsp;
    </p>
  </div>
</footer>

</body>
</html>
