!!!
%html{lang: 'ja'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %link{rel: 'icon', sizes: '192x192', href: image_path('/favicon-192.png')}
    %link{href: image_path('/apple-touch-icon.png'), rel: 'apple-touch-icon'}
    %link{href: image_path('/apple-touch-icon-120x120.png'), rel: 'apple-touch-icon', sizes: '120x120'}
    %link{href: image_path('/apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', sizes: '152x152'}
    -# Set meta-title and meta-description
    = render partial: 'layouts/meta_tags'
    %meta{content: 'summary_large_image', name: 'twitter:card'}
    %meta{content: '@ego_tter', name: 'twitter:site'}
    = render partial: 'shared/error_handler'
    = render partial: 'shared/logger'
    = render partial: 'shared/event_tracker'
    %script{:crossorigin => "anonymous", :integrity => "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=", :src => "https://code.jquery.com/jquery-3.6.0.min.js"}
    = render partial: 'shared/bootstrap'
    %link{:crossorigin => "anonymous", :href => "https://pro.fontawesome.com/releases/v5.10.0/css/all.css", :integrity => "sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all'
    = render partial: 'shared/highcharts'
    = render partial: 'shared/d3'
    = render partial: 'shared/stripe'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    %script{:crossorigin => "anonymous", :integrity => "sha512-jNDtFf7qgU0eH/+Z42FG4fw3w7DM/9zbgNPe3wfJlCylVDTT3IgKW5r92Vy9IHa6U50vyMz5gRByIu4YIXFtaQ==", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==", :src => "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha512-YfIXbIiAfl/i9LO4PUETYxh72veiVE9ixWItTOx267LiYsWVAHuTO13jEwiEFAHrBtH87a47+sehqUMX3L3i2w==", :src => "https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha512-sE4GyQp4GEFV4qtelZtk1VmjxViVV9zC3PnZCKEjmDIiNZ+MpY/53EKGk+eZUx4FvvH7F2QgduRa2Oxe/pK7fQ==", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha512-Qjrukx28QnvFWISw9y4wCB0kTB/ISnWXPz5/RME5o8OlZqllWygc1AB64dOBlngeTeStmYmNTNcM6kfEjUdnnQ==", :src => "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.2.1/mustache.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha512-QABeEm/oYtKZVyaO8mQQjePTPplrV8qoT7PrwHDJCBLqZl5UmuPi3APEcWwtTNOiH24psax69XPQtEo5dAkGcA==", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"}
    = csrf_meta_tags

    = yield(:canonical_url) if content_for?(:canonical_url)

    = render partial: 'shared/google'
    = render partial: 'shared/twitter'
    = render partial: 'shared/airbrake'
    = render partial: 'shared/templates'
    = render partial: 'shared/ad_block_detector' if root_page? || timeline_page? || profile_page?
    = render partial: 'shared/cognite_mode_detector' if timeline_page? || profile_page?
    = render partial: 'shared/onesignal' if user_signed_in?

    :javascript
      ahoy.trackAll();

  %body
    = javascript_include_tag "/adsense.js?t=#{Time.zone.now.to_i}"
    = render partial: 'shared/toast'

    = render partial: 'layouts/header' if show_header? && !under_maintenance?
    = render partial: 'layouts/alert'

    - if wrap_in_container?
      .container._debug_header
        .row
          - if show_sidebar?
            .d-none.d-sm-none.d-md-block.col-md-3
              .sticky-top
                = render partial: 'layouts/sidenav', locals: {twitter_user: @twitter_user}
            .col-12.col-sm-12.col-md-9
              = render partial: 'layouts/breadcrumbs'
              = yield
          - else
            .col-12
              = render partial: 'layouts/breadcrumbs'
              = yield
    - else
      = yield

  - unless under_maintenance?
    = render partial: 'layouts/footer'
    = render partial: 'modal/search_modal' unless top_page?

    - if user_signed_in?
      = render partial: 'modal/create_follow_modal'
      = render partial: 'modal/create_unfollow_modal'
      = render partial: 'modal/periodic_tweet_modal'
      = render partial: 'modal/open_twitter_modal'
      - if current_user.has_valid_subscription?
        - if current_user.has_trial_subscription?
          = render partial: 'modal/end_trial_modal'

    - unless timeline_waiting_page?
      = render partial: 'modal/welcome_modal'
