!!!
%html{lang: 'ja'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %link{rel: "icon", sizes: "192x192", href: image_path('/favicon-192.png')}
    %link{href: image_path('/apple-touch-icon.png'), rel: 'apple-touch-icon'}
    %link{href: image_path('/apple-touch-icon-120x120.png'), rel: 'apple-touch-icon', sizes: '120x120'}
    %link{href: image_path('/apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', sizes: '152x152'}
    -# Set meta-title and meta-description
    = render partial: 'layouts/meta_tags'
    %meta{content: 'summary_large_image', name: 'twitter:card'}
    %meta{content: '@ego_tter', name: 'twitter:site'}
    = render partial: 'shared/error_handler'
    = render partial: 'shared/logger'
    %script{:crossorigin => "anonymous", :integrity => "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", :src => "https://code.jquery.com/jquery-3.4.1.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", :src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
    = render partial: 'shared/bootstrap'
    = stylesheet_link_tag 'application', media: 'all'
    = render partial: 'shared/highcharts'
    = render partial: 'shared/d3'
    = render partial: 'shared/stripe'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    %script{:crossorigin => "anonymous", :integrity => "sha512-jNDtFf7qgU0eH/+Z42FG4fw3w7DM/9zbgNPe3wfJlCylVDTT3IgKW5r92Vy9IHa6U50vyMz5gRByIu4YIXFtaQ==", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==", :src => "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"}
    %link{crossorigin: "anonymous", href: "//use.fontawesome.com/releases/v5.6.3/css/all.css", integrity: "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", rel: "stylesheet"}
    %link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/node-snackbar@0.1.16/dist/snackbar.min.css", :integrity => "sha256-qfsdVqVeKPVy58Hx9qCIn8Nsdh2TU1yicE7B5EHi+Ss=", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha256-NOqsQWSGulWF4j0yfFlFwk9rmFpAoRV5nodGqIHyjUo=", :src => "https://cdn.jsdelivr.net/npm/node-snackbar@0.1.16/dist/snackbar.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha512-sE4GyQp4GEFV4qtelZtk1VmjxViVV9zC3PnZCKEjmDIiNZ+MpY/53EKGk+eZUx4FvvH7F2QgduRa2Oxe/pK7fQ==", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha512-olGfMMGjbQdqsUibuBu1j8DJsQCpraWnNnmv5lRqQyJo5Xdd7CmHbk0dJSi5MSz+FbBcdO3BvHr+UiPVIszGXw==", src: 'https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js', type: 'text/javascript'}
    = csrf_meta_tags

    - if Rails.env.development?
      :css
        .adsbygoogle {
          border: 1px dashed black;
        }

    = yield(:canonical_url) if content_for?(:canonical_url)

    = render partial: 'shared/google'
    = render partial: 'shared/twitter'
    = render partial: 'shared/airbrake'
    = render partial: 'shared/templates'
    = render partial: 'shared/onesignal' if user_signed_in?

    :javascript
      ahoy.trackAll();

  %body
    = javascript_include_tag "/adsense.js?t=#{Time.zone.now.to_i}"
    = render partial: 'shared/toast'

    = render partial: 'layouts/header' if show_header? && !under_maintenance?
    = render partial: 'layouts/alert'

    - if wrap_in_container?
      .container._debug_header
        .row
          - if show_sidebar?
            .d-none.d-sm-none.d-md-block.col-md-3
              .sticky-top
                = render partial: 'layouts/sidenav', locals: {twitter_user: @twitter_user}
            .col-12.col-sm-12.col-md-9
              = render partial: 'layouts/breadcrumbs'
              = yield
          - else
            .col-12
              = render partial: 'layouts/breadcrumbs'
              = yield
    - else
      = yield

    %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js', type: 'text/javascript'}

  - unless under_maintenance?
    = render partial: 'layouts/footer'
    = render partial: 'modal/search_modal' unless top_page?

    - if user_signed_in?
      = render partial: 'modal/create_follow_modal'
      = render partial: 'modal/create_unfollow_modal'
      = render partial: 'modal/periodic_tweet_modal'
      = render partial: 'modal/open_twitter_modal'
      - if current_user.admin? && current_user.has_valid_subscription? && current_user.has_trial_subscription?
        = render partial: 'modal/end_trial_modal'

    = render partial: 'modal/welcome_modal'
