- title t('.plain_title')
- set_meta_tags description: t('.description')

.text-center.my-5= t('.next_is_html', number: @user.processed_count + 1, screen_name: @friend.screen_name)

.alert.alert-warning.my-5
  = t('.text001_html', screen_name: @friend.screen_name)
  .mt-3
    %a.btn.btn-warning.unfollow{href: '#', data: {uid: @friend.uid, url: unfollows_path(via: current_via)}}= t('.unfollow')
    %a.btn.btn-warning.keep{href: '#'}= t('.keep')

.my-5= render partial: 'twitter/profile', locals: {user: @twitter_user}

.twitter.tweets= render(partial: 'twitter/tweet', collection: @statuses, cached: true, formats: %i(html))

.text-center.my-5= t('.how_to_continue_html', url: tokimeki_unfollow_top_path)

#after-unfollow-modal.modal.fade{role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        %p= t('.after_unfollow_html', screen_name: @friend.screen_name, remaining: @user.friends_count - (@user.processed_count + 1))
      .modal-footer
        = link_to t('.after_unfollow_modal.next'), tokimeki_unfollow_cleanup_path, class: 'btn btn-primary'

#after-keep-modal.modal.fade{role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        %p= t('.after_keep_html', screen_name: @friend.screen_name, remaining: @user.friends_count - (@user.processed_count + 1))
      .modal-footer
        = link_to t('.after_keep_modal.next'), tokimeki_unfollow_cleanup_path, class: 'btn btn-primary'

:javascript
  $(function () {
    $('.btn.unfollow').on('click', function () {
      var $clicked = $(this);
      var $modal = $('#after-unfollow-modal').one('hidden.bs.modal', function (e) {
        window.location.href = $(this).find('.btn').attr('href');
      });

      Twitter.unfollow($clicked.data('url'), $clicked.data('uid'), function () {
        $.post('#{tokimeki_unfollow_unfollow_path}', {uid: $clicked.data('uid')});
        $modal.modal();
      });
    });

    $('.btn.keep').on('click', function () {
      var $modal = $('#after-keep-modal').one('hidden.bs.modal', function (e) {
        window.location.href = $(this).find('.btn').attr('href');
      });
      $.post('#{tokimeki_unfollow_keep_path}');
      $modal.modal();
    });
  });
